[2019-01-28 23:35] j0sh commented on #580
* That sounds good, perhaps the flag could be `-network` rather than `-testNet` ?
* Do we want to allow custom network names? They wouldn't have any associated default values (other than affecting the folder name in datadir), but this could still be useful for private networks such as the test harness.
* Doesn't hurt to maintain our shorthands, eg `-rinkeby` corresponding to `-network rinkeby`
* E

[2019-01-28 23:35] j0sh commented on #709
Responding to the non-network part of https://github.com/livepeer/go-livepeer/issues/580#issuecomment-458283965

We can autogenerate, but we should still allow users to specify their own secret. If autogenerate, we need an easy way for the user to put the secret on transcoder nodes, eg by copy-pasting. That seems like a separate feature, so perhaps hold that for now.

Yep, the idea of flag composi

[2019-01-29 14:49] eladmallel commented on #704
@darkdarkdragon I remember this requirement coming from @ericxtang or @f1l1b0x - maybe they can shed more light on this need?

[2019-01-29 16:39] angyangie commented on #580
Agreed, `network` sounds better!

I thought the test-harness was usable in any environment (I'm looking [here](https://github.com/livepeer/test-harness/blob/master/containers/lpnode/start.sh#L7))? In what situation would one need to set the `-network` flag to `test-harness`?

If we do this, doesn't that promote ppl not using the flags as we intend them to be used? I can see this adding complexity

[2019-01-29 17:06] angyangie commented on #709
I'm curious - why is it important to let the users specify their own secret? I see your point on building an easy way for the user to put the secret on transcoder nodes (copying and pasting from logs is all that comes to mind for now too). We can hold on this.

Awesome! Glad you're a fan.

Why is it important to have that flag be configurable for mainnet? I'm not as familiar with round logistics.

[2019-01-30 00:17] ericxtang commented on #704
I think sending the events back to `webhookURL` will make it easier for a user to manage their streams.  It also makes the webhook approach more powerful (for example, it's easy for a user to implement logic that kicks of another process upon receiving the `StreamStarted` event).

Whether to use the `monitor` package feels like a decision for the implementer.  On first glance, I prefer the DRY pri

[2019-01-31 13:13] yondonfu commented on #580
I suggest changing "devenv" to "dev" to eliminate any possible confusion around when that flag should be used - we should be able to use `-network dev` whenever we want to connect the node to any development blockchain network whether it be within the devenv VM or within the test harness. The node is going to just use whatever network that the ETH node that it is connected to is using anyway - "de

[2019-01-31 13:29] yondonfu commented on #709
The intent is to allow node operators to opt-in to participating in round initialization rather than having it be enabled by default since round initialization incurs a cost (ex. on mainnet, round initialization is fairly expensive - most transcoders don't have the flag enabled because a separate process usually handles it during these early days of the network) I think it'd be best to leave this

[2019-01-31 15:26] eladmallel commented on #706
@j0sh I think you now understand my intention well. When I was thinking to use webhooks it was with the purpose of helping the user/customer of B be aware that:

1. B rejected a stream just now for a good and specific reason
2. You should know exactly which B so you can potentially direct traffic to other Bs

I think that your pseudocode is in that same line of thinking.

Are we then good with rel

[2019-01-31 15:28] eladmallel commented on #704
@ericxtang can you share more of your thoughts on whether this task should be in the scope of M2 or not? @f1l1b0x as well?

[2019-01-31 18:05] j0sh commented on #706
This feels quite close to https://github.com/livepeer/go-livepeer/issues/704 -- the "B at capacity" notification really is just another event, so let's take the discussion of the actual mechanism there. Also related is https://github.com/livepeer/go-livepeer/issues/671

[2019-01-31 18:24] j0sh commented on #704
Just wanted to mention there feels like some conceptual overlap with https://github.com/livepeer/go-livepeer/issues/671 . At the very least, most of the events a node operator might want to subscribe to would probably also be useful for instrumentation.

I think it's certainly a good exercise to consider:
* coherence with our existing metrics system, which feels very close to what we want already

[2019-01-31 19:05] j0sh commented on #709
We should keep the `-version` flag. Compare the behaviors of Livepeer and other standard cli tools: it prints the version, some other information, then exits:
[code]
[code]
[code]

The only possible consistency quirk I can think of is that our `*Addr` options typically take just an `<host>:<port>`.  For the monitoring host, the user might want to specify a protocol scheme as well, eg HTTP/S. We ca

[2019-01-31 20:11] j0sh commented on #580
I think the value of a hardcoded value such as "devenv" is in that it explicitly sets a certain configuration, such as a local geth URL, whereas the test harness probably has a different configuration (specific to each test harness instance).

Is the suggestion more that we have `dev` as the "default empty" set of configs that has to be specified elsewhere? In that case, the `-network` name could

[2019-01-31 21:49] darkdarkdragon commented on #704
Looks like we need another discussion about scope of M2.
I would vote for now to implement only `RTMP approval` part, and postpone everything else till we have some feedback from real customers.

[2019-02-01 20:53] yondonfu commented on #580
I don't think we actually have a particular configuration associated with "devenv" - do we? My understanding is that the `-devenv` flag is only meaningful at the moment in that it sets the default data directory as `/datadir/devenv`. We have usually paired the use of the `-devenv` flag with something like `-ethUrl ws://localhost:8936`. The test-harness just passes in the WS URL for the Docker cont

[2019-02-01 21:42] #711 closed, assigned to j0sh

[2019-02-01 21:54] j0sh commented on #661
Fixed by https://github.com/livepeer/go-livepeer/pull/725

[2019-02-01 21:54] #661 closed, assigned to nobody

[2019-02-01 23:08] yondonfu commented on #713
@ericxtang What release/version of the node were you using when you observed this behavior?

[2019-02-04 18:43] #716 closed, assigned to nobody

[2019-02-04 18:59] #650 closed, assigned to yondonfu

[2019-02-04 19:01] darkdarkdragon opened #728 "Go on-chain in case no suitable orchestrators found in db"
**Is your feature request related to a problem? Please describe.**
Right B pull list of Os from chain on start and every hour. So, if B can't find suitable O, but suitable O was registered after B's last check, B won't know about it till next check.

**Describe the solution you'd like**
In case B can't find suitable O in it's cached list, it should go on chain for the new list of Os (probably with

[2019-02-04 19:21] yondonfu commented on #728
An alternative is for O to run a background service that watches for transcoder update events (at the moment this would involve subscribing to the [TranscoderUpdate()](https://github.com/livepeer/protocol/blob/master/contracts/bonding/IBondingManager.sol#L9) event and filtering for events where the `registered` field is `true` - this isn't the best contract event interface and could be improved se

[2019-02-04 20:10] angyangie commented on #580
Sounds like we are all in favor of or okay with erroring out when `-network` isn't set. Is this a fair assumption? Making it mandatory would take some of this "magic" out of the system ... we wouldn't be using a combinations of other flags to guess at what network a user might be trying to use if they didn't set that flag.

Thanks for your opinion here @j0sh ! I hear your concern with "special val

[2019-02-04 20:24] angyangie commented on #709
Good to know, thanks @yondonfu ! Agree with your conclusion.

Since no one has a strong preference, I'd say we remove it in the interest of cleaning up the flags, and introducing it back once it's needed.

I don't have a strong preference, so going with brevity is fine with me.

That naming convention sounds good to me. Good point on it being strange on the "address" name for a contract part of a

[2019-02-04 20:44] j0sh commented on #728
Long-term, listening to transcoder-related events seems like the most robust solution. One other approach we had was to build a local list of active transcoders from `reward` calls rather than initializing and reading an on-chain list every round. B's view of the active transcoders list would remain fairly up-to-date that way.

Right now, new Os can only be added once a round, so every ~24h. Are w

[2019-02-04 22:10] yondonfu commented on #713
Additional details:

Node Version: [0.3.1](https://github.com/livepeer/go-livepeer/releases/tag/0.3.1)
ETH Connection: Infura

I suspect the long delay in query response might be related to how Infura handles `eth_getLogs` RPC queries over large ranges of blocks (perhaps some type of rate limiting). I ran an `eth_getLogs` RPC query for the BondingManager contract deployed on mainnet for a range of

[2019-02-05 15:41] #663 closed, assigned to darkdarkdragon

[2019-02-05 20:40] j0sh commented on #695
From my recollection of Discord conversations with @ericxtang and @angyangie , we felt that the auth token didn't bring enough value relative to the "surface area" required to implement it.

Although I'm having second thoughts about removing the auth token, I'd also feel better about this if we had more cases with which to use the auth token. Some thoughts:

* Make this workable for offchain broad

[2019-02-05 23:16] #603 closed, assigned to nobody

[2019-02-06 00:48] j0sh commented on #701
Fixed in https://github.com/livepeer/go-livepeer/pull/726

[2019-02-06 00:48] #701 closed, assigned to nobody

[2019-02-06 00:48] j0sh commented on #352
Fixed in https://github.com/livepeer/go-livepeer/pull/726

[2019-02-06 00:48] #352 closed, assigned to nobody

[2019-02-06 00:50] j0sh commented on #572
I think that the [O capacity cap](https://github.com/livepeer/go-livepeer/pull/729) addresses most of these concerns. Should we close this issue?

[2019-02-06 23:28] yondonfu commented on #713
#731 should help with this so that at the very least the node does not hang on a `eth_getLogs` request for too long.

I think we can close this for now and if this problem is reported again we can revisit using additional details from the reports.

[2019-02-06 23:28] #713 closed, assigned to yondonfu

[2019-02-07 04:13] ericxtang opened #733 "Node Shuts Down When Changing Orchestrator URL"
**Describe the bug**
If you are an orchestrator who wants to change your service URI by running your node on a different machine and copying your key over, you will get a `Orchestrator not available at https://serviceURI; shutting down` error, and the node will shut down.

This is a problem for someone who does NOT fully control the provision of their serviceURI (for example, hosting on AWS).  If

[2019-02-07 16:22] j0sh commented on #733
You should be able to start with the `-serviceAddr` flag to specify the currently accessible host / port rather than pulling it from the blockchain. For example, `-serviceAddr new_orchestrator:8935` and so forth.

We could also add in a flag to skip the availability check, with the caveat that increases the risk of running with an incorrect service address.

[2019-02-07 17:38] ericxtang opened #735 "Create shared doc for debugging on GCP"

[2019-02-07 17:41] j0sh opened #736 "Demo network topology for O/B"
* Two Os
* Two Bs
* Geth?

[2019-02-07 22:05] darkdarkdragon commented on #728
Ok, I'm closing this one. It indeed was about behavior in test environment, and after more thoughts, it not that big problem and we shouldn't add any code specific to testing.

[2019-02-07 22:05] #728 closed, assigned to nobody

[2019-02-07 22:41] #691 closed, assigned to ericxtang

[2019-02-08 00:40] darkdarkdragon commented on #574
@ericxtang @j0sh @yondonfu
I want to include this into M1 - it will help troubleshoot problems with deployed nodes.
My suggestion is to use git to generate version. This should be included into build process like this
`go build -v -ldflags="-X core.LivepeerVersion=$(git describe --always --long --dirty)"`
This would require us to set tags in git, such as `0.3.1` for current version. Plust we shoul

[2019-02-08 00:45] darkdarkdragon opened #739 "Add field with current version to `/status` endpoint"
**Is your feature request related to a problem? Please describe.**
Right now we don't have a way to remotely find out which version of binary node is running.
Such information can help with problem troubleshooting and can be shown in monitoring dashboards.

**Describe the solution you'd like**
Add `Version` field to output of status endpoint.

[2019-02-08 00:45] darkdarkdragon commented on #739
@ericxtang @j0sh I would like to include this into M1

[2019-02-08 01:07] darkdarkdragon commented on #574
Plus for every release we should build and push docker image with official Livepeer binary.

[2019-02-08 03:40] j0sh commented on #574
The `ldflags="-X` trick is really cool!

I'm in favor of this approach. Not sure we'll make an official release before M1, but we can certainly put most of this into the Makefile. Then perhaps a `make release` target or script for when we're ready to make releases which can prompt for a tag name, etc.

This worked for me:

[code]

[2019-02-08 12:06] darkdarkdragon commented on #574
We could set tag on current master branch right now, so this would not be needed, and git will be single source of version number.

[2019-02-08 12:10] darkdarkdragon commented on #574
Yes, probably we won't release anything at least before we will deploy new contracts to rinkeby, but I want to have new version numbers in the builds we deploy to Google Cloud - this should help in troubleshooting.

[2019-02-08 21:47] BlinkyStitt commented on #573
For docker, it should be easy to have automated builds at http://hub.docker.com/

I forked this repo and setup https://hub.docker.com/r/bwstitt/go-livepeer to use `Dockerfile.alpine` and it seems to work. It looks like https://hub.docker.com/u/livepeer already exists, so this should just be a couple clicks to setup.

[2019-02-12 21:44] #739 closed, assigned to darkdarkdragon

[2019-02-13 00:46] #574 closed, assigned to darkdarkdragon

[2019-02-18 22:32] ericxtang opened #746 "CLI Causes Error When Node is Running in Offchain Mode"
**Describe the bug**
When the node is running in offchain mode, launching the CLI causes an error both on the node and on the CLI.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the node using `./livepeer -offchain`
2. Launch the CLI using `./livepeer_cli`
3. The following error occurs on the node:

[code]
**Expected behavior**
Should report the right information.

**Additional conte

[2019-02-19 15:40] darkdarkdragon opened #747 "run CLI web server in Transcoder-only mode"
**Is your feature request related to a problem? Please describe.**
Right now transcoder-only node doesn't run any http server (nor CLI, nor media), so there is no way to externally check if node is still alive. For B/O I'm setting up 'Uptime' check - which periodically probes `/status` endpoint and sends alert email if it's not responding for too long. I can't do same for transcoder-only node.

**

[2019-02-19 15:53] darkdarkdragon opened #748 "Transcoder-only node is single-queued"
**Describe the bug**
Orchestrator creates transcoder loop for each stream. These loops runs in parallel. When orchestrator node works as a transcoder too, it transcodes segments in each loop by itself, thus using every CPU core that is available. When orchestrator uses separate transcoder, it sends transcode tasks form all transcode loops into one transcoder, and that transcoder processes them one

[2019-02-19 16:27] darkdarkdragon opened #749 "Auto-build official docker image"
**Is your feature request related to a problem? Please describe.**
We don't have official docker image with go-client binary.

**Describe the solution you'd like**
Setup auto-build on docker hub that will be building go-livepeer repo's master branch.
Use this image in test harness by default, so setting up new demo environment will not require compiling go-client.

**Describe alternatives you've c

[2019-02-19 21:40] j0sh commented on #748
This would be addressed as part of the multi-T project that @angyangie is working on. Orchestrators would be responsible for tracking available capacity and scheduling work among its connected Ts.

[2019-02-20 00:39] j0sh commented on #747
Another option is to expose transcoder connectivity information via the orchestrator itself. It'd be nice to keep the "surface area" of the transcoder node itself as small as possible, so it doesn't have to be exposed just for status checks, which isn't a fundamental feature.

The O's `/status` (or some other endpoint, eg `/transcoders`) could return a list of currently connected transcoders. If t

[2019-02-20 13:32] darkdarkdragon commented on #747
@j0sh

This really wouldn't be enough. Transcoders potentially will be running far away from orchestrator, and we need to be able to monitor transcoder process itself, not just check if it is still connected to orchestrator.

[2019-02-20 13:34] darkdarkdragon commented on #748
No, it won't be addressed, unless way transcoder works will be changed. In current way, it will require to run multiple transcoders instances on one machine to utilize all the resources - certainly not the best user experience.

[2019-02-20 14:00] darkdarkdragon opened #750 "Ticket arrive out of order if segments arrive to broadcaster too fast"
**Describe the bug**
If segments arrive to broadcaster one right after another, without any delay - sometimes generated tickets arrive to orchestrator out of order - that leads to `invalid ticket senderNonce %v - highest seen is %v` errors and such segments not being transcoded.

**To Reproduce**
Steps to reproduce the behavior:
- Run broadcaster in one VM, orchestrator in another.
- Feed broadcas

[2019-02-20 14:43] darkdarkdragon commented on #715
PR #732  is merged

[2019-02-20 14:43] #715 closed, assigned to darkdarkdragon

[2019-02-20 17:27] j0sh commented on #748
Why wouldn't we be able to change it?

[2019-02-20 17:31] darkdarkdragon commented on #748
Will we change it? My mistake, from your answer I've assumed that we won't. If we do, then this issue should be closed.

[2019-02-25 16:02] #736 closed, assigned to nobody

[2019-02-25 16:04] #748 closed, assigned to nobody

[2019-02-25 22:48] j0sh commented on #736
Are we settled on the setup as outlined here? https://github.com/livepeer/test-harness/commit/caea8357f540a97acb53e7bdd688f35354f1dc01

[2019-02-26 12:47] darkdarkdragon commented on #736
@j0sh
yes, same setup running for seven days now and handling six stream with failure rates up to (sometimes) 3%. So it will handle five streams without problem.

[2019-02-27 17:54] #706 closed, assigned to darkdarkdragon

[2019-02-27 22:10] #703 closed, assigned to darkdarkdragon

[2019-02-27 22:19] ericxtang opened #757 "Create documentation page"
Create a documentation page that we would send to a video developer.  This page should contain clear instructions on how to get started with the Livepeer transcoding API.

[2019-02-27 22:28] ericxtang opened #758 "Rehearse Demo"
Do a 30 min demo rehearsal (Josh & Eric)

[2019-02-27 22:33] ericxtang opened #759 "Set up demo environment"
Setting up the demo environment in GCP and doing an initial run-through here.

[2019-02-27 22:39] j0sh commented on #709
Addressed by https://github.com/livepeer/go-livepeer/pull/738

[2019-02-27 22:39] #709 closed, assigned to nobody

[2019-02-27 22:40] j0sh commented on #685
Addressed by https://github.com/livepeer/go-livepeer/pull/702

[2019-02-27 22:40] #685 closed, assigned to angyangie

[2019-02-27 23:08] j0sh commented on #712
Mediaplayer is in good shape now thanks to @iameli and the readthedocs site has been updated. Woot!

[2019-02-27 23:08] #712 closed, assigned to ericxtang

[2019-03-01 00:05] darkdarkdragon opened #760 "Integrate OpenCensus client library"
Make it available at `/metrics` endpoint on CLI port
Send to Prometheus following events (from Broadcaster) as simple counters:
- RTMP stream started
- RTMP stream ended
- Source segment appeared in manifest
- Segment uploaded for transcoding
- Transcoded segment appeared in manifest

Prometheus client library
https://github.com/prometheus/client_golang

[2019-03-01 05:21] iameli opened #761 "Segfault when trying to start broadcast"
**Describe the bug**
When I try and start a local offchain broadcast [with the 0.4.0 beta release](https://github.com/livepeer/go-livepeer/releases/tag/0.4.0), the broadcaster is crashing with this error:

[code]

[Full logs from the broadcaster and transcoder are here.](https://gist.github.com/iameli/8efbac98c85d3bb7812291017f278133)

**To Reproduce**
I ran an broadcaster like so:

[code]

And a

[2019-03-01 05:32] j0sh commented on #761
Does this happen on master? Should have been fixed in https://github.com/livepeer/go-livepeer/commit/e75958f0cbe2f63dbb7b82374284d19c301788ab

[2019-03-01 06:02] iameli commented on #761
Ah, right you are. Thanks!

[2019-03-01 06:02] #761 closed, assigned to nobody

[2019-03-01 18:36] darkdarkdragon opened #762 "Send errors to Prometheus"
1. Find out types of errors that occurs (and currently being sent to own metrics server as string)
2. Make enum for these error types, send errors as number
3. Make dashboard for errors, if possible with names

[2019-03-01 20:40] j0sh commented on #760
Curious: if we're sending to Prometheus, where does the `/metrics` endpoint come in? The former implies push, while the other implies pull.

[2019-03-01 21:56] darkdarkdragon commented on #760
I wasn't accurately named it, Prometheus will be pulling metrics

[2019-03-01 22:05] j0sh commented on #760
Is pulling the only configuration available on Prometheus? Pushing seems more desirable, since pulling requires exposing that area on the node, with all the associated concerns (security, redundancy of polling, etc). If push frequency is a concern, then perhaps the stats can be aggregated / rolled up and pushed periodically in batches.

[2019-03-01 22:16] darkdarkdragon commented on #760
They do have some [solution](https://prometheus.io/docs/instrumenting/pushing/) for pushing, but it is not intended for our use case.
Security here is no more of concern as for exposing CLI port - anyway it should be accessible only from some internal network.
What is `redundancy of polling`?

[2019-03-01 22:26] j0sh commented on #760
That actually sounds quite nice for local log scraping / aggregation, which would allow us to avoid otherwise-invasive changes to the goclient itself.

That would work for our current use case (private internal network), but I'd be generally uncomfortable with that type of setup in production/mainnet without more rigorous shielding in front of the CLI endpoint, since we can't assume all elements o

[2019-03-03 13:18] rayj00 opened #763 "-ethPassword Change"
**Is your feature request related to a problem? Please describe.**
If a -ethPassword becomes public knowledge,  anyone with knowledge of the server can use or abuse the
livepeer infrastructure.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Accidentally revealed the -ethPassword
**Describe the solution you'd like**
A clear and concise description of wh

[2019-03-04 15:22] darkdarkdragon commented on #763
Livepeer stores private key in standard Geth format, so you can change password using Geth as outlined [here](https://github.com/ethereum/go-ethereum/wiki/Managing-your-accounts#account-update)

[2019-03-04 22:38] angyangie commented on #747
Interesting discussion! What do you mean by `monitor transcoder process itself` @darkdarkdragon ?

[2019-03-04 22:50] darkdarkdragon commented on #747
@angyangie
Standalone transcoder - it is separate process in the operating system, probably running on separate physical machine and contacting orchestrator through network. I want to get metrics from that process itself, and not guess if it is still running/how well it is doing by checking if it is still connected to orchestrator or not.

[2019-03-04 23:04] angyangie commented on #747
Thanks for the explanation @darkdarkdragon!

[2019-03-05 00:53] j0sh opened #764 "Custom Stream Keys via Auth Webhook"
**Is your feature request related to a problem? Please describe.**
Playback of RTMP ingest streams is protected by a stream key, but there is no programmatic way to discover this key for playback from other elements on the network, or to control the generation of the key.

**Describe the solution you'd like**
Currently, the RTMP auth webhook has a limitation that any backslashes from the returned

[2019-03-05 00:53] j0sh commented on #705
For a long-form intro to the auth webhook, I'm thinking that readthedocs would be a good place for it. We should describe:

* Setting the CLI flag
* Request format
* Response format
* ManifestID limitations. Technically anything will work except for a backslash which will be split during playback, so returned MIDs should not contain a backslash [1].
* Maybe have simple examples of a callback webho

[2019-03-05 15:19] ericxtang opened #765 "Brightcove API analysis"

[2019-03-05 17:41] iameli opened #766 "Can't build Docker images"
**Describe the bug**
`docker build -f Dockerfile.debian -t livepeerbinary:debian .` results in a variety of `can't load package` errors, [full log here](https://gist.github.com/iameli/13cc4a780cef5d3aac3caf6a5d51ecc2).

**To Reproduce**
`docker build -f Dockerfile.debian -t livepeerbinary:debian .`

**Expected behavior**
A working Docker build

`docker version`:

[code]

[2019-03-05 17:48] dob opened #767 "Api Analysis - Bitmovin"

[2019-03-05 18:44] j0sh opened #768 "API Analysis - Encoder.com"

[2019-03-05 18:52] #759 closed, assigned to j0sh

[2019-03-05 18:52] #758 closed, assigned to j0sh, ericxtang

[2019-03-05 18:53] j0sh commented on #757
Docs: https://hackmd.io/YtCHagQeTUC6svkmrSNsRQ

[2019-03-05 18:53] #757 closed, assigned to nobody

[2019-03-05 20:21] iameli commented on #766
Hrmph, just worked for me when I tried again just now. No idea. Closing for now.

[2019-03-05 20:21] #766 closed, assigned to darkdarkdragon

[2019-03-05 20:54] darkdarkdragon commented on #766
@iameli This #769 should fix it.

[2019-03-06 06:20] j0sh opened #770 "Determine optimal multi-O allocation/redundancy strategy"

[2019-03-06 06:21] j0sh opened #771 "Determine optimal mullti-T allocation/scalability strategy"

[2019-03-06 06:22] j0sh opened #772 "Determine any commonalities between multi-T/multi-O"

[2019-03-06 06:23] j0sh opened #773 "Specify interface for multi-T"

[2019-03-06 06:24] j0sh opened #774 "Specify interface for multi-O"

[2019-03-06 06:24] j0sh opened #775 "Task breakdown for multi-T"

[2019-03-06 06:25] j0sh opened #776 "Task breakdown for multi-O"

[2019-03-06 16:34] darkdarkdragon commented on #760
I want to do changes in go client - many metrics much simpler to calculate on client itself (say, latency), then try to infer externally. Plus push gateway will not give us any advantage (you need to open port for it anyway), just another moving part need to be taken care of.

Then we should allow to run metrics on separate port.

Anyway it will be neglectable amount of traffic, especially compare

[2019-03-06 18:55] darkdarkdragon commented on #764
Looks like I don't know RTMP infrastructure well. What does this means `Playback of RTMP ingest streams is protected by a stream key`?
And what this means `this can be used for RTMP playback from other elements of the broadcaster's infrastructure.`?

[2019-03-06 19:13] #765 closed, assigned to ericxtang

[2019-03-06 19:13] ericxtang commented on #765
Done

[2019-03-06 19:14] ericxtang commented on #765
https://docs.google.com/spreadsheets/d/1EMlhSeXvuBKERP-sMXNtASIEpfH04CIk1zPMPVBYlwQ/edit#gid=0

[2019-03-06 19:30] angyangie opened #777 "Determine Optimal Algorithm for multi-T"
Work allocation mechanism. We need to determine the optimal workflows for B/O with O/T respectively, both in how segments are sent to O/Ts, and which transcoded segments are selected for use by the O/B. Methods chosen will depend on how we decide to do object storage (above).

There are several possibilities for how segments can be sent to O/Ts:
Sticky: we’d choose a node and continue sending segm

[2019-03-06 19:31] #777 closed, assigned to nobody

[2019-03-06 21:19] angyangie commented on #770
The primary concern when talking about B -> O, is resiliency. If a single O stops responding mid-stream, the goal is to have transcoding/streaming continue on seamlessly.

For **receiving transcoded segments**, Broadcasters should select whatever transcoded segment comes back first for that specific initial non-transcoded segment, regardless of what approach is being considered below.

There are s

[2019-03-06 21:37] #768 closed, assigned to j0sh

[2019-03-06 21:41] ericxtang opened #778 "Merge API Documentation"
Let's use the readthedoc for this.

I think we should include the information from the [demo script](https://hackmd.io/YtCHagQeTUC6svkmrSNsRQ?view) and the [1-pager](https://www.notion.so/ericxtang/Livepeer-Transcoding-API-95db927400634992a31e89034f8e6b54).  Maybe using the 1-pager as the "Intro", and demo script as the "Getting Started Guide".

[2019-03-06 21:53] j0sh commented on #764
If you look at `createRTMPStreamIDHandler`  then you'll notice that the RTMP playback URL (which FFMpeg uses for segmenting) looks something like `rtmp://localhost/manifestID/streamKey` where the streamKey part is randomly generated.

The stream key protects the RTMP stream from "drive-by playbacks" where knowing the RTMP ingest URL also allows you to pull the RTMP stream. Providers may not necess

[2019-03-06 22:17] darkdarkdragon commented on #764
OK, thanks - wasn't aware that RTMP stream ingested in node is available to be consumed from same node. Pretty unexpected. We should clearly state this in documentation.

[2019-03-06 22:40] ericxtang commented on #770
I think we should consider the redundancy approach separately from the O selection algo.  The redundancy should be determined by the broadcaster using the B node, and I see a case where the broadcaster will want different level of redundancy for different streams.

In terms of O selection, there has been another proposal being discussed in the research calls - **stake weighted random selection**.

[2019-03-06 22:56] angyangie commented on #770
I see the O selection algo issue now: https://github.com/livepeer/research-internal/issues/3. I missed that when I was gone, thanks for mentioning it! The name of this issue is a misnomer then - the focus is on redundancy, not on an orch selection mechanism (i.e. when or how to choose one particular O over another). I'll change the issue name.

Regarding the options above, I do think it's worth do

[2019-03-06 23:02] j0sh commented on #770
There are a two different uses of the term "orchestrator selection" ; we should probably come up with a better term to delineate between the two.

* The process of determining which Os are eligible to work with based on pricing, on-chain information, history, reputation, etc. This is the selection that's discussed here livepeer/research-internal#3 .

* Given a list of eligible orchestrators: which

[2019-03-06 23:29] j0sh commented on #764
Currently the stream keys prevent the RTMP from being consuming outside the goclient. But you are right, once we make it easy for users to consume RTMP outside the goclient, then it needs to be documented.

[2019-03-07 00:41] j0sh commented on #760
It may be "simpler" to implement single metrics but I think it hurts long-term maintainability, and makes it harder to compose metrics to get a larger picture of the system. For example, our approach to measuring latency currently involves explicitly tracking the start/end times for each event we're interested in. This alone is cumbersome. We also can't track what's happening across different modu

[2019-03-07 08:15] j0sh commented on #770
Very good question. There are a couple factors here:

* We can maintain a list of Os that would be good candidates. This list can be a few more than we actually need to use (M-of-N); eg if we only need to use one orchestrator at a time, then perhaps we could maintain a list of three orchestrators and immediately fall back to the next in the list.

In fact, we already have the capability to return

[2019-03-07 15:37] angyangie commented on #770
Are we looking to eliminate the loss of 1 or at most 2 segments, as a requirement to this work?

To confirm - this is not referring to the list stored in the DB, but to the list stored in `OrchestratorInfo` on the `BroadcastSession`? We could need to refresh the list asynchronously after several scenarios (we already refresh the DB list asynchronously):
- Every time a certain percentage of O's fro

[2019-03-07 17:37] ericxtang opened #780 "Deploy Demo Network + Share Ingest URL"
Deploy the network used for video developer demos, and share the ingest URL with everyone.

[2019-03-07 17:40] ericxtang opened #781 "Endpoint to List All Streams"
@f1l1b0x had suggested to create an endpoint to list all active streams.  This is something offered by most transcoding products out there, and we expect customers to demand this feature.  It gives users the ability to manage on-going streams.

Would love to get feedback from @j0sh and @darkdarkdragon

[2019-03-07 17:42] j0sh commented on #781
We already have this in the CLI `/status` endpoint. We really need to document these endpoints because there is a lot of useful information hidden in there. See https://github.com/livepeer/go-livepeer/issues/553

[2019-03-07 17:57] angyangie commented on #771
**Multi-T** is about scalability: orchestrators must be able to handle 100 concurrent streams. It is important for us to define how an O will determine how many T's it needs to work with given its current workload. Some initial questions and thinking:

- Is it fair to assume that Orchestrators will send particular segments from a specific Broadcaster to ONE transcoder in their network (they will n

[2019-03-07 18:39] darkdarkdragon commented on #781
Yes, I use it all the time. But maybe @f1l1b0x was taking about exposing endpoint to users of our Transcoding API?

[2019-03-07 18:46] j0sh commented on #770
Yes.

Correct.

We can refresh when a certain percentage of Os in the list have *failed*. Note that with an "M-of-N" list, we need to be careful about whether to apply that percentage to M or N and the relative scales of each other.

A simple scheme could be:
1. Start with a list of length N
2. Require a minimum length of M (this could also be the redundancy factor)
3. For each orchestrator that f

[2019-03-07 19:03] j0sh commented on #781
Yeah, why not. Although perhaps we should reverse proxy this specifically for the demo network instead of exposing the entirety of the CLI directly or re-implementing this on a separate port.

There is probably a useful conversation to be had on the "surface area" of the node and how much should be exposed. Also related is my earlier comments on exposing the metrics endpoint, https://github.com/li

[2019-03-07 19:57] angyangie commented on #770
This is very helpful, thank you @j0sh!

For # 4 on that list, `If N <= M, refresh the list`, I assume that means we'd populate the whole list length M again. Seems like we'd have to make sure not to include O's that we've "gray listed", as well as O's that are currently in use (mental note for myself).

I hadn't thought of this one - that makes a lot of sense! If one rendition fails, we wait for t

[2019-03-07 20:34] ericxtang commented on #781
In general, I feel like the "CLI-specific" endpoints should be grouped differently from "user-facing" endpoints.  What do you guys think about having "API grouping", and being able to assign different groups to different ports?  So far we'd have `rtmp`, `stream`(hls, and maybe later dash), `crud`, and `cli`.  The command line would look something like `-rtmpPort`, `-streamPort`, `-crudPort`, `-cli

[2019-03-07 20:35] ericxtang opened #782 "Endpoint to Delete Stream"
@f1l1b0x had suggested to create an endpoint that allows users to delete a running stream based on the ManifestID. This endpoint will give the user the ability to shut access to a certain user (imagine you are Twitch, and you want to stop a specific stream based on an ingest URL you generated).

[2019-03-07 21:01] darkdarkdragon commented on #781
Sounds like a good idea. Probably we should call it something more than `crud`, because we're essentially implementing our transcoding API into node, and probably it will be something more than just `crud`. Maybe just call it `api`?

[2019-03-07 22:16] j0sh commented on #781
It really depends on what what we consider "CLI specific" and what's "user facing". The CLI exposes useful diagnostic and administrative features; surely that can be considered part of the API? Even if not, there are various degrees of being "user facing" ; public or administrative/internal? There are infinite variations to this and we're already starting to see splintering (eg, metrics).

We're n

[2019-03-07 22:18] angyangie commented on #770
After chatting with @j0sh, here's a summary of strategies being considered, as well as concerns/benefits of each. Feedback is encouraged, before we move forward with any of these (cc: @darkdarkdragon @ericxtang). From my vantage point, seems like Round-Robin makes the most sense, but would love to hear other opinions.

## Goal: Resiliency in the face of errors or failures

Concerns about strategie

[2019-03-07 22:22] j0sh commented on #782
We could add a CLI endpoint to stop a stream.

That wouldn't really shut off access if a user wants to retry the stream, but it seems that's a concern best handled outside the goclient itself (eg, reject via the auth webhook).

[2019-03-07 22:36] darkdarkdragon commented on #760
I agree that parsing logs looks like good idea, but it has too much downsides:
- It adds additional moving parts that should taken care of
- It requires additional infrastructure - logs should be put somewhere, processes, metrics extracted and sent somewhere to be presented
- Code to extract metrics from logs will be more cumbersome, because it needs to guess what happened from text. Going through

[2019-03-07 23:23] angyangie commented on #771
After discussion on multi-O with @j0sh (https://github.com/livepeer/go-livepeer/issues/770), seems like I can answer some of my own questions here 😆.

Nope, this will depend on which selection strategy we employ. Which B the stream is coming from doesn't matter - what matters is T transcoding capacity and whether that T can handle more segments.

Still seems like a reasonable approach.

If we're g

[2019-03-07 23:57] darkdarkdragon opened #783 "Metrics needed to complete migration from own metrics server"
- Video length
- Number of segments in video
- Latency
- Failure rate (per stream, overall)
- Number of concurrent streams
- Number of connected transcoders

[2019-03-07 23:58] darkdarkdragon opened #784 "Metrics: cost of segment transcode"
Calc and show in dashboard cost of segment transcode

[2019-03-07 23:59] darkdarkdragon opened #785 "Metrics: redundancy rate"
Redundancy rate - how much duplicate transcoding work is done

[2019-03-08 00:01] darkdarkdragon opened #786 "Metrics: internal metrics tailored for optimization"
- Segmenter latency
- Latency between O and T
- Object Storage upload times
- Eth transaction times

[2019-03-08 00:04] darkdarkdragon opened #787 "Metrics: payment overhead"
Payment overhead metric - calc and show in dashboard

[2019-03-08 05:24] j0sh commented on #760
Agreed that it is additional moving parts. There are tools such as [mtail](https://github.com/google/mtail) that could help with this.

I think this also goes back to what we're trying to accomplish with the metrics system: is it meant to provide an overview the health of the node / network, or is it meant as a tool for drilling down and diagnosing specific problems? We built the old metrics syste

[2019-03-08 05:49] j0sh commented on #771
Transcoders connect to orchestrators, rather than the other way around. This keeps provisioning and management simpler, since O doesn't need to be informed of new Ts; it only needs to accept new (authenticated) connections.

Currently, all Ts are trusted. Having trustless O/T interaction is a deep rabbit hole that may not even be economical, so for now we can count on Ts being trusted.

This shoul

[2019-03-08 17:15] j0sh commented on #785
Assuming we even do redundancy -- wouldn't this be a fixed number?

[2019-03-08 22:31] #767 closed, assigned to dob

[2019-03-08 22:55] angyangie commented on #771
Summary from our Discord conversations, to keep an online papertrail here ...

**Josh:**

[2019-03-08 22:58] angyangie commented on #771
## Goal: Scalability in the face of errors or failures

Concerns about strategies below were evaluated with all phases of the transcoding process in mind:
- Emit segment
- Upload segment
- Transcode segment
- Download segment
- Verify segment

Since each orchestrator has a limited number of T's it works with, we don't need to "refresh" a list as we do with O lists in multi-O. The list of transcode

[2019-03-11 15:53] angyangie commented on #772
Preliminary list of Commonalities and differences, based on: https://github.com/livepeer/go-livepeer/issues/770 and https://github.com/livepeer/go-livepeer/issues/771. More specifics will be added on a later comment.

****Commonalities between multi-O and multi-T:**
- Reducing the number of "ErrOrchBusy", could get us to our benchmark of 99% reliability.
- Out of order segments a concern for Round

[2019-03-11 20:18] yondonfu commented on #770
Round robin seems like a reasonable initial strategy for O allocation with round robin + splitting renditions across Os as a next step afterwords. When using the round robin strategy, B should also refresh its O list when a certain percentage of Os in that list have failed right?

[2019-03-11 20:23] angyangie commented on #770
That's right @yondonfu. We'd want a list length N, with a min length of M (number TBD, will be based on desired redundancy, or # streams being handled). For each O that fails, we remove from the list and decrement N. Once N <= M, refresh the list.

[2019-03-11 20:42] darkdarkdragon commented on #781
I think this question arose because we're creating Transcoding API for ourselves (called "CRUD" here), and for us it would be convenient to have it separated in broadcaster node. So main question is - do we want to have "Transcoding API" as separate entity in broadcaster node, or it will part of general API ("CLI"), and we will be surfacing Transcoding API for our customers by tools external to br

[2019-03-11 20:43] yondonfu commented on #772
The gray list feature seems like it will be helpful for multi-O, but it could also be added on its own after the initial O allocation strategy is implemented since there are other uses for the gray list as well i.e. later on when Bs passively fetch pricing info from Os the gray list could also be used to keep track of Os that previously responded to price requests, but then subsequently stop respo

[2019-03-11 20:51] yondonfu commented on #771
Round robin seems like a reasonable initial strategy for T allocation with round robin + splitting renditions across Ts as a next step afterwords.

After a T self-reports its transcoding capacity to O, does O keep track of T's transcoding capacity with each segment that O sends to that T? Or does O poll/subscribe to T for its transcoding capacity in order to receive updates? The former seems reaso

[2019-03-11 21:01] angyangie commented on #772
Good to think about other uses of the gray list. We can leave it off of this initial MVP, and use later with non-responding O's re: pricing (and any other use case). For now, we can randomize and refresh registered list of O's, without a gray list.

[2019-03-11 21:06] darkdarkdragon commented on #785
yes, but it can be different per deployment, so overall rate will not be constant.
plus, if in future we will implement some SLA (which actually will set redundancy level) in pricing menu for B to choose from - then it will be even more dynamic.

[2019-03-11 21:40] j0sh opened #788 "Threaded Transcoding Benchmarks"
For historical purposes related to verification, we only transcode on a single thread:

https://github.com/livepeer/lpms/blob/08cb02385589cf1f1f8d3e9ec8711ee827ea99a4/ffmpeg/lpms_ffmpeg.c#L206

Transcoding on a single thread severely impairs performance, which harms our ability to complete work in faster-than-realtime. Completing transcoding work in realtime is preferable for live streaming; other

[2019-03-11 22:02] iameli commented on #770
On number 2:

I get that round-robin will reduce the probability that we'll encounter ErrOrchBusy errors because we'll be more evenly distributing the load. But if we do happen to round-robin hit a busy orchestrator, we'll still get that same error, yeah?

I like the idea of #2, #3, and #4 all of these eventually being implemented and configurable — I can imagine use cases for a broadcaster not ca

[2019-03-11 22:23] j0sh commented on #781
This is the root of the concern -- we're narrowly tailoring this for our own use case.  On mainnet, users would legitimately want the CLI knobs exposed to manage their own node. There doesn't seem to be a strong distinction between "what belongs in the CLI" and "what belongs in the CRUD API" .

This is what we should do, IMO.

[2019-03-11 22:50] #788 closed, assigned to nobody

[2019-03-12 01:13] darkdarkdragon commented on #781
I agree with you, but we will be adding new endpoints needed for us anyway, and we need a way to group/track them. So what do you think about running everything on CLI port by default, but allowing to run subset of endpoints on different one if needed? This shouldn't add too much complexity to the code, but will make our life easier.

[2019-03-12 06:41] j0sh commented on #772
Note that this is mostly a concern with B->O, but not necessarily O->T.

Ditto, out-of-order segments are a concern for playlist insertion, but O->T don't handle playlists, so it's not an issue for O->T.

At a first glance, B-provided OS for B->O races or retries is nice because it means uploads only have to be done once. However, there are a few other concerns with B-supplied races if O-T is raci

[2019-03-12 15:06] angyangie commented on #772
Thanks for the feedback @j0sh! Based on your comments, I've revised my initial post below:

Preliminary list of Commonalities and differences, based on: https://github.com/livepeer/go-livepeer/issues/770 and https://github.com/livepeer/go-livepeer/issues/771.

****Commonalities between multi-O and multi-T:**
- We technically can live with latency as long as it doesn't out-run the playlist, but, th

[2019-03-12 15:08] angyangie commented on #771
Good question. Yes! Since O has the capacity to transcode many numbers of streams at a time, and since a T can only work with one O at a time, we can track total # of segments/streams T is working with at any given time. That'll be an implementation detail to sketch out.

[2019-03-12 15:18] angyangie commented on #770
Yes, we will. Along with the work you and @j0sh are doing, our hypothesis is that the error just won't happen enough for us to need to address it every time (we'll still hit the 99% benchmark). Bs will be able to select how many O's to work with (through a new flag on startup). Perhaps initially they could choose to work with a large number of O's (which would allow for more segment processing tim

[2019-03-12 21:17] j0sh commented on #781
We should be vigilant about feature creep on the node. Non-trivial deployments are going to incorporate additional layers in front of the node (proxying, authentication, API gateways, etc). I think it's safe to classify our test harness as a "non-trivial deployment."

Rather than trying to build support for every possible configuration on the node, let's outsource the work to best-in-class tools w

[2019-03-12 21:21] j0sh commented on #785
Will the rate change during the lifetime of the deployment?

Also, are we tracking multiple deployments with the same Prometheus? There were issues with this idea last time we discussed it.

[2019-03-12 21:24] j0sh commented on #784
How are we planning to calculate this?

[2019-03-12 21:48] j0sh opened #791 "Structured Ingest URL Paths"
**Is your feature request related to a problem? Please describe.**
Currently, our ingest URLs are relatively unstructured. The manifestID is passed in as an optional query string parameter, with the path ignored:

[code]

There is some concern about the use of "special characters" to form the query string. Additionally, it would be nice to make the RTMP URL more consistent with the HLS playback UR

[2019-03-12 23:01] j0sh opened #792 "Add RTMP connection information to auth webhook"
**Is your feature request related to a problem? Please describe.**
RTMP auth endpoints should be able to identify who is making the connection. Currently, LPMS hides most details of the RTMP connection from the goclient, exposing only the connection's target URL.

**Describe the solution you'd like**
Generalize LPMS bit to make the entire joy4 RTMP connection object available to `makeStreamID`, wh

[2019-03-12 23:38] j0sh opened #793 "Return Structured Data From `createRTMPStreamIDHandler`"
**Is your feature request related to a problem? Please describe.**
We invoke the auth webhook within `makeStreamID`. Using this webhook has the potential to be a versatile method of controlling the behavior of the stream. We currently only specify the manifestID via the webhook, but we could control a number of other per-stream properties, such as:

* Stream keys - https://github.com/livepeer/go-l

[2019-03-13 11:27] f1l1b0x commented on #791
we should follow the same naming like anyone else is

rtmp://host/application-name/streamname

the hls url should result in this format

http://host/application-name/streamname/playlist.m3u8

We also should offer an alternate playlist next to it:

http://host/application-name/alternate-streamname/playlist.m3u8

it is important that the alternate-streamname is not revealing the original streamname

[2019-03-13 19:32] j0sh commented on #791
Here I'm going to refer to the `streamname` as the "manifest ID" since that is Livepeer's name for the thing.

Note the primary reason for this convention is because most RTMP media servers were able to serve multiple applications, and used the path to route the stream into the correct application. Most real-world services don't expose more than one application, so for most services, the `applicat

[2019-03-13 21:17] angyangie commented on #773
Good summary from Discord on current discussion:

**Angie:**

 I found it really useful to summarize how transcoding is being done currently. This is useful to me, and perhaps can be included in our release proposal for anyone else, esp new team members, as a refresher on how that works: https://hackmd.io/ScAcIALaSVuczUYVqvvkrw.

That said, in thinking about what this interface can potentially loo

[2019-03-13 22:17] angyangie commented on #773
Preliminary interface (WIP):

[code]

`LocalTranscoderList` would implement the Transcoder interface in this example. Same on the remote side:

[code]

`SelectTranscoder()` would grab a transcoder from the list, and send it a transcoded segment. While that transcoder were doing work, and that segment was still in flight, the transcoder wouldn't be a part of the list. If there is an `ErrOrchBusy`,

[2019-03-14 18:06] angyangie commented on #773
This iteration of the interface includes capacity management, and registering/unregistering T's.

**Important notes:**

Registration: If T has a capacity of 5, we'd be adding 5 copies of that T to the list. If we're popping T's from the list in transcoder, we'd be sending the next consecutive segments to the same transcoder. Since we're not dealing with an `ErrOrchBusy` error on the T side, this i

[2019-03-14 21:48] darkdarkdragon commented on #791
@j0sh

When we was discussing authentication for Transcode API, we came to idea of prefixing users manifests like this: `companyName_manifestID` and to authenticate based on first part of the manifest id. Urls like `rtmp://host/companyName/streamname` would naturally look much better, but will require some changes on our side. Simplest way is just to declare that manifest id is always consist from

[2019-03-14 21:59] darkdarkdragon commented on #785
Right now no, but if in future B will be able to select this param?

That was idea?

What ones? I don't recall.

[2019-03-14 22:00] darkdarkdragon commented on #784
I don't have concrete plan yet.

[2019-03-14 22:36] angyangie commented on #773
Seems like this might be the winner .... https://play.golang.org/p/6dPQOrDhBbz

[code]

This interface has a clear structure for transcoder management (for remote transcoders) and a separation between the actual transcoder. Technically we could just "register" a local transcoder too under the same interface up to the local capacity. However, it's not needed (only one local transcoder can exist at

[2019-03-15 00:06] darkdarkdragon commented on #781
OK, sounds reasonable.

[2019-03-15 00:49] j0sh commented on #791
In that thread it was also mentioned that type of breakdown is also quite specific to the business logic. In this case, the `companyName/streamName` would have been Livepeer-specific. We shouldn't assume most broadcasters would want to follow this type of "multi-tenant" scheme; some might just need a stream name (with the 'application name' or 'company name' becoming an unused appendage). One coul

[2019-03-15 14:06] natemiller1 opened #795 "Invoking Claim Rewards (ClaimEarnings) Fails"
**Description**
When invoking claim rewards via the cli (option 10), the transaction does not complete. I receive the same error each time:
[code]

**Summary**
I joined as a transcoder in round 1265.
I've verified I have sufficient gas/ether. I'm also running a geth light client.
I've restarted both geth and livepeer multiple times with the same result.
Everything else appears to function normally

[2019-03-15 17:47] j0sh commented on #760
Based on our discussions here https://github.com/livepeer/go-livepeer/issues/781 my thinking around this issue has evolved -- whether to expose Prometheus on the CLI port -- and now it feels like the best action would be to have Prometheus share the CLI port as was originally suggested.

[2019-03-18 20:28] angyangie commented on #774
Preliminary interface: https://play.golang.org/p/JbaNgWW195e

[code]

[2019-03-18 20:51] #705 closed, assigned to darkdarkdragon

[2019-03-19 14:55] yondonfu commented on #795
@natemiller1 What release version of the Livepeer node are you using?

[2019-03-19 17:06] angyangie commented on #776
(added to end of this [doc](https://docs.google.com/document/d/1KfEWm0z3svw10TrFH9hiMImkXocl3ba_S-8vmX94HNc/edit?userstoinvite=josh@livepeer.org&ts=5c647762&actionButton=1#))

1. Build BroadcastSessionManager struct:

[code]

2. Edit `selectOrchestrator` to build and return `[]*BroadcastSessions`, not just a `BroadcastSession`. This will also involve changing how a single `BroadcastSession` will b

[2019-03-19 17:06] angyangie commented on #775
Added to end of this [doc](https://docs.google.com/document/d/1KfEWm0z3svw10TrFH9hiMImkXocl3ba_S-8vmX94HNc/edit?userstoinvite=josh@livepeer.org&ts=5c647762&actionButton=1#)

**Step 1: Track remote transcoder capacity**

1. Add an option for Ts to specify their capacity via CLI, eg livepeer -transCap 5. As a rule of thumb, each T will be able to handle one segment per core (though capacity advertis

[2019-03-19 18:45] natemiller1 commented on #795
Yep, that was it... Not sure how I managed to install an earlier version, believe I was running 0.2.4. Updated to 3.2 and it was fixed. [Insert embarrassed face emoji]

[2019-03-19 20:09] yondonfu commented on #795
Great! Glad to hear it was fixed by updating the node version.

[2019-03-19 20:09] #795 closed, assigned to nobody

[2019-03-20 18:24] j0sh commented on #775
We already have `-maxSessions` that is used for B and O, perhaps we could use the same flag for T, just for consistency.

Note that we'll eventually need to consider cases where a T is removed from the list while there is another segment in-flight to the same T. Under the list-management algorithm posted, the T would be re-added to the list each time. To fix this, we probably should maintain a sep

[2019-03-20 18:54] j0sh commented on #776
[code]

Not quite clear on what this last bit does; don't we already have a list of BroadcastSessions from `selectOrchestrator` ?

Note that any refresh via `selectOrchestrator` should be done async, and we should still return an O if any are available for processing the current segment.

Also we might want to consider what might happen if we're capacity constrained on the network; do we want to r

[2019-03-21 15:54] angyangie commented on #775
Interesting idea! That would work. I initially thought that might interfere with `createRTMPStreamIDHandler` in mediaserver.go, which uses `maxSessions` to check for max rtmpConnections, but after some exploration, I see that a remote transcoder would never have to touch that code. Therefore, using `maxSessions` would be fine.

Good observation. So, what you mean, is that `defer n.RTmanager.Unregi

[2019-03-21 16:09] angyangie commented on #776
Ah yesss. I meant to remove that!

What do you mean by " we should still return an O if any are available for processing the current segment"? In what scenario?

We could just add additional Orchs to the list, keeping the ones we on the list. For example, if `reqLengthOfList` = 6, and we're working with 3 Os, we take the response from `GetOrchestrators` and add 3 O's (filtering out for those that

[2019-03-21 18:35] j0sh commented on #775
We can still set a different variable in standalone T to hold the capacity; just the flag could be reused in `livepeer.go`.

Correct.

[2019-03-21 18:55] j0sh commented on #776
If any Os are available in the list, those should be used rather than waiting for the list refresh to complete.

Simplified example - add in the appropriate locking, bounds checking, etc:

[code]

Yes. It can be done separately, but we shouldn't ship without the fix.

[2019-03-25 20:39] #675 closed, assigned to yondonfu

[2019-03-27 14:37] dob opened #802 "Transcoder node reward call output showing incorrect LPT amount"
**Describe the bug**
When the transcoder node calls reward it outputs the txn hash and a success message indicating how many LPT were generated. The number of LPT shown seems incorrect. See:

[code]

When viewing that txn hash it shows 635 LPT generated: https://etherscan.io/tx/0x3c3d08b923333dc8b781eb1683507eee93580b0b771dd064bdb2317397c5f9f5

But the CLI output shows 594.

**To Reproduce**
Steps

[2019-03-27 14:50] yondonfu commented on #802
After the [earnings distribution contract accounting bug fix](https://forum.livepeer.org/t/protocol-accounting-bug-fix-retrospective/391), the BondingManager contract started splitting up inflationary rewards minted by a transcoder into a reward pool for delegators and a reward pool for the transcoder. As a result, if a client queries only for the delegator reward pool, the returned value will not

[2019-03-28 00:04] #764 closed, assigned to nobody

[2019-03-28 00:04] #791 closed, assigned to nobody

[2019-03-28 01:10] ericxtang opened #803 "Output Stream DTS Doesn't Match Timestamp"
**Describe the bug**
The output stream timestamp is sometimes off.  This causes the video to skip.

**To Reproduce**
1. Run a transcoding setup, stream a RTMP stream into the ingest node.
2. Try to store one of the transcoded renditions locally using ffmpeg.  For example: `ffmpeg -i http://35.243.231.237:9201/stream/ericID/P240p30fps16x9.m3u8 -c:v copy -c:a copy livepeer_dump.mp4`
3. ffmpeg should

[2019-03-29 19:38] j0sh commented on #803
Curious, what client was this broadcasting with? Any special settings for the source stream? Tried with OBS and wasn't able to reproduce within a few minutes.

[2019-04-02 18:16] #760 closed, assigned to nobody

[2019-04-04 17:13] darkdarkdragon opened #808 "Logging system improvement proposal"
### Problem statement
Currently, go-client writes logs to `stderr`, and from there we're routing them
(using built-in docker capability) to Google's logging aggragation solution
(Stackdriver). Logs flows into Stackdriver as raw strings - and that leads to
the information about individual log entry being lost. Though internally in application
each log entry has `level` property, and Stackdriver has

[2019-04-04 20:16] j0sh commented on #808
each log entry has level property, and Stackdriver has same property for log entry,
but that information gets lost because log entry gets converted to the raw string
during the process.

Can you elaborate on this? If I'm understanding correctly, this is the root of the issue with logging. Perhaps we can try and solve this directly.

[2019-04-04 23:42] darkdarkdragon commented on #808
@j0sh
Each log entry inside application has this properties: timestamp. log level, source location (file/line) and message itself. Both Stackdriver and Loki able to save this as meta-data for log entry, and allow to easily filter on these fields. But all this gets lost when logs go through `stderr`.

[2019-04-05 00:23] j0sh commented on #808
I'm not exactly clear on what the issue is. All the properties you mentioned are already in the stderr output. Is the problem that Stackdriver/Loki aren't parsing the first parts of each log line? Can we set up a log parser for those tools [1]?

Or we could adjust the glog formatting scheme to match whatever the standard is. Can we get some more mileage out of tightening our existing logging? For

[2019-04-05 17:28] darkdarkdragon commented on #808
Nobody parses logs. Docker just takes output from `stderr` and though it's [plugin](https://docs.docker.com/config/containers/logging/gcplogs/) sends it line-by-line to Google, without doing any parsing. We can write out logging driver for docker that will do parsing, but what if we move somewhere from docker?
And in this config, there is no easy way to put any log parser in between our process an

[2019-04-05 17:59] j0sh commented on #803
Was able to reproduce this. Some observations:

* This affects only audio streams
* The discontinuity is at segment boundaries; the first audio frame of the current segment overlaps with the last frame of the previous segment

![image](https://user-images.githubusercontent.com/292510/55645208-ce518e00-578c-11e9-8d66-8efc668013a4.png)

* The first audio pts of a given transcoded segment is off by e

[2019-04-05 23:39] j0sh commented on #808
What do you mean by this? Parsing is very common thing for log collectors. Logstash, mtail, fluentd, etc all do that. Stackdriver's logger is itself based on fluentd and seems to use a similar configuration format. See the link that I shared earlier.

Not even syslog? That should be supported by basically all log collectors.

We don't necessarily have to run a collector for each Docker instance, b

[2019-04-08 03:59] ericxtang commented on #34
Closing because it's no longer relevant.

[2019-04-08 04:00] ericxtang commented on #80
No longer relevant.

[2019-04-08 04:00] #80 closed, assigned to nobody

[2019-04-08 04:01] ericxtang commented on #115
@iameli is working on this.

[2019-04-08 15:57] #762 closed, assigned to nobody

[2019-04-08 15:57] #783 closed, assigned to nobody

[2019-04-08 15:57] #749 closed, assigned to darkdarkdragon

[2019-04-08 18:31] ericxtang opened #810 "As a GPU miner, I want to be able to mine cryptocurrency and transcoding for Livepeer at the same time"
User stories:
* As a GPU miner, I want to be a transcoder for my own orchestrator, or for someone else's orchestrator who I trust (and trusts me)
* As a GPU miner, I want to know I have the right "setup" before participating in mining.
* As a GPU miner, I want to know how much work I have done, and how much money I have made.
* As a GPU miner, I want to know when I'm slashed, and why.

[2019-04-08 18:33] #810 closed, assigned to nobody

[2019-04-08 18:47] ericxtang commented on #780
This is done.  Thanks @ya7ya

[2019-04-08 18:47] #780 closed, assigned to ya7ya

[2019-04-08 19:10] ericxtang opened #811 "Document requirements: Webhooks, Specify Bitrate Ladder"
Deliverable is final requirements

[2019-04-08 19:12] ericxtang opened #812 "The Hosted API Node"
Place holder for eng tasks in [this release proposal](https://docs.google.com/document/d/1gDNiuRu3r2i-yICc3iChh7ItlY6l3jfHLb5ZzMpoaVk/edit)

[2019-04-08 19:13] ericxtang commented on #704
This is finished.

[2019-04-08 19:13] #704 closed, assigned to nobody

[2019-04-08 19:29] ericxtang commented on #220
Closing this issue - outdated.

[2019-04-08 19:29] #220 closed, assigned to dob, yondonfu

[2019-04-08 19:29] ericxtang commented on #168
Done [here](https://github.com/livepeer/test-harness/blob/master/docs/demo.md)

[2019-04-08 19:29] #168 closed, assigned to nobody

[2019-04-08 19:30] ericxtang commented on #236
This is an application-level feature.  Closing.

[2019-04-08 19:30] #236 closed, assigned to nobody

[2019-04-08 19:31] #273 closed, assigned to nobody

[2019-04-08 19:31] ericxtang commented on #273
Closing.  Badly specified issue.

[2019-04-08 19:33] ericxtang commented on #286
Done

[2019-04-08 19:33] #286 closed, assigned to nobody

[2019-04-08 19:34] ericxtang commented on #278
Not sure if this is a good idea anymore. Closing.

[2019-04-08 19:34] #278 closed, assigned to nobody

[2019-04-08 19:36] ericxtang commented on #331
Closing.

[2019-04-08 19:36] #331 closed, assigned to yondonfu

[2019-04-08 19:39] ericxtang commented on #339
This should be addressed by per-pixel accounting.  Let's close?

[2019-04-08 19:49] ericxtang commented on #361
Not sure if the HLS standard specifies the number of segments per video. Since the node doesn't have the behavior of "always containing a single segment", should we close this issue?

[2019-04-08 19:51] ericxtang commented on #411
Closing this issue.  Code has been refactored.

[2019-04-08 19:51] #411 closed, assigned to nobody

[2019-04-08 20:07] ericxtang commented on #431
This is no longer an issue.  Closing.

[2019-04-08 20:07] #431 closed, assigned to nobody

[2019-04-08 20:08] #468 closed, assigned to nobody

[2019-04-08 20:08] ericxtang commented on #473
Done

[2019-04-08 20:08] #473 closed, assigned to nobody

[2019-04-08 20:12] ericxtang commented on #490
No longer valid after moving to new metrics system.

[2019-04-08 20:12] #490 closed, assigned to darkdarkdragon

[2019-04-08 20:15] #448 closed, assigned to yondonfu

[2019-04-08 20:15] ericxtang commented on #448
Closing since we found the issue here.

[2019-04-08 20:16] ericxtang commented on #491
Want to confirm here, but I don't think this is an issue anymore right?

[2019-04-08 20:20] ericxtang commented on #505
Are we still pursuing this?

[2019-04-08 20:20] ericxtang commented on #539
Closing this issue.

[2019-04-08 20:20] #539 closed, assigned to nobody

[2019-04-08 20:22] ericxtang commented on #570
Transcoders now time out at default of 8s.

[2019-04-08 20:22] #570 closed, assigned to nobody

[2019-04-08 20:23] ericxtang commented on #545
Fixed.

[2019-04-08 20:23] #545 closed, assigned to nobody

[2019-04-08 20:23] ericxtang commented on #572
Closing

[2019-04-08 20:23] #572 closed, assigned to nobody

[2019-04-08 20:25] ericxtang commented on #573
@darkdarkdragon has done some of this.  Can we close?

[2019-04-08 20:28] ericxtang commented on #576
Option 2 feels reasonable.  B/O interaction should have different timeout than O/T interaction.

[2019-04-08 20:36] j0sh commented on #491
Technically, I think this is still an issue. We've seen it show up if video is segmented faster than realtime - https://github.com/livepeer/go-livepeer/issues/750

The multi-O work [1] from @angyangie should satisfy the preferred solution to this issue by ensuring there is only one segment in-flight for any given O. With that, we can probably close this issue.

[1] https://github.com/livepeer/go-l

[2019-04-08 20:36] #491 closed, assigned to nobody

[2019-04-08 20:40] iameli commented on #811
Sure!

Upon a stream starting, Livepeer broadcasts nodes currently perform an authentication webhook. Currently, all it receives back is a stream key. Per the work in https://github.com/livepeer/go-livepeer/issues/793, we'd like to return a variety of other structured data, including the desired bitrate ladder for the broadcast.

Per [discussion here](https://hackmd.io/Rb8Hk-sTThm2eR29DXIjzA), tha

[2019-04-08 20:54] ericxtang commented on #802
@yondonfu is there a fix we can add to the `go-livepeer` node so we can add the 2 reward pools together?

[2019-04-08 22:00] ericxtang commented on #747
Is this addressed by the new metrics system?  Transcoder can now report metrics through OpenCensus. cc @darkdarkdragon

[2019-04-08 22:03] ericxtang commented on #718
Is this addressed by the test harness?

[2019-04-08 22:04] ericxtang commented on #714
Done.  Closing.

[2019-04-08 22:04] #714 closed, assigned to nobody

[2019-04-08 22:10] ericxtang commented on #606
Closing.

[2019-04-08 22:10] #606 closed, assigned to nobody

[2019-04-08 22:11] ericxtang commented on #596
Closing

[2019-04-08 22:11] #596 closed, assigned to nobody

[2019-04-09 00:52] j0sh commented on #811
Looks nice. Presumably this list is put into the webhook response, eg

[code]

I wonder if having a list with a single field of `presets` would be nicer to think about for the developer. It seems a little strange UX-wise to only accept a very specific set of parameters. Presets are fairly common elsewhere.

Otherwise we have to think about defaults too, or make *all* fields required. For example,

[2019-04-09 03:01] iameli commented on #811
Yep! I might prefer `outputs` to `transcodingOptions` but that's exactly what I was envisioning.

I definitely get the motivation for this, especially when we're going to be locked in to our hardcoded list for the immediate future, but there's tradeoffs — you're making it easier for video developers at the cost of making it harder for folks implementing API tools and front-ends that'll need to int

[2019-04-09 04:14] BlinkyStitt commented on #573
https://hub.docker.com/r/livepeer/go-livepeer/ looks good to me. I think this can be closed.

[2019-04-09 05:25] j0sh commented on #811
The ones I've seen are from encoding.com and AWS.

Encoding.com has a number of [output formats](https://api.encoding.com/reference/output-formats) corresponding to certain devices/platforms, each with set of [defaults and acceptable variations](https://api.encoding.com/reference/output-videosettings). This ensures that if you're trying to encode for, say, an iPad, you won't accidentally specify a

[2019-04-09 17:17] iameli commented on #811
Looking in to those presets now.

Yeah, JSON-Schema calls this "tuple validation" — it'll require exactly two elements matching the two subschema:

[code]

Or, the version accepting two alternate formats:

[code]

[2019-04-09 18:54] darkdarkdragon commented on #747
@ericxtang
No, this issue wasn't addressed - we still not running web server for transcode-only nodes.

[2019-04-09 18:58] darkdarkdragon commented on #718
@ericxtang don't think so, but I don't think this was issue in the first place - we have fairly complex project, and there are no one "right way" to do development - different people work on different parts and thus have different optimal development setup.

[2019-04-09 22:00] ericxtang commented on #718
@darkdarkdragon I agree that different people will have different setup, but I think some kind of "canonicalization" can help us make progress faster, and save some efforts in maintaining different toolsets.  This can mean modularizing the tools - for example, the `test-harness` does a pretty good job deploying a vanilla network, and can be helpful to a lot of people.

[2019-04-09 22:55] j0sh commented on #718
Our dev story is getting better, but I don't think we're out of the woods yet. Agreed that it helps to have a canonical story to help new *developers* get started [1], but I think we're missing is consensus on what this story should look like, and putting that story up-and-front for devs. The recommended approach used to be devenv, but I'm not sure what it is anymore.

One of the big frustrations

[2019-04-10 15:14] darkdarkdragon commented on #718
@j0sh

Right now it is matter of
`make localdocker` and
`./test-harness restart`

make takes 30-40s on my MacBook Pro for simple change in `mediaserver.go` and test-harness restart takes 5 sec.

Isn't that is the same as just running docker container with Geth (with pre-built protocol) and running go-client on host with config made by `devtool`? What is the need for test harness here?

[2019-04-10 17:43] j0sh commented on #778
Is this resolved by https://github.com/livepeer/docs/blob/master/docs/source/demo.md ?

[2019-04-10 19:44] yondonfu commented on #339
Perhaps we should keep this open until pixel based accounting details are finalized?

[2019-04-10 20:31] yondonfu commented on #802
Yep, but I actually think an easier alternative fix would be for the node to query for the `Reward` event which should include the total inflationary rewards minted after the `reward` transaction is mined.

[2019-04-11 21:50] #803 closed, assigned to j0sh

[2019-04-16 00:25] ericxtang commented on #774
Seems like this is done.  Can we close?

[2019-04-16 00:25] ericxtang commented on #776
Seems like this is done (considering we are mostly done with the engineering already).  Can we close?

[2019-04-16 00:26] ericxtang commented on #770
Can we close this issue?

[2019-04-16 01:49] ericxtang opened #817 "Step 1: Track remote transcoder capacity"
1. Add an option for Ts to specify their capacity via CLI, through maxSessions. As a rule of thumb, each T will be able to handle one segment per core (though capacity advertised is up to each T to determine).
* add `maxSessions` to `server.RunTranscoder` (in livepeer.go), `runTranscoder` (ot_rpc.go), `RegisterTranscoder`, `orch.node.serveTranscoder` (in orchestrator.go), `orch.ServeTranscoder`, `

[2019-04-16 01:51] ericxtang opened #818 "Step 2: Add multiple remote transcoder management"
Implement the `RemoteTranscoderManager` struct and its corresponding Register (not to be confused with the `lphttp.Register` method), `Unregister` and `Transcode` methods.
* Keep in mind that we'll eventually need to consider cases where a T is removed from the list while there is another segment in-flight to the same T. Under the list-management algorithm posted, the T would be re-added to the li

[2019-04-16 01:54] ericxtang opened #819 "Step 3: Add Trasncoder Management Logic to livepeer.go"
Add `RemoteTranscoderManager` to `LivepeerNode` (`Transcoder` interface is already a part of it).
[code]

Add `n.RTmanager`, `n.Transcoder`, `RTManager.Register` and `RTManager.Unregister` to livepeer.go:
[code]

[2019-04-16 01:55] ericxtang opened #820 "Step 4: T can currently only handle one job. Make the relevant parts in ot_rpc.go async."

[2019-04-16 01:56] ericxtang opened #821 "Step 5: Multi-T Acceptance Testing"
**Multi-T Tests:**

T is able to advertise its capacity at startup. Once T is connected to any O, it will be sent that number of segments to Transcode from the O, all one after the other, until the T is handling one segment per core advertised through its capacity flag. We don't allow Ts to have more than one segment in flight per core, which will mitigate back logging.

**Note**: For all acceptan

[2019-04-16 01:57] ericxtang opened #822 "Multi-O Acceptance Testing"
Test cases are captured in the following spreadsheet - https://docs.google.com/spreadsheets/d/1mdIuCe_oHbgu_7F_lHd3JRCKW1I814aCXcifpTtRCsE/edit#gid=0

[2019-04-16 11:28] f1l1b0x commented on #811
about the encoding output options. please consider to give each a unique outout-id so that we can identify each individual output encoding and do something additoinal with it. example: you want to have one of your encodings also being sent to your backup storage. you would want to pick a single or all abr encodings then with their unique IDs and apply a setting to it

[2019-04-16 14:14] angyangie commented on #770
We can!

[2019-04-16 14:14] #770 closed, assigned to angyangie

[2019-04-16 14:15] angyangie commented on #774
Indeed!

[2019-04-16 14:15] #774 closed, assigned to angyangie

[2019-04-16 14:15] angyangie commented on #776
Yep! We're done with this

[2019-04-16 14:15] #776 closed, assigned to angyangie

[2019-04-16 14:16] angyangie commented on #775
This is done. Will close

[2019-04-16 14:16] #775 closed, assigned to angyangie

[2019-04-16 14:17] angyangie commented on #771
This is done. Closing

[2019-04-16 14:17] #771 closed, assigned to angyangie

[2019-04-16 14:17] angyangie commented on #772
This is done. Closing

[2019-04-16 14:17] #772 closed, assigned to angyangie

[2019-04-16 14:17] angyangie commented on #773
This is done. Closing

[2019-04-16 14:17] #773 closed, assigned to angyangie

[2019-04-16 19:12] yondonfu opened #824 "Support new TicketBroker contract binding"
Generate and include a new TicketBroker contract binding.

[2019-04-16 19:14] yondonfu opened #825 "pm: Broadcaster can create a deposit and reserve via the node's CLI wizard"
The node CLI wizard currently allows a broadcaster to create a deposit and penalty escrow (with the minimum penalty escrow defined by the contract). The `TicketBroker` contract will be updated to use a reserve instead of a penalty escrow and there will no longer be a contract defined minimum. So, the node CLI wizard workflow will need to be updated to support calling the `fundReserve()` and `fundD

[2019-04-16 19:15] yondonfu opened #826 "pm: Broadcaster can create tickets with creationRound & creationRoundHash"
A broadcaster will need to fetch the current round and the block hash for the current round when creating a ticket. A naive way to do this would be to query the `RoundsManager` contract every time a ticket is created. A better way to do this could be to run a background goroutine that updates an in-memory cache containing the current round and the block hash for the current round and the broadcast

[2019-04-16 19:16] yondonfu opened #827 "pm: Orchestrators can validate tickets with creationRound & creationRoundHash"
An orchestrator will need to fetch the current round and the block hash for the current round when validating received tickets. We can re-use the in-memory cache solution described in #826 - the orchestrator would get the current round and the block hash from the in-memory cache every time it needs to validate a received ticket.

[2019-04-16 19:18] yondonfu opened #828 "pm: Implement orchestrator strategy for generating ticket parameters"

[2019-04-16 19:19] yondonfu opened #829 "pm: Implement orchestrator strategy for winning ticket redemption"
Without taking into account O's strategy for generating ticket parameters, O will have to redeem a winning ticket when we are within X blocks of the ticket's expiration.

Taking into account O's strategy for generating ticket parameters, if O is setting the ticket `faceValue` to B's `maxFloat` (or `maxFloat / 2`), then O will have to redeem a winning ticket as soon as it receives it if O wants to

[2019-04-16 19:20] yondonfu opened #830 "pm: Implement orchestrator strategy for detecting invalid tickets and responding with error mesages"
Upon receiving a ticket, an orchestrator should use the ticket parameter generation algorithm described in https://github.com/livepeer/go-livepeer/issues/828#issuecomment-493498594 in order to determine the required ticket parameters. The orchestrator should compare the parameters of the ticket received with the required parameters. If the parameters are different, then the orchestrator should ret

[2019-04-16 19:22] yondonfu opened #831 "pm: Implement broadcaster strategy for determining whether ticket parameters are acceptable"

[2019-04-16 20:08] iameli commented on #811
@f1l1b0x Yeh, good consideration... potentially in a full API we'll have things like "Output" and "Destination" as top-level constructs that can be shared across multiple ones too.

[2019-04-16 20:10] j0sh commented on #811
If we keep the current notion of a preset, then the destination naming can remain the same, eg

[code]

Of course, if we don't support presets, or when we do arbitrary resolutions, we'll need some way to refer to each rendition.

[2019-04-16 22:37] yondonfu commented on #828
O could generate ticket parameters based on B's reserve. An alternative strategy is to use a fixed faceValue & winProb with B varying the frequency of ticket emission (i.e. sending N tickets per segment depending on the transcoding price). Additionally, @josh states the following:

My questions regarding to using a fixed faceValue & winProb are:

- Wouldn't you still need to adjust faceValue & win

[2019-04-17 01:37] j0sh commented on #828
In retrospect, the use of the word 'fixed' was clumsy. The idea was that the faceValue / winProb would be *common* (or shared) among all Bs using the O, rather than deriving different values based on each B's reserve.

In the case where the gas price fluctuates then you are correct that the faceValue / winProb would have to adjust to maintain the same amount of overhead. That being said, there are

[2019-04-17 11:23] nishakant001 opened #832 "Unable to start streaming using OBS (error : use of close network connection)"
Hi ,
I have started broadcastor node as per the document (connected to rinkeby ) and did the setting in the OBS tool and when start streaming it gives an error and tries to connect the rtmp url i.e rtmp://localhost:1935.

followed the steps to setup OBS from the below link.
 https://github.com/livepeer/wiki/wiki/Blueprint:-set-up-a-broadcasting-node-using-Livepeer-and-OBS

Could anyone please let

[2019-04-17 16:15] j0sh commented on #828
Continuing the discussion from here: https://github.com/livepeer/wiki/pull/36#issuecomment-483869548

That's certainly an option. Seems that O has a few choices here for small [1] reserve amounts:
* Guarantee itself a few winning tickets, regardless of overhead or frequency. Potentially get a smaller cut of each ticket due to gas overhead being larger.
* Guarantee itself a single, larger winning t

[2019-04-17 21:54] yondonfu commented on #828
I think we can via the following formula for `winProb`:

[code]

Given a `faceValue` based on B's max float (we can say that the `faceValue` is the max float for simplicity), if the gas price increases then `winProb` increases. Despite `faceValue` remaining the same, the EV of the ticket is now higher which reflects B paying additional overhead on top of the base transcoding price.

O wouldn't car

[2019-04-18 16:32] yondonfu commented on #828
While considering setting `faceValue` & `winProb` based on B's reserve, here is another thought:

- O sets `faceValue` to the `maxFloat` derived from B's reserve
- O sets `baseWinProb` so that the EV of the ticket pays for a single pixel. Thus, `baseWinProb = pricePerPixel / (faceValue - txCost)`
- When B sends a ticket for a segment, it computes the # of pixels in the segment as `pixelCount`. The

[2019-04-18 17:35] darkdarkdragon commented on #808
In our setup.

We're not using it.

This breaks Docker's abstraction. I can install fluentd on local machine, point docker to it, and point fluentd to Loki running inside docker container on other machine. But this wouldn't work in local docker-compose based setup.

Main issue right now is that `glog` doesn't allow to plug in output drivers to output logs anywhere else than to `stderr`.

That's wh

[2019-04-18 22:18] j0sh commented on #828
Interesting, so the winProb becomes dynamic based on the number of pixels in the segment. Some thoughts about that:

* Does this require that `faceValue` be set based on B's reserve, or could the `faceValue` still be common among all B using the O?

* How could we incorporate various types of accounting into the `baseWinProb` ? In addition to per-pixel accounting, suppose there is per-sample (audi

[2019-04-18 22:24] iameli commented on #812
Closed in favor of the API issues on LivepeerJS https://github.com/livepeer/livepeerjs/issues?q=is%3Aissue+is%3Aopen+label%3A%22API+Node+Prototype%22

[2019-04-18 22:24] #812 closed, assigned to nobody

[2019-04-19 15:03] ericxtang commented on #735
This can be derived from the shared doc during the metrics workshop.

[2019-04-19 16:36] yondonfu commented on #828
Not necessarily, but if a common `faceValue` is used among all Bs using the O there seems to be two options:

1) If O needs to have the `faceValue` guaranteed by B's reserve then O adjusts the `faceValue` down for Bs with smaller reserves which would be similar to always setting `faceValue` based on B's reserve
2) If O doesn't need to have the `faceValue` guaranteed (perhaps because it believes th

[2019-04-19 17:00] j0sh commented on #828
Agreed. FWIW, I was thinking something like this:

[code]

More broadly, one of the advantages of a looser coupling between payments and the work being done is that pre-processing is not necessary to validate the payment itself.

I'm not sure; this seems to imply that the workflow is B sends the ticket *after* the transcoding is done. I was thinking the opposite: B sends the ticket up front along

[2019-04-19 19:56] ericxtang opened #834 "Failure in Broadcaster Multi-O Retry, Causing Skipped Segment."
**Describe the bug**
Sometimes a segment is skipped when the working orchestrator goes down.  This happens for https://github.com/livepeer/go-livepeer/pull/806/commits/ab2c407225877ccc20b6e5f16739ad1d69782d9a

**To Reproduce**
Steps to reproduce the behavior:
1. Run a simple multi-O setup (2 Os, 1 B)
2. Stream a video into B
3. Manually kill the working O
4. Sometimes you see the following error o

[2019-04-22 23:48] iameli opened #836 "Livepeer should identify itself in `user-agent` HTTP header"
**Describe the bug**
Currently, outgoing HTTP requests (at least from the webhook) have a generic go library as its header. I'm getting:

[code]

For a variety of reasons, we should identify ourselves — we already have the version baked into the binary, so we should just be `livepeer/${version}`.

[2019-04-23 00:47] j0sh commented on #834
Fixed in https://github.com/livepeer/go-livepeer/commit/2dcf826485969be9415cc0b93b2237d867ecc751

Note that there are still two types of failures which will *not* cause a retry. These are "local" failures that are unlikely to be solved by another transcode, which are:

* Storing to B's own OS
* Inserting in B's playlist

[2019-04-23 10:58] leopoldjoy opened #837 "CLI should indicate failure when "15. Set transcoder config" is invoked on a block within the RoundLockAmount"
**Describe the bug**
If process `15. Set transcoder config` is invoked from the CLI when the current block is within `RoundLockAmount` of the next round, the CLI prints the following message:

[code]

This is incorrect since the transaction isn't created. The CLI should print a clear message that the parameters cannot be changed due to the `RoundLockAmount` restriction.

**To Reproduce**
Steps to

[2019-04-24 13:43] yondonfu commented on #828
After a few very helpful discussions with @j0sh I am now leaning toward a "fixed EV" approach for generating ticket params. While this approach will have O default to a particular set of ticket params to be used with all Bs, O might have to adjust the ticket params based on B's maxFloat while maintaining a fixed EV so I choose to refer to this as the "fixed EV" approach as opposed to the "common p

[2019-04-25 23:02] ericxtang commented on #832
Hi @nishakant001, thanks for trying out the Livepeer software.  Please follow the instructions in this link for steps to stream your video into your local Livepeer node - https://livepeer.readthedocs.io/en/latest/broadcasting.html

[2019-04-25 23:04] ericxtang commented on #837
Thanks for reporting this bug @leopoldjoy!

[2019-04-25 23:19] ericxtang opened #840 "FFMPEG Test Video Causes Transcoding Issue"
**Describe the bug**
This ffmpeg test video command causes some transcoding issues:
[code]

The video is suppose to look like:

<img width="1680" alt="Screen Shot 2019-04-25 at 7 18 03 PM" src="https://user-images.githubusercontent.com/345743/56774034-e1a1b900-678e-11e9-91cd-093d936ff5b1.png">

But every few segments, it looks like:
<img width="1680" alt="Screen Shot 2019-04-25 at 7 18 06 PM" src=

[2019-04-25 23:36] ericxtang opened #841 "S3 Failure Causes Video To Skip"
**Describe the bug**
When a "save" request to S3 fails, the video stops.

Logs from the O/T:
[code]

Logs from the B:

[code]

**To Reproduce**
Steps to reproduce the behavior (this is not the the original steps because we weren't sure why we got the `EOF` error from S3.  The steps here try to simulate a S3 error).
1. Run a B/O/T local setup with S3 credentials
2. Run a video stream to B
3. Turn t

[2019-04-26 03:22] j0sh commented on #841
I wouldn't call this a bug. We've had discussions about the possibility of supporting multiple object stores to fall back in cases like this, but it's a feature that hasn't been implemented at this point.

For some users, having their broadcast server suddenly serve as the origin point for distribution may be surprising or undesirable, so this is something we need to design around.

Related: https

[2019-04-26 03:58] j0sh commented on #840
Haven't been able to reproduce this in Safari or ffplay [1].

One thing I've noticed is that using a keyframe interval of 60 at 30fps regularly produces segments longer than 2 seconds, which has a higher likelihood of impacting playback. It might help to tighten the keyframe interval to 30 and maybe set a closed GOP, eg: `-x264-params keyint=30:min-keyint=30  -flags cgop`. Using ffmpeg native flag

[2019-04-26 04:04] j0sh commented on #667
Fixed in https://github.com/livepeer/go-livepeer/pull/806

[2019-04-26 04:04] #667 closed, assigned to nobody

[2019-04-26 04:05] #763 closed, assigned to nobody

[2019-04-26 21:52] angyangie opened #843 "Test-harness instances stop receiving streams after certain # of streams sent to it"
**Describe the bug**

When streaming 5 streams into the test-harness (3 from twitch, one from OBS, one from test-harness BBB video), using [this](https://gist.github.com/angyangie/7bedeffd53e1b50e99b24b4a5fb9c00a) `multigroup.js` configuration (20 Ts, 20 Os, 1 B), all orchestrators seem to go offline periodically, for 3-5 minutes at a time. Transcoding rate goes down to 0%, we get `NoOrchestrators

[2019-04-26 21:54] angyangie commented on #843
@darkdarkdragon @ya7ya @j0sh this is happening ... will continue looking into it Monday. If you see anything on your end, feel free to discuss here.

[2019-04-26 22:00] j0sh commented on #843
Just to clarify, does this seem more like an issue with the goclient or the test harness? From a quick glance it appears there are connectivity issues between B/O.

[2019-04-26 22:04] angyangie commented on #843
Yes, I do think you're right. The issue persists even with 2 streams being streamed simultaneously. That shouldn't be the case. I've tested that scenario locally, and all works well

[2019-04-27 23:25] ericxtang commented on #841
I agree @j0sh.  Sorry I wasn't being clear in the bug description - if you look at the O/T node log, you'll see that the POST request failed because of `EOF` instead of `AccessDenied`.  This happened for some unknown reason in the middle of the stream, and the stream stopped after that.  It was hard to reproduce the problem because it felt like a S3 problem.

I'll add some notes to the bug descrip

[2019-05-01 14:01] #822 closed, assigned to nobody

[2019-05-01 21:04] ericxtang commented on #843
Another way to test it is manually deploy on GCP and see if we can reproduce.

[2019-05-01 22:41] j0sh commented on #580
Resolved in https://github.com/livepeer/go-livepeer/pull/738

[2019-05-01 22:41] #580 closed, assigned to eladmallel, darkdarkdragon, yondonfu, angyangie

[2019-05-02 02:57] darkdarkdragon opened #845 "Remote transcoder can't transcode more than one stream"
Remote transcoder feeds to `LPMS.Transcode` function URL of source segment (pointing to orchestrator).
This URL looks like this: `https://orchestrator:8936/stream/manifestid/1.ts`
LPMS, calling ffmpeg lib, sets output destination for transcoded data as this:
`fmt.Sprintf("out%v%v", i, filepath.Base(url))`, where `I` is transcoding profile number.
This means that requests to transcoded segments fro

[2019-05-02 03:03] darkdarkdragon opened #846 "Do not save source segments to disk"
Right now orchestrator always [saves](https://github.com/livepeer/go-livepeer/blob/master/core/orchestrator.go#L280) source segment to disk.
But in case remote transcoders used, this saved files isn't used, and just [deleted](https://github.com/livepeer/go-livepeer/blob/master/core/orchestrator.go#L353) moment after.

[2019-05-02 03:31] darkdarkdragon opened #847 "Transcoder should notify orchestrator on exit"
We don't have timeout on connection between O and T, so right now O becomes aware that T is no longer working is when it sends request to transcode segment.
Transcoder, upon exit, should sending notification to orchestrator, so it can remove it from list of alive transcoders.

[2019-05-02 04:23] darkdarkdragon commented on #845
Suggested [fix](https://github.com/livepeer/lpms/pull/116)

[2019-05-02 15:48] j0sh commented on #846
Yes, there are a number of leftovers here from the old protocol that ought to be cleaned up. In particular, I don't think that saving to disk is necessary anymore. We used to save to disk for claiming / verification (and since we were doing that, it was a small optimization to just reuse the disk store for local transcoding), but that flow isn't here anymore.

Here, we can probably just save direc

[2019-05-02 15:57] j0sh commented on #845
Good catch!

The transcoding API (which is admittedly not great) is getting an overhaul with the GPU support. I've already incorporated the [first suggested fix](https://github.com/livepeer/go-livepeer/compare/master...ja/nvidia#diff-418dc657e12875665c93dffe96a0e464R73) into the goclient's nvidia integration.

Once nvidia integration lands, we can retrofit the software transcoding to use the new A

[2019-05-03 01:56] darkdarkdragon commented on #845
[Here](https://github.com/livepeer/go-livepeer/pull/848/commits/9cdddf8b28d58a5ec7731f319fb70c3cdd0bc880) implementation.

[2019-05-03 16:21] j0sh commented on #847
The transcoder can notify the orchestrator in the "happy" case but I suspect most disconnects will be "unhappy" where the T doesn't actually send out anything (eg, network partition, crash, etc).

It's too bad that gRPC makes it difficult to determine the status of a connection or stream, because then we could skip over disconnected transcoders. One thing we can do is to implement ping-pong keepal

[2019-05-03 20:52] j0sh commented on #846
On my local machine, some perhaps unscientific testing [1] shows that the network-only approach is about 20% slower [2]. Will have to benchmark a bit in different environments where we may be more IOPS constrained or have faster CPUs.

[1]
* Start a B / O both on the local machine. 2014-era Macbook Air, with SSD and a 1.7GHz i7.
* Run a software transcode session for BBB with a single O with/witho

[2019-05-06 19:49] ericxtang opened #851 "Feature: Webhook on B for managing O connection Info in Offchain mode"
**Is your feature request related to a problem? Please describe.**
An operator currently cannot control the O connection information on a B node dynamically (it can only be done on the command line).

**Describe the solution you'd like**
Add an API on B so the operator of a private offchain Livepeer deployment has the ability to:
* Query the orchAddr array on a B
* Dynamically add / remove orchAdd

[2019-05-06 19:53] iameli commented on #851
I kind of like the opposite approach @j0sh suggested - B's fire a webhook to their API node every time they need a list of orchestrators. I like that this causes there to be less state on the Bs and more on the APIs.

[2019-05-06 20:56] j0sh commented on #851
Note that @darkdarkdragon has addressed the first part here by adding the orchestrator address list to the node's `/status` response, so the orchestrator list can be queried via CLI: https://github.com/livepeer/go-livepeer/pull/848/commits/ad31d59f83e8f7d2c096934f449afe3aa0f5324f

[2019-05-08 21:30] angyangie commented on #843
**Update:**

**Another way to reproduce:**
- Deploy 12 instances, 10 Os and 1 B
- Run `./test-harness stream -m 20 <name of your deployment>`
- See in grafana that  "Concurrent Streams" in Grafana = 12 (or another number), not 20 as expected
- Most importantly, curling `curl http://<ip_address>/stream/current.m3u8` will be left hanging. No response
- Stop the stream multiplier, and the  "Concurren

[2019-05-09 22:16] rayj00 opened #853 "Initialize Round Takes 10 Minutes"
**Describe the bug**
Initialize Round takes an extremely long time compared to a month or so ago.
**To Reproduce**
Steps to reproduce the behavior:
 1. Start livepeer as such:  livepeer -rinkeby -rtmpAddr 0.0.0.0:1935 -httpAddr 0.0.0.0:8935 -v 99
 2. Run  'livepeer_cli'
 3. Choose #5 to Invoke "Initialize  round"

**Expected behavior**
In the past, this used to complete rather quickly....1-2 minut

[2019-05-09 22:46] j0sh commented on #853
* Gas estimation on Rinkeby can be a bit wonky. Check https://www.rinkeby.io/#stats and be sure the node is supplying enough (adjust `-gasLimit` and/or `-gasPrice` as necessary).
* Rounds on Rinkeby go by quickly. Rather than manually initialize rounds each time, run another node with the following flags to initialize rounds automatically: `-transcoder -initializeRound=true`.
* Pester one of us to

[2019-05-10 00:10] rayj00 commented on #853
Not sure what I'm supposed to be looking at on rinkeby.io/#stats?
I set the Eth gas price to auto.  It was at 10000.  Not sure what to do with the gas limit?

[2019-05-10 00:15] rayj00 commented on #853
And apparently its not that easy running a transcoder:
root@localhost:~/livepeer0.3.3/livepeer_linux# ./livepeer -rinkeby -transcoder -initializeRound=true .
I0509 19:14:58.909140   30750 livepeer.go:96] ***Livepeer is running on the Rinkeby test network: 0x37dc71366ec655093b9930bc816e16e6b587f968***
I0509 19:14:59.261524   30750 accountmanager.go:58] Using ETH account: 0x35e01199F8137077346FDD476

[2019-05-10 00:21] j0sh commented on #853
The node shuts down because it does an availability check using your public IP. (Otherwise transcoders would never be able to receive work.) As the log suggests, set `-serviceAddr http://127.0.0.1:8935 `.

[2019-05-10 12:10] rayj00 commented on #853
So running a broadcast node and a transcoder node on the same server doesn't seem valid?
Here is how I try to start them:
`livepeer -rinkeby -rtmpAddr 0.0.0.0:1935 -httpAddr 0.0.0.0:8935 -v 99`  This works.
`livepeer -rinkeby -transcoder -serviceAddr 127.0.0.1:8935`  Does not work and get this:
E0510 07:04:30.083361    4821 livepeer.go:356] Could not parse service URI; transcoder may be unreachabl

[2019-05-10 14:46] ericxtang opened #855 "Benchmarking for a SINGLE transcoding node on n1-highcpu-4"
Understand performance of a SINGLE transcoding node on n1-highcpu-4. Use recommended HLS bitrate ladder from Apple. 30 fps for all. (Eli works with Angie on laying out the exact steps here)
* Step1: On GCP: run on high CPU machines with 4 cores
* Step 2: Find out upper bound in transcoding node throughput
  * Run one stream
    * If success rate below {}, increase {} or {}
  * Run two streams

[2019-05-10 14:52] ericxtang opened #856 "Benchmarking B from a streamer's perspective"
Understand performance of a SINGLE broadcast node on high CPU machines with 4 cores (from a streamer's perspective)
* Test segmenter without transcoding
* Measure from a streamer's perspective, including success in ingest and success in output.

**Make sure this is automated and repeatable**

[2019-05-10 14:54] ericxtang opened #857 "Benchmarking on AWS for private deployment"
Get high-level performance metrics on AWS private deployment

* Deploy Prometheus-based metrics system on AWS (through Kubernetes)
* Run a number of streams through the deployment, get success rate & latency.
* Record the results (machine type, # of streams, success rate, latency).

[2019-05-10 14:57] ericxtang opened #858 "Multi-stream deadlock bug"
When streaming multiple streams, the broadcaster hits a deadlock.

Refer to the fix https://github.com/livepeer/go-livepeer/pull/852

[2019-05-10 18:32] rayj00 commented on #853
If I start like this:
root@localhost:~/livepeer0.3.3/livepeer_linux# ./livepeer -rinkeby -transcoder -serviceAddr 127.0.0.1:8935
I0510 13:29:35.305337    7741 livepeer.go:96] ***Livepeer is running on the Rinkeby test network: 0x37dc71366ec655093b9930bc816e16e6b587f968***
I0510 13:29:35.699740    7741 accountmanager.go:58] Using ETH account: 0x35e01199F8137077346FDD476191f1967A52BDb5
I0510 13:29:3

[2019-05-10 18:57] #834 closed, assigned to j0sh, angyangie

[2019-05-10 18:57] ericxtang commented on #834
Fixed as mentioned by @j0sh

[2019-05-10 20:47] yondonfu commented on #853
The Rinkeby round initializer was down for a bit because the ETH node that it was using needed to be upgraded. It should be initializing rounds on Rinkeby now

[2019-05-10 20:57] #843 closed, assigned to angyangie

[2019-05-10 21:07] #858 closed, assigned to darkdarkdragon

[2019-05-11 11:54] rayj00 opened #859 "Job Watcher timeout exceeded; stopping"
**Describe the bug**
On rinkeby:
After ~10 minutes of steaming, the livepeer log is spewing error messages between the LastSeenBlock messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a live stream
2. Verify "Logging SegmentEmerged" output messages on console log.
3. Continue streaming for at least 10 minutes.

**Expected behavior**
A clean console log with no error messages

**

[2019-05-11 11:59] rayj00 commented on #859
Restarting the stream works but the error messages continue.

[2019-05-12 16:19] rayj00 opened #860 "Getting the manifestID?"
**Describe the bug**
I used to be able to retrieve the manifestID by doing a curl -s http://localhost:8935/mainfestID,
but for some reason it is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Run livepeer as a broadcaster
3. Create a stream using OBS
4. Confirm  the manifestID is shown on the console log
5. Run this command on another console terminal:  curl -s http://localhost

[2019-05-13 15:57] ericxtang commented on #859
Thanks @rayj00.  This is a deprecated issue that will go away when Streamflow is deployed (there won't be onchain jobs anymore).

[2019-05-13 15:58] #853 closed, assigned to nobody

[2019-05-13 15:58] ericxtang commented on #853
Closing.

[2019-05-13 22:12] #859 closed, assigned to nobody

[2019-05-13 22:19] j0sh commented on #860
The CLI API is, by default, on port 7935 and has been for some time now. If there's documentation that points to this API on port 8935, let us know so we can correct it. See https://github.com/livepeer/go-livepeer#streaming .

Also there's a typo in the URL, it's `manifestID` rather than `mainfestID`.

[2019-05-13 22:19] #860 closed, assigned to nobody

[2019-05-14 18:45] darkdarkdragon commented on #847
I agree that most disconnects will be "unhappy", but still think it is good to have graceful shutdown of both transcoder and orchestrator. It will at least help when doing upgrades - transcoders will be able shutdown and get back online without introducing unnecessary errors.

I've found way: #861

[2019-05-15 16:55] #832 closed, assigned to nobody

[2019-05-15 16:55] ericxtang commented on #832
Closing due to inactivity.

[2019-05-15 17:33] j0sh commented on #820
Fixed by https://github.com/livepeer/go-livepeer/pull/833/commits/695a9d0771685b4a9c0de403cd4c15687a2bad7a

[2019-05-15 17:33] #820 closed, assigned to nobody

[2019-05-15 17:33] j0sh commented on #819
Fixed by https://github.com/livepeer/go-livepeer/pull/833/commits/20932449408ec2089d57bf023325b5a170766147

[2019-05-15 17:33] #819 closed, assigned to nobody

[2019-05-15 17:34] j0sh commented on #818
Fixed by https://github.com/livepeer/go-livepeer/pull/833/commits/24b949e5f7af099158109059e05854f26ba7ac00

[2019-05-15 17:34] #818 closed, assigned to nobody

[2019-05-15 17:34] j0sh commented on #817
Fixed by https://github.com/livepeer/go-livepeer/pull/833/commits/378e9f4ee5b7d046fb97562e9c92023c10ea834b

[2019-05-15 17:34] #817 closed, assigned to darkdarkdragon, angyangie

[2019-05-15 17:35] j0sh commented on #821
Do we consider this part done?

[2019-05-15 17:35] j0sh commented on #845
Fixed by https://github.com/livepeer/go-livepeer/pull/848/commits/76a5dd8449094d45b26232ba3b9b02f9b4976512

[2019-05-15 17:35] #845 closed, assigned to nobody

[2019-05-16 19:18] yondonfu opened #866 "Payment Accounting v0"
# Payment Accounting v0

## Messages

Introduce a new `PriceInfo` message.

[code]

`PriceInfo` specifies the price for N pixels. By setting the price for a variable number of pixels, we maximize pricing flexibility. If an O wants to specify a price per pixel less than 1 wei then it can set `price` to 1 wei and set `pixels` > 1.

Add `price_info` field to the existing `OrchestratorInfo` message.

[2019-05-16 22:33] j0sh opened #867 "On-disk local storage"
**Is your feature request related to a problem? Please describe.**
Currently, segments within in-memory local storage are rotated out after about a [dozen segments](https://github.com/livepeer/go-livepeer/blob/master/drivers/local.go#L12).

For various reasons, an external OS may not be available or desirable (cost, latency, centralization, ease of testing or integration).

On-disk local storage w

[2019-05-16 23:09] j0sh opened #868 "Document O selection and reliability strategy"
**Is your feature request related to a problem? Please describe.**
We're starting to accumulate quite a bit of "oral knowledge" on how the O selection mechanism works, the overall reliability strategy, and the justifications for that strategy. It would be good to document those.

There are two possible audiences here that the documentation should be addressed towards: developers working on the goc

[2019-05-17 00:31] j0sh opened #869 "Full Playlists"
**Is your feature request related to a problem? Please describe.**

There are a few features on the horizon that might require serving full playlists (rather than a rolling-window live playlist):

* VOD transcoding
* DVR / stream recording
* Time shifting

Supporting full playlists are straightforward (the m3u8 library does this), but the biggest unanswered product questions are around playlist ma

[2019-05-17 00:33] j0sh commented on #588
This issue is a bit dated since a lot of things have changed since then. However, full playlist support is important and we have just as many (if not more) questions about how to handle those. Captured these questions in a more up-to-date issue: https://github.com/livepeer/go-livepeer/issues/869

[2019-05-17 00:33] #588 closed, assigned to dob, ericxtang, eladmallel, darkdarkdragon, yondonfu, angyangie, f1l1b0x

[2019-05-17 00:47] j0sh opened #870 "Test on session-limited GPUs"
**Describe the issue**

By default, retail nvidia GPUs have a system-wide limit on the number of concurrent transcoding sessions. This limit is regardless of the number of GPU cards installed.

We actually haven't tested against this limit since the GPUs available to us through GCP are higher-end professional cards that are uncapped. While this limit can be bypassed through an unofficial patch to

[2019-05-17 01:07] j0sh opened #871 "Use "stream name" rather than "manifest ID""
**Is your feature request related to a problem? Please describe.**
The "Manifest ID" has been a Livepeer-specific concept that has seen quite a bit of evolution. In its current form, the manifest ID can be simply seen as a "stream name".

Referring to the "stream name" throughout the codebase and in our documentation may be more intuitive for users [1] who are unfamiliar with the concept of HLS ma

[2019-05-17 04:12] j0sh opened #872 "Pixel format limitations"
**Describe the bug**

Our nvidia GPU support is currently limited to accepting source videos with 4:2:0 chroma subsampling. Transcoders will send back errors otherwise.

This might not be an issue in practice if there is a sufficient mix of hardware and software transcoders on the network. However, this does bring up some efficiency concerns because it may be difficult to converge on an optimal se

[2019-05-17 04:19] j0sh opened #873 "Logging documentation"
**Is your feature request related to a problem? Please describe.**

We're starting to develop conventions around logging, eg `tag=value`. This is great, and it would be good to document these conventions. Documentation would help developers and users understand the meaning of certain log values and how to track / analyze them over time.

**Describe the solution you'd like**

A `doc/logging.md` pag

[2019-05-17 05:09] j0sh opened #874 "Add Apple HLS Bitrate Ladder"
**Is your feature request related to a problem? Please describe.**

The [Apple HLS authoring spec](https://developer.apple.com/documentation/http_live_streaming/hls_authoring_specification_for_apple_devices) recommends a bitrate ladder configuration - see Table 2. We should add these alongside the presets we currently have.

16:9 aspect ratio | H.264/AVC Bit rate (kb/s) | Frame rate
-- | -- | --
4

[2019-05-17 13:42] ericxtang commented on #821
I remember @angyangie wrote down the acceptance tests.  Angie?

[2019-05-17 15:20] darkdarkdragon commented on #869
Or we can just say that appropriate external service should be used, like [MediaStore](https://aws.amazon.com/mediastore/), and do not try to solve this by ourselves (probably any livestream deployment on AWS will use it anyway).

[2019-05-17 15:36] yondonfu commented on #828
With the latest [payment accounting proposal](https://github.com/livepeer/go-livepeer/issues/866), the relevant TODOs for this issue are:

Update `pm.Recipient` so that instead of being created with `faceValue` and `winProb` it is created with:

- `ticketEV`: The desired ticket EV
- `txGas`: The tx gas of redeeming a ticket
- `targetTxCostOverhead`: The target overhead for tx cost relative to tick

[2019-05-17 15:40] angyangie commented on #821
Yes these are done! I tested locally. What's remaining is test-harness benchmarking.

I'll close this issue.

[2019-05-17 15:40] #821 closed, assigned to nobody

[2019-05-17 19:24] #847 closed, assigned to nobody

[2019-05-17 19:55] yondonfu opened #875 "pm: Fetch OrchestratorInfo updates for a broadcast session in response"
When a broadcaster creates a broadcast session for a particular orchestrator, it should subscribe to OrchestratorInfo updates from the orchestrator so that the broadcaster can be notified whenever the orchestrator updates the required ticket params (when we implement payment accounting this subscription can also be used to receive notifications of updated price).

The subscription would be impleme

[2019-05-17 20:08] j0sh commented on #875
Subscribing via a separate RPC call is one way to do it.

Another is to return the updated pricing info as part of a segment submission request - submit a segment, receive an error response indicating a price update, and go from there. That makes use of the mechanisms we already have in place, rather than adding another RPC call which expands the surface area of the networking protocol.

[2019-05-17 20:24] yondonfu commented on #875
Yeah I see the benefit in minimizing networking surface area. If O responds with an `OrchestratorInfo` message (or whatever message includes ticket params + pricing) in the error I guess B could check the HTTP status code (`http.StatusPaymentRequired`?) to determine whether it needs to parse the error for the ticket params + pricing and any other relevant orchestrator info?

[2019-05-17 20:37] yondonfu commented on #829
Since the #828 will have an orchestrator either use a default faceValue or a faceValue that matches a broadcaster's maxFloat (if default faceValue > maxFloat) there are two cases to handle:

1) If the orchestrator is using a default faceValue that is at least x2 the maxFloat, then the orchestrator can hold on to winning tickets until it has received maxFloat worth of winning tickets
2) If the orch

[2019-05-17 20:57] j0sh commented on #875
We could also put in additional structured error types to the protobuf `TranscodeResult`

https://github.com/livepeer/go-livepeer/blob/d0060bd79fb0e2f60767bc72988e1c2ec10ca45d/net/lp_rpc.proto#L139-L143

Maybe something like a field `OrchestratorInfo info = 16`  [1].

This approach is also nice in that it allows us to update other elements of `OrchestratorInfo` such as transcoder URI, allowing the

[2019-05-18 16:54] chrishobcroft opened #876 "Integrate livepeer with Livepeer Aragon App"
### Problem Statement

Any Livepeer Transcoder which is governed by an Aragon DAO using the [Livepeer Aragon App](https://github.com/videoDAC/livepeer-aragon) calls smart contract functions on Livepeer's Protocol _**via**_ the [Livepeer Aragon App contract](https://github.com/videoDAC/livepeer-aragon/blob/master/livepeer-aragon-app/contracts/LivepeerAragonApp.sol).

The calling of `reward` is curr

[2019-05-18 17:03] j0sh commented on #876
Maybe we can allow `reward` to be called on behalf of any address (rather than white listing or special-casing Aragon). Then anyone could call `reward` for a DAO-controlled contract, or their own transcoder. This would make it easier to automate `reward` calls via an external process, or invoke reward manually if necessary.

[2019-05-18 17:23] chrishobcroft commented on #876
Makes sense to not have special cases.

Would the approach you're suggesting effectively mean creating a role-based permissions system as part of Livepeer's protocol? If so, Aragon have already done a lot of work on this, so it's worth being aware of.

For example, here's a link to [the permissions system for an instance of the Livepeer App in an Aragon DAO on Rinkeby](https://rinkeby.aragon.org/#

[2019-05-20 17:41] j0sh commented on #876
We are discussing validator contracts for other aspects of the protocol, see https://github.com/livepeer/protocol/issues/284 . But these don't seem necessary for `reward` calls, unless there's a reason you would not want someone else to call reward on your behalf.

[2019-05-20 19:17] yondonfu commented on #876
Yep this should be possible with a contract change.

livepeer/protocol#284 isn't really related to `reward` calls - however, it is relevant for an Aragon DAO backed orchestrator because the DAO will need to designate signers that are authorized to sign off-chain data on its behalf. While the Aragon app implements a [SignatureValidator](https://github.com/aragon/aragon-apps/blob/master/apps/agent/c

[2019-05-21 15:00] angyangie commented on #855
Spreadsheet with testing info here: https://docs.google.com/spreadsheets/d/1eChPNzG-VuitEFhK9IiJLc_UTNcY6rYu5oEzTEQ3OLQ/edit#gid=1196904340

Turns out I was doing local testing, not using GC instances. Setting up the instances now with ffmpeg/go/dependencies to continue testing.

[2019-05-21 16:15] ya7ya opened #877 "Exporting Prometheus results after testing"

[2019-05-21 16:15] ya7ya opened #878 "add unit tests to the test-harness"
the goal is to reach 80% coverage

[2019-05-22 17:30] angyangie commented on #855
When we understand the performance of a single machine, we can get a better sense for how to scale our system. How many renditions can 4 cores handle at a time? How many streams? How many Os/Ts are needed to support transcoding for 100 streams in real-time? We should be able to extrapolate how many cores will be needed for any configuration using single transcoder benchmarking.

**Tests and result

[2019-05-24 08:16] darkdarkdragon opened #884 "Segmenter always skips up to first 5 seconds of stream"
**Describe the bug**
Broadcaster, at start of the stream, always drops first frames, up to five seconds.

**To Reproduce**
Steps to reproduce the behavior:
1. Start local broadcaster node
2. Start streaming into it
`ffmpeg -re -i BigBuckBunny.mp4 -c:a copy -c:v copy   -f flv rtmp://localhost:1935/fix`

3. Download first segment
`wget http://localhost:8935/stream/fix/source/0.ts`

4. `ffprobe 0.ts`

[2019-05-24 08:29] j0sh commented on #884
The diagnosis of the behavior is correct, this happens because there's a delay between when the stream comes in, and when the segmenter latches on to the stream.

We actually need to explicitly handle this situation in LPMS by dropping the initial frames in the segmenter until the next keyframe. (Otherwise first segment is unplayable.) https://github.com/livepeer/lpms/blob/master/ffmpeg/lpms_ffmpe

[2019-05-24 08:36] darkdarkdragon opened #885 "Segmenter buffers small segments"
**Describe the bug**
If segments are small (in bytes), segmener buffers them internally and then spits outs them all at once, up to three segments together.

**To Reproduce**
1. Generate test video
`ffmpeg -f lavfi -i sine=frequency=1000:duration=60 -c:a aac -f lavfi -i testsrc=duration=60:size=1280x720:rate=30 -g 60 output2-60-2.mp4`

2. Start broadcaster with one orchestrator.
3. Stream test vid

[2019-05-24 08:44] j0sh commented on #885
This seems like it may be an issue with segment lengths; do they all add up to less than the expected segment size (2sec)?

The rule right now is: we drop segments if there are no orchestrators available, and we only allow one segment in flight per O. (That explains the behavior you see with 'bunched' segments being dropped.) This approach does make it problematic for certain types of jobs, eg bat

[2019-05-24 10:09] darkdarkdragon opened #886 "Orchestrator processes only one segment at time"
**Describe the bug**
Orchestrator was made with assumption that segments coming in with realtime speed, in steady manner. That means, that orchestrator always have `segment length` seconds to process segment before next one arrives. But there are legitimate cases - see [here](#885 ) (and probably it can happen in real networks, with data buffer somewhere along the way and then arrived to broadcast

[2019-05-24 10:16] darkdarkdragon commented on #885
It is problem with byte size of segments. As you can see, I've generated test video, and it have perfect 1 second interval between key frames.

I know that, and this is thing needs to fixed. We aiming not only to decentralized use case, but for enterprises too. Imagine engineer in enterprise, evaluating our software - setting up broadcaster, orchestrator, streaming totally fine stream into it - an

[2019-05-24 10:20] darkdarkdragon commented on #884
From my observation `ffmpeg's` segmenter does it already - segment always starts at keyframe, so I don't see what to do here.

Yes, probably it is. I've put this here so everyone aware about it, plus it will be a problem if decide to use RTMP for VOD.

[2019-05-24 11:24] ericxtang commented on #871
I'm on board for this.  If we want to do this, we should also consider how to name our current `streamID` (which is basically a MediaPlaylist ID inside a MasterPlaylist).

Should we call it `MediaPlaylistID`? or just `PlaylistID`?

[2019-05-24 19:53] j0sh commented on #871
Need to review this a little more closely, but we're using the StreamID structure in progressively fewer places, and the places where we do use it may be fine without it. I've been wondering if we can eventually remove it entirely.

[2019-05-24 20:00] j0sh commented on #885
Dropping segments is no good, but I'd also argue that this particular report is atypical and not a normal case; it feels like something is wrong with the segmenter here if it's bunching up segments and dumping them all out at once. Also see https://github.com/livepeer/go-livepeer/issues/750 - you also said such behavior is not a target use case :)

There are certainly some aspects that have been o

[2019-05-24 21:22] #793 closed, assigned to nobody

[2019-05-24 22:32] j0sh commented on #886
We have to also take into consideration the assumptions we're making for the operating environment.

1. Is the transcoder capable of processing segments in faster-than-realtime? Or if not,
2. Do you have more than one transcoder?

If neither of these are true, then the transcoding environment is not appropriate for live streaming. There's only so much we can (or should) do to fix that. That includ

[2019-05-29 23:06] #824 closed, assigned to nobody

[2019-05-29 23:07] #825 closed, assigned to nobody

[2019-05-29 23:07] yondonfu commented on #825
Closed by #883

[2019-05-30 01:13] yondonfu opened #891 "Add a PriceInfo message for advertising price in OrchestratorInfo message"
Introduce a new `PriceInfo` message.

[code]

`PriceInfo` specifies the price for N pixels. By setting the price for a variable number of pixels, we maximize pricing flexibility. If an O wants to specify a price per pixel less than 1 wei then it can set `price` to 1 wei and set `pixels` > 1.

Add `price_info` field to the existing `OrchestratorInfo` message.

[code]

[2019-05-30 01:14] yondonfu opened #892 "Add a TranscodeReceipt message for reporting pixels processed in TranscodedSegmentData message"
Introduce a new TranscodeReceipt message.

[code]

In the short term, pixels_processed will just track output pixels, but in the future it could track input pixels as well.

Add a receipt field to the existing TranscodedSegmentData message.

[code]

[2019-05-30 01:15] yondonfu opened #893 "Enable sending of multiple PM tickets as a payment with each segment"
B might need to send multiple tickets with each segment in order to meet the minimum credit requirement.

Ex: B's credit balance = 5 ETH, the minimum credit requirement = 10 ETH and O's ticket EV = 1 ETH. In this case, B would need to send 5 tickets to meet the minimum credit requirement

At the moment, B sends a single [Payment](https://github.com/livepeer/go-livepeer/blob/master/net/lp_rpc.proto

[2019-05-30 01:18] yondonfu opened #894 "O creates price info for B based on a base price and payment redemption tx cost overhead"
**TxCostOverhead(addr)**

Should return the overhead (as a float) of payment redemption based on the transaction cost relative to the value of the payment. The overhead will be based on the current gas price. Additionally, when using PM, the overhead will be based on the `faceValue` used for tickets. Since the `faceValue` used for tickets can depend on a broadcaster's reserve, the value returned b

[2019-05-30 01:22] yondonfu opened #895 "O processes payment from B and checks that minimum credit requirement is met"
**ProcessPayment(payment, transOpts, manifestID)**

Should check that a broadcaster meets the minimum credit requirement.

Note: In practice, `ProcessPayment` will include additional logic. That logic is ommitted in favor of focusing exclusively on payment accounting related logic.

[code]

[2019-05-30 01:23] yondonfu opened #896 "O processes transcoded result and debits from B's credit balance"
**TranscodeSeg(segTranscodingMetadata, seg)**

Should return the transcoded results for `seg` based on the requested renditions included in `segTranscodingMetadata` and additional metadata for each of the transcoded results. The transcoded results will be returned as an array `transRes` and the associated metadata will be returned as an array `transResMetadata` such that `transResMetadata[i]` is t

[2019-05-30 01:24] yondonfu opened #897 "B generates a payment that will ensure that minimum credit requirement is met to include with segment"
**PaymentAmount()**

Should return the amount represented by a payment. When using PM, a payment is a ticket and the payment amount is the ticket EV.

**GenPayment(sess, transOpts)**

Should create a payment to be included with a segment to be sent to the orchestrator.

[code]

[2019-05-30 01:25] yondonfu opened #898 "B synchronously processes transcoded results to determine its provisional current credit balance"
**ProcessTranscodedResults(sess, transRes)**

Should compute the output pixels in each transcoded result from the array `transRes` in order to calculate the amount that should be debited from the broadcaster's credit balance. A broadcaster will call this function synchronously after receiving the transcoded results for a segment.

[code]

[2019-05-30 01:26] yondonfu opened #899 "B asynchronously verifies its current credit balance using transcode receipts from O"
**CheckTranscodeReceiptsInBackground(sess, seg, transRes)**

Should check that the information in receipts for transcoded results (i.e. pixels processed) is valid. A broadcaster will call this function *asynchronously* after receiving the transcoded results for a segment. This function should be called asynchronously because we want to avoid as much computation as possible on the critical path for

[2019-05-30 21:25] yondonfu opened #902 "Add helper for computing pixels in segment"
A broadcaster needs to be able to compute the pixels in a transcoded result for livepeer/go-livepeer#899.

This could involve adding a helper to the `ffmpeg` package:

[code]

This will likely require implementing the corresponding function in `ffmpeg/lpms_ffmpeg.c` that uses the ffmpeg C libraries for decoding the video and counting the frames.

[2019-05-30 21:25] #902 closed, assigned to nobody

[2019-06-03 19:30] yondonfu opened #906 "MVP B price per pixel preference setting"
B should be able to set a maximum price per pixel so that it will refuse to work with Os that advertise a higher price per pixel. The node already defines a [BroadcastPrice](https://github.com/livepeer/go-livepeer/blob/master/server/mediaserver.go#L57) which is configurable via the CLI wizard. For this MVP price preference setting we can just update that variable to indicate a price per pixel in s

[2019-06-03 19:49] darkdarkdragon opened #907 "Orchestrator should not do own connection capping when using remote transcoders"
Orchestrator's own connection capping was created for orchestrator doing transcoding by itself. For remote transcoders, there is another mechanism protecting transcoders from overload (each transcoder specifies own cap and orchestrator doesn't send more jobs then that cap to transcoder). But when remote transcoders connected, own orchestrator's capping still works, and takes precedence of transcod

[2019-06-03 20:09] angyangie commented on #597
I'm looking into this ticket now @ericxtang ... does this kind of logging suffice? This is an older ticket, so logging might have changed.

<img width="1676" alt="Screen Shot 2019-06-03 at 2 33 32 PM" src="https://user-images.githubusercontent.com/16169518/58830663-cf7e2a80-8618-11e9-809c-089f5932608e.png">

As for how to validate credentials on boot-up, it seems like we'd have to call a service t

[2019-06-04 19:23] yondonfu commented on #707
Closed by #881

[2019-06-04 19:23] #707 closed, assigned to yondonfu

[2019-06-05 20:44] mkrufky opened #909 "rtmpwebhookauth.md is difficult to understand due to grammar and typos"
**Is your feature request related to a problem? Please describe.**
liverpeer should be livepeer, sentences should have a subject and a predicate.  If we make this more widely understood, we'd probably instill higher confidence levels from implementors and investors

**Describe the solution you'd like**
This must be re-written and reviewed

[2019-06-05 20:59] ericxtang commented on #597
I think trying to upload & delete a small file on boot-up in this case will create a better user experience.

[2019-06-06 00:34] darkdarkdragon commented on #597
Potentially, provide credentials can only have rights to write and no rights to delete.

[2019-06-06 14:24] ericxtang commented on #597
Good point.  I think in that case, writing a simple test file would be helpful - even if it leave some artifact there.

[2019-06-06 14:31] angyangie commented on #597
Cool, by `simple test file` do you mean, we just try to do an upload on boot-up, even if delete is not an option? Presumably with a tiny file?

[2019-06-06 17:59] chrishobcroft commented on #876
Related question: if I were to use the Livepeer Aragon App to register itself as a Transcoder (with address 0x123...) and set their ServiceURI to be the same as that of a running Livepeer Node (with address 0xabc...), what would happen when video was sent to the ServiceURI to be Transcoded?

Let's assume that 0xabc... is **not** part of the active set.

![image](https://user-images.githubuserconte

[2019-06-06 18:44] mk-livepeer opened #910 "go-livepeer build instructions are missing some dependency install steps"
* Missing autotools dependency requirement (automake, autoconf, autoreconf)
* Missing GNUTLS dependency requirement

MacOS:
`brew install automake`
`brew install gnutls`

Linux:
(Debian-based, includes Ubuntu)
`apt-get install automake build-essential ssh`
(Redhat based, includes centos, fedora)
`yum install automake ssh`

[2019-06-07 10:27] darkdarkdragon commented on #885
That was before I fully understood how our system works.

And rule `one segment in flight` makes reliability worse. It was introduced to prevent backlogging on orchestrator, but now orchestrator has own mechanism to prevent overload, so that rule (`one segment in flight`) no longer needed.

Also, just overall feeling - our code depends on timing, and it just doesn't feel right and make our code fr

[2019-06-07 15:35] ericxtang commented on #597
Yes.  I think if upload fails, we should exit.  And then we can try to delete the file (it's fine if that fails).

[2019-06-07 17:11] yondonfu commented on #910
#888 updated the build instructions to include some missing dependencies (mainly based on the ones used [here](https://github.com/livepeer/go-livepeer/blob/master/docker/Dockerfile#L7)). `automake` and `ssh` are the two dependencies mentioned here that are *not* included in the current documentation - I'm not sure that these are needed? The [documentation](https://github.com/livepeer/go-livepeer/b

[2019-06-07 17:20] kyriediculous commented on #894
@yondonfu Is an O configuring BasePriceInfo part of the scope for this issue?
Since I don't see an issue describing this separately I assume it is, but just wanted to make sure.

[2019-06-07 18:57] #893 closed, assigned to nobody

[2019-06-07 19:19] yondonfu commented on #894
Yeah. I think O could specify the `-pricePerUnit` and `-pixelsPerUnit` flags. An alternative would be to have a single `-pricePerPixel` flag that accepts a float, but it might be preferable not to deal with floating point math if possible...

The default for `-pixelsPerUnit` could be 1, so typically a user that wants to adjust the price per pixel would only need to modify the value for `-pricePerU

[2019-06-07 19:31] #891 closed, assigned to nobody

[2019-06-07 20:59] mk-livepeer commented on #910
I can run through a fedora / redhat / centos install at some point to double check the instructions, there....    Meanwhile, `automake` is indeed necessary, but `ssh` isn't necessarily needed.  `GNUTLS` is.  GNUTLS is achievable by installing a few different packages, but it will most definitely be installed with `ssh` , which is easier for most cases.

[2019-06-07 22:28] iameli opened #912 "bitrate"

[2019-06-07 22:29] iameli commented on #912
lol oops. I thought that was a ZenHub search bar, not an issue creator.

[2019-06-07 22:29] #912 closed, assigned to nobody

[2019-06-11 01:48] yondonfu commented on #894
Instead of defining a custom `PriceInfo` struct, we could use a [big.Rat](https://golang.org/pkg/math/big/#Rat) instead to store a rational number representing `pricePerUnit / pricePerPixel`. Usage would look something like the following:

[code]

[2019-06-11 14:16] yondonfu commented on #876
Video would be sent to node 0xabc and it *should* only transcode the video if it is in the active set because only orchestrators in the active set would be paid. I don't think this is the behavior for the latest V1 release, but it should be the behavior in the Streamflow release.

[2019-06-11 16:09] yondonfu commented on #906
The second part of this issue will require a broadcaster to filter out orchestrators that advertise a price higher than the broadcaster's max price.

We can introduce a predicate function to the orchestrator pool struct defined in the [discovery](https://github.com/livepeer/go-livepeer/blob/master/discovery/discovery.go#L24) package:

[code]

An additional constructor `NewOrchestratorPoolWithPredi

[2019-06-11 18:31] #112 closed, assigned to iameli

[2019-06-11 18:31] #573 closed, assigned to nobody

[2019-06-11 22:42] #826 closed, assigned to nobody

[2019-06-11 22:42] #827 closed, assigned to nobody

[2019-06-11 22:44] yondonfu commented on #828
Closed by #904

[2019-06-11 22:44] #828 closed, assigned to nobody

[2019-06-11 22:45] yondonfu commented on #830
Closed by #904

[2019-06-11 22:45] #830 closed, assigned to nobody

[2019-06-11 22:45] yondonfu commented on #875
Closed by #905

[2019-06-11 22:45] #875 closed, assigned to nobody

[2019-06-12 20:25] mkrufky opened #913 "go-livepeer should use https rather than http for data sharing between nodes"
as long as http is used to pass segments between nodes (rather than https), we risk that a bad transcoder actor may try to inject bad video data into the pipeline

***if https is served directly from the node, then the node *must* be built using latest stable golang.   If we wrap the endpoints in question with nginx+tls, this becomes a non-issue, but still, all services should communicate via http

[2019-06-12 20:27] mkrufky opened #914 "go-livepeer should stream data rather than accumulate data and return"
golang is great for concurrency and streaming.  we add tons of latency by waiting for data to arrive before passing it on.   i can elaborate more on this later

[2019-06-12 20:41] darkdarkdragon commented on #913
https is being used to pass data between Livepeer nodes. Only broadcaster serves data using http.

[2019-06-12 20:51] mkrufky commented on #913
nothing should use http or else we risk false data injection.   @angyangie is showing me here how the transcoder is pulling from the orchestrator via HTTP and not HTTPS.   Additionally, the output m3u8 is available over HTTP, not HTTPS, and so are the segments within

[2019-06-12 20:58] darkdarkdragon commented on #913
Can you please show me too?  It can be configured to use http, but by default it is uses HTTPS.

It's really not Livepeer Broadcaster's job to properly serve HTTPS. It should be done by external tooling.
P.S. btw, even HTTPS is used to communicate between Livepeer nodes, it doesn't saves us from anything - we don't have (yet) proper checking of certificates in place.

[2019-06-12 21:08] mkrufky commented on #913
....yondon just explained to me that the verifier is set as to InsecureSkipVerify .....

Clearly I need to grok thru this a bit more .....   If the reasoning behind this is to ease in testing, then it makes good sense, but it should be an option.  HTTPS should be required by default STRICTLY, and we should make the appropriate arrangements to disable this esily for testing's sake

[2019-06-12 21:11] j0sh commented on #913
Yup, this is the reason we don't have HTTPS enabled on the broadcaster (which is what serves the m3u8 and segments for playback). There's some minor TODOs there related to passing in certs via CLI flags (easy to do but just something that needs to be done), but the real problem is the UX around tooling and testing. Generating and installing self-signed certs adds another step to what is already an

[2019-06-12 21:26] mkrufky commented on #913
There are better more idiomatic ways to achieve this now in golang.  I implemented it in my own pool stratums, but then disabled it when it failed due to the miner stratums not passing the hostname in the http request.  Now, instead, i do the certbot txt record registration "dance" , but that's for a much different use case.

For on-the-fly node-to-node https, we can use the method described here:

[2019-06-14 19:15] #894 closed, assigned to kyriediculous

[2019-06-15 10:37] kyriediculous commented on #906
I like the alternative better, since we're also defining `PriceInfo` on `core.LivepeerNode`. This gives a more consistent approach. The `LivepeerNode` struct is being shared and not copied everywhere that I see it anyway so adding some extra fields to this for the sake of code sanity shouldn't be that worrysome either I think.

Which one has your preference @yondonfu ?

[2019-06-15 14:24] yondonfu commented on #906
Defining `MaxBroadcastPrice` on `core.LivepeerNode` sounds reasonable to me!

[2019-06-17 01:41] mkrufky opened #918 "devtool setup does not provide `pricePerUnit` argument"
I've been setting up broadcasters and transcoders as follows:
[code]
...and each of the following in separate sessions:
[code]
[code]
The scripts are missing the `pricePerUnit` argument - go-livepeer complains:
[code]

[2019-06-17 14:45] mkrufky opened #919 "devtool script should run in CI; required for PR approval"
The devtool script is very helpful for development and testing.  We should always be sure that any changes to procedure are accounted for in this script.

[2019-06-17 14:58] yondonfu commented on #895
We're currently planning on tracking credit balances locally on a per stream basis with relevant state flushed when the session with a stream times out (at the moment, approximately [1 minute](https://github.com/livepeer/go-livepeer/blob/master/core/orchestrator.go#L32) without receiving a segment). Orchestrators are already tracking session state using the [SegmentChans](https://github.com/livepe

[2019-06-17 15:10] yondonfu commented on #896
While the completion of this feature is blocked by livepeer/lpms#124, we can still implement the debit logic described in the OP by temporarily hardcoding the number of pixels that should be used as an input (as well as the orchestrator's current price) in calculating the amount to debit from the broadcaster's credit balance. This approach would allow us to focus on completing an e2e payment accou

[2019-06-17 15:38] j0sh commented on #895
The SegmentChan table is what keys into active transcode loops.

Within the transcode loop we already maintain some per-session state within the `transcodeConfig` struct. Should we try maintaining the balance within that, rather than introduce another level of data encapsulation?

On a per-segment basis, any new credit can be carried within the `SegTranscodingMetadata`. Within the transcode loop,

[2019-06-17 15:40] kyriediculous commented on #918
Ah yes this can be the case indeed.

This was introduced in #916

We are demanding an orchestrator to set `pricePerUnit` explicitly to prevent free transcoding unknowingly.
The value defaults to 0 but will also throw a fatal error when it is 0.

Adding the flag and setting it to an arbitrary number greater than 0 should fix the issue.

[code]

[2019-06-17 17:28] kyriediculous opened #921 "devtool.go - invalid cross device link error on linux."
**Describe the bug**
Linux devices don't seem to like Golang's `os.Rename` , `the cmd/devtool/devtool.go` script is failing here in particular

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Spin up an ubuntu 18.04 vm
2. Build the go-livepeer repo
3. Run the commands described in #918
4. See error

[code]

**Expected behavior**
Expect tempKeystore to be renamed without errors

**Desk

[2019-06-17 19:28] yondonfu commented on #895
Yep I just meant that each `SegmentChan` corresponds to a session (since a `SegmentChan` keys to an active transcode loop for the session).

Good point! I'd prefer to avoid defining another wrapper struct as well. Technically, I don't think we even need to include the credit balance in the `transcodeConfig` struct since none of the functions that accept a `transcodeConfig` param need the credit ba

[2019-06-17 22:39] j0sh commented on #895
Yeah, I like that too. I've been trying to keep such config structs immutable to make things easier to deal with across multiple goroutines. If we can avoid stuffing mutable state into long-lived structs, that's a win. Otherwise, we have to tread carefully and either add locking everywhere mutable fields are used, or ensure that the struct is never shared across goroutines (and golang cannot give

[2019-06-17 22:49] j0sh commented on #910
`gnutls-dev` is the apt package that's needed for ffmpeg. In lean distros like Debian, `git`, `pkg-config` and friends might be needed as well.

This is what's in the CI config for LPMS: https://github.com/livepeer/lpms/blob/master/.circleci/config.yml#L26

[2019-06-17 22:54] j0sh commented on #907
We should keep the separate session cap for O even with attached transcoders. There are a couple cases where having a separate cap might make sense for the user:

* O wants to over-subscribe its attached capacity a bit, eg to leverage downtime in between segments.

* O has other types of resource limitations that force it to under-subscribe relative to its attached capacity.

The session cap is a

[2019-06-17 23:09] j0sh commented on #906
Sure, that works. We could also make `MaxBroadcastPrice` global to `core`, but I suspect we'll need to be read-locking this for true thread safety since the value is modifiable via CLI.

While we're on the topic of how to integrate this, may I ask to also update the DB cache implementation to store pricing information as well. The intent has been to use the DB as a quick first pass over the candid

[2019-06-17 23:13] j0sh commented on #878
Does this issue belong in the test-harness repo?

[2019-06-18 16:53] darkdarkdragon commented on #907
Can you explain this a little bit more? I don't understand it.

[2019-06-18 17:04] kyriediculous opened #924 "O should be able to modify priceInfo through CLI when node is already running"
**Is your feature request related to a problem? Please describe.**
Orchestrators can now set `pricePerUnit`and `pixelsPerUnit` (required) flags when starting their node to advertise their pricing preferences on a per pixel basis. This change was introduced with #916. There is no way for O's to change this information through the CLI when the node is already running.

**Describe the solution you'd

[2019-06-18 17:54] kyriediculous commented on #906
While I agree that we should reduce the time to transcoding as much as possible, I also think we should enable broadcasters (and all participants on the network, for that matter) to be able to make optimal economic decisions.

That means if we implement such a design that we should also enable broadcasters to determine the rate at which they want to refresh the entire pool rather than hard-coding

[2019-06-18 18:33] kyriediculous commented on #910
This should be resolved by #888 already @mk-livepeer , can you verify?

NodeJS is also removed from the dependency install instructions by #935

I'm closing this issue for now, but feel free to re-open.

[2019-06-18 19:04] yondonfu commented on #895
Good point. With that in mind, I now favor having the goroutine in `(*LivepeerNode).transcodeSegmentLoop()` close over a local variable which not only avoids adding mutable state to the `transcodeConfig` struct, but also keeps the credit balance state isolated in the single area of the codebase that it is needed.

Definitely. My suggestion is `balance` for brevity.

[2019-06-18 19:23] yondonfu opened #925 "B should be able to control how often it refreshes its O list"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, when running in on-chain mode, B will refresh its cached O list once every 1 hour which is a [hardcoded constant](https://github.com/livepeer/go-livepeer/blob/master/discovery/db_discovery.go#L15). The length of the refresh

[2019-06-18 19:40] yondonfu commented on #906
Yeah - regardless of where we put it, I think we'll need to lock it with a `sync.RWMutex`.

This flow looks right to me.

@kyriediculous I've created #925 to track this. I think we can proceed with implementing this issue and address adjustable refresh intervals later on.

Ah I missed this when I was skimming the file - good catch. If we're already importing `server` in the `discovery` package, I'

[2019-06-18 19:44] j0sh commented on #925
Configuring the refresh interval seems harmless.

One thing I like about having an O cache (with periodic refreshing) is that it discourages pricing volatility. Highly volatile prices for transcoding just harms the end user experience IMO. I'd even be in favor of bumping up the default refresh interval to something longer, like 1 day.

[2019-06-19 08:06] j0sh commented on #907
An O doesn't receive a new segment immediately after it completes an earlier one. Depending on whether an O processes its typical workload slower or faster than realtime, the O may want to increase its utilization by over-subscribing. Some examples:

If it takes 2.5 seconds to transcode a 2 second segment, given current B behavior, the O will only receive every other segment (or fewer). There will

[2019-06-19 10:13] #918 closed, assigned to nobody

[2019-06-19 10:13] #921 closed, assigned to nobody

[2019-06-19 10:49] kyriediculous commented on #906
While it still doesn't seem optimal to me to import the` server` package solely for an interface, variable and a single client-side method I think we can move on for now. But it might be worthwhile revisiting this structure in the future.

[2019-06-19 15:36] kyriediculous commented on #924
From the broadcaster side who can set a maximum price preference ( #906 ), whenever an O updates his `priceInfo` mid-stream that is above B's `MaxBroadcastPrice` the B should be able to fluently switch to a new O with 'priceInfo` below B's 'MaxBroadcastPrice` .

I should probably make a seperate issue for this but the scenario above would only be allowed to happen when both this issue and #906 are

[2019-06-19 15:39] kyriediculous commented on #919
The only thing I'm not certain about is , should we run the generated  bash scripts in `devtool.go` as part of this additional check.
Considering flags and their respective arguments should already be covered by `test_args.sh`

[2019-06-19 15:42] j0sh commented on #919
The tricky part here is that devtool expects a geth running somewhere with the Livepeer contracts deployed. If we can figure out how to get that working for CI then that'd be great.

[2019-06-19 16:13] kyriediculous commented on #919
I believe @mkrufky ran this against a docker image Ivan made (#918) . We should be able to run the script against the image, no?

[2019-06-19 17:03] #909 closed, assigned to nobody

[2019-06-19 17:55] yondonfu commented on #919
We should be able pull down the [geth-with-livepeer-protocol](https://github.com/livepeer/docker-livepeer/tree/master/geth-with-protocol) Docker image that is now hosted on the Livepeer DockerHub.

There is also an open [issue](https://github.com/livepeer/protocol/issues/295) to auto-build and push a new image whenever a new contracts PR lands on the `pm` branch.

[2019-06-19 18:28] yondonfu opened #927 "pm: B ticket param validation mid-stream"
While #831 will implement B validation of ticket params during O discovery, B should also validate new ticket params received when O sends B an updated OrchestratorInfo message mid-stream. If the ticket param check for the updated OrchestratorInfo message fails, then B should switch away from the current O.

[2019-06-19 20:06] yondonfu commented on #831
The ticket params that are the most important for B to validate are the ticket `EV` and the ticket `faceValue`.

The ticket `EV` is important to validate because the higher the `EV`, the more value B must put at risk prior to O performing any transcoding. This is because we are planning on treating the ticket `EV` as a minimum credit requirement enforced by O. B has to send a ticket worth `EV` to

[2019-06-19 20:52] yondonfu commented on #634
A few things have changed since this issue was originally created. Most notably, `faceValue` and `winProb` can now change mid-stream since these values are computed dynamically based on O's current view of the network gas price as well as B's max float. The OP proposes an absolute counter for invalid acceptable tickets with counter resets triggered when O redeems a winning ticket - the original mo

[2019-06-20 10:21] kyriediculous opened #929 "B should be able to react to PriceInfo updates from O mid-stream and adjust according to its MaxBroadcastPrice"
**Is your feature request related to a problem? Please describe.**
#924 would allow an O to adjust the `PriceInfo` he sends along with `OrchestratorInfo` mid-stream through the CLI. A B would be notified of such an update when a transcoded segment is returned along with `OrchestratorInfo`

B should then be able to check that the updated `PriceInfo` from O, it is still below B's `MaxBroadcastPrice`

[2019-06-20 13:13] yondonfu commented on #929
Prior to selecting Os from its DB cache, B should iterate through its current in-memory O list (represented by a set of [broadcast sessions](https://github.com/livepeer/go-livepeer/blob/master/server/broadcast.go#L30) each with its own O. I believe the flow would look something like the following:

1. O sends an OrchestratorInfo update to B
2. B checks the price included in the OrchestratorInfo up

[2019-06-21 08:16] j0sh opened #930 "CI for GPU testing"
**Is your feature request related to a problem? Please describe.**
We have GPU tests for the goclient and LPMS, but they aren't run automatically as part of the overall CI process.

**Describe the solution you'd like**
Run GPU tests automatically with each PR.

[2019-06-21 18:36] yondonfu opened #932 "O should monitor B's reserve after it is cached"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, O caches B's reserve alloc (i.e. the portion B's reserve guaranteed to O). There are a few cases where B's reserve alloc for O could change:

- B tops off its reserve
- The round changes and the reserve alloc changes because

[2019-06-21 20:33] kyriediculous opened #934 "Update DB cache to store Pricing information"
**Is your feature request related to a problem? Please describe.**
#906 allows broadcasters to optionally set a `MaxBroadcastPrice` to filter the orchestrators in the cached orchestratorpool based on an O's pricing info.

This results`getOrchestratorInfo` call for every orchestrator in the cached `orchestratorPool` , which might result in a lot of requests being sent when there hundreds of orchest

[2019-06-21 21:45] yondonfu commented on #934
We shouldn't need to access `server.BroadcastPrice` in `(*DB).SelectOrchs()` because we can either modify `(*DB).SelectOrchs()` to accept the max price as an argument or create a new method `(*DB).FilterOrchs()` that accepts a filter config struct that carries the max price (and potentially other filter requirements in the future). Under the hood, a simple approach could be to iterate through the

[2019-06-21 22:14] #910 closed, assigned to nobody

[2019-06-24 15:18] yondonfu opened #936 "Add PM ticket information to metrics"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Both broadcasters and orchestrators would benefit from aggregated data about non-winning and winning tickets received.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Add support for sendi

[2019-06-25 03:02] yondonfu commented on #895
Just wanted to note that one downside of applying credits/debits and maintaining the broadcaster's balance within the goroutine associated with `(*LivepeerNode).transcodeSegmentLoop()` is that the orchestrator will still download the input segment even if the broadcaster's balance ends up being insufficient for the orchestrator to proceed with transcoding.

[2019-06-25 06:32] j0sh opened #938 "Latency Based O Selection"
**Is your feature request related to a problem? Please describe.**

The broadcaster's orchestrator selection algorithm currently works by popping [O off a stack](https://github.com/livepeer/go-livepeer/blob/master/server/broadcast.go#L52-L65). The [attached diagram](https://sequencediagram.org/index.html#initialData=C4S2BsFMAICECcD2BDAJgY2QZ2Je0B5edAC2gGVIp1REA7AKAYAdl5R0RW7hoAiBCgzZc8PtGzQsWJgwBG

[2019-06-25 06:51] kyriediculous commented on #934
Since we're storing `*big.Rat `as `[]byte` blobs  in SQL using `GobEncode/GobDecode` I'm not sure if we can do this in the SQL query itself ? Or are there better alternatives for storing?

[2019-06-25 07:00] j0sh commented on #934
This would be preferable.

I would not do this, because it makes interoperability with non-golang tooling harder. We could store the result of the division, maybe as an integer shifted up by some amount ([fixed point](https://en.wikipedia.org/wiki/Fixed-point_arithmetic)).

[2019-06-25 13:57] kyriediculous commented on #934
That _could_ work since we're getting the `big.Rat` anyway when we refetch `OInfo` and merely using the value stored in SQL for comparison, you're right.

It would however mean that we'd also have to get the fixed point of the `BroadcastCfg.MaxPrice()` (not that big of a deal) but we'd lose some accuracy I think? We've started using `big.Rat`to avoid dealing with fixed points/floats in the first p

[2019-06-25 16:46] yondonfu commented on #934
Converting the price into a fixed point number and storing it as an integer sounds reasonable to me. If we use a scaling factor of 1000, we can still store prices as low as .001 wei per pixel and that are in increments of .001 wei per pixel without losing precision which seems ok. I think the question is: does .001 wei per pixel seem like a reasonable floor on how low an orchestrator can set its p

[2019-06-25 16:52] yondonfu commented on #938
In the diagram, should "Seg 2 Response" be returned by OrchB and not by OrchC?

[2019-06-25 16:54] j0sh commented on #938
Ah yep - fixed

[2019-06-25 19:27] #906 closed, assigned to kyriediculous

[2019-06-26 23:26] kyriediculous opened #940 "cmd: Refactor main() through helpers."
**Is your feature request related to a problem? Please describe.**

- We should prevent the main function from terminating before deferred functions can be executed. Currently we are mainly using `glog.Fatal` which is equivalent to calling `os.Exit(1)`, this exits the program not allowing any deferred functions to run.

- In some statements `panic` is used, which executes deferred functions after

[2019-06-27 00:13] j0sh commented on #940
Generally I agree that the `livepeer.go` could use some cleanup ; see https://github.com/livepeer/go-livepeer/issues/710

I don't really agree with this reason in itself; while it certainly helps to break out related pieces of logic into their own functions (since that's what functions are for, after all), doing this for the sake of "keeping functions short" usually results in unnecessarily deep c

[2019-06-27 00:51] kyriediculous commented on #940
To clarify, I'm talking explicitly about the main function, not other functions. In my opinion, the main function should be used to fire up the program and nothing else.

Perhaps I should remove the numbering in the original post, as I did not want to imply that this is the most important reason. The most important reason should be maintainability and being able to do proper error handling (as was

[2019-06-27 02:31] kyriediculous commented on #895
After going through the current code, I agree with this.
_______

Shouldn't we represent `credit` hereafter `balance`  as a `big.Int` rather than a `big.Rat` ?

[2019-06-27 15:33] yondonfu commented on #895
Since we're representing the price per pixel as a `big.Rat` the debit amount (calculated as `pricePerPIxel * numPixels`) will also be a `big.Rat`. The debit amount will need to be subtracted from `balance` so I think it makes sense for `balance` to also be a `big.Rat`.

[2019-06-27 17:45] mk-livepeer opened #941 "nodes should use an external queue to manage work"
Broadcasters should make work available to orchestrators via an external queue, and orchestrators should make work available to transcoders via external queue.

An example of an external queue is [RabbitMQ](https://www.rabbitmq.com) or [SQS](https://aws.amazon.com/sqs/features/), although we may decide to use another solution.  SQS itself is available to run standalone without amazon, and is also

[2019-06-27 20:22] yondonfu opened #942 "DB backed ticket retry queue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#926 adds an concurrency safe in-memory queue that keeps track of winning tickets that are awaiting redemption because the sender's max float was insufficient to cover the ticket face value when the recipient originally attempted to redeem

[2019-06-27 20:34] yondonfu opened #943 "Redeem tickets if sender max float is insufficient but tx cost is covered"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#926 has a recipient redeem tickets from a queue when the ticket at the head of the queue is covered by the sender's max float. In the case where a sender's reserve is too low, if a recipient only redeems tickets if the sender's max float

[2019-06-27 21:58] #829 closed, assigned to nobody

[2019-06-27 23:10] j0sh commented on #941
We should make a distinction between queues for broadcasters, and queues for orchestrators. They have very different implications, so should be looked at separately in order to keep the discussion focused.

But some general notes along the idea of using an external queue rather than the notion of queuing itself:

Curious, which nodes are these? Specifically, what's the topology you have in mind? T

[2019-06-28 19:30] #934 closed, assigned to kyriediculous

[2019-06-28 20:20] kyriediculous commented on #895
Now that I'm actually trying to map how to implement this I'm wondering if there aren't better tradeoffs to make rather than keeping track over a local `balance` variable in the transcoding loop.

Wouldn't it be simpler to track this in a seperate mapping `(*LivepeerNode).Balances - map[manifestID]*big.Rat` and flush that state where we flush the SegmentChans? https://github.com/livepeer/go-livepe

[2019-06-28 22:02] yondonfu opened #945 "Broadcaster can cache ticket parameters"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#944 implements ticket param validation for broadcasters when calling `GetOrchestrators()` prior to starting a stream. Since the broadcaster is already fetching an `OrchestratorInfo` message from all orchestrators in order to cache prices

[2019-06-28 22:09] yondonfu opened #946 "pm: RoundsManager implementation that maintains a cache"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, both [pm.Sender](https://github.com/livepeer/go-livepeer/blob/master/pm/sender.go#L34) and [pm.Validator](https://github.com/livepeer/go-livepeer/blob/master/pm/validator.go#L35) rely on the `RoundsManager` interface in orde

[2019-06-28 22:13] yondonfu opened #947 "pm: SenderManager implementation that maintains a cache"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

#944 introduces the `SenderManager` interface which exposes a method for fetching on-chain information about sender including its deposit and reserve. `pm.Sender` uses the `SenderManager` interface and in the PR the interface is implemente

[2019-06-30 14:22] yondonfu commented on #945
In the Go code, `faceValue` is represented as a `big.Int` which leaves us with the following options for storing the value in the SQLite DB:

**a)** Store as a `blob`
**b)** Store as `integer`

Option **a** would allow us to store arbitrary values for `faceValue`. However, we would not be able to use SQL queries to filter based on `faceValue` and it would hurt interoperability with non-Go tooling.

[2019-06-30 18:38] yondonfu opened #948 "B should send price with segment"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When B submits a segment to O, it should know the price that it is paying for the transcoded result.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

When B sends a segment to O, it can inc

[2019-07-01 15:40] #778 closed, assigned to j0sh

[2019-07-01 15:48] j0sh opened #950 "Evaluate dual encoding+mining"

[2019-07-01 15:52] j0sh opened #951 "scale_cuda broken on GPU decode + resize, SW encode"
Workflow: NVDEC decode, scale_cuda resize, x264 encode

FFmpeg does not see the pixel format after hwdownload from nvidia GPU, even though we know the GPU decoder (and therefore the scaler) operates on NV12. Probably missing setting the pixel format somewhere in the LPMS code between the scaler and the encoder.

Note that setting the `,format=nv12` option after hwdownload as part of the filter str

[2019-07-01 15:57] j0sh opened #952 "Incorporate pricing into O selection"
Currently, we filter out orchestrators higher than the broadcaster's maximum price. However, there may still be orchestrators within that set which offer a significant cost savings relative to others.

We should offer options to take pricing and other economic factors into consideration when selecting Os, on top of latency. These factors may involve: the price per pixel, the ticket EV, the face va

[2019-07-01 16:32] yondonfu commented on #895
I actually think closing over a balance variable with the transcode loop is the simplest approach since state flushing is automatically handled when the loop times out without any additional changes. Placing the credit balance maintenance logic in the transcode loop has the nice property of tying the balance with the lifecycle of the loop (i.e. the balance only exists for as long as the loop), but

[2019-07-01 18:42] iameli opened #953 "Implement HTTP POST/PUT ingest of video segments"
This is designed to be a simple API for backing external API services such as the Wowza plugin.

### Request: `POST /:streamKey/:segment.ts`
Required Headers:
* `Content-Type: video/MP2T`
* `Accept: multipart/form-data`

Example: `POST /stream/eli/1.ts`

This posts in an MPEG-TS video segment to a go-livepeer broadcaster. The URL structure uses the same patterns we use for RTMP URLs — the "stream

[2019-07-01 21:29] yondonfu opened #954 "Include pricePerPixel in Payment message"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, B expects to pay O's last known price when it submits a segment - B expects the fee debited from its balance for a transcoded result to be the # of pixels processed * O's last known price. However, this expectation can be left u

[2019-07-01 21:30] yondonfu opened #955 "O should validate pricePerPixel sent by B"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

(To be filled in)

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you'v

[2019-07-01 21:31] yondonfu commented on #948
Split up into smaller issues #954 and #955 so closing this issue.

[2019-07-01 21:31] #948 closed, assigned to nobody

[2019-07-01 21:37] j0sh commented on #954
Could we put this in the Payment struct rather than SegData? That seems like a better fit.

(Also, just noticed that the `Ticket` and `TicketParams` structs are nearly identical. We really should clean that up, or even flatten those params into the `Payment` struct entirely.)

https://github.com/livepeer/go-livepeer/blob/0dcd9bd30b377159801e4be4c6358c1812d1cccc/net/lp_rpc.proto#L242-L257

[2019-07-01 21:37] kyriediculous commented on #895
After the design discussion on this issue we will be going for another approach than initially discussed.

The approach we want has following properties:
1. Prevents O from downloading the segment if balance is insufficient, protecting O's bandwith
2. Credit is on a per stream basis rather than a per sender basis
3. Reduces amount of possible developer error and increases code maintainability down

[2019-07-01 22:51] yondonfu commented on #954
Yeah we can do that - I updated the OP accordingly. I was originally hesitant about putting the price in the `Payment` message because keeping it exclusively as a group of tickets seemed nice, but on second thought including the price in the `Payment` message essentially says: "this group of tickets pays for transcoding based on this expected price" which makes sense to me.

Yep - we're actually n

[2019-07-02 17:32] #634 closed, assigned to yondonfu

[2019-07-02 17:36] kyriediculous commented on #954
Yeah I agree with that but you can make the same argument for putting it in the Segment Metadata

I like the second one better still but that's very, very opinionated.

And I very much like this property to not obfuscate the payment message

[2019-07-02 17:53] yondonfu commented on #954
At the moment, the `SegData` message fields are primarily concerned with *how* the segment should be transcoded i.e. which profiles to use, what storage medium to use, etc. Adding the price into the message introduces payment concerns into a message that is currently solely focused on non-payment transcoding related concerns. IMO keeping `SegData` focused on non-payment transcoding related concern

[2019-07-02 17:54] j0sh commented on #954
It's not really opinionated looking at it as a functional grouping. The only time you're sending price info is when you also send a payment. Eg, the price info won't be there for offchain mode. Doesn't make sense to have a partially populated SegmentMetadata (based on whether a payment is included) when we could just put the info into the payment itself.

[2019-07-02 19:00] kyriediculous commented on #954
I don't really mind putting it in the payment message and I don't think it really matters at this point, I'm just playing devil's advocate here. Some extra thoughts:

The `Payment` message is related to the `pm` package exclusively, while `pixelsPerUnit` belongs to accounting logic. The latter is not necessarily dependent on the former.

`TranscodeResult` also contains `OrchestratorInfo` which con

[2019-07-02 20:24] #885 closed, assigned to darkdarkdragon

[2019-07-03 17:18] yondonfu opened #959 "Price based segment queue"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, an O accepts all segments that meets its price requirement (needs to be implemented in #955) and once it is at capacity it will drop additional segments received. In this setup, Bs that wish to work with O specifically for whate

[2019-07-03 19:01] mkrufky commented on #953
I was under an impression that the `m3u8` playlist (or a url pointing to one) is what we'd POST to the endpoint.  This would be enough info for the process to pull down segments on its own.

Is POST'ing segments directly to the endpoint a requirement?  If so, can you explain why?  Might it make sense to support both playlist POST and ts direct POST?

[2019-07-03 19:13] iameli commented on #953
Interesting — that could certainly work also, direct POST isn't a requirement. I might upload the segments to GCP buckets or something to allow us to handle the case where the Wowza server isn't on the public internet but that's workable. I suppose I'd POST the manifest every time a new segment is available? The only downside off the top of my head would be that in a failover/deployment case we'd

[2019-07-03 20:49] ericxtang commented on #919
@mk-livepeer can we close this issue now that the PR is merged?

[2019-07-03 21:01] #954 closed, assigned to kyriediculous

[2019-07-03 21:19] j0sh commented on #953
Still need to review the proposal more closely, but just wanted to respond about POSTing manifests rather than segments. There's a few reasons segments would be preferable:

* Regardless of whether B pulls or W pushes manifests, it's an additional step in the workflow. This increases latency.
* B needs to be more stateful: after parsing the manifest, needs to check which segments it has processed,

[2019-07-03 21:50] iameli commented on #953
Thanks for the thorough write-up! Almost all of this mirrors my thinking so far, let me go into some more detail on what I'm envisioning for a few points:

Agreed with all of this.

So this would put you in favor of option #2 above? My biggest ambivalence is that I wish we could interleave the output somehow for latency-reduction reasons — receive each transcoded stream in parallel rather than one

[2019-07-03 22:37] yondonfu opened #961 "Create new BroadcastSession for updated OrchestratorInfo messages"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, B mutates the current BroadcastSession whenever it receives an updated OrchestratorInfo message from O. While this is ok for now because we're only using a BroadcastSession in a single thread, it would be preferable to try to ke

[2019-07-03 22:54] j0sh commented on #953
We currently process renditions all-at-once then return them all-at-once. We could improve this someday, but I wouldn't base the design around that possibility right now. I'm in favor of the simplest approach that we know will work. That also makes it more friendly to tools such as curl and wget (if that is a goal at all, which seems like a nice bonus but also something we should be prepared to dr

[2019-07-04 00:03] #831 closed, assigned to yondonfu

[2019-07-04 00:03] #927 closed, assigned to yondonfu

[2019-07-04 00:14] iameli commented on #953
Oh, nice! Cool, I'm totally in favor then.

Full workflow looks something like this:

1. Wowza plugin (or whoever) requests a list of broadcasters from `api.livepeer.org`.
2. Wowza plugin selects `broadcaster-5181.livepeer.org` from that list.
3. Wowza uploads segments to `https://broadcaster-5181.livepeer.org/streamKey/1.ts` and so forth.
4. broadcaster-5181 fires off a `POST https://api.livepeer

[2019-07-04 00:23] iameli commented on #953
Updated the original post to specify that we're going with the `multipart/form-data` response and clarify a few things.

[2019-07-05 13:53] mkrufky commented on #919
No, the PR that was merged mentions this issue but does not close it.

[2019-07-05 19:45] j0sh opened #963 "Use docker-compose in CI"

[2019-07-05 19:57] j0sh commented on #870
The transcoding task will fail with a type 10 error (the error message says "out of memory" although this is inaccurate), but there are no other side effects other than the transcode itself failing. That behavior seems OK, so don't think there is much else we need to do here.

[2019-07-05 19:57] #870 closed, assigned to nobody

[2019-07-05 19:58] j0sh commented on #855
Is this issue done?

[2019-07-05 20:08] j0sh commented on #857
Is this still something we need for Streamflow? If not, adding to ice box

[2019-07-05 20:11] ericxtang commented on #857
Not at the moment. Let’s revisit this if need to deploy on AWS in the
future.

On Fri, Jul 5, 2019 at 4:08 PM Josh Allmann <notifications@github.com>
wrote:

--
#mobile

[2019-07-05 20:21] j0sh commented on #735
Does this doc exist yet?

[2019-07-05 20:26] j0sh commented on #877
Is this something we should plan for Streamflow in the backlog, or is it more a reminder that can be icebox'd?

[2019-07-06 10:10] darkdarkdragon opened #965 "CI build for linux doesn't record version"
**Describe the bug**
CI build for linux doesn't record version information.

**To Reproduce**
Steps to reproduce the behavior:
1. download linux binary built in CI
  https://build.livepeer.live/0.3.3-9b95737b/livepeer-linux-amd64.tar.gz
2. run `./livepeeer -version`
3. see `Livepeer Node Version: undefined`

**Expected behavior**
Should show `Livepeer Node Version: 0.3.3-9b95737b`

**Desktop (plea

[2019-07-08 09:55] ya7ya opened #966 "No column named pricePerPixel"
**Describe the bug**
Users with an existing `datadir` that was generated pre PM updates will get this error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. download the latest release used on the mainnet and generate a new datadir
2. pull the latest `go-livepeer` and build it.
3. run `./livepeer -datadir <existing datadir path>`
4. See error

**Expected behavior**
new versions of liv

[2019-07-08 14:47] angyangie commented on #855
Yes! Closing it now

[2019-07-08 14:47] #855 closed, assigned to angyangie

[2019-07-08 16:32] iameli commented on #965
Hrmph, odd.

[2019-07-08 22:08] kyriediculous commented on #892
As discussed we will keep track of the pixel count per transcoded segment and let the broadcaster know his provisional credit balance.

** This solution is not bulletproof if we ever remove the 'one segment in flight' constraint as a broadcaster might be basing his payments for the next segment on an outdated balance.

1. Add pixel count to the `TranscodedSegmentData` message (repeated field)
[cod

[2019-07-08 22:10] #895 closed, assigned to kyriediculous

[2019-07-08 22:38] j0sh commented on #966
Agreed that we should be careful about back compatibility and DB schema migrations in the future. There's already a placeholder for this:

https://github.com/livepeer/go-livepeer/blob/33fa9b29960d34193e39e18aba0052e8ffded8fb/common/db.go#L140-L142

Note that we basically dropped any compatibility promises once we stopped doing regular releases in favor of a big-bang Streamflow release. At this poi

[2019-07-08 22:54] kyriediculous commented on #896
`TranscodeSeg(SegTranscodingMetadata, HLSSegment) TranscodeResult, error`

returns the transcoded results for a segment based on the requested conditions included in `SegTranscodingMetadata`. Transcoded results will be returned as `TranscodeResult` containing a slice of `TranscodeData`which includes the transcoded segment and pixel count.

[code]

    * Could potentially be wrapped in a separate T

[2019-07-08 23:11] j0sh opened #969 "Streamflow migration path"
There have been a number of backwards incompatible changes since the last go-livepeer release. To ease the transition for our current users (especially orchestrators), we need to develop and communicate a migration path prior to the mainnet Streamflow release.

Some considerations include:

* [x] Database migration. Might be as simple as using a new DB file by default (eg, `lpdb2.sqlite`) https://

[2019-07-08 23:17] j0sh opened #970 "Track DB changes in CI"
Currently, it is easy to mistakenly make breaking changes to the DB schema. We should make this a little harder. One way is to check this via CI.

One possible strategy for doing this:

* Retain old copies of SQL schema somewhere in CI
* Run `go-livepeer` on each old schema
* Ensure `go-livepeer` starts cleanly
* Hopefully the above process will catch any breakage. From there, we can check in a ne

[2019-07-09 00:44] yondonfu commented on #896
How about `Pixels` instead of `PixelCount` in the `TranscodeData` struct for brevity?

We could also add a slimmer interface method that is *only* concerned with debiting fees:

Ex.

[code]

Then, in `ServeSegment()`, we could debit the fees for a transcoded segment after it has been uploaded (so we would have its URI):

[code]

[2019-07-09 08:46] kyriediculous commented on #896
Adjusted names in the types in core as well as the proto messages for brevity

_____

That had crossed my mind as well, but when implementing #892 we'll need to add a call to `Balances.Balance(segData.ManifestID)` in `serveSegment` as well , implying to have to add yet another method to the interface (eg. `RetrieveBalance`) .
[code]

Defining an interface method that handles a little more allows u

[2019-07-09 18:38] yondonfu commented on #892
Upon further thought, I think we can omit `balance` from the `TranscodeResult` message for the following reasons:

- A reader might find the semantics of `balance` confusing if they are solely looking at the `TranscodeResult` message definition. While a comment can indicate that `balance` is associated with a specific manifestID, the message does not indicate a manifestID so it is up to the reader

[2019-07-09 19:01] kyriediculous commented on #892
The argumentation makes sense.

So In the case of omitting `balance` we are relying on B's check of the output pixel count as well as the expected price B sent to O for determining how many tickets to send to O with the next segment?

And we are assuming bad behaviour of O (debiting too much) when the pixel counts from the `TranscodedSegmentData` message do not match B's local computation and thus

[2019-07-09 19:02] yondonfu commented on #896
If we omit `balance` from the `TranscodeResult` message as described in [this comment](https://github.com/livepeer/go-livepeer/issues/892#issuecomment-509758375), then we can simplify the workflow to something like this:

[code]

[2019-07-09 19:19] kyriediculous commented on #896
It does indeed simplify quite a lot if we don't need to include the balance. In light of my previous comments though, would you be against doing something like what's underneath. I know it doesn't make much difference anymore between doing what's below and `orch.DebitFees`, just makes `ServeSegment` a little more readable. But I still dislike (personal preference I guess) just having an interface

[2019-07-09 19:25] yondonfu commented on #892
B would synchronously:

1. Receive `TranscodeResult` message
2. Sum the values of the `pixels` field in each `TranscodedSegmentData` message nested in the `TranscodeResult` message as `totalPixels`
3. Compute the fee using `totalPixels` and the last known price for O
4. Debit the fee its local balance which can be used to determine the payment amount for the next segment

B would asynchronously ve

[2019-07-09 19:47] yondonfu commented on #896
The choice of what logic to stuff into `ProcessTranscodedResults()` feels a bit arbitrary - why not also just include the construction of the `*net.TranscodeResult` struct? We could also skip defining an additional interface method altogether and stuff all this logic in `TranscodeSeg()`. Furthermore, besides the debit logic, none of the referenced code needs to depend on state maintained by a stru

[2019-07-09 20:27] kyriediculous commented on #896
I'm fine with this

[2019-07-09 21:02] j0sh commented on #896
It's important to exit from the transcode loop early in order to free up the loop for the next segments. Things like `os.SaveData`  can potentially take a long time (eg, if uploading to S3 or GCS), and we don't want to be blocking the transcode loop.

Anything especially heavy that needs to be done after the transcode would probably best belong outside TranscodeSeg. (This isn't currently followed

[2019-07-09 21:16] kyriediculous commented on #896
On second thought, we didn't want to add crediting balance in the transcodeloop either, so adding debiting wouldn't be in line with our approach for crediting and checking balance.

I don't think updating the balance is a slow operation but it is an extra one nontheless.

Let's keep the logic out of transcodeLoop and go with `orch.DebitFees` inside of `ServeSegment` imo.

[2019-07-10 01:12] yondonfu commented on #897
This task will be composed of the following changes:

1. Track B's balance for a stream corresponding to a specific manifestID
2. Update `genPayment()` to compute B's credit gap based on its current balance and O's minimum credit (ticket EV)
3. Update `genPayment()` to use B's credit gap to create N tickets to be included in a payment

We can accomplish 1 by adding a `Balance` field to the `Broadc

[2019-07-10 01:17] yondonfu commented on #898
Completing this task will consist the following:

- Computing the fee for the results returned by O, debiting it from B's balance and then including it in the return value for `SubmitSegment()`
- Populating the `Balance` field of a new `BroadcastSession` with the updated balance returned from `SubmitSegment()` which is passed to `sessManager.completeSession()`

We should implement #961 first.

[2019-07-10 06:51] j0sh commented on #897
For raw balances (eg, big.Rat) we might need to be careful. It sounds like two concurrent SubmitSegments may potentially overwrite each other's balances if we're doing a get-and-set. (We try not to submit segments concurrently to the same O, but it happens sometimes.) "Last write wins" is OK for `OrchestratorInfo` updates, but balances need stronger mutual exclusion since those are more incrementa

[2019-07-10 14:37] kyriediculous commented on #897
I like this because then we're avoiding code duplication of calculating updated balances and we make sure the methodologies are uniform between B and O.

If we were to use core/accounting , wouldn't it be simpler to not change function signatures and credit the generated payment amount (`TicketParams.EV() * n` ) to the balance in`genPayment` as it takes the session as an argument?

Later on in `Su

[2019-07-10 17:07] yondonfu commented on #897
@j0sh

Hm could you point me to the code that allows for concurrent segment submission to the same O? From a skim of the code, I was under the impression that we would only submit the next segment to O once the session for that O becomes available again (i.e. after the last submission completes and the session is added back to the list), but I might've missed the relevant code.

So, we can avoid t

[2019-07-10 17:21] kyriediculous commented on #897
That's a very fair concern indeed. The only way to circumvent this I think is encoding the payment header outside of `genPayment` so we can access the EV and len(TicketSenderParams) but then simply returning an extra value instead is likely to be a better solution 👍 .

[2019-07-10 18:09] mk-livepeer opened #973 "all tests must pass (`go test ./...`)"
In an effort to move towards portability and continuous integration, we must make sure that all tests pass.

Developers should run:
[code]
before every check-in to ensure that all existing tests pass before proposing any pull requests.  Developers are encouraged to include tests to cover every testable change made to the repository.

For now, let's just make sure that the existing tests all pass.

[2019-07-10 18:09] mk-livepeer opened #974 "go test fails: github.com/livepeer/go-livepeer/eth/types [setup failed]"
blocks #973
[code]

...It's not as simple as a missing comma (`,`) ...  After fixing that, the new failure is:
[code]

[2019-07-10 19:56] yondonfu opened #975 "🌊Internal Test Network Deployment Prep"

[2019-07-10 19:57] yondonfu opened #976 "🌊PM Client On-Chain Event Monitoring"

[2019-07-11 02:21] kyriediculous commented on #973
We already run a batch script in CircleCI `./test.sh` though which runs both go tests as well as flag tests in `./test_args.sh`

"./test.sh passes" is also listed as a checkbox  when submitting a PR.

I'm not sure if the extra redundancy is necessary as long as `./test.sh` is adjusted when new packages are introduced? This can of course be forgotten due to human error.

[2019-07-11 02:36] mkrufky commented on #973
As I explained in the OP, any tests present should be fixed.  If they can't be fixed, they should be removed.

I have seen the test scripts and they are great, but we shouldn't allow the standard `go test ./...` command to break - this is what is used by most golang developers, and is extremely useful in build sanity tests for cross-platform portability testing.

[2019-07-11 04:47] j0sh commented on #897
Here I'm referring to having two concurrent segments *in flight* to the same O. Looked at this closely today and while I haven't been able to reproduce the issue, it does seem to be a side effect of the session refresh behavior in capacity-constrained environments. The sequence would be something like this:

1. B submits a segment
2. B errors out locally for some reason, removes O from list
3. B r

[2019-07-11 12:43] kyriediculous commented on #899
Considering that we are not returning either a provisional balance or a pixelPrice used in the transcode results we limit the scope of this issue to verifying the pixelCount only (as discussed prior in #892).

I was thinking of completing this check in server/transcodeSegment() which is called from `processSegment`, more specifically in the [download function for each segment](https://github.com/l

[2019-07-11 16:22] yondonfu commented on #897
Thanks for the write-up!

Got it - good to know about the behavior.

Got it - yeah I understand the concern and I think using the concurrency safe `Balances` struct to persist balances is the best path forward.

So, the two scenarios where outdated balances can be a concern are:

1. Concurrent in-flight segments (which implies one segment was submitted prior to receiving a response for the other)

[2019-07-12 04:19] iameli commented on #953
Cross-referencing: the aforementioned service discovery interface will be an enumeration of Broadcaster objects as discussed in livepeer/livepeerjs#385

Request:
[code]

Response:
[code]

[2019-07-12 15:07] angyangie commented on #941
Great discussion and thought exercise! I have some questions:

Would that only be useful when stream starts/end @mk-livepeer?

By that, do you mean, making sure we fully utilize O capacity as measured by single O testing @j0sh?

[2019-07-12 16:19] j0sh commented on #941
That is one aspect; another is in being a little more [intelligent](https://github.com/livepeer/go-livepeer/issues/938) about B's selection of O in order to shift traffic to under-utilized Os. At this point, introducing redundancy is just going to mean provisioning even more nodes. 3x redundancy == 3x the cost, etc. Without doing so, we'd likely see network throughput get *worse* with redundancy,

[2019-07-12 18:23] #973 closed, assigned to nobody

[2019-07-12 18:23] #974 closed, assigned to nobody

[2019-07-13 11:40] #892 closed, assigned to kyriediculous

[2019-07-13 11:40] #896 closed, assigned to kyriediculous

[2019-07-15 14:45] kyriediculous commented on #955
We could validate the `ExpectedPrice` B sends along with `Payment` in `Orchestrator.ProcessPayment` in a similar fashion to how we handle acceptable payment errors.

Potentially we could also distinguish between an acceptable price and a non-acceptable one by implementing a maximum Delta.

If the Delta is too large we would throw an error from `ProcessPayment` which makes B refetch `OrchestratorIn

[2019-07-15 16:48] yondonfu opened #982 "B should not send a payment if its total value is too high"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

After #898 is implemented, B could have a negative balance at the time of payment generation which could result in B generating a multi-ticket payment in order to meet O's minimum credit requirement (ticket EV). Since B updates its balance

[2019-07-15 17:08] iameli commented on #811
Cross-referencing: since https://github.com/livepeer/go-livepeer/pull/879, the incoming webhook can specify a bitrate ladder. We're using this mechanism to pick the closest presets for the Wowza plugin; future development on a custom bitrate ladder can be informed by discovered user needs.

[2019-07-15 22:49] j0sh commented on #899
This would make it still technically synchronous (since it's not yet available to the user).

The best place seems to be to do the check in its own goroutine after sig checking. Otherwise, it should be considered synchronous.

(I wonder if we really should make the sig check async as well, but failing it would mean we don't retry the segment. But there's a couple issues here with the sig check any

[2019-07-15 23:03] kyriediculous commented on #899
@j0sh  After our design session earlier today we are considering firing a goroutine from the `dlFunc` after inserting the segment into the playlist manager.

But we've also moved this issued to the _Pixel count integration project_ as function signatures for the actual functions that return the pixel count are still a bit unclear.

[2019-07-15 23:15] j0sh opened #983 "Run `make localdocker` within CI"
**Is your feature request related to a problem? Please describe.**
Inadequate CI coverage makes it easy to accidentally break other aspects of the build / testing process. In https://github.com/livepeer/go-livepeer/pull/971 , the `joy4` dependency was updated from `nareix/joy4` to `livepeer/joy4` without a corresponding update to `.dockerbuild.deps` . This broke the `make localdocker` build, which

[2019-07-15 23:15] j0sh opened #984 "make localdocker fails"
**Describe the bug**
The `make localdocker` command does not seem to work anymore. In particular, the `.dockerbuild.deps` is outdated since the LPMS fix was merged moving us from `nareix/joy4` to `livepeer/joy4` in https://github.com/livepeer/go-livepeer/pull/971

**To Reproduce**
1. Pull go-livepeer master
2. Run `make localdocker`

**Expected behavior**
`make localdocker` should succeed

**Addit

[2019-07-15 23:44] kyriediculous commented on #955
The design discussion resulted in an outline similar to the one above with a few changes:

1. Discard the use of a Delta for now and use 1-to-1 match
2. Extract the Acceptable error and errorCount logic out of the `pm` package and keep a shared errorCount for both acceptable pm ticket errors and acceptable price errors.*

_* the drawback of (2) is that we would on reset the errorCount for a sender

[2019-07-16 00:27] kyriediculous commented on #929
After the design discussion we have settled on following workflow:

1. Upon receiving updated pricing info we will store the new price info on the broadcast session, which is already being done by `updateOrchestratorInfo` in `server/segment_rpc.go`

2. The next time `BroadcastSession.OrchestratorInfo.PriceInfo` is being used, when generating a payment in `genPayment`, we will check it against the

[2019-07-16 01:25] #897 closed, assigned to yondonfu

[2019-07-16 18:14] yondonfu commented on #955
I favor this solution - the same `ErrorMonitor` instance can be injected as a dependency into `pm.Recipient` and `pm.SenderMonitor` during initialization. Since we're moving all the error counting logic into `ErrorMonitor`, I think types that require access to error counting logic should use the `ErrorMonitor` directly (with interfaces when necessary). Once we have the `ErrorMonitor`, `pm.SenderMo

[2019-07-16 18:15] #983 closed, assigned to darkdarkdragon

[2019-07-16 18:15] #984 closed, assigned to darkdarkdragon

[2019-07-17 07:30] j0sh opened #989 "Single-O Benchmarking"
Single-O Testing
===

This issue summarizes the current benchmarking progress with a single O and outlines further steps.

## Single-O / Single-T

We are currently seeing a low success rate (~80%) when transcoding one 4-rendition stream [1] with a single O and a 16-core T (1O-1T). Two factors contribute to this low success rate:

1. Segments are not always a consistent length. When a segment is fo

[2019-07-17 19:59] ericxtang opened #990 "Wowza Plugin V1 Features"
As we discussed, here are a list of things we would like to accomplish before saying the plugin is "good enough".
- [x] Transcoding result consumption in Wowza plugin
- [ ] Understand whether some kind of error status is possible, so the user can tell when transcoding is not happening
- [ ] On / off switch for the plugin
- [ ] Fallback solution for the user if Livepeer goes down completely
- [ ] C

[2019-07-17 20:18] #898 closed, assigned to yondonfu

[2019-07-18 10:54] ya7ya commented on #989
I ran the benchmarking to compare `master` to `ja/loadfactor` and although they have the same performance for 1 stream , `ja/loadfactor` performed significantly better when adding more concurrent streams (while maintaining 1 stream per T) here is the comparison.

![master (blue) vs ja_loadfactor (red)](https://user-images.githubusercontent.com/932163/61451730-60eff480-a95a-11e9-9659-eb01f8d50bda.p

[2019-07-18 14:50] #982 closed, assigned to yondonfu

[2019-07-18 20:07] dob commented on #990
How are you thinking about "fallback solution for the user if Livepeer goes down completely"? One option would be that the Wowza engine does the transcoding, except it seems a little bit like a non-starter since the purpose of the plugin is that you can ingest many streams on the single engine instance (more than could be transcoded).

I have an initial reaction that this particular feature may re

[2019-07-18 21:54] j0sh commented on #990
To the extent that we spend time on this issue to make it "good enough", my feeling is that our effort should be going towards making the Livepeer service itself as resilient as possible.

Given the broad outlines of our current design (as I understand it), this seems achievable by ensuring we don't build any single-points-of-failure into the Livepeer portion of the system, and operational plannin

[2019-07-19 22:15] yondonfu opened #996 "Fix flaky sendermonitor and gaspricemonitor tests"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Certain tests in `pm/sendermonitor_test.go` and `eth/gaspricemonitor_test.go` are flaky and fail in CI sometimes.

`pm/sendermonitor_test.go` example:

[code]

`eth/gaspricemonitor_test.go` example:

[code]

**Describe the solution you'd l

[2019-07-20 01:32] j0sh opened #997 "LPMS Bottleneck Tasks"
This issue tracks the tasks needed for https://github.com/livepeer/lpms/issues/119

In order to minimize the overhead of per-segment transcode sessions, we need to keep the transcode session persistent across segments. This involves a major reworking of the Cgo transcoder internals from being "one-shot" to supporting resumable, per-segment transcoding.

The general behavior of the [LPMS transcodin

[2019-07-20 22:29] ericxtang commented on #990
I agree with you and @j0sh here.  The "good enough" solution here might be just to "turn off transcoding" when Livepeer is down.

[2019-07-23 16:59] darkdarkdragon opened #998 "`.m3u8` and `.ts` files left in data folder when B is killed"
**Describe the bug**
When B is panicked or killed by OOM, `.m3u8` and `.ts` files left in data folder.
For 200 streams it was 1.2G of files.

**To Reproduce**
Steps to reproduce the behavior:
1. run B
2. stream something into it
3. kill B
4. See files left in data folder

**Expected behavior**
We can't clean up folder if process is killed by OOM, but at least we should clean it up on node startup,

[2019-07-23 17:07] j0sh commented on #998
Note that we do clean up older segments as new ones come in.

Crashes seem like an exceptional case; I'm a little uncomfortable simply clearing out the folder without some assurance that the node was responsible for placing those items in there. We don't want to clear out data that anyone intended to keep.

[2019-07-23 17:14] darkdarkdragon commented on #998
@j0sh we doesn't cleanup even on ctrl-C. Also, why would anyone want to place something to node's folder? We should just declare that node's folder is managed by node, and be it. Don't think there is need to complicate things.

[2019-07-23 17:24] j0sh commented on #998
That sounds like a separate issue which would be good to fix.

People do strange things all the time, even if they're not supposed to. The potential for unintended effects / mistakes is high.

Also, having the data on disk may be useful for post-crash forensic analysis. I've done this a few times - trigger an error, kill the node, and fetch the segment for investigation. In a production environmen

[2019-07-23 17:36] darkdarkdragon commented on #998
@j0sh one thing we could do - just create new folder on RTMP start specifically for that stream. On ctrl-C - just remove it. And if we call it something like `rtmp_segments_{streamid}` - we will be able to remove all such folders at start.

We shouldn't make all the nodes in production to keep gigabytes of data just for possible forensics. If really needed, we could make it optional, so it could b

[2019-07-23 17:59] #929 closed, assigned to kyriediculous

[2019-07-23 21:02] #924 closed, assigned to kyriediculous

[2019-07-23 21:06] yondonfu opened #1001 "Insufficient balance error on first segment"
**Describe the bug**
A clear and concise description of what the bug is.

When B sends the first segment (with a payment) to O, it receives an error and O logs an insufficient balance error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a local on-chain test-harness deployment with 1 O and 1 B
2. Make sure that B has giant deposit & reserve - let's say 1000 ETH
3. Stream into B
4. Obse

[2019-07-23 21:24] angyangie opened #1002 "HTTP Segment Ingest: Adding duration & other missing metadata to source segment"
Issue originally brought up here: https://github.com/livepeer/go-livepeer/pull/972

**Summary of discussion:**

(Josh) Durations: The duration of the source segment is currently not passed in. The duration is necessary to insert valid timings for the resulting HLS playlist. Other features such as latency-based O selection need the duration.

To solve this, it would be nice to send a HTTP header, e

[2019-07-23 21:31] angyangie opened #1003 "HTTP segment ingest: Add multipart response types"
Original discussion here: https://github.com/livepeer/go-livepeer/pull/972

(Josh) Responses: Currently, nothing is returned in response. A [multipart/mixed implementation ](https://github.com/livepeer/go-livepeer/blob/3b6a1918a646383f4413b8a3a8f3469d9fa27818/server/ot_rpc.go#L145-L160) can be borrowed from the standalone transcoder.

(Eli) Let's allow for both no-return and multipart/mixed implem