[2018-05-25 19:20] chrishobcroft commented on #446
Well, I do believe that I am calling reward every day (it's the only constant in my life), but perhaps blocks are being mined faster, and so rounds are lasting less time than before? Something to do with Gas Prices or something.

Or maybe I'm totally out of whack.

@dob what is the algorithm for working out what block the next round starts at?

[2018-05-25 19:42] j0sh commented on #446
@chrishobcroft Do you have logs from this incident? @dob's suspicion might be correct -- the retry interval for calling `reward` is 30 minutes, and it's plausible that a tx would sit in the mempool for longer than that.

I can't tell from etherscan when each tx was actually submitted, but the node's logs should say.

https://github.com/livepeer/go-livepeer/blob/4589a1364fa9d29e9d196d259f1f235116d4

[2018-05-25 20:11] chrishobcroft opened #449 "Remove the need for a -publicIP variable when running livepeer as transcoder"
**Is your feature request related to a problem? Please describe.**

Isn't one of the main points about this kind of decentralised system to get rid of the need to bind stuff to IP addresses? So when I run a node, I've got to check what the publicIP address is, and enter this, and this is constantly changing on many devices these days, so why still have this attachment of two things?

**Describe th

[2018-05-25 20:25] j0sh commented on #437
Right now, orchestrators need to be trusted, so even for a public pool composed of transcoders that don't trust one another, they all need to trust the orchestrator. Some pools might devise a "provably fair" sharing system where transcoders can be assured that they're receiving an equal slice of the work/rewards from the orchestrator, but the transcoder-orchestrator flow is rather decoupled from t

[2018-05-25 21:02] j0sh commented on #449
While we could add facilities to auto-discover the IP and avoid the need to specify `-publicIP`, we can't escape the Internet's underlying routing infrastructure, which runs on IPs, ports, etc. See all the hard-coded addresses we have here:

https://github.com/livepeer/go-livepeer/blob/fac0393950e821f16555a17eb460b8abe74f6ada/cmd/livepeer/livepeer.go#L51-L54

Having a public IP for transcoders is

[2018-05-26 11:43] chrishobcroft opened #450 "I want to be able to move cursor right and left in livepeer_cli"
**Is your feature request related to a problem? Please describe.**

There is a usability "bug" (enhancement) regarding the use of livepeer_cli

Currently, when I am trying to type values into the fields, it is complicated to use the tool for entering text.

For example, when using option 15 to set the gas price, it allows me to paste a gasPrice in, such as "17000000000", but when I use the left cu

[2018-05-29 15:34] ericxtang opened #451 "Transcoder Registry"
**Is your feature request related to a problem? Please describe.**
In the [new networking scheme](https://github.com/livepeer/go-livepeer/issues/430), transcoders need to make their connection information public. There has been a [LIP](https://github.com/livepeer/LIPs/issues/6) for transcoder metadata registry, however, since this is a blocking issue for the new networking scheme, I'd like to prop

[2018-05-29 16:44] #436 closed, assigned to nobody

[2018-05-29 16:47] arthurk commented on #446
I have the same problem today and now 6 pending transactions for the reward call. Here's the relevant part of the log: https://gist.github.com/arthurk/48df9a73b3674ace03e6ce00af4d89c3

[2018-05-30 19:24] dob commented on #446
The reason this issue is occurring is that the node keeps track of the nonces of submitted txns, and when it submits subsequent txns it increments the nonce. This was necessary in the first place because nodes would sometimes submit two txns with the same nonce around the same time (for example if someone tried to call reward() and also claimWork() around the same time before the reward() call suc

[2018-05-30 19:43] ericxtang opened #453 "Simple Metrics Tracker"
**Is your feature request related to a problem? Please describe.**
Currently we don't have a good way to track errors/metrics in the network.

**Describe the solution you'd like**
An opt-in service to track important errors/metrics in the network so we can identify issues early.

The proposed tool contains 2 components:
1. Metrics/events reporting from running Livepeer nodes (by using an off-by-de

[2018-05-30 20:04] j0sh commented on #453
With the new networking system, and especially with [separate job creation](https://github.com/livepeer/go-livepeer/issues/429), and delayed/restartable broadcasts, the notion of a "stream created" event becomes vague. I'm also a bit concerned about the resource overhead of having a metrics system actively consume streams.

Perhaps we could track the success rate of transcoded segments instead, an

[2018-05-30 20:58] ericxtang commented on #453
@j0sh Yeah I think reporting transcoding metrics is definitely a good idea.  And connecting that with broadcaster info would help create a more complete picture of the whole workflow.

The high level metric I want to see currently is the "success rate" of broadcasts, which I think correlates with stability.  It'll be nice to have this measured by consuming the video because there are different ste

[2018-05-30 23:41] j0sh commented on #453
Hm, downloading the a stream doesn't give us any insight into a problem, other than the fact there is a problem somewhere based on the absence of expected data. And I suspect we'd still need to confirm that the data is indeed absent [1], which might involve some guesstimating outside the normal "does this download?" flow of video playback.

[1] For example, the manifest stops being updated, but al

[2018-06-05 17:59] arthurk opened #455 "Error trying to call reward: context deadline exceeded"
I get an `Error trying to call reward: context deadline exceeded` error message when I try to call reward. Read operations such as 1. Get node status, 2. Protocol Parameters, 3. List Registered Transcoders work fine. The problem is sending the reward transaction.

The transcoder node is connected to a local geth instance as described in this forum post: https://forum.livepeer.org/t/transcoder-tip-

[2018-06-05 18:30] ericxtang commented on #455
Hi @arthurk, there are a few potential issues.

1. The local Geth node is not synced to the latest node, or the transaction is not making it into the transaction pool
2. A previous transaction is waiting to be confirmed.  Since Eth transactions are ordered by their nonces, they have to be confirmed in order also.  We are working on a way to replay previous transactions so this doesn't happen in th

[2018-06-05 19:06] arthurk commented on #455
Hey Eric,

1. The geth node is synced to the latest node and continuously shows every few seconds that it successfully imported the latest block. I'll make sure to test sending a tx via geth console and see if it works.
2. There is also no previous transaction (I checked via etherscan)

I've been manually invoking reward for all the transactions shown in the log. For now the only solution is to re

[2018-06-08 12:24] arthurk opened #459 "Specify unit when selecting price per segment"
**Is your feature request related to a problem? Please describe.**
In the cli when selecting `Enter price per segment (default: 1)` It's not clear if it's in wei or gwei

**Describe the solution you'd like**
Change the text to `Enter price per segment in Wei (default: 1)`

[2018-06-08 14:21] arthurk opened #460 "Transcoder calls reward several times after changing transcoder config"
**Describe the bug**
After changing the transcoder config, the node made several reward transactions automatically. Reward had already been called for the round and they didn't appear in the log.

Config tx: https://etherscan.io/tx/0x2087026f1ba62dfe3d49efde2239126c7afa0dc6582bbc42ee06ccd0e6dfb1b4

After that the following reward tx were made automatically, even though reward has already been call

[2018-06-08 17:00] ericxtang commented on #460
Ahh man... this is a bad bug. We shouldn't be wasting gas. @arthurk thanks for reporting. We are working on a [similar issue](https://github.com/livepeer/go-livepeer/issues/446) that might address this problem (at least partially), but we'll look into this particular bug and get back to you asap.

[2018-06-08 17:09] arthurk commented on #460
I've just checked the account at https://etherscan.io/address/0x511bc4556d823ae99630ae8de28b9b80df90ea2e and it is not related to the transcoder() call i made earlier. It seems that a few nodes called the reward transaction and I believe that the issue is that the node called reward() without checking if initalizeRound() has been invoked. I'm closing this Issue for now since it's not the cause for

[2018-06-08 17:09] #460 closed, assigned to nobody

[2018-06-08 17:13] ericxtang commented on #460
@arthurk ahh I see.  `reward` should not be called before the round is initialized.  There is logic in the node that specifically checks for that.  We'll have to dig in and see why that's the case.

[2018-06-11 16:02] j0sh opened #462 "Networking v2 Back Compat"
There's a question of whether we need to be concerned with back compatibility for the broadcaster-transcoder part of the networking flow.

Since the network is still relatively small, I'd be okay with breaking compatibility, but this should be communicated to our users, eg the requirement to set ServiceURI. For thoroughness, here is what it would entail to preserve compatibility:

1. Need to an ad

[2018-06-11 16:20] f1l1b0x commented on #462
I vote for no backwards compatibility till we consider us stable as a v0.1 we should be as josh say on like v0.0.1.27
our "v2 beta" might become v0.0.2?

[2018-06-14 08:24] ghost opened #465 "Error on "Get node status""
I am getting this error on "Get node status", even after restarting the transcoder:

+-----------+
|NODE STATS|
+-----------+
*-----------------------------*----------------------------------------------------------------------*
|                     Node ID | 12209065dc738d05ed4f5350cb2e0de70bf526ff3ad30bb7a7145dec19bbe189db8b |
*-----------------------------*-------------------------------------

[2018-06-14 14:10] yondonfu commented on #465
Could you provide any logs from the node itself at the time that you used the CLI to invoke the "Get node status" option?

Also, how are you connecting to the ETH network? Are you using the default setup (no additional options passed in when booting up the node such that it will use Infura) or are you using running a full/light ETH client locally?

[2018-06-14 14:29] ghost commented on #465
[livepeer_transcoder.log](https://github.com/livepeer/go-livepeer/files/2102714/livepeer_transcoder.log)

When it failed I was using a local light ETH client and when I switched to the default setup things started to work.

[2018-06-14 20:59] yondonfu commented on #465
Based on the logs and the fact that you are using a local light ETH client, it seems like your light client is not being served by any full node peers at the time of these operations. Unfortunately, there is no guarantee that a light client will be served by full node peers at the time of a request (full nodes currently do not serve light clients by default - they have to explicitly choose to do s

[2018-06-14 22:33] #459 closed, assigned to nobody

[2018-06-15 07:15] ghost commented on #465
I see, thank you for looking into it!

[2018-06-15 07:15] #465 closed, assigned to nobody

[2018-06-17 00:52] j0sh commented on #462
Haha -- there's actually a typo in the writeup, we probably want to increase the major version, so it'd be `1.0.0` or something instead. Libp2p follows semver and will reject connections that don't have a matching major version, but we can pass in both `1.0.0` and `0.0.1` to indicate support for both versions of the networking protocol. That way, old clients can still be served, while transcoders

[2018-06-18 15:50] dob commented on #462
I believe that it is acceptable to break backwards compatibility at this point. The vast majority of interactions with Livepeer are currently executed through the protocol smart contracts and not the p2p network, so better to move quickly and get the network into a state where it can be reliable and robust than to complicate the code and logic to support multiple protocols.

[2018-06-19 16:01] #376 closed, assigned to nobody

[2018-06-19 23:15] ericxtang opened #468 "Tutorial Based on Media Player and Livepeer Node"
**Is your feature request related to a problem? Please describe.**
We want to create a tutorial to show someone how to start developing using Livepeer. This tutorial is meant to be used as an example hack during hackathons.

**Goal**
Goal is for dapp developers to be able to use livepeer to build video into their app, and increase the amount of live video streamed into network.

**Describe the sol

[2018-06-19 23:20] status-open-bounty commented on #468
Current balance: 0.0 ETH
Tokens: SNT: 1388.00
Contract address: [0x621511e08f4af0e8bfba180adb69bd43d638fbda](https://etherscan.io/address/0x621511e08f4af0e8bfba180adb69bd43d638fbda)
![QR Code](https://openbounty.status.im/qr/livepeer/go-livepeer/bounty/468/e4ba34a327c23d0e99b45fe5241c24d8e180ddf7439789b578338a27bab31c6b/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.s

[2018-06-20 22:24] yondonfu commented on #331
The described error should be returned by the gas estimator if the transaction to be submitted would never be successfully executable - it is likely that this particular issue arose because the `unbond()` transaction was going to fail at the time and not because the gas estimator was giving a bad estimate.

[2018-06-21 14:48] #405 closed, assigned to yondonfu

[2018-06-21 14:48] #438 closed, assigned to yondonfu

[2018-06-21 20:07] yondonfu commented on #448
So I think the Parity related problems are the following:

`Error with header subscription for BlockWatcher: missing required field 'mixHash' for Header`

The standard JSON-RPC spec does not include the `mixHash` field for the `eth_getBlockByNumber` RPC method. Geth includes the `mixHash` field, but Parity does not. This was supposedly fixed awhile ago, but seems to have become a problem again rec

[2018-06-21 21:43] ericxtang commented on #448
Wow good job digging into this @yondonfu.  Can you update our doc so uses will know about this?

[2018-06-22 07:40] chrishobcroft commented on #449
For clarity, this issue is motivated by a desire to simplify the process for running a transcoder node.

There would be great power in being able to tell people that it really is as easy as:

a) download a zip file
b) unzip it
c) run `./livepeer -transcoder`

After this, the transcoder setup process could all be managed through the protocol explorer.

Any extra "required" arguments like -publicIP

[2018-06-23 07:40] f1l1b0x opened #470 "need DNS instead of IP for load balancing and ddos protection"
Problem:
Since the IP of a transcoder (orchestrator in v2) is exposed in our smart contract, an attacker could ddos his competing transcoders to

*make them fail transcode a stream
an attacker would monitor the job assignment and would start to ddos the publicIP of the elected transcoder.

*harm their reputation
failing the transcodings / uptime will harm their reputation making them lose their de

[2018-06-23 07:40] f1l1b0x commented on #449
i created the feature request #470 to deal with this and other problems related to IPs

[2018-06-23 07:45] f1l1b0x commented on #442
i created the feature request #470 to deal with this and other problems related to IPs

[2018-06-23 07:45] #442 closed, assigned to nobody

[2018-06-23 07:49] j0sh commented on #470
DNS host names are usable in the v2 networking scheme without any additional work. This was an explicit goal, for many of the reasons that you mention.

[2018-06-23 08:15] f1l1b0x commented on #470
cool! close then?

[2018-06-23 08:24] #470 closed, assigned to nobody

[2018-06-23 08:25] f1l1b0x commented on #446
has this been fixed?

[2018-06-23 14:05] ericxtang commented on #446
@yondonfu put in a fix about this last week.

[2018-06-24 22:31] ericxtang opened #471 ""Nonce too low" error during "reward" call"
**Describe the bug**
The automatic `reward` call for a transcoder keeps getting `nonce too low` error.

**To Reproduce**
Start the node as a transcoder, and wait for the automatic `reward` call as new rounds are initialized.

**Expected behavior**
The `reward` call to go through.

**Additional context**
Even though the automatic invocation fails, manually invoking `reward` through the CLI seems to

[2018-06-25 00:34] ericxtang commented on #406
@atypicalrobot thanks for applying for the bounty - I approved @darkdarkdragon for this once since he applied first, but I'll be creating more bounties this week.  Please keep an eye out for them!

[2018-06-25 02:34] ericxtang opened #472 "Transcoder Object Store with S3"
**Is your feature request related to a problem? Please describe.**
Transcoder brings write the transcoding results to an S3 bucket, and share the location to the broadcaster.

**Describe the solution you'd like**
The transcoder should be able to set an S3 bucket as an object store, and write the transcoding result into the S3 bucket (including the playlists).  We should test and see if the playlis

[2018-06-25 02:35] ericxtang commented on #453
Deployed.  You can check out the endpoint at http://metrics.livepeer.org/videos

[2018-06-25 02:35] #453 closed, assigned to ericxtang

[2018-06-25 10:25] arthurk commented on #455
Just wanted to say that this happened again today. Pattern was the same: Once it hit the "Insufficient gas" error and I tried to call the reward the transcoder node stopped working completely

[2018-06-25 13:22] yondonfu commented on #455
@arthurk Are you using the latest release (v0.2.4)? Did you once again see a context deadline exceeded error first followed by the insufficient gas errors?

[2018-06-25 19:54] ericxtang opened #473 "Refactor: break out the "eth" package into its own golang package"
**Is your feature request related to a problem? Please describe.**
The "eth" package is complicated, and the ethclient is a giant file with lots of methods.

**Describe the solution you'd like**
The "eth" package should be broken out into its own golang package, and it should represent the Livepeer protocol SDK in golang.  The big `client.go` file should be broken down into smaller files, and the

[2018-06-25 21:24] j0sh commented on #340
Fixed in https://github.com/livepeer/go-livepeer/pull/466

[2018-06-25 21:25] #340 closed, assigned to nobody

[2018-06-25 21:43] yondonfu commented on #471
Hm this is a little weird - I think think this is what might've happened:

The node submitted tx 0x8d1b440f8bf4c84f3357ddef293db7c49c9c2af4da5fea2f6b35e22b418e35c4 with a gas price of 3.117647104 gwei which was in the pending state for a long time so the tx confirmation polling loop timed out. After the 30 minute reward call interval, the node tried replacing tx 0x8d1b440f8bf4c84f3357ddef293db7c49

[2018-06-26 03:30] ericxtang commented on #433
@aseralis - I haven't heard back for a month about this.  Closing it.

[2018-06-26 03:30] #433 closed, assigned to nobody

[2018-06-26 04:11] ericxtang opened #476 "Check incoming video streams against a list of restrictions"
**Is your feature request related to a problem? Please describe.**
Currently any RTMP video stream is allowed.  This means we could potentially allow different codecs and dimensions that transcoders in the network don't necessarily support.

**Describe the solution you'd like**
The node should be able to specify a list of restrictions for the incoming video streams.

The node can load a json file

[2018-06-26 04:17] j0sh commented on #476
Can you elaborate on the "automated ABR" as opposed to the plain ABR that we have now, and how restricting the input would help with that?

[2018-06-26 04:31] #406 closed, assigned to nobody

[2018-06-26 04:54] ericxtang commented on #476
The "automated ABR" proposal from @f1l1b0x basically states a developer using Livepeer will have a "default" option to let the node decide on the video profiles for the resolutions and bitrates in the ABR masterPlaylist.  So for example, if they stream in `P1080p30fps16x9`, they expect to have `P720p30fps16x9`, `P576p30fps16x9`, `P360p30fps16x9`, `P288p30fps16x9`, and `P144p30fps16x9` without havi

[2018-06-26 06:55] j0sh commented on #476
The idea of automatically selecting a list of transcoding profiles is a good one. How does constraining the input help? If we're creating a job on the fly, then I understand creating a subset of profiles that match the input stream, but what are the problems aside from a possibly skewed aspect ratio for unusual streams? I'm not sure that's something we should terminate the stream for.

Otherwise,

[2018-06-26 11:56] darkdarkdragon commented on #406
@ericxtang can you please close this on gitcoin? )

[2018-06-26 15:09] ericxtang opened #477 "Cleanup dead code"
**Is your feature request related to a problem? Please describe.**
There are a few places in the codebase where we have dead code.  Let's clean it up!

**Describe the solution you'd like**
Just delete them.  Any maybe add tests.

**Additional context**
Feel free to add more locations.

Dead code location:
* `jobservice.go -> RestartTranscoder` (early return)
* `livepeernode.go -> TranscodeAndBroad

[2018-06-26 15:37] ericxtang commented on #406
@darkdarkdragon I think gitcoin isn't picking up this status change for some reason (usually it automatically accepts after the issue is closed).  I've pinged their team.  Will let you know when I hear back.  Don't worry - I'll do the payout directly if they can't solve the issue.

[2018-06-26 16:42] darkdarkdragon commented on #406
@ericxtang thanks!

[2018-06-26 17:07] #471 closed, assigned to yondonfu

[2018-06-26 20:24] chrishobcroft commented on #438
Hey @yondonfu, I don't know if this has been released with `0.2.4` but I just checked and it isn't showing the node's Eth address by default in Terminal...

This is what I saw:

![image](https://user-images.githubusercontent.com/2212651/41937057-8645b50e-798f-11e8-8d71-b577d18e7f61.png)

[2018-06-26 20:27] yondonfu commented on #438
I believe this just missed the `0.2.4` release, but it'll be included in the next release.

[2018-06-26 22:25] j0sh commented on #477
Yanked a bunch of stuff out https://github.com/livepeer/go-livepeer/pull/478 , including the `/transcoder` endpoint in webserver.go and a few supporting functions that were only used within the larger removed stuff.

As mentioned, we really could use some more replacement tests.

[2018-06-27 04:37] ericxtang commented on #476
Created https://github.com/livepeer/lpms/issues/83 and https://github.com/livepeer/lpms/issues/84, getting rid of this issue.

[2018-06-27 04:37] #476 closed, assigned to nobody

[2018-06-29 15:47] j0sh opened #479 "Add Tests"
Certain parts of the codebase are under-tested. We'd like to improve test coverage.

When writing tests, both success and failure cases should be checked. Especially ensure that failures fail in the way that are expected, eg check that the returned error matches.

This is not an exhaustive list of possible cases. Look at the corresponding code and see what paths may be uncovered.

Some changes to

[2018-06-29 16:07] j0sh opened #480 "Mediaserver State Refactor"
**Is your feature request related to a problem? Please describe.**
The state management code in `mediaserver.go` is getting unwieldy and a bit error-prone. It could use some refactoring.

**Describe the solution you'd like**

Much of the state management in mediaserver.go is 'column based' ; that is, we have many fields indexed by StreamID. These are:

[code]

We should consolidate these into a 'r

[2018-06-29 17:15] j0sh opened #481 "Multiple Streams per Broadcaster"
**Is your feature request related to a problem? Please describe.**

With [delayed broadcasting](https://github.com/livepeer/go-livepeer/issues/316), we had to limit the number of streams to 1 per broadcaster. With a [separate job creation](https://github.com/livepeer/go-livepeer/issues/429) step, there is the potential to have many outstanding jobs. What is missing is a way to select between jobs

[2018-06-29 20:47] dob commented on #481
Looks great. What's the current expiration policy for a job?

[2018-06-29 20:54] j0sh commented on #481
Right now jobs expire after 5760 blocks, or 1 day. It's a hard-coded value in goclient.

With the v2 network, there is no cost to having a really long job, so we might want to up this limit if users are going to be creating jobs as a separate step. Expiration could also be configurable at job creation time.

[2018-06-29 21:23] j0sh commented on #481
Added a note at the end about this design being suboptimal for shared/multi-tenant environments.

[2018-06-30 17:11] ericxtang commented on #481
This proposal is great.  It makes the transcoding network more useful.  IMO, this feature in combination with delayed broadcast changes the meaning of a "job". It's now more like a "time-capped transcoding channel".

The "product implication" is interesting. Will we ask the users of the node to figure out how to do this?  It's a strange concept for someone not familiar with the Livepeer protocol.

[2018-06-30 17:50] j0sh commented on #481
Yeah, it's a pretty significant workflow change. The one saving grace is that users already have to make a deposit and set their broadcast preferences (profiles, segment price, etc). In fact, we could probably merge the "broadcast preference" option and the job creation step in the CLI.

However, I suspect this 'additional step' will be less of an UX issue (perhaps even a net positive) for develop

[2018-06-30 18:18] j0sh commented on #481
One potential issue: a broadcaster could have several long-running, concurrent jobs on different transcoders. Since transcoders may take a while to submit claims, it's possible that a broadcaster's deposit could be overdrawn by a large margin, and the transcoder(s) wouldn't be able to receive the funds they are entitled to.

This is slightly less 'accidentally exploitable' now that we limit 1 job

[2018-07-05 13:48] dob commented on #446
Re-opening, as 0x88 transcoder node reported this happening in 0.2.4: https://etherscan.io/address/0x88e103b26e1a4ce226739d37d356b22afbfeed85. Will look for more details such as the logs.

[2018-07-06 02:42] oneyesoneno commented on #446
Hi... 0x88 transcoder node here.... The chronology is as follow:

Before i starts, the way my node operate is they connect to geth light client `./livepeer --transcoder --publicIP 80.211.32.121 -gasLimit 2100000 -v 4 -ethUrl ws://127.0.0.1:8546` and i was using livepeer v0.2.3 - until i switch it to v0.2.4 and thats is where the problem comes in.

So... its all began on 3 July 2018,
On that mornin

[2018-07-06 16:38] yondonfu commented on #446
Thanks for posting the logs @oneyesoneno

Are there any additional logs from the node in between the log message for the `reward()` transaction 0x6f9ada96c0f5994925a3b99ba185a2f0120d93c221a12da28d4a4a299d205db0 and the log message for the `reward()` transaction 0x31e6fc2d4638f2d5cb3207a41827246de96b158e175e767072765ae63a3f96de? It is weird that there are no log messages indicating that those addit

[2018-07-06 23:54] j0sh opened #483 "Object Store"
**Is your feature request related to a problem? Please describe.**

Object Storage (OS) is a necessary component of a robust transcoding system. OS provides persistent access to transcoded data outside of the transient context of live-streaming, and is foundational for use cases such as VOD.

**Describe the solution you'd like**

Refer to the [networking spec](https://github.com/livepeer/go-livepe

[2018-07-07 09:59] oneyesoneno commented on #446
@yondonfu hi... i already copy the whole logs.. i believe it is the full log for my ./livepeer console on that time.

[2018-07-08 01:58] oneyesoneno commented on #446
Update: 08/07/2018,
Somehow multiple rewards transaction is not happening today.
https://etherscan.io/address/0x88e103b26e1a4ce226739d37d356b22afbfeed85

[2018-07-09 15:48] yondonfu commented on #446
Hey @oneyesoneno noticed that this happened again today. Still trying to track down the cause - could you provide your logs from the past 2 days?

[2018-07-09 20:34] yondonfu opened #484 "Initial Partial Unbonding CLI Support"
**Is your feature request related to a problem? Please describe.**

[LIP-8](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-8.md) introduces the concept of partial unbonding to the protocol allowing delegators to unbond a portion of their bonded stake which can be withdrawn after the unbonding period. These unbonding tokens are managed by an "unbonding lock" structure which can also be used

[2018-07-10 00:53] oneyesoneno commented on #446
Hi @yondunfu i am out of town for few days due to something important. I will copy and paste the logs after i got home.

----------------

Here u goes:

root@80.211.32.121's password:
Welcome to Ubuntu 16.04.3 LTS (GNU/Linux 4.4.0-116-generic x86_64)

 * Documentation:  https://help.ubuntu.com
 * Management:     https://landscape.canonical.com
 * Support:        https://ubuntu.com/advantage

115 p

[2018-07-10 14:00] yondonfu commented on #484
An additional option is to kick off a unbonding lock event watching service when a node boots up that will update the local DB every time an unbonding lock is created or deleted (via the `Unbond()`, `Rebond()` and `WithdrawStake()` events). The service would filter for events starting from the node's last seen block (stored in the local DB).

[2018-07-10 14:09] dob commented on #484
Yah, echoing that I don't believe we can rely on the local DB to be updated solely via the invocation of the txns themselves, since the user may move their key to another machine and lose their local DB. Instead, we either have to update the DB via Logs (which we can optimize by only filtering for logs since the last DB update), or we need to query the blockchain to loop through all the potential

[2018-07-10 18:43] j0sh commented on #484
Just for clarification: is the use of the local DB here a convenience to avoid re-scanning the blockchain for unbonding locks?

Although the explorer is being deferred for now, are there any thoughts towards handling that? Is there anything we might be able to preemptively build in here?

[2018-07-10 19:05] yondonfu commented on #483
This might vary depending on the provider, but what options does the orchestrator (in the case of it supplying an input OS) and the broadcaster (in the case of it supplying an output OS) have if credentials are leaked to multiple third parties that spam the object store (lets say S3 is the provider) thereby jacking up the orchestrator/broadcaster's bills? Blacklisting IPs?

Maybe we start with OS

[2018-07-10 20:16] dob commented on #484
Yes, the purpose of the DB is to avoid having to loop through all indexes between 0 and `nextUnbondingLockID` and doing blockchain reads in order to find ones that are active. (Or looping through all Log events to constructruct this every time).

Certainly optional, but probably a worthwhile optimization if we already have a pattern in place for simple log watching loops.

[2018-07-10 23:51] j0sh commented on #483
I actually don't know enough about S3 if you can blacklist IPs from there. But rogue uploads are certainly a risk, since you're essentially creating a [policy](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-HTTPPOSTConstructPolicy.html) to allow multiple uploads towards a particular directory. If it's any consolation, POST policies have an expiration date, the content-type and various other

[2018-07-11 04:15] oneyesoneno commented on #446
Update: 11/07/2018,
Somehow multiple rewards transaction is not happening today.
https://etherscan.io/address/0x88e103b26e1a4ce226739d37d356b22afbfeed85

[2018-07-11 13:43] yondonfu commented on #483
Yeah unless there is a good way to defend against the attack vector of malicious OS uploads due to leaked credentials it seems like at least for broadcaster and orchestrator interactions, broadcasters should really only choose to provide an input OS (if it is providing an OS at all) such that orchestrators can only fetch files and orchestrators should really only choose to provide an output OS (if

[2018-07-11 17:48] j0sh commented on #483
There are risks with both reads and writes, eg a transcoder might not want its OS to be used as the focal point for mass distribution from a broadcaster, and certain transcoder behaviors may lead to higher read costs for broadcaster-owned OSes, eg races.

Ultimately, proper credentials management is a reflection of opsec, and for a transcoder this could mean losing delegates due to a loss of trust

[2018-07-11 18:12] yondonfu commented on #483
Good point - I just wanted to highlight what I believe to be potentially more harmful consequences with writes.

Agreed on the point about orchestrators/transcoders being responsible for their own opsec. I just think limiting access to credentials is a very difficult task for broadcasters/orchestrators in a permissionless setting - once you give the credentials to a counterparty they can do whatev

[2018-07-11 18:55] dob commented on #483
I had been thinking that for the S3 driver, orchestrators would provide temporary credentials (with expiration) to the broadcasters or transcoders such that only they could read/write to the folder for the duration of the job, plus expiry SLA.

The trickiest scenario here though seems to be orchestrator provided output store for VOD. In this case, what is the expectation...

* that the orchestrato

[2018-07-11 18:57] j0sh commented on #483
This is certainly true for broadcasters, which is one reason why having broadcasters upload to an orchestrator-owned OS is usually inappropriate. Orchestrators however, are not anonymous and do have reputational risk on the line when it comes to handling broadcaster credentials.

Note that broadcaster creds also have an expiration, which can be set very short (just a few minutes) since we can refr

[2018-07-11 19:56] j0sh commented on #483
In general, whoever's hosting the object store would be expected to cover the cost of using that. If the orchestrator is hosting, the broadcaster would certainly be expected to recover the results within a reasonable time frame.

We could do that, although I imagine we'd probably need to integrate each CDN's API specifically to configure the orchestrator as an origin on behalf of the broadcaster.

[2018-07-11 20:21] dob commented on #483
Sounds like for VOD, broadcaster supplied object store is almost a requirement for centralized services. Can get around this if you use IPFS driver (though you still may need to retrieve then seed yourself).

What do you think about the simple SLA for orchestrator provided output is that they store and serve the file for the duration of the verification window (verificationPeriod + slashingPeriod)

[2018-07-11 20:41] j0sh commented on #483
The files probably should be held the length of the job, or until verification/slashing is complete, whichever comes second. But we have no way to enforce that behavior to the extent that a SLA may imply. In fact, we're leaning pretty heavily on trust across various aspects of the object store, eg credentials, availability, access patterns, etc.

Once we have job negotiation in, the orchestrator c

[2018-07-11 21:30] ericxtang commented on #483
I think a broadcaster would want to provide an input OS for VOD - in which cases, they can make it read-only (or even just provide a direct URL).  Hard for me to see this use case for Live.

What are the cases when a broadcaster would want the orchestrator to write into its OS instead of loading it from the orchestrator's OS?  This feels like a problem-prone path - B's OS can be down, inaccessible

[2018-07-11 21:40] ericxtang commented on #483
Another potential issue for orchestrator-provided OS is bandwidth abuse. Imagine if a broadcaster use the OS url as a broadcast URL for millions of viewers. One possible solution is to require read authentication, and remove the authentication if bandwidth abuse is discovered.  How long the content will stay around is kinda up to the orchestrator, but it would be nice if the orchestrator can provi

[2018-07-11 21:47] ericxtang commented on #483
Not sure if we should have any expectations of how long the segments should be around based on claims and validations.  Instead, orchestrators can specify ttl for segments, which establishes how long the segments will be around for the broadcaster to use.  It feels like we shouldn't rely on OS for claims/validations, since there can be cases where orchestrators don't provide OS, but still need to

[2018-07-11 21:48] j0sh commented on #483
It's a very common feature with other transcoding services, and actually looks like the primary method of delivering outputs. Depositing the results directly where the broadcaster wants them saves a few steps where the broadcaster has to fetch the results, then put them where it wants. This also saves some uncertainty over how long an orchestrator is expected to keep results available, and mitigat

[2018-07-11 22:06] j0sh commented on #483
Since the orchestrator is generally expected to keep segments available until validation passes, that seems like a natural boundary for a SLA. However, this probably should also be kept available for the duration of the job itself (but I just realized, maybe not if the job expiry is really far into the future).

Good thought, we can do that by optionally adding it to the segment response (eg, it w

[2018-07-11 22:31] j0sh commented on #483
Agreed, it might not be the typical flow for live, but there are a few cases where this may be useful:
* Simultaneously store your content to your OS for later review, archival or compliance.
* Distribute your content to other places, in addition to the transcoder. Saves bandwidth (and latency) by only uploading once.
* Just-in-time transcoding for your content, which might not necessarily be live

[2018-07-12 06:31] j0sh opened #485 "Video on Demand"
Here is a proposed transcoding flow for VOD

![image](https://user-images.githubusercontent.com/292510/48181442-54e86900-e2dc-11e8-819e-7c2fdae86209.png)

[VOD Flow Diagram Source](https://sequencediagram.org/index.html#initialData=C4S2BsFMAIDUHkAi0Bi4D2B3AUNgDgIYBOoAxiIQHbDTxGkAWkAzsEQcOkbgEJHoEAJqQKtIRALQA+OoxZsOXAFwAVdpWal0gyACVIARwB00ABQqAnnkhK4SAJS5sspq3adJ0vgOGjg41XVNbXFoAElKADN0Xn4hETFJKTUC

[2018-07-12 07:31] ericxtang commented on #485
Maybe we can also return a progress indicator in `vod_results`.

[2018-07-12 13:12] dob commented on #485
Excellent.

The one thing that came to mind for me was how this would fit with the "transcoder races" concept. It seems like the broadcaster is serving content to one transcoder in this flow, but the idea of an orchestrator coordinating many transcoders to race to encode the VOD content would create redundancy, reliability, speed, and distributed processing seems powerful. It seems like the orches

[2018-07-12 14:49] j0sh commented on #485
Yeah, what happens on the transcoder side is an implementation detail that's hidden from the broadcaster. The work could be done in parallel, or sequentially, assigned to a pool of trusted transcoders, raced among untrusted transcoders, and so forth. Whatever works best for the orchestrator. This strong decoupling was one of the design goals with the v2 networking model, and also applies to live v

[2018-07-12 14:50] f1l1b0x commented on #485
great job as always!

[2018-07-14 04:05] oneyesoneno commented on #446
Update: 14/07/2018,
its been 4 straight day no multiple reward transaction happening. I did not do any changes to my parameter/ node since i posted the previous log on 5th of july 2018.

[2018-07-16 13:15] yondonfu commented on #455
Bump. @arthurk If this issue is still giving you trouble, please follow up with the node version you are using, log messages outputted by the node and any other details you think might be relevant! If not, I'll close this issue at the end of the week.

[2018-07-17 18:07] j0sh opened #487 "Object Store Implementation"
Action plan for https://github.com/livepeer/go-livepeer/issues/483

Work will be built on top of the [restartable broadcasts](https://github.com/livepeer/go-livepeer/pull/428) branch since that contains non-trivial changes on top of the v2 networking flow. Otherwise the merge process will be complicated with two diverging branches touching similar code.

The following tasks can be split into sever

[2018-07-17 20:18] ericxtang commented on #487
@j0sh this is a reasonable plan.  What do you think about focusing on merging the rpc branch before starting on this?  Otherwise we'd have to juggle 2 separate branches (especially if we have to make fixes in the rpc branch, could be a pain to merge)

I see the node evolving toward different types (Orchestrator, Broadcaster, Transcoder), so I'm in favor of creating a `transcoder` and a `broadcaste

[2018-07-17 20:41] j0sh commented on #487
:+1: Are we OK with merging the rpc (+ service registry + restartable broadcasts) branches, or do those need some more time to bake / test?

I haven't looked approaches too closely yet, but I was planning to use an approach similar to how gRPC and HTTP coexist right now. We could either pass in a HTTP handler to LPMS for sharing, or export a non-default handler from LPMS, and handle routing within

[2018-07-20 07:58] arthurk commented on #455
Hi @yondonfu, sorry for the late response, I was on vacation. I've used version 0.2.3 and not the latest release. I think it's okay to close this issue, I can always open another one if I encounter the same problem with the latest version.

[2018-07-20 12:38] yondonfu commented on #455
Sounds good - should be fixed in v0.2.4 so try that out. Thanks @arthurk!

[2018-07-20 12:38] #455 closed, assigned to nobody

[2018-07-24 21:19] j0sh opened #489 "Submit claims through CLI"
**Is your feature request related to a problem? Please describe.**
* If there is a problem with submitting one claim, the node stops submitting subsequent claims until the next restart. In Rinkeby testing, I have a backlog of hundreds of claims, and each one will probably fail.
* Automatically submitting many claims may be problematic if gas costs are high at that moment.
* Extremely long running

[2018-07-24 21:38] ericxtang opened #490 "Metrics Enhancement"
**Is your feature request related to a problem? Please describe.**
Metrics for the Livepeer network currently can be viewed at http://metrics.livepeer.org/videos.

You can turn on event logging by starting the Livepeer node with `-monitor`.  Events can be logged (see [this example](https://github.com/livepeer/go-livepeer/blob/5d0e059b215843a4279180522c9f6879a3d6870c/server/mediaserver.go#L187)) by

[2018-07-24 21:43] j0sh commented on #490
If it helps, here is a script that I've been using to extract some of these metrics from the broadcaster log: https://gist.github.com/j0sh/ea6624d55e519d5146e6568637582140

[2018-07-24 22:15] j0sh opened #491 "Tracking: Out of Order Segment Uploads"
**Describe the bug**
In the v2 networking system, the broadcaster starts a new goroutine each time a segment is submitted for transcoding in order to avoid blocking the production of new segments. Under certain circumstances (eg, a upload backlog) this may lead to out-of-order segments arriving at the transcoder, since we don't do any queuing or scheduling of uploads.

https://github.com/livepeer/

[2018-07-26 16:33] yondonfu opened #492 "More Robust Block/Event Watcher"
**Is your feature request related to a problem? Please describe.**

There are a few problems with the structure of our event subscription code at the moment:

- Does not handle chain re-orgs
- Does not handle block propagation delays when the Livepeer node connects to the Ethereum network via a remote service backed by pools of ETH nodes such as Infura. We have observed in testing that in some cas

[2018-07-26 17:05] ericxtang opened #493 "Sometimes Job Creation Information Not Captured"
**Describe the bug**
Sometimes a job is created but the information is not reported correctly.  When this occurs, the following error happens:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a Livepeer node
2. Create a stream
_Note this doesn't happen every time, but it happens enough times that it's an issue for broadcast stability_

**Expected behavior**
A job should already be

[2018-07-26 17:16] j0sh commented on #493
With this log line:

It seems the price is 0 and there's no transcoders available on Rinkeby for that price (minimum 1wei).

Can we get the whole log? In particular, there is another line within StartMediaServer that should print out the assigned price.

https://github.com/livepeer/go-livepeer/blob/5d0e059b215843a4279180522c9f6879a3d6870c/server/mediaserver.go#L101

[2018-07-26 20:38] ericxtang commented on #493
Yep

[code]

As you can see, the price is set to 200

[2018-07-26 20:55] ericxtang opened #494 "Transcoder Claimmanager Potential Race Condition"
**Describe the bug**
When you restart the claimmanager, with some unsubmitted claims, sometimes the node crashes with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start a stream, make sure a transcoder starts doing the work.
2. Stop the stream, restart the transcoder

**Expected behavior**
Node not to crash.  This doesn't happen all the time, which leads me to

[2018-07-26 21:07] yondonfu commented on #315
Apparently according to this open issue https://github.com/ethereum/go-ethereum/issues/15063 Geth also does not respect the `fromBlock` and `toBlock` parameters for log subscriptions. I've also verified this locally - if you create a log subscription with a set of topics and a `fromBlock` value, the `fromBlock` value is ignored and the subscription will only return new logs starting from the curre

[2018-07-26 21:25] ericxtang opened #495 "Sometimes We Load 0 as Assigned Transcoder"
**Describe the bug**
During broadcasting, sometimes I get the following error:

[code]

Notice the assigned transcoder is `[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]`

However, if I print out the jobs, I get:

[code]

So for job 2816, a transcoder is assigned.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new stream

**Expected behavior**
We should always be able to get back the tra

[2018-07-26 21:32] ericxtang opened #496 "Transcoder Stuck In a Loop Trying To Load Inactive Job"
**Describe the bug**
When a job ends (pasts the end block), if the stream is still active, the transcoder gets stuck in a loop trying to load the job with the follow error message:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Change `DefaultJobLength` in `livepeernode.go` to something like 5 blocks.
2. Stream a video, make sure it's assigned to a transcoder and the transcoder star

[2018-07-26 23:18] ericxtang opened #497 "Broadcaster Cannot Get Transcoder Connection Info"
**Describe the bug**
Sometimes the broadcaster fails with the following error:
[code]
I suspect this is because the call to `GetTranscoderInfo` in `SubmitSegment` gives back an empty transcoder info.

**To Reproduce**
Steps to reproduce the behavior:
1. Simply start a stream

**Expected behavior**
The segments should be sent to the transcoder.

[2018-07-27 20:01] j0sh commented on #494
Related: https://github.com/livepeer/go-livepeer/issues/424 . This is the best on the topic I could find: https://github.com/mattn/go-sqlite3/issues/274

[2018-07-27 20:07] j0sh commented on #497
This one is a bit strange. My best guess is that's because the service URI was not able to be fetched from the blockchain when the transcoder is starting up. This log line being printed out on the transcoder should confirm whether that's the case:

https://github.com/livepeer/go-livepeer/blob/ce778e4c32fbdf0d4e5ff775265ab47ca25a66b5/server/mediaserver.go#L131-L135

[2018-07-31 19:24] ericxtang opened #498 "Broadcaster Should Stop Streaming When Job Expires"
**Is your feature request related to a problem? Please describe.**
Currently the broadcaster continues to stream segments after a job has expired.

**Describe the solution you'd like**
The broadcaster should terminate the stream when the job expires, so no more segments will be streamed to a transcoder unnecessarily.

**Describe alternatives you've considered**
Leave it as it is, since the transco

[2018-07-31 19:24] status-open-bounty commented on #498
Current balance: 0.0 ETH
Contract address: [0x2fafa3b3c46e31f2d7710415c3f23cf856f4d2d8](https://etherscan.io/address/0x2fafa3b3c46e31f2d7710415c3f23cf856f4d2d8)
![QR Code](https://openbounty.status.im/qr/livepeer/go-livepeer/bounty/498/302ee82eace9d11eb672c6e8fc421e36f56bbf7f04db11b224f0ceab0b7bb8b9/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://ope

[2018-07-31 19:26] ericxtang commented on #496
This seems to no longer be an issue as of `commit 2d1d5301568d15b8a560456e09b7183dbeb72d03` in `ja/deadcode`.

[2018-07-31 19:26] #496 closed, assigned to ericxtang

[2018-07-31 19:29] ericxtang commented on #497
This seems to no longer be an issue as of `commit 2d1d5301568d15b8a560456e09b7183dbeb72d03` in `ja/deadcode`

[2018-07-31 19:29] #497 closed, assigned to ericxtang

[2018-07-31 20:19] j0sh commented on #498
Note that we already attempt to mitigate this issue somehow in the [restartable broadcasts PR](https://github.com/livepeer/go-livepeer/pull/428) by only reusing a job if there are at least 10 minutes remaining in the job. We can adjust this (or even make it configurable) if another number makes more sense, eg 1h.

In terms of actually implementing this feature: we should avoid making Eth RPC calls

[2018-08-02 18:18] j0sh commented on #495
Fixed in https://github.com/livepeer/go-livepeer/commit/eef77c28c9f70675ee0718643581ccd5a5b289fc

[2018-08-02 18:18] #495 closed, assigned to nobody

[2018-08-02 18:18] j0sh commented on #493
Fixed in https://github.com/livepeer/go-livepeer/commit/eef77c28c9f70675ee0718643581ccd5a5b289fc

[2018-08-02 18:18] #493 closed, assigned to nobody

[2018-08-02 18:19] j0sh commented on #477
Fixed in https://github.com/livepeer/go-livepeer/pull/478/commits/330cf64282b5d8eabe1d3e762feb06aa06b4a4c7

[2018-08-02 18:19] #477 closed, assigned to nobody

[2018-08-02 18:19] #462 closed, assigned to dob, j0sh, ericxtang, yondonfu, f1l1b0x

[2018-08-02 18:20] j0sh commented on #451
Blockchain registry implemented in https://github.com/livepeer/go-livepeer/commit/94d8edca933350d9587e76ef5a83066dccfcfd05

[2018-08-02 18:20] #451 closed, assigned to j0sh, yondonfu

[2018-08-02 18:22] j0sh commented on #449
The public IP is no longer required to be set via CLI, however transcoders must be public and registered on-chain (we have facilities to help auto-discover your public IP for you, to make this process easier).

[2018-08-02 18:22] #449 closed, assigned to nobody

[2018-08-02 18:23] j0sh commented on #316
Implemented in https://github.com/livepeer/go-livepeer/commit/2e9b5dacb961d2027d189c7603bdf07220dce121

[2018-08-02 18:23] #316 closed, assigned to j0sh, ericxtang

[2018-08-02 18:24] j0sh commented on #484
Implemented in https://github.com/livepeer/go-livepeer/pull/486 , merged in https://github.com/livepeer/go-livepeer/commit/2e9b5dacb961d2027d189c7603bdf07220dce121

[2018-08-02 18:24] #484 closed, assigned to nobody

[2018-08-02 20:00] blake41 opened #500 "Print message after retrieving test LPT"
i'm on livepeer rinkeby CL, when i select get test LPT, nothing appears to happen, then i selected get node status and realized i had test LPT, might be nice to have some kind of message print to the screen letting the user know it worked

[2018-08-02 21:19] j0sh opened #502 "Code Cleanup"
Two parts: refactoring the broadcaster and transcoder, and removing basicnet.

The term 'transcoder' here can be used interchangeably with 'orchestrator'.

## Broadcaster and Transcoder Refactor

This covers the first item in https://github.com/livepeer/go-livepeer/issues/487, "Move transcoder-specific code that is in livepeernode.go and mediaserver.go into its own file"

This is less about large

[2018-08-03 18:14] darkdarkdragon opened #503 "GetTranscoder request timeouts"
**Describe the bug**
GetTranscoder timeouts when probably it should've been returning some error message.

**To Reproduce**
run broadcaster build from master branch (2e9b5dacb961d2027d189c7603bdf07220dce121)
`./livepeer -rinkeby -v 5 -maxPricePerSegment 200`

**Expected behavior**
Probably should have returned some error

[code]

[2018-08-03 19:02] yondonfu commented on #502
I agree that `core` seems like the logical place to put `broadcaster.go` and `transcoder.go`

If `server` is a bit misleading as a directory name, what if we renamed the directory `rpc` and split `rpc.go` into `rpc_broadcaster.go` and `rpc_transcoder.go` - the files would make the client/server distinction, but the code would be still kept close together in the same directory to facilitate future

[2018-08-03 22:12] j0sh commented on #502
That's a good idea.

We could also separate it out by functionality. For example, there is a bunch of auth generation and checking code that might be split off without losing too much overall clarity. Another thing we could do is move the struct implementations for the `Orchestrator` and `Transcoder` interfaces outside RPC, but that probably means changes in how those structs are created and how t

[2018-08-06 14:35] yondonfu commented on #446
I don't think this is a problem anymore so closing this issue

[2018-08-06 14:35] #446 closed, assigned to yondonfu

[2018-08-06 20:43] ericxtang commented on #502
Some thoughts I have -

**Move broadcaster logic and transcoder logic into `core**
* `core/broadcaster` - responsible for the core logic of a broadcast(or ingest) node.  Invokes `rpc/publisher` to make the original video available to the transcoder.
* `core/transcoder.go` - responsible for the core logic of a transcoding node.  Invokes `rpc/publisher` to make the transcoded video available to the

[2018-08-07 16:44] j0sh commented on #502
Some thoughts on the `net` interface.

The v2 networking flow is synchronous request-reply, more than async pub-sub. Once the Tributary release is out, the sequence of events will look like this:

* Broadcaster requests transcode
* Transcoder replies with URLs of transcoded segments
* Broadcaster requests each transcoded segments
* Transcoder replies with each transcoded segment
* Broadcaster gene

[2018-08-09 19:28] rayj00 opened #504 "Running Livepeer From Ubuntu LXD Containers."
Of course I would love to see something implemented for this feature asap!  **So I will put a bounty on this once I figure out how to do that?  What would be a fair amount of LPT for this effort?**

**### BTW,  I am Rayj on the livepeer discord.**

**Is your feature request related to a problem? Please describe.**

I am running Ubuntu 16.04.4 and LXD v3.0.1

Currently I cannot view the stream when

[2018-08-09 19:32] j0sh commented on #504
Is `-httpIP` being set on the livepeer nodes? HTTP only listens to localhost by default because it is unsafe to expose the CLI commands to the world. (We have fixes pending to address that issue.)

[2018-08-10 07:27] chrishobcroft opened #505 "Create livepeer plugin for embark-framework"
**Describe the solution you'd like**

To have a plugin for livepeer within embark-framework, to make it easier for developers using embark to integrate with livepeer, and stream more easily.

**Additional context**

@embark-framework has plugins for e.g.

"storage on IPFS"
"naming on ENS"
"ethereum on Geth"

It would open up livepeer to a new set of developers using embark if there was a plugin fo

[2018-08-13 17:10] girishramnani opened #509 "building the cmd/livepeer after git clone fails"
**Describe the bug**
When building the `cmd/livepeer` package after cloning the issue, this error occurs

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. `mkdir -p $GOPATH/src/github.com/livepeer`
2. `cd $GOPATH/src/github.com/livepeer`
3. `git clone git@github.com:livepeer/go-livepeer.git`
4. `cd go-livepeer/cmd/livepeer`
5. `go build .`

**Expected behavior**
The livepeer cmd shoul

[2018-08-13 17:20] j0sh commented on #509
Typically for golang, it is encouraged to use `go get` rather than a direct git clone, since `go get` also fetches deps. In the case when cloning from git, a second `go get ./...` step needs to be run prior to building.

[2018-08-13 17:35] girishramnani commented on #509
But that approach will fetch the master branches of the unvendored packages
which could break stuff if the there are changes in those packages.

On Mon, Aug 13, 2018, 10:50 PM Josh Allmann <notifications@github.com>
wrote:

[2018-08-13 17:46] j0sh commented on #509
If a package is prone to breaking compatibility, we can vendor it. However, due to vgo, golang is starting to lean into the convention that imports under a certain path need to remain backwards compatible forever. To make breaking changes, a version number in the import path should to be bumped. Hopefully that will mitigate the need to vendor literally everything.

[2018-08-13 17:47] #509 closed, assigned to nobody

[2018-08-13 19:04] hgedia opened #510 "Allow ENS sub-domain registration for Livepeer nodes from CLI"
**Issue**
The current block explorer for Livepeer supports reverse ENS resolution of trancoders. However it is up to the participating node to go and register a domain via ENS. While registering a domain takes longer (via auction); subdomains can be created immediately. From CLI we can issue subdomains very quickly as outlined below.

**Solution**
This feature would allow all Livepeer nodes to reg

[2018-08-13 19:04] hgedia commented on #510
Note : @JosefJ and I have done some work regarding the above, and are happy to continue. A new issue will be opened to track smart contract related queries if you are happy with the proposed changes.

[2018-08-13 19:08] dob commented on #510
Really excited about this. For clarification, is the "Livepeer Server" the existing livepeer binary, which exposes an HTTP interface that the CLI talks to? I assume it is, since it can contain the logic for calling the on chain proxy contract.

[2018-08-13 19:11] hgedia commented on #510
@dob  ,yes that is correct. Here is a very rough cut of the changes https://github.com/livepeer/go-livepeer/compare/master...hgedia:master

I do need to clean up the code add error handling etc.

[2018-08-14 08:03] JosefJ commented on #510
@hgedia slight change - we will have to split the reverse registration to another call if we want this to work with the already published default Resolver on the mainnet.

[2018-08-14 08:38] girishramnani commented on #321
We can use https://github.com/jordansissel/fpm to create deb, rpm and OSx packages. I have used fpm to generate packages before in production and it is quite solid.

[2018-08-14 08:38] girishramnani commented on #321
@j0sh @ericxtang can I pick up this issue?

[2018-08-14 08:56] j0sh commented on #321
Go for it! Does fpm also facilitate creating service users, init files, etc? That's the real benefit of packaging IMO, but it's tedious to do this for each platform manually.

[2018-08-14 09:01] girishramnani commented on #321
I will investigate that as well. But currently I saw that livepeer
install.sh only just copies the binary to usr/bin so we can initially
target that. What do you say?

On Tue, Aug 14, 2018, 2:26 PM Josh Allmann <notifications@github.com> wrote:

[2018-08-14 15:41] JosefJ commented on #510
Contract code is here: https://github.com/JosefJ/ens/blob/master/contracts/SubdomainDispensary.sol

Setup:
1. Publish `SubdomainDispensary` with addresses of following mainnet ENS contracts:
`(ENS.address, DefaultPublicResolver.addres, ReverseRegistrar.address, '.transcoders.eth', 0)`
the 0 in the end sets the price of the call to 0 wei, otherwise it will require users to pay some fee for the regi

[2018-08-14 16:46] dob commented on #510
What does `rootNode` represent?

And...

Is it necessary that it is the same account that deployed the contract actually call `subRegister`? Anyone should be able to call it from their transcoder's account on a first-come-first-serve basis for a name, right?

[2018-08-14 18:28] JosefJ commented on #510
The rootNode is meant to be the node hash resulting from `keccak256(keccak256("0x0", "eth"),"transcoders")`
- it's written this way, so it's actually reusable for any level of an ENS domain.

Ad the same account)
Sorry, that's written confusingly. I meant to say the steps 1 & 2 in the usage part should be made from the same account - it doesn't relate to the publishing

[2018-08-15 11:40] NathanLewis commented on #510
It is cool to see that you guys are still working on our project. I'll try to catch up when I can.

[2018-08-16 20:25] j0sh opened #514 "Intelligent Addr Options Handling"
**Is your feature request related to a problem? Please describe.**
The `Addr` family of command line options typically requires the full hostname and port to be entered if an option is supplied. Some users may only want to adjust the hostname, or the port; remembering and specifying the defaults for both may be inconvenient.

**Describe the solution you'd like**
More intelligent handling of partia

[2018-08-16 23:08] j0sh opened #515 "Self Check for Connectivity"
**Is your feature request related to a problem? Please describe.**
Transcoder nodes need to be publicly available. However, we don't check if they are actually accessible over the network. Some form of connectivity check at startup would be helpful, and could mitigate the need for the `-serviceAddr` option.

**Describe the solution you'd like**

Sign a timestamp and send it via RPC to the address

[2018-08-16 23:57] j0sh opened #517 "Minimize Orchestrator Blockchain Lookups"
**Is your feature request related to a problem? Please describe.**
Local geth light nodes still don't have the reliability we need. In particular, sometimes they lose peers, we may encounter JSON-RPC errors along the lines of `abi: unmarshalling empty output`, and so forth.

**Describe the solution you'd like**
Minimize blockchain lookups mid-job, especially on the orchestrator.

* [x] `orchestrat

[2018-08-17 20:06] dob opened #518 "Broadcast node panic and SIGSEGV in gotRTMPStreamHandler"
**Describe the bug**
I started a job, and three of my segments were consumed by the transcoder, before my node crashed with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start a node on Rinkey `livepeer --rinkeby`
2. Configure the broadcast price and options as shown above.
3. Stream into it from OBS
4. Observe crash a few seconds later

**Expected behavior**
N

[2018-08-17 20:50] dob opened #519 "Reusable jobs feature is reusing jobs even though new broadcasting options are used"
**Describe the bug**
I started a broadcast with certain broadcasting options (price, encoding options), and then stopped that stream and restarted my node. I then started a new stream with different broadcasting options. But rather than create a new job on chain with these new options, it reused the existing job with the old options.

[2018-08-17 20:56] j0sh commented on #519
Ah yeah. Good catch. This was mentioned as a requirement here https://github.com/livepeer/go-livepeer/issues/316#issuecomment-387623814 but never got implemented.

[2018-08-17 21:00] j0sh commented on #518
Interesting. @ericxtang what's the git commit that was used in this build?

The backtrace looks somewhat like an error that was fixed here https://github.com/livepeer/go-livepeer/pull/512/commits/c7933cda57104e8d9e292e5c510c36cb83671cc1 but the `ja/nodeid` branch was not rebased onto `ja/v2feedback` until earlier this afternoon, so this build might not have all the latest fixes.

[2018-08-20 02:39] ericxtang commented on #518
This bug should be fixed.  Let's close it if we can no longer reproduce.

[2018-08-20 21:54] yondonfu opened #520 "Invalid memory address or nil pointer when recovering claims as transcoder"
**Describe the bug**
A clear and concise description of what the bug is.

Upon stopping and starting one of the Rinkeby transcoder nodes, it crashes with the following error message after trying to recover claims:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Stop transcoder node 0x94107cB2261e722f9F4908115546Eeee17dECada on Rinkeby
2. Start transcoder node 0x94107cB2261e722f9F4908

[2018-08-20 22:13] yondonfu opened #521 "Transcoders should ignore jobs they have not submited 1 claim within 256 blocks of creation"
**Describe the bug**

Transcoders will treat a job as valid even if the transcoder has not submitted at least 1 claim for the job within 256 blocks of the job's creation block. As a result, transcoders will transcode segments for the broadcaster, but none of the claims for these segments will be valid later on because the `JobsManager` contract rejects claims if a job does not have at least 1 clai

[2018-08-20 22:47] yondonfu commented on #520
Looks like the problematic line is here: https://github.com/livepeer/go-livepeer/blob/adc55c9882fc4fc91443dde961be449127b8f081/eth/claimmanager.go#L339

We should check the error returned by `c.db.InsertClaim()` because if it returns an error, then `claimIDp` will be nil resulting in a nil pointer exception which is the root of this issue. The error in this case is a `database is locked` error whi

[2018-08-20 22:59] yondonfu commented on #520
Realized this is a duplicate of #494 so closing this - a fix for this can be tracked there.

[2018-08-20 22:59] #520 closed, assigned to nobody

[2018-08-20 23:30] yondonfu opened #522 "Remove Node Addr in CLI"
**Describe the bug**

We should remove the `Node Addr` field in the CLI along with the `getNodeAddr()` function since the `/nodeAddrs` endpoint no longer exists. Right now the CLI just displays a 404 message for that field.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a node
2. Start the CLI and observe the `Node Addr` field in the stats table

**Expected behavior**

No `Node Addr`

[2018-08-21 16:34] yondonfu opened #523 "Unchecked signatures in transcode results"
**Describe the bug**

Signatures attached to the transcode results received by a broadcaster are not checked.

**Expected behavior**

The broadcaster client to check signatures attached to the transcode results.

**Desktop (please complete the following information):**
 - OS: Ubuntu 16.04.02

[2018-08-21 18:58] ericxtang opened #524 "Print Number of Blocks Left in a Locked Round"
**Is your feature request related to a problem? Please describe.**
When a round is locked, a user cannot do many of the actions.  But there is little information in when the user can resume doing things.

**Describe the solution you'd like**
We should at least print out the number of blocks left in the current locked round in the log.  We should also print it out in the cli output.

**Describe alt

[2018-08-21 19:08] ericxtang opened #525 "Upgrade devenv to the latest Livepeer node params"
**Is your feature request related to a problem? Please describe.**
Devenv is using the old livepeer node.  We should update it to the new version.

**Describe the solution you'd like**
Update all the params to be up to spec with the v2 node.

[2018-08-21 21:22] ericxtang opened #526 "setTranscoderConfig in webserver should check for config changes"
**Is your feature request related to a problem? Please describe.**
The `setTranscoderConfig` issues 2 transactions - 1 to update the transcoder config, 2 to update the `ServiceURI`.

Currently, when the transcoder only wants to update its `ServiceURI`, we still issue both the `Transcoder` and `ServiceURI` transaction.

**Describe the solution you'd like**
We should check for the transcoder config

[2018-08-21 21:34] ericxtang opened #527 "CLI UI Should Easily Allow Users to See All Unbonding Locks"
**Is your feature request related to a problem? Please describe.**
Currently the option to see all unbonding locks is hidden in "rebond".  We should have a more intuitive option for users to see all of the unbonding locks.

**Describe the solution you'd like**
We should displays all of the unbonding locks in the node status.

We can also show all of the locks in the "withdraw stake" option and let

[2018-08-21 22:36] ericxtang opened #530 "Better Broadcaster Solution For When Transcoder Fails"
**Is your feature request related to a problem? Please describe.**
In the current protocol version, the broadcaster stream stability can easily be affected by transcoder failures.  Consider the following scenario:
1. B creates a job for T with the default setting (720p, 360p, 240p), starts streaming.
2. T starts doing transcoding, sends video back.
3. T gets too many jobs and crashes.

Now B still

[2018-08-21 23:20] #519 closed, assigned to yondonfu

[2018-08-21 23:20] #494 closed, assigned to yondonfu

[2018-08-21 23:20] #522 closed, assigned to yondonfu

[2018-08-22 16:03] dob commented on #526
There might be a slight hiccup here, in that we require the transcoder to
submit a transcoder() txn in order to break into the set of the top 20
transcoders. It's a weird UX issue so that we can update the accounting to
break into the active set. So if we don't allow submission of a
transcoder() txn if they don't update their params, we may have trouble
with this.

On Tue, Aug 21, 2018 at 5:22 PM,

[2018-08-22 18:13] #502 closed, assigned to ericxtang, darkdarkdragon, yondonfu

[2018-08-22 18:13] ericxtang commented on #518
Fixed

[2018-08-22 18:13] #518 closed, assigned to nobody

[2018-08-22 18:59] #526 closed, assigned to nobody

[2018-08-22 18:59] #521 closed, assigned to nobody

[2018-08-22 22:17] yondonfu opened #535 "Job service does not set working flag"
**Describe the bug**

The job service does not set the working flag to true when it is running. As a result, the service starts running in the background, but when the CLI queries the web server to check if the service is running it will think that the service is not running because the working flag is still false.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a transcoder node
2. Go

[2018-08-23 21:43] ericxtang opened #538 "MediaStats Failure in streams with key frame == 0s"
**Describe the bug**
We've gotten some bug reports that transcoding consistently fails for certain videos with `MediaStats Failure`.  This is caused by setting keyframe to 0s in OBS.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a broadcaster on Rinkeby with `-maxPricePerSegment` == 200 (so it can pick one of the LP hosted transcoders)
2. Use OBS to stream, make sure the set your key f

[2018-08-24 17:00] rayj00 opened #539 "livepeer_cli deposit not decreasing?"
**Describe the bug**
livepeer v0.3.0
I have been experiencing "Insufficient Deposit" on the livepeer console and no longer see the "Successful Transcode"  messages when this happens.  The livepeer_cli displays the deposit, however it never decreases.  I am assuming it should decrease over time?
**To Reproduce**
Supply a low value of Deposit.
Stream until you receive the "Insufficient deposit"  mes

[2018-08-24 17:02] rayj00 commented on #539
![image](https://user-images.githubusercontent.com/6609523/44597514-e8120800-a79d-11e8-9511-cf0e14786527.png)

[2018-08-24 17:03] rayj00 commented on #539
I am getting the Insufficient Deposit when I am broadcasting in spite of the above screen capture.

[2018-08-24 17:04] rayj00 commented on #539
Is seems that the .ts segments are still being generated in the .lpData directory?

[2018-08-24 19:19] yondonfu commented on #510
Hey @JosefJ I forked the ENS repo here: https://github.com/livepeer/ens Want to create a PR there with your current branch so we can more easily review the contract code? We can continue the discussion on the desired mechanics of the contract there and try to get the contract code merged there and then since the contract could be reusable outside of a Livepeer context you could submit a PR to try

[2018-08-24 19:25] dob opened #540 "Claimwork appears to fail when txn is just pending"
**Describe the bug**
My transcoding node submitted a call to claimWork(), and the node indicated after awhile that it failed due to `context deadline exceeded`. When in reality the txn was still pending. The gas price offered by the node of 2gwei, was lower than the safe low at the time.

**To Reproduce**
Steps to reproduce the behavior:
1. Might be hard to reproduce. Get assigned a transcode job,

[2018-08-24 21:05] ericxtang opened #541 "ServiceURI from RPC call seems to return different result from registered URI"
**Describe the bug**
Reported by @dob

During a transcoding job, the job is created successfully, and the RPC connection seems to be successful as well, but the video segment is being sent to a different URI -
[code]

This is because we expect the transcoders to restart their node after setting the `ServiceURI`.

Let's change it so we update the local `ServiceURI` after the transaction has gone th

[2018-08-27 14:08] yondonfu opened #543 "Manually replace transactions from the CLI"
**Is your feature request related to a problem? Please describe.**

Sometimes a transaction submitted from the node (either automatically by the node or manually via the CLI), will sit in the transaction mempool for awhile due to upward gas price fluctuations. The node contains logic to try to automatically replace pending reward transactions. Users should be able to do this manually for other tra

[2018-08-27 14:10] dob commented on #543
Just noting that it would be nice to re-use existing code to do this if it exists somewhere already, since it would be a shame to rebuild the same "replace transaction" code that must already exist in every wallet.

If it doesn't happen to exist in go-lang already, perhaps we should develop and open source it as a standalone package, since the idea of replacing a txn with a higher gas price would

[2018-08-27 14:26] yondonfu commented on #543
Yep we already have code for this exact purpose (see: https://github.com/livepeer/go-livepeer/blob/master/eth/client.go#L917) which is currently used only for the automatic reward transaction replacements.

[2018-08-27 17:40] dob commented on #423
This is no longer relevant as there's no concept of network wide bootnode, right? Will close, but re-open if I'm mistaken.

[2018-08-27 17:40] #423 closed, assigned to nobody

[2018-08-27 17:41] dob commented on #304
Have we seen this happen lately? Or can we mark as closed?

[2018-08-27 19:23] j0sh commented on #538
Because the segment length is hard-coded to 4 seconds, we reject segments that are too long. There is [leeway up to 25%](https://github.com/livepeer/go-livepeer/blob/cf67256880bf31bfec8c77bc077557a92503a913/core/orchestrator.go#L217-L222), so technically broadcasters should be OK up to 5 seconds.

In the [goclient README](https://github.com/livepeer/go-livepeer#broadcasting) and [broadcasting guid

[2018-08-27 19:44] j0sh commented on #541
My guess is that the 0x4FF08 transcoder didn't actually restart their node after setting the on-chain service URI.

The orchestrator's internal ServiceURI is set once (at start-up time), and if an on-chain ServiceURI is not found, the default is `http://127.0.0.1:8935`

https://github.com/livepeer/go-livepeer/blob/cf67256880bf31bfec8c77bc077557a92503a913/cmd/livepeer/livepeer.go#L349-L358

 We can

[2018-08-27 19:56] j0sh commented on #539
The `Deposit` amount in the CLI reflects what is currently recognized on the blockchain. Only when a transcoder successfully claims the work will your deposited amount decrease.

To avoid overdrawing the deposited limit, transcoders do local bookeeping on your stream and will reject segments if there is no longer sufficient Eth deposited to cover the cost of transcoding the stream. This is why you

[2018-08-27 20:00] dob commented on #541
Oof, yah I definitely did not tell transcoders that they needed to restart their node after setting `serviceURI`

[2018-08-27 20:15] ericxtang commented on #541
@j0sh good idea about automatically updating the local `ServiceURI` after the transaction goes through.  I updated this issue to reflect that.

[2018-08-27 20:30] j0sh commented on #530
We probably need to be careful to distinguish legitimate transcoder unavailability from other types of errors. Some examples errors that shouldn't count towards the failure count:

* Transcoder may not see the job on-chain yet (in the case of newly created jobs)
* Errors within the broadcaster's stream itself (malformed or too-long segment)
* Networking issues with the broadcaster itself, eg slow

[2018-08-27 22:23] ericxtang commented on #530
Agree that transcoder unavailability is different from broadcast mistakes. Maybe we should look into these issues separately.

However, I think the broadcaster should still have a graceful-fallback strategy to deal with situations where it thinks transcoding has failed.

I think we can also add some logic to the transcoder to start rejecting jobs when it's overloaded, let's capture that in another

[2018-08-27 22:26] ericxtang commented on #538
Agree that we shouldn't remove the media stats check.  I think it'll help the experience a lot if we just tried to report an error on the broadcaster side.

[2018-08-29 08:18] chrishobcroft opened #545 "When creating an unbonding lock, livepeer_cli guides users to enter amount as a float, but expects big integer"
**Describe the bug**

During the process of creating an unbonding lock, the livepeer_cli provides information which guides the user to enter an amount in the wrong format.

**To Reproduce**

1. Run `./livepeer` in `-transcoder` mode, with an account which has bonded stake
2. Run `./livepeer_cli`
3. Choose option `7. Invoke "unbond"`
4. See that the `livepeer_cli` tells the user the Current Bonded

[2018-08-29 15:04] ericxtang opened #546 "Add Transcoder ServiceURI in the CLI"
**Is your feature request related to a problem? Please describe.**
ServiceURI is not in the CLI

**Describe the solution you'd like**
Show ServiceURI next to the transcoders

[2018-08-30 18:11] j0sh opened #548 "cli: Merge 'Become a Transcoder' and 'Set Transcoder Config'"
**Is your feature request related to a problem? Please describe.**
When you're already a transcoder, in the CLI you want to "Set Transcoder Config" in order to change your transcoder parameters. The "Become a Transcoder" option is a no-op. And vice versa.

**Describe the solution you'd like**
Have a single option that intelligently registers the transcoder if needed, or simply sets the config.

**

[2018-08-30 22:29] yondonfu commented on #540
In this case, if the node times out waiting for confirmation of the `claimWork()` transaction, it will not check for verification challenges.

These types of scenarios are inevitable - a transaction is submitted, does not confirm within the hardcoded transaction timeout period (currently 10 minutes), but is later included in the chain. We can increase the hardcoded transaction timeout period, but

[2018-08-31 00:28] ericxtang commented on #548
Maybe we can intelligently display the option (when transcoder is not registered, expose the "become a transcoder" option.  When transcoder is registered, expose the "set transcoder config" option)

[2018-09-05 01:52] gjgd opened #552 "Cannot change the broadcast config in livepeer_cli"
**Describe the bug**
Cannot change the broadcast config in `livepeer_cli`

**To Reproduce**
Steps to reproduce the behavior:
1. `cd <path_to_livepeer_folder>`
2. `./livepeer -rinkeby -v 6`
3. Open new terminal
4. `./livepeer_cli` in the same folder
5. My Broadcaster stats
<img width="546" alt="screen shot 2018-09-04 at 21 47 02" src="https://user-images.githubusercontent.com/7913565/45066371-1b9d3

[2018-09-05 02:20] j0sh commented on #552
Note that it is expected to use the *identifier* rather than the full name of the transcoding option (mostly because it's a lot easier to write via CLI). So in this case, step 8 would expect an input of `2,7` to set the options you want. Just tested it here and it works OK, but can you confirm?

We could add the full option parsing easily enough, but that's a separate usability issue. Although in

[2018-09-05 02:26] gjgd commented on #552
You're right, `2,7` works, that's my bad.

However when I tried `P240p30fps16x9,P360p30fps16x9` I didn't see any parsing error message.

Is there a `-v` flag to add to the `./livepeer_cli` command to enable it?

[2018-09-05 02:31] j0sh commented on #552
There's `livepeer_cli -loglevel` but it shouldn't be required to see this error message. Granted, the error message can be hard to spot because the status gets printed immediately afterwards.

[2018-09-05 02:34] gjgd commented on #552
Found it, closing the issue

[2018-09-05 02:34] #552 closed, assigned to nobody

[2018-09-05 02:42] j0sh opened #553 "Document CLI API"
**Is your feature request related to a problem? Please describe.**
There is no documentation for the CLI API, which exposes a lot of useful functionality. Currently, most interaction is done via the `livepeer_cli` app, however this isn't the best UX.

The information density and user experience would be greatly improved by writing a Web UI on top of the API, which could also pull information from

[2018-09-05 02:43] #192 closed, assigned to nobody

[2018-09-05 02:45] #191 closed, assigned to nobody

[2018-09-05 02:45] #193 closed, assigned to nobody

[2018-09-05 02:45] #195 closed, assigned to nobody

[2018-09-05 02:45] #196 closed, assigned to nobody

[2018-09-05 02:45] #208 closed, assigned to nobody

[2018-09-05 02:45] #279 closed, assigned to nobody

[2018-09-05 02:48] j0sh commented on #490
Implemented in https://github.com/livepeer/go-livepeer/pull/501 and https://github.com/livepeer/livepeer-metrics/pull/3 ; OK to close this?

[2018-09-05 03:20] j0sh commented on #525
Fixed in https://github.com/livepeer/devenv/pull/28

[2018-09-05 03:20] #525 closed, assigned to nobody

[2018-09-05 03:31] j0sh commented on #504
Is this still a problem? Will close in a little bit otherwise.

[2018-09-05 08:51] f1l1b0x opened #554 "reuse of transcoding job does only work on rinkeby but wont be used on mainnet"
restarting a rtmp source stream to LPMS will result in a new job with a new on chain job message instead of reusing it.

behavior on rinkeby is different than on mainnet!

on rinkeby it works as expected and reuses the jobid and transcoder
on mainnet it starts a new one

to test start a new job on rinkeby and start / stop / start OBS
you will only see 1 on chain tx no matter how often you start wh

[2018-09-05 14:28] j0sh opened #555 "Specify a transcoder in offchain mode"
**Is your feature request related to a problem? Please describe.**
There is no way to actually transcode in offchain mode. Being able to transcode in offchain mode would be useful for testing and local networks.

**Describe the solution you'd like**
A command-line flag the broadcaster can use to set the transcoder address in conjunction with offline mode. Perhaps by using `-orchAddr` on the broadc

[2018-09-05 14:39] j0sh commented on #554
We looked at this earlier yesterday. In this particular case, there was no job in the local DB that matched the node's current transcode options, which led to new job(s) being created. The node never received the `JobCreated` events from the blockchain, so it didn't have an opportunity to record the information in the DB. Those missing events are a wider issue that should be remedied by https://gi

[2018-09-05 18:05] j0sh opened #556 "Special `stream/current` playback endpoint"
**Is your feature request related to a problem? Please describe.**
The web player uses the broadcaster's latest Stream ID for playback. However, there are a few situations where the latest Stream ID doesn't reflect the Stream ID that the broadcast node is currently using.

* The node tries to intelligently reuse jobs by reusing only if the job configuration matches. If a broadcaster switches betwe

[2018-09-06 02:46] #111 closed, assigned to nobody

[2018-09-06 02:46] #117 closed, assigned to nobody

[2018-09-06 02:46] #118 closed, assigned to nobody

[2018-09-06 02:46] #139 closed, assigned to nobody

[2018-09-06 02:46] #152 closed, assigned to nobody

[2018-09-07 14:01] blake41 commented on #553
Ahh this is awesome, thanks @j0sh

[2018-09-07 14:21] mnmli commented on #468
@ericxtang Is this ticket still open or has there been a tutorial created since?

[2018-09-07 16:19] ericxtang commented on #468
A few have started, but no one has finished.

[2018-09-10 14:38] ya7ya opened #558 "go-livepeer Doesn't punch through NATs"
**Describe the bug**
If `go-livepeer` node is running behind a firewall or a VPN, it's not able to get the external IP , it should be able to do so in order to broadcast and communicate with other peers in the network.

**To Reproduce**
Steps to reproduce the behavior:
1. run a VPN
2. run Livepeer node
3. stream some rtmp to `rtmp://localhost:1935`
4. try loading that stream anyway within localhos

[2018-09-11 17:27] j0sh commented on #558
Can you elaborate on what the use case would be for this?

This could be useful for P2P but in that case I think we'd need to consider a number of other things alongside that if/when we design a P2P delivery system for the goclient. Eg, any integration with the Novage P2P effort should imply using a library with proper NAT traversal support, which is essential for WebRTC.

Anyhow, NAT hole punchin

[2018-09-12 15:32] j0sh commented on #384
Should be fixed by now; the transcoder will reject segments if the broadcaster's balance is too low.

[2018-09-12 15:32] #384 closed, assigned to nobody

[2018-09-12 23:50] j0sh opened #559 "Local Content Organization"
**Is your feature request related to a problem? Please describe.**
Currently, after transcoding and adding to the manifest, nothing further is done with transcoded segments. There is no way to retrieve source segments by job or organize transcoded segments that have been paid for.

**Describe the solution you'd like**
This is clearly open to design and discussion, but one approach is to group all

[2018-09-13 20:32] j0sh opened #560 "Handling Claim Submission Failures"
**Describe the bug**
Currently, there are a few issues with local synchronization that arise when a claim fails to be confirmed on the blockchain.

* The `db.GetJob` function will incorrectly count claims
* The `db. DBJobToEthJob` helper will incorrectly mark FirstClaimSubmitted as true if the first claim(s) in the DB have failed. This may lead orchestrators to accept jobs that it otherwise should

[2018-09-14 13:50] chrishobcroft commented on #348
OK, further recent experiments on this show that restream is able to successfully stream to livepeer.

![image](https://user-images.githubusercontent.com/2212651/45554046-bdafe980-b835-11e8-99ad-80f0d74d063b.png)

This test was performed using OBS to stream to restream, and then configuring restream to stream to livepeer (ingest2).

[2018-09-14 16:54] chrishobcroft commented on #348
Proof-of-restream:

![image](https://user-images.githubusercontent.com/2212651/45562873-ee028280-b84b-11e8-8ee2-e429bd305c1e.png)

Streaming from [__OBS__](https://obsproject.com) on __Ubuntu__ at `2560x1440`, `10fps`, `1000kbps` into [__restream.io__](https://restream.io/)

[__restream.io__](https://restream.io/) restreaming content to the following livestreaming infrastructure platforms:

- [__L

[2018-09-14 16:54] #348 closed, assigned to dob, j0sh, ericxtang, chrishobcroft

[2018-09-14 18:44] #514 closed, assigned to nobody

[2018-09-14 18:44] #541 closed, assigned to j0sh

[2018-09-14 18:45] #556 closed, assigned to nobody

[2018-09-14 21:42] Bradymck commented on #348
Oh man, thanks for the ping! This is awesome!

[2018-09-14 23:04] j0sh commented on #515
Thought about this, and I'd prefer us to sign a timestamp instead. Minimizing the amount of state we need to carry around is a win. Updated the ticket.

[2018-09-14 23:14] #504 closed, assigned to nobody

[2018-09-14 23:38] #246 closed, assigned to nobody

[2018-09-14 23:41] #294 closed, assigned to nobody

[2018-09-14 23:42] #214 closed, assigned to nobody

[2018-09-14 23:46] j0sh commented on #308
I think we can close this one now, but feel free to reopen if this is still an issue.

[2018-09-14 23:46] #308 closed, assigned to j0sh, ericxtang

[2018-09-14 23:47] j0sh commented on #335
The transcoder now keeps track of the broadcaster's remaining balance and will reject the segment if the balance is too low.

[2018-09-14 23:47] #335 closed, assigned to nobody

[2018-09-17 22:32] #517 closed, assigned to nobody

[2018-09-18 18:12] darkdarkdragon opened #563 "OS design questions"
Some problems in no particular order:

1. Should broadcasters be configured at start with concrete OS options - say, to require transcoder to supply input OS, or broadcaster should be configured with range of allowed OS options and should negotiate concrete options with transcoder for ever job? Or it should be allowed to configure OS for every job somehow?

2. Save mode - just an idea - it should

[2018-09-19 16:58] j0sh commented on #563
Great questions. Maybe it'll help to break down the types of OS:

"Internal" OS: Local HTTP, IPFS
"External" OS: S3

I think the only thing that might need explicit configuration is external OS such as S3, and that's optional. So if S3 credentials are set, then S3 is made available. Internal OS should be on by default.

Someday, it might be useful to have flags that disable a particular internal O

[2018-09-20 11:55] chrishobcroft opened #564 "Improvements in prompt text when running Livepeer for the first time and setting passphrase"
**Is your feature request related to a problem? Please describe.**

When showing a new user how to run `livepeer`, I become aware of a lack of clarity in the instructions given to them in Terminal. In some cases, I believe we could do better at explaining what a user must do at each step of the process.

This improvement is designed to attempt to clarify exactly what a user is supposed to do at ev

[2018-09-24 15:36] yondonfu opened #566 "Support for increasing bonded stake as unregistered transcoder in the CLI"
**Is your feature request related to a problem? Please describe.**

A unregistered transcoder currently has no way to increase its bonded stake (delegated towards itself) if its delegated stake is currently non-zero, but is insufficient for it to join the registered transcoder pool. This is relevant for any candidate that bonds an initial amount which is insufficient - the candidate will be unable

[2018-09-25 16:47] j0sh opened #567 "Orchestrator / Transcoder Flag"
**Is your feature request related to a problem? Please describe.**
With the upcoming O/T split, we need a way to distinguish "transcoding mode" from "orchestrating mode" , and to support a combined mode where O/T are running on the same instance (as it is done now).

Note that we can run without a combined O/T mode under the expectation that Os would be obligated to run the transcoder separately,

[2018-09-25 18:10] #546 closed, assigned to darkdarkdragon

[2018-09-25 21:25] darkdarkdragon commented on #567
@j0sh  Seems reasonable. Do you want to add flags before doing actual split?

[2018-09-25 21:35] dob commented on #567
I'm not yet up to speed enough on the entire proposal for T/O split. But I think that in the first iteration keeping O's as T's by default will be helpful, since there's no default pool implementation or supply side for T's out of the box.

[2018-09-25 21:36] j0sh commented on #567
@darkdarkdragon If we change the behavior of the existing "-transcoder" flag then it would be better to introduce the "-orchestrator" flag in a backwards-compatible manner and give users time to migrate over, before we actually break compatibility.

Another possibility is: leave "-transcoder" as is; this initializes an orchestrator+transcoder instance, which is unchanged from the current behavior.

[2018-09-25 21:40] yondonfu commented on #567
Something that might be worth keeping mind with how the flags are used is how the O/T split lines up timing wise with the introduction of new terminology to transcoder operators in communication. The concept of an orchestrator will be completely foreign to many users, so if the default flag that a user has to enable is `-orchestrator` then we'll also have to prepare the right story in the communic

[2018-09-27 20:56] ericxtang opened #570 "Kick Off New Go Routines For Transcoding Task in Transcode Loop"
**Is your feature request related to a problem? Please describe.**
A single "stuck" segment currently can block the transcoding of an entire video stream due to our current transcoding loop design.

**Describe the solution you'd like**
We should
1. Kick off a new go-routine for each segment transcoding [here](https://github.com/livepeer/go-livepeer/blob/cd4fe0d650a3e7a36bfdb59a51c8d9465b2bea64/cor

[2018-10-02 22:17] ericxtang opened #571 "New Video Streams Cannot Be Transcoded Until All Past Jobs Are Received"
**Describe the bug**
Sometimes transcoders get "stuck" for different reasons.  For example, the local Geth node crashes.  When this happens, it can miss many jobs.  When the transcoder is restarted, it has to go back and reload all the old jobs before processing current jobs (and this process can take a LONG time).

Quote from @j0sh -

**To Reproduce**
1. Run a transcoder with a local Geth node
2.

[2018-10-03 21:36] ericxtang opened #572 "Transcoder Workload Back Pressure"
**Is your feature request related to a problem? Please describe.**
This issue is related to https://github.com/livepeer/go-livepeer/issues/571.  Currently the "back pressure" mechanism is simply STOP if the previous segment hasn't finished transcoding.  However, if we kick off new go routines, we'll need more sophisticated mechanisms.

**Describe the solution you'd like**
Since we are already sett

[2018-10-03 22:15] j0sh commented on #572
50 in-progress segments is a lot; I'd even say that we should leave it at 1.

The reason is that immediate feedback is useful if the transcoder is unable to keep up with incoming segments, eg if it takes more than 4 seconds to transcode a 4-second segment. Slow transcoding hurts the viewer experience as playback outruns the transcoding process. Adding even more segments to an already-overloaded tr

[2018-10-03 22:57] j0sh commented on #570
We'll need ensure that operations within the goroutine are cleaned up properly, eg ffmpeg. Otherwise resources will be leaked when the goroutine is killed.

[2018-10-04 03:18] ericxtang opened #573 "Research Automated Build Process"
**Is your feature request related to a problem? Please describe.**
We should have an automated build process so new builds are automatically created and uploaded to S3.

**Open Questions**
* How do we address automated building for OSX and Windows?
* Should we integrate with Hubot?

[2018-10-04 03:20] ericxtang opened #574 "Better Versioning"
**Is your feature request related to a problem? Please describe.**
Release versioning should have git commit hashes included.

Proposal: `v0.3.1-cd4fe0d`

[2018-10-04 09:06] darkdarkdragon commented on #573
- CircleCI has macOS VM
 - for windows there is https://www.appveyor.com - and it's free for open source projects

[2018-10-04 13:09] yondonfu commented on #574
Github releases already have Git commit hashes attached to the release which can be viewed on a project's release page. An alternative instead of coupling the Git commit hash with the versioning scheme would be to modify the `version` command used with the binary to print out additional information about a binary including the Git commit hash (in addition to things like what version of Go was used

[2018-10-05 22:54] j0sh opened #576 "Orchestrator / Transcoder RPC Timeouts"
**Is your feature request related to a problem? Please describe.**

Currently, orchestrators listen to the same port for gRPC, direct bulk uploads, and LPMS downloads. This has worked well so far with broadcasters. However, this runs into a problem when we attempt to expand the orchestrator's interaction to include transcoders on the same port.

There is a read/write timeout of 8 seconds for HTTP

[2018-10-08 14:21] yondonfu commented on #576
If we use 2, we would still need to do something about the timeout right? By using a different port than the one used to interact with the broadcaster, we can have a longer timeout value (assuming we want to keep timeouts since they are helpful) that is more appropriate for the interaction between the orchestrator and transcoders, but we would still need to use a keepalive every timeout interval?

[2018-10-08 14:34] j0sh commented on #576
Correct, with 2, we can set the timeout to whatever's appropriate apart from the broadcaster, or disable the O/T timeout entirely. Running a new port increases the operational surface area though, and it affects how folks interact with the node. I can see benefits either way though, eg internal transcoders talking to a private interface, and broadcasters talking to the public one.

[2018-10-08 20:58] #304 closed, assigned to nobody

[2018-10-12 15:39] dob commented on #538
If this is "Finished" should we close the issue?

[2018-10-12 15:56] j0sh commented on #538
Yep.

[2018-10-12 15:56] #538 closed, assigned to nobody

[2018-10-19 15:17] chrishobcroft commented on #444
I have a few things to share re: the scope of this:

- There will be no centralized RTMP endpoint for Livepeer as a "Streaming Service". This is different from "YouTube" and "Twitch".

- Instead, it is likely that OBS' stream output will go to localhost as an endpoint - as this is how video can currently be injected into Livepeer's network.

- Which makes me wonder whether to try to prototype a "L

[2018-10-19 15:28] kuhnchris commented on #444
Ah OK, i was about to get myself some ETH to try this out. It makes sense to have a "default" configuration (rtmp://localhost:<fixedPort>) and a alternative as text box.
Regarding the "connection", we can either provide a shell script and .bat file (for *NIX(mac/linux) and windows) that calls livepeer with certain parameters and start obs, OR, as already mentioned above, write a plugin that basica

[2018-10-21 16:24] aj07 commented on #468
@ericxtang if this is still open. I would like to work on

[2018-10-22 18:40] j0sh opened #580 "Clean up Network Config"
**Is your feature request related to a problem? Please describe.**
The network configuration code is getting unwieldy. There are many hard-coded values and uncertain interactions between the options. For example, offchain mode is mutually exclusive with mainnet and rinkeby, but this is not obvious from reading the code.

https://github.com/livepeer/go-livepeer/blob/bbb568ffdc1c4dfd0f92a4f3c9e31e81

[2018-10-22 18:57] kuhnchris commented on #444
Hi there everyone,

I got the testnet setup here (I guess, hard to try in docker), did you guys decide on which route to take with the plugin? @chrishobcroft

Thanks,
Chris

[2018-10-22 22:39] chrishobcroft commented on #444
In my mind, the most elegant solution here, is to bake OBS and livepeer together. So, an OBS that is **only** able to broadcast using livepeer. Or perhaps better put: a version of livepeer which embed OBS as a Broadcasting user-interface.

When it runs first time, it first launches a livepeer Broadcasting node, and prompts a user to create an Ethereum private key (in ~/.lpData/keystore) with a pas

[2018-10-22 22:47] kuhnchris commented on #444
Well, it would work as a "one-off" solution. Like a patch against master/trunk, as long as nothing major changes we should be able to get through with this. Integrating this is not the hard part, the harder part will be the integration across platforms (especially Windows v.s. Mac). I can even imagine before launching the OBS interface we could actually prompt the user the information required by

[2018-10-24 14:16] eladmallel opened #581 "livepeer_cli status print balances should clearly label the unit"
Updated based on comment by @dob

We should label units for all CLI balances.

[2018-10-24 14:18] dob commented on #581
I don't necessarily disagree, but we should spec this issue a little better because some balances are in ETH/WEI and some in LPT/LPTU. Users input pricing in wei, etc. So we should just be explicit about which balances and which inputs should be in which units.

[2018-10-25 06:39] j0sh opened #582 "OS Preferences"
## Signaled Preferences

We may need to indicate an explicit OS preference such that the sender should use the **other** side's storage preference when selecting a storage mechanism.

* B sending segments to O: use O's preference
  * Signaled via `OSInfo` in `TranscoderInfo`
* O sending segments to B: use B's preference
  * Signaled via `OSInfo` in `SubmitSegment`

There are a few scenarios where

[2018-10-25 20:38] j0sh opened #583 "Geth compat for Golang 1.11"
**Describe the bug**
Our vendored geth is apparently incompatible with the latest version of golang, 1.11. See https://github.com/ethereum/go-ethereum/issues/17751

**To Reproduce**
1. Install go 1.11
2. Try to build the goclient

**Expected behavior**
Goclient should build

**Additional context**
We probably need to rebase our [go-ethereum](https://github.com/livepeer/go-ethereum) changes on top

[2018-10-25 20:44] angyangie commented on #583
Thanks for filing this @j0sh ! To add, the latest version of go Geth worked with locally was `go1.10`. Does not even work with `go1.10.4`

[2018-10-26 07:23] j0sh commented on #571
Should be fixed by https://github.com/livepeer/go-livepeer/pull/568

[2018-10-26 07:23] #571 closed, assigned to nobody

[2018-10-26 07:24] j0sh commented on #523
Fixed by https://github.com/livepeer/go-livepeer/pull/569

[2018-10-26 07:24] #523 closed, assigned to nobody

[2018-10-26 14:36] ericxtang commented on #371
This is going to be moot with PM.  Should we remove it?

[2018-10-26 15:40] j0sh commented on #371
Yup.

[2018-10-26 15:40] #371 closed, assigned to nobody

[2018-10-26 17:47] j0sh commented on #346
We don't have the `TranscodeResponse` from basicnet anymore so this can be closed.

[2018-10-26 17:47] #346 closed, assigned to nobody

[2018-10-26 17:47] j0sh commented on #535
Fixed by https://github.com/livepeer/go-livepeer/pull/579

[2018-10-26 17:47] #535 closed, assigned to nobody

[2018-10-27 12:36] ericxtang opened #584 "Should be able to create a stream without a deposit"
**Is your feature request related to a problem? Please describe.**
A broadcast node currently cannot create a viewable stream without having deposited Eth.  This is an artificial constraint.  Even though they won't be able to pay for the transcoding without a deposit, they should still be able to creating a viewable stream (from the incoming stream).

**Describe the solution you'd like**
If the de

[2018-10-28 16:36] kuhnchris commented on #444
Hi there, got some progress for you guys:

When you start the modified OBS:
![image](https://user-images.githubusercontent.com/761911/47618826-bb4cda80-dad7-11e8-981c-da01461bcecd.png)

Wrong passphrase closes OBS:
![image](https://user-images.githubusercontent.com/761911/47618807-abcd9180-dad7-11e8-87d3-98a2854468c7.png)

If working:
![image](https://user-images.githubusercontent.com/761911/47618

[2018-10-28 16:51] chrishobcroft commented on #444
Very nice.

For copy, I would suggest:

`Please enter your passphrase to decrypt your private key`.

Re: the streaming, it ought to be equivalent to setting a custom streaming server to stream to `rtmp://localhost:1935`

Did you look at the livepeer_cli and the functions available, such as "deposit"? It would be really great to be able to configure these settings through OBS.

![screenshot from 20

[2018-10-28 16:53] kuhnchris commented on #444
Hmm, I can add the display, but for Deposit and other functions I would suggest that you have a separate client for that. I can add a couple of functions (via Qt), but only rudimentary for now.

-Chris

[2018-10-28 16:54] j0sh commented on #444
Note that not all nodes will be on localhost, the user should be able to
broadcast to a node that's already running somewhere else.

On Sun, Oct 28, 2018, 09:51 Chris Hobcroft <notifications@github.com> wrote:

[2018-10-28 16:54] kuhnchris commented on #444
Would that be a "custom" broadcasting server, or would you like to configure that via the LivePeer tab itself, just pre-set with the localhost?

[2018-10-28 17:11] chrishobcroft commented on #444
@j0sh yes, and you can use the vanilla release of OBS to stream to other nodes assuming you can reach them.

This issue / bounty is all about prototyping a more accessible user experience for OBS to easily broadcast using Livepeer. If it can install and run Livepeer out of the box, it can help creators to connect with Livepeer much more easily.

[2018-10-28 17:13] chrishobcroft commented on #444
As for `deposit()` and other functions, these can be managed via:

https://explorer.livepeer.org/accounts/0x70564145fa8e8a15348ef0190e6b7c07a2120462/broadcasting

Where 0x70564145fa8e8a15348ef0190e6b7c07a2120462 is the address of the node.

[2018-10-29 09:56] kuhnchris commented on #444
Hello everyone,

I copied the rtmp-settings module and created an entirely new rtmp-livepeer module.
![image](https://user-images.githubusercontent.com/761911/47642416-e2072180-db68-11e8-8eea-a272d8132a14.png)
Sadly there are some restrictions which causes some bugs with the display, so I am thinking about extending the OBS-GUI library so we can actually "refresh" the display, currently we have th

[2018-10-29 10:10] chrishobcroft commented on #444
Very nice! Well done! And yes, buttons which open browser URLs would be great.

Also, assuming the config is still being stored in ~/.lpData then you can point people to [this post about connecting Livepeer with MetaMask](https://forum.livepeer.org/t/how-to-connect-livepeer-to-metamask/187).

Re: the public IP, I would say that the focus here ought to be about helping a user to understand how some

[2018-10-29 10:32] kuhnchris commented on #444
You want to provide me some URLs I can include? I can also build URLs with data I can get from the CLI, i just need to know which one are "important" to the users. ;-)
The Metamask<->Livepeer post definitly makes sense.

For a "next steps" I would also suggest to integrate a micro-webserver providing a web3.js instance to add a new account to MetaMask locally so users do not need to find that hidd

[2018-10-29 15:18] j0sh commented on #584
There's a few considerations here:

There is offchain mode if the user has no intention of transcoding. That should permit view only streams.

For onchain mode (where the intent is to transcode), halting the stream here is useful as a feedback mechanism for the same reason we don't allow creating streams if a round is uninitialized: it brings to the user's attention that something is amiss and nee

[2018-10-29 15:25] kuhnchris commented on #444
I made a quick mock-up and implemented most of the data for now:
![image](https://user-images.githubusercontent.com/761911/47660365-20b3d080-db97-11e8-8465-f1f8b2d6b5dd.png)

Anything else we'd need for a quick start?

[2018-10-29 16:40] chrishobcroft commented on #444
Some feedback:

1. The amounts you are showing are actually in "Wei" which are a fraction of Ether. 1 Ether = 10^18 Wei.

2. It's spelled "Ethereum", not "Ethereum" :)

Does the "Start Streaming" work? Are you able to ffplay it?

`ffplay http://localhost:8935/stream/[manifestID].m3u8`

And what OS platform are you testing this on?

Great job, excited to see it working.

[2018-10-29 19:15] kuhnchris commented on #444
Want me to recalc to Eth (e.a. div by 10e18) or want me to display in WEI?
The Etherium/Ethereum will be translateable anyways, but I'll fix it in the default version. ;-)

I haven't tried streaming yet, but I can test it, if I set up everything properly on testnet... Will reply to you ASAP.

Testing and compiling Platform right now is Mac OS X, I have access to a windows machine and a linux build

[2018-10-29 19:52] kuhnchris commented on #444
"Start Streaming" (without any special settings, but bound before via cli) results in the following, but I think that the transcoder simply does not exist on the rinkeby net:
![image](https://user-images.githubusercontent.com/761911/47676314-99795380-dbbc-11e8-8cf0-62122625c96c.png)

[2018-10-29 20:00] chrishobcroft commented on #444
The acid test is the `ffplay` command as defined above.

[2018-10-29 20:04] kuhnchris commented on #444
[code]

[2018-10-29 23:56] kuhnchris commented on #444
FYI: I added my branch to https://github.com/kuhnchris/obs-studio .
You can follow the default build instructions, after you finished building with cmake you should add the livepeer directory and livepeer/livepeer binary into the same folder as the obs binary. After that you should be able to run/connect as usual.

-Chris

[2018-10-30 00:04] eladmallel opened #587 "Add colors to test outputs to make them more readable"
**Is your feature request related to a problem? Please describe.**
My problem is that I find the current test outputs hard to parse.

**Describe the solution you'd like**
I'd love to see test results in colors, similar to the examples in [this link](https://stackoverflow.com/questions/27242652/colorizing-golang-test-run-output).

Of the ideas in the above link I liked [richgo](https://github.com/k

[2018-10-30 01:05] j0sh opened #588 "Manifest Names / Paths with Reused Jobs"
**Is your feature request related to a problem? Please describe.**

In the OS release proposal, one of the requirements is for "full playlist" support which would hold a collection of all the segments in the stream. Assuming we keep this feature for the release, the question becomes how to handle full playlists for **live** streams that have been attached to a reused job. For example,

[code]

Bec

[2018-10-30 14:32] eladmallel commented on #588
👍 for solution #5, since it's indeed on the path to Streamflow and usability at scale. Are there strong reasons to prefer a different solution for now, rather than waiting for the right time to execute on #5?

thanks!

[2018-10-30 15:54] j0sh commented on #588
Not anymore since we'll hold this feature until after VOD, so we can take the time to spec out #5.

[2018-10-31 14:02] darkdarkdragon commented on #588
@j0sh I still want to make option 2 in this release (but with small change, playlist name should be `streamid_seqno.m3u8`, where `seqno` is sequence number, from which current session started.
Couple of reasons why I still want this:
1. This feature has nothing to do whit our future VOD release, it is just convenience for user, so after stream user will have playlist with all the stream inside it.

[2018-10-31 16:23] eladmallel commented on #581
@dob great feedback, thank you! will do.

[2018-10-31 16:32] eladmallel commented on #588
How is #2 useful before we support more than one RMTP per B?

[2018-10-31 16:53] darkdarkdragon commented on #588
@eladmallel for #2 it doesn't matter how much RTMP streams B supports.

[2018-10-31 21:06] eladmallel commented on #573
@ericxtang how important is it that we build for windows? - if it's really important, I'd like to throw Travis into the options hat, since they support windows machines and are incredibly popular. They also have a "free for open source" thing, so it might end up being cheaper than Circle.

wdyt?

[2018-11-01 03:39] j0sh commented on #588
We can do #2 but the node itself wouldn't have a record of the full manifest after a restart or when a new job comes in, so it'd be kind of floating around in S3 or wherever. Granted, this is also true for the segments right now.

One of the tasks for VOD will be to make this persistent, so the whole thing becomes much more useful on a long-term basis, including for live streams.

[2018-11-01 16:24] j0sh commented on #580
Before anything is implemented for a config file (if that's the direction we go with), it's probably worth discussing the format that should be used. TOML / ini-style looks good to me, for what it's worth. This library seems nice: https://github.com/BurntSushi/toml

[2018-11-01 23:25] darkdarkdragon commented on #588
@j0sh yes, it will be floating around in s3 or local storage. whole point of this is to have them manifest float around segments, so user that needed this segments will have manifest that stitches segments together, not just bunch of video segments with no idea how to make video out of them.

[2018-11-02 20:37] eladmallel commented on #498
Hey @j0sh and @ericxtang, I spent some time reading our code, got a basic understanding of the flow, but would love to get some of your guidance before I can arrive at a good solution. Would love your inputs on my questions below, and of course any inputs you think are important that are not mentioned here yet:

1. How to detect this state?
    1. Is it good enough to rely on T's 403 response?

[2018-11-05 05:47] j0sh commented on #498
Great questions.

The transcoder will send a "[Job out of range](https://github.com/livepeer/go-livepeer/blob/5fb9565cee34be0e59b61a6fc761f542276d7d72/server/rpc.go#L98)" error. See how we handle "[MediaStats Failure](https://github.com/livepeer/go-livepeer/blob/5fb9565cee34be0e59b61a6fc761f542276d7d72/server/rpc.go#L484-L485)" within SendSegment; we can detect in a similar fashion, although this

[2018-11-05 16:33] eladmallel commented on #498
@j0sh thanks!

I also looked inside `SubmitSegment`, and I believe the relevant code that's running is [this one](https://github.com/livepeer/go-livepeer/blob/5fb9565cee34be0e59b61a6fc761f542276d7d72/server/rpc.go#L442), since I think T returns 403 [here](https://github.com/livepeer/go-livepeer/blob/5fb9565cee34be0e59b61a6fc761f542276d7d72/server/rpc.go#L241).

The 403 response leads us to [this l

[2018-11-05 21:50] j0sh commented on #498
Yes, that's exactly where the check for "Job out of range" should happen. The error code may be a 403 (we consider all non-200 to be failures), but the body should contain "Job out of range"  -- non-200 response bodies gets wrapped in a golang error and propagated.

Yes

[2018-11-05 22:15] eladmallel commented on #498
@j0sh thanks!

I'm planning to definitely convert the error response into a meaningful error and make decisions based on that. I want to start with the current structure, but also hoping to squeeze into this PR a small change to move us towards a more strongly-typed error typing system, so we can use something more robust than string comparisons to determine the error type.

I've seen examples onl

[2018-11-07 01:14] #583 closed, assigned to nobody

[2018-11-07 16:50] eladmallel commented on #80
@ericxtang what kinds of RPC calls did you have in mind under this issue? Is this still relevant?

[2018-11-07 17:59] j0sh opened #591 "Broadcaster VOD Database Design"
### Intro

One of the benefits of VOD is that it allows for "fire and forget" jobs, including persistence across node restarts. Ideally, at any (reasonable) point after submitting a VOD job, the broadcaster would be able to:

1. View a list of all historical jobs and their statuses
1. Process transcode results of any pending jobs
1. Play back completed jobs

This describes a DB schema for broadcas

[2018-11-07 20:54] dob commented on #591
10,000 foot view level response here, without being aware of some of the design or prioritization decisions that may have already been discussed...

The one thing that ticks my antennae a little bit is the adherence to V1 concepts in the design, when we're nearing Streamflow which potentially changes some of these concepts. For example the notion that there's a singular orchestrator for the job, o

[2018-11-07 21:11] j0sh commented on #591
Yes, this is a large reason why I'm asking for feedback here, so we can start seeing how VOD should fit into Streamflow, and to make it clear which parts we should build now, and which parts to defer until the Streamflow design is more concrete.

Without some accommodations for v1, we can't really have a usable VOD release until Streamflow. Perhaps that's a discussion to have.

While payments prot

[2018-11-07 22:01] Randy1Burrell commented on #591
I like the idea of a separate table for errors. The thinking behind this is that if we want to build a fully featured architecture for video transcoding then just being decentralized is not enough. We still need to be able to run data analysis to see what happened and where we can improve. From my stand point all metadata will be useful data at one point or another. Application level logic can be

[2018-11-07 22:10] eladmallel commented on #591
@j0sh thanks for sharing this! some thoughts and questions:

1. I could use some additional context on VOD to form intelligent opinions here. Is there a PRD or any additional context I should read to better understand everything VOD means to us?
2. I wanted to share that I think it best for us to focus as much of our brain power as possible on speccing and breaking down Streamflow into actionable

[2018-11-07 23:09] j0sh commented on #591
@Randy1Burrell

Yes, this is why I'm hesitant to use m3u8 playlists in place of a DB table to store segment information.

@eladmallel

Making VOD a Streamflow dependency is going to reduce velocity even further until we get the Streamflow details worked out. We might decide that's necessary, which is OK. Or we can try to pipeline some of that work in.

[2018-11-07 23:48] j0sh opened #592 "VOD Fire and Forget"
**Is your feature request related to a problem? Please describe.**
The ideal flow for VOD would be a "fire and forget" model: that is, the broadcaster submits a job and its contents in bulk to an orchestrator, then comes back some time later to retrieve the results. The orchestrator can then schedule the work as appropriate, yielding lower costs through more efficient allocation of transcoding res

[2018-11-08 05:07] rmshea commented on #444
Hey @chrishobcroft, Ryan from Gitcoin checking in here. Have you had a chance to look at @kuhnchris' work? Let me know if you have any questions on the Gitcoin end of things 😄

[2018-11-08 06:37] j0sh commented on #485
Updated with details on the message format

[2018-11-10 19:53] ericxtang opened #595 "Bug When B and O Both Provide Local Storage"
**Describe the bug**
According to acceptance test [#3](https://docs.google.com/document/d/1QKCEwYQexX0XlmS7uOqReWbcDkEz8bKRt611FmTZadA/edit#), when B and O both provide local storage, only B should be storing the results to its local.

However, currently, both B and O store video segments to local disk.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch B with local storage (make sure da

[2018-11-10 20:00] ericxtang opened #596 "Bug When Only O Provides S3 Storage"
**Describe the bug**
According to acceptance test [#5](https://docs.google.com/document/d/1QKCEwYQexX0XlmS7uOqReWbcDkEz8bKRt611FmTZadA/edit#) When only O provides S3 storage, O should write the video segments to S3.  However, currently O writes the video segments to both S3 AND local storage.

**To Reproduce**
Steps to reproduce the behavior:
1. Start B with local storage
2. Start O with S3 storag

[2018-11-10 20:06] ericxtang opened #597 "Should Show Error When Node Starts With Bad S3 Auth Info"
**Describe the bug**
The node should show an error if it's started with the wrong S3 auth info.

**To Reproduce**
1. Start B with the wrong S3 auth info
2. Start streaming to B
3. B reports error, and stream is not playable.

**Expected behavior**
If wrong S3 auth is provided, we should either:
* Exit during boot-up, or
* Show an error during boot-up, make sure the stream playable (even when S3 up

[2018-11-11 06:41] j0sh commented on #595
Note that we don't actually have on-disk OS, only in-memory.

That being said, the orchestrator writes to disk here for two reasons:
1. The source segment needs to be locally available for verification via IPFS. This is going away with Streamflow.
2. Intermediate storage for transcode results. These are deleted immediately after the results are processed.

[2018-11-11 06:43] j0sh commented on #596
See https://github.com/livepeer/go-livepeer/issues/595#issuecomment-437647566 ; O's datadir contains segments for the same reasons.

[2018-11-12 16:28] j0sh commented on #487
OS merged in https://github.com/livepeer/go-livepeer/pull/562

[2018-11-12 16:28] #487 closed, assigned to nobody

[2018-11-12 16:28] j0sh commented on #563
OS merged in https://github.com/livepeer/go-livepeer/pull/562

[2018-11-12 16:28] #563 closed, assigned to darkdarkdragon

[2018-11-12 16:28] j0sh commented on #483
OS merged in https://github.com/livepeer/go-livepeer/pull/562

[2018-11-12 16:28] #483 closed, assigned to nobody

[2018-11-12 16:29] j0sh commented on #498
Fixed by https://github.com/livepeer/go-livepeer/pull/590

[2018-11-12 16:29] #498 closed, assigned to eladmallel

[2018-11-12 16:29] j0sh commented on #472
OS merged in https://github.com/livepeer/go-livepeer/pull/562

[2018-11-12 16:29] #472 closed, assigned to darkdarkdragon

[2018-11-12 16:32] j0sh commented on #582
With the merge of OS in https://github.com/livepeer/go-livepeer/pull/562 , we almost support this scenario fully. What's missing: if the orchestrator requests a direct upload, that may not be honored if B also supplies S3.

[2018-11-12 16:37] eladmallel commented on #592
How does this work in the world of PM, in which IIUC we are reducing the scope of a job to a single ticket? - if we want to allow B to go offline for a while after submitting the video, it means we should provide some payment safeguards *before* we allow B to go offline.

Sounds like this use case can't fully enjoy the benefits of PM and perhaps needs its own payment scheme - do we already have so

[2018-11-12 16:58] j0sh commented on #592
The broadcaster would be submitting multiple tickets up front (or a single ticket with an equivalent `winProb`) to cover the anticipated cost of doing the VOD job.

Correct that PM doesn't provide watertight safeguards with regards to data availability for B. The proposal here is to accept this drawback until we have the opportunity to address VOD-specific payments.

@yondonfu had a sketch of a VO

[2018-11-12 22:38] j0sh commented on #560
Obsoleted by Streamflow

[2018-11-12 22:38] #560 closed, assigned to nobody

[2018-11-12 22:39] j0sh commented on #540
Obsoleted by Streamflow

[2018-11-12 22:39] #540 closed, assigned to nobody

[2018-11-13 10:43] f1l1b0x commented on #592
a set and forget option that allows a B to fire and go offline would always include some trust with the O doing the work after being paid already.
however can B always request proof for the work after the job was accomplished?
is it coming with an amount of time that O has to do the job?
since it isnt a segment by segment payment, can the O refund B in case it finds the files it received not trans

[2018-11-13 23:51] ericxtang opened #598 "Update networking.md With New Section"
**Is your feature request related to a problem? Please describe.**
The `networking.md` doc specifies how the networking protocol works today, but it doesn't capture the design principles we used to create the protocol.

**Describe the solution you'd like**
Add a `Design Considerations` section to discuss some of the considerations like:
* gRPC doesn't do a good job handling large data. [discussion

[2018-11-19 23:44] j0sh commented on #515
Fixed by https://github.com/livepeer/go-livepeer/pull/593

[2018-11-19 23:44] #515 closed, assigned to angyangie

[2018-11-21 21:51] darkdarkdragon opened #600 "Orchestrator doesn't start"
**Describe the bug**
Orchestrator, at start, fails to pass `CheckTranscoderAvailability` check and exits.

**To Reproduce**
Try to run orchestrator.

**Additional context**
here
https://github.com/livepeer/go-livepeer/blob/3a435f5e8c3a8a0b2dcfa366587d2127a04d7907/server/rpc.go#L120-L122
connection gets closed right after being open

also this function doesn't work as expected - it fails at `verify

[2018-11-22 05:15] j0sh opened #602 "PR Checklist"
**Is your feature request related to a problem? Please describe.**
We could do a better job of nudging each other to update tests and documentation when a PR is submitted.

**Describe the solution you'd like**
LivepeerJS sets a good example here with its checklist. Something similar could work here, eg:
- [ ] Tests added and/or fixed
- [ ] README and other documentation updated
- [ ] Node runs in

[2018-11-22 05:16] j0sh commented on #598
Also needs updating for the new Ping command.

[2018-11-23 22:55] eladmallel opened #603 "O should respond with an InsufficientCapacity when B attempts a new job/segment negotiation and O is at max capacity"
**Is your feature request related to a problem? Please describe.**
As we are thinking about off-chain negotiation messages between B and O, in a naive implementation we would not be able to tell apart Os that are offline/unresponsive vs responsive Os that are aware they are at max capacity and cannot take on additional work.

It seems important to tell these scenarios apart, to allow the good Os t

[2018-11-26 15:26] dob commented on #603
I'd like to add support to the notion that this sort of message is only a benevolent message than can help B if provided from an honest and upstanding O, but that B should never expect to receive this message in order to operate correctly.

[2018-11-26 23:44] #600 closed, assigned to angyangie

[2018-11-27 18:27] angyangie opened #605 "Add transcoder address flag to livepeer.go"
**Is your feature request related to a problem? Please describe.**
Standalone transcoders and broadcasters are both specified using the -orchAddr flag in  `livepeer.go`. We'll need a way to distinguish between the two. We currently use a transcoder boolean variable in combination with the offchain flag and an orchestrator flag to determine whether something is running in transcoder or broadcaster

[2018-11-27 18:53] j0sh commented on #605
Another option is to also re-purpose the existing `-transcoder` flag to make it additive (rather than exclusive) to the `-orchestrator` flag:

* `-transcoder -orchAddr ...` runs a standalone transcoder
* `-orchestrator` runs a standalone orchestrator
* `-orchestrator -transcoder` runs an orchestrator with a local transcoder

The drawback is that this breaks the existing behavior of the node; it's

[2018-11-27 19:57] j0sh commented on #605
Some more context for the general issue:

After the O/T split, the `-orchAddr` flag was introduced. Standalone transcoders are specified using the `-orchAddr` option.

With O Discovery, the broadcaster will be able to manually select an orchestrator via a CLI flag. For consistency, it seems natural to reuse the `-orchAddr` flag for the broadcaster to specify the orchestrator. However, we need a wa

[2018-11-28 15:09] dob opened #606 "Let users withdraw deposited ETH via CLI if started with --transcoder flag"
**Is your feature request related to a problem? Please describe.**
Users who have deposited ETH (as broadcasters) can't withdraw it via the CLI if their node was started with the `--transcoder` flag. The CLI option only shows up when started without that flag.

**Describe the solution you'd like**
Show that option regardless of what mode the node is running in. Is there a good reason not to?

**De

[2018-11-28 17:09] j0sh commented on #606
The orchestrator mode CLI currently has 18 options -- we filter out broadcaster-specific options to make the list of options a bit less overwhelming.

Note that the orchestrator mode can't make deposits via the CLI either. I'm not sure we should expose withdraws (or deposits), since O doesn't need to manage deposits in the normal case.

This is something we've been discussing recently, but no sett

[2018-11-28 22:38] ericxtang commented on #602
Created a [pull request template](https://github.com/livepeer/go-livepeer/blob/master/PULL_REQUEST_TEMPLATE.md)

[2018-11-28 22:38] #602 closed, assigned to nobody

[2018-12-03 00:14] chrishobcroft commented on #444
Hi @kuhnchris can you give some more information about how I can try this out? I'm running on Ubuntu, and usually would usually follow these instructions for installing: https://github.com/obsproject/obs-studio/wiki/Install-Instructions#linux

[2018-12-04 20:25] j0sh opened #609 "Offchain Mode"
**Is your feature request related to a problem? Please describe.**
We've had an `-offchain` mode for some time. This mode was originally intended for basicnet (bootnodes, gateways), but was also useful for viewing ingest RTMP or segmented streams without any accompanying transcoding.

There are still advantages to having such an offchain mode:

* Allows to run independently of the smart-contract p

[2018-12-05 20:13] ericxtang commented on #609
Do we need to bypass the Eth address to enable `-offchain`?  In the context of segment signing, the Eth address can simply be used as a keypair.

I'm in favor of maintaining the `-offchain` path, and it feels like a maintenance task - maybe even a small re-architecture, to make sure there is a working code path without using the blockchain.  Also in favor of using `-orchAddr` in this flow, so a B

[2018-12-05 20:27] j0sh commented on #609
Yeah, that was the suggested alternative. It's a bit more work right now, because the Eth address is pretty closely tied to the Eth backend, for example, it's part of the `Eth` struct, which means we need to move the keys and signing outside of `Eth` or redo most of our `Eth != nil` checks for offchain mode.

Another option is to create an "stub offchain" implementation of the Eth client so we don

[2018-12-06 18:28] ericxtang commented on #609
Another consideration is whether `-offchain` mode is only used for testing. I now agree with no Eth addr because if you just want to use the Livepeer software without the blockchain for transcoding / live streaming, you probably don't want a B->O->T architecture (instead, you just want a node to do the transcoding and give you the response).

In any case, I'm on board with no Eth addr / signatures

[2018-12-07 17:14] ericxtang opened #615 "Gitcoin Bounty: Remove flags from "testing" package in golang"
**Describe the bug**
The Livepeer node contains a list of flags for the command line.  However, if you run `livepeer -h`, there are a lot of flags introduced by the `testing` package.

This is because the `testing` package introduces testing-specific flags for things like benchmarking, profiling, etc.  These flags are introduced when the `init()` function is called in the `testing` package.  (More

[2018-12-07 20:39] mestorlx commented on #615
Hi @ericxtang I would like to take this issue.
As you mention I will check all files that import testing and why. Will then work on refactors to remove the import.

[2018-12-10 00:52] ericxtang commented on #615
Sounds good @mestorlx!

[2018-12-10 07:05] kuhnchris commented on #444
Hi there @chrishobcroft , sorry for the long delay, currently a really stressful time of year.
The default install instructions should work as is, just make sure to copy a binary of livepeer to the execution directory so it can be started.

[2018-12-10 12:13] mestorlx commented on #615
@ericxtang I think you approved speunz to start working. Should I start working anyways or wait?
Thanks

[2018-12-10 16:55] j0sh commented on #598
Fixed in https://github.com/livepeer/go-livepeer/pull/604

[2018-12-10 16:55] #598 closed, assigned to nobody

[2018-12-10 16:56] j0sh commented on #609
Fixed in https://github.com/livepeer/go-livepeer/pull/610 and https://github.com/livepeer/go-livepeer/pull/604

[2018-12-10 16:56] #609 closed, assigned to nobody

[2018-12-10 16:56] j0sh commented on #555
Fixed in Fixed in #610 and #604

[2018-12-10 16:56] #555 closed, assigned to nobody

[2018-12-10 16:57] j0sh commented on #605
Resolved by using `-standaloneTranscoder` in https://github.com/livepeer/go-livepeer/pull/604

[2018-12-10 16:57] #605 closed, assigned to nobody

[2018-12-10 16:58] j0sh commented on #567
O/T split has been merged, so closing this one

[2018-12-10 16:58] #567 closed, assigned to dob, ericxtang, darkdarkdragon, yondonfu, angyangie, f1l1b0x

[2018-12-10 18:31] j0sh commented on #329
Since the node isn't listening for jobs from the blockchain anymore, should we close this ticket?

[2018-12-10 18:32] j0sh commented on #554
Most of these issues aren't applicable with Streamflow, so closing this ticket.

[2018-12-10 18:32] #554 closed, assigned to j0sh, ericxtang, f1l1b0x

[2018-12-10 19:17] j0sh opened #616 "On-Chain Orchestrator Discovery"
**Is your feature request related to a problem? Please describe.**
The next task in orchestrator discovery is to use on-chain information to discover active orchestrators. This can be broken up into a few steps.

**Describe the solution you'd like**
- [ ] Modify [`offchainOrchestrator`](https://github.com/livepeer/go-livepeer/blob/a8362ac3655062328d95be07976d5f90ccbc136f/discovery/discovery.go#L13

[2018-12-10 19:32] speunz commented on #615
@mestorlx @ericxtang I've begun working on this :) I'll have an update in a day.

[2018-12-10 20:42] speunz commented on #615
Pull request here: https://github.com/livepeer/go-livepeer/pull/617

@ericxtang could you please review my changes? Thanks!

[2018-12-11 15:53] eladmallel commented on #616
I'm not sure it's worth it, but you could measure the roundtrip time in each goroutine and sort Os by roundtrip time, thus mitigating the risk of bias towards goroutine scheduling.

wdyt?

[2018-12-11 19:27] eladmallel opened #620 "PM Tickets Random Numbers Lifecycle"
**Is your feature request related to a problem? Please describe.**

__The Basics:__

* PM is based on B sending O payment tickets that are only redeemable under a certain probability (the probability is subject to B & O's negotiation).
* The function that determines if a ticket is redeemable (i.e. a winning ticket) takes two random numbers as inputs: one from B and one from O, named `senderNonce`

[2018-12-11 20:11] yondonfu commented on #620
I don't think this is necessary as this information should be internal to O.

For the sake of minimizing complexity, I would say no. A B can always use a different ETH address if it needs to (assuming the block list is based on ETH addresses).

We can leave something like this for SS and use the simplest approach of accepting `invalidTicketsInARowAllowed = 3` invalid tickets before disconnecting f

[2018-12-11 21:23] j0sh commented on #620
The grace could be an absolute count, rather than "in a row".

Sharing a single `recipientRand` for all Bs has quite a few spillover effects in addition to the ticket-validity issues outlined. We should consider using multiple `recipientRand`s.

* The broadcaster can keep its ticket-handling isolated on a per-stream basis with multiple `recipientRand`.  Eg, a B node sending multiple streams into a

[2018-12-11 21:28] eladmallel commented on #620
@j0sh can you outline the entire HMAC solution? - I'm pretty sure I'm not really getting how you're thinking about it :)

[2018-12-11 21:36] eladmallel commented on #620
I connect mostly with your first and last points, how a rand-per-stream minimizes effects on other streams, whether from the same B or from other Bs.

I think it's a good idea to minimize the frequency of `recipientRand` changes across the board, because every such switch costs O some amount of invalid tickets that might be sent with the old value.

Therefore I am convinced of the idea of a `recip

[2018-12-11 22:21] j0sh commented on #620
@eladmallel  Absolutely.

Each time O starts up, it generates a fresh `randSecret`. (The `randSecret` should not be persisted across restarts due to the tracking required for winning tickets.)

Each time B requests PM parameters, O generates a fresh `randSeed` and derives `recipientRand` from that, eg `recipientRand = HMAC(randSecret, randSeed)`

The primary motivation for the `recipientRand` cons

[2018-12-11 22:55] j0sh commented on #620
The notion of O "broadcasting" to B is a bit tricky here, since we don't actually have bidirectional communications -- B -> O follows a client-server, request-reply format due to limitations in gRPC. While there are workarounds for this, there is perhaps a simpler way.

If O detects an invalid ticket within a segment, it can return updated `OrchestratorInfo` parameters  along with the transcoded r

[2018-12-11 23:25] yondonfu commented on #620
Here is a summary of an offline discussion between @eladmallel and I:

We agree that it makes more sense to have different `recipientRand` values instead of a single global `recipientRand` value in order to reduce the complexity issues mentioned previously. Thus, we compare the approach suggested in the OP of this issue modified to use different `recipientRand` values per stream (instead of using

[2018-12-11 23:37] yondonfu opened #621 "pm: Store winning tickets on-disk with corresponding recipientRand value"
**Is your feature request related to a problem? Please describe.**

While in MVS, O will submit an on-chain transaction to redeem a winning ticket immediately after receiving the ticket, it is possible that O will require the ticket data even after submitting the transaction

- The original transaction might not have been successfully broadcasted due to issues with O's Ethereum connection
- O migh

[2018-12-12 08:28] j0sh commented on #620
To be fair, the HMAC construction is also vulnerable to a similar attack. In particular, a B can obtain many PM parameters, and send a steady stream of segments, each with a different set of PM parameters. O would have no choice but to store all these [1]. The one saving grace is that B would eventually be paying O for this trouble.

The memory consumption attack for both approaches can be mitigat

[2018-12-12 15:24] eladmallel commented on #620
This makes sense to me, so just trying to clarify assuming we add `broadcasterAddress` into the HMAC mix, why would we still need the global `senderNonces` map?

The reason that comes to me is the prevent the same B from replaying losing tickets across streams. Is that the reason you have in mind?

If so, perhaps we should have a map per B, which should further mitigate the impact inside of O that

[2018-12-12 15:41] j0sh commented on #620
Yep, that's why we still need to track `senderNonces`.

We can do that, but it's another layer of state : `global map  of active Bs -> recipientRand map -> senderNonce set` . As mentioned earlier, this may still have other benefits such as finer grained concurrency and the throttling of "new" `recipientRand` values on a per-broadcaster basis to mitigate the memory consumption attack. I don't see i

[2018-12-12 16:13] yondonfu commented on #620
Is `expiry` generated on a per `randSeed` basis? If so, I don't think this obviates the need to occasionally flush state by refreshing `randSecret` since O can only flush state on a per `randSeed` basis if it actually receives a ticket with `expiry` included as metadata (i.e. O might just be left hanging without receiving additional tickets). I do like the ability to flush state on a per `randSeed

[2018-12-12 16:19] j0sh commented on #620
Yes, that was the idea. Agreed that flushing `randSecret` may still be useful on its own, but what other state depends on `randSecret` outside of `recipientRand`?

[2018-12-12 18:22] j0sh opened #622 "StreamID Refactoring"
**Is your feature request related to a problem? Please describe.**

StreamID handling should be refactored to increase internal consistency, increase flexibility in StreamID selection and improve readability of the StreamID itself.

**Background Context**

Currently, the StreamID construction looks like:
```<ManifestID><Rendition>```
Where the ManifestID is a 256-bit random number encoded in hexad

[2018-12-12 21:04] eladmallel commented on #620
**This is an attempt to summarize our latest understanding of how we'd like to solve the random numbers coordination problem.** Once we get to a point of consensus I'll replace the original ticket description with the updated one (while preserving a record of the old for reference).

*Big thanks to @j0sh for helping us with valuable feedback!*

## Is your feature request related to a problem? Plea

[2018-12-12 23:47] #615 closed, assigned to nobody

[2018-12-12 23:47] j0sh commented on #620
@eladmallel This looks great, thanks for writing it up! Just a few notes:

Just curious, what cases are those?

At some point, we probably also should distinguish between tickets that are outright invalid (the segment shouldn't be processed at all; no grace period), and tickets that were valid but have since expired or had a winning `recipientRand` (grace period where O processes the segment anywa

[2018-12-13 15:02] yondonfu commented on #620
Perhaps segments should be processed within a grace period for:

- Invalid `faceValue` and/or `winProb` since these values might have been acceptable at one point, but perhaps O now no longer accepts these values and B does not know about the new values yet
- Invalid `recipientRand` + `randSeed` since B might not have received the new pair after sending out a winning ticket yet due to async messag

[2018-12-13 16:52] eladmallel commented on #620
Gave it some more thought just now, and actually did not come up with any additional cases that a overall ratio would not sufficiently defend against. So I'm not advocating for this approach any longer.

**@yondonfu do you have any additional thoughts on this matter?**

💯. This has always been the intention in my mind at least, but great to make it explicit that we only want to allow grace in thos

[2018-12-13 16:57] yondonfu opened #624 "Orchestrator block list of broadcasters"
**Is your feature request related to a problem? Please describe.**

There are a few scenarios where an orchestrator would want to block a broadcaster:
- B sends too many invalid tickets violating a threshold defined by O
- B's penalty escrow has been slashed before
- B repeatedly sends O content that O does not wish to process
- O observes historical data and determines that a B has a suspiciously

[2018-12-14 17:58] eladmallel opened #626 "TicketBroker Interface"
**Is your feature request related to a problem? Please describe.**
As part of the PM implementation, both B and O need to communicate with the on-chain TicketBroker contract to manage and read deposits and penalty escrows, redeem tickets, etc.

**Describe the solution you'd like**
Create an `TicketBroker` interface that exposes the following functionality:

- fundDeposit
- fundPenanltyEscrow
- app

[2018-12-14 18:04] yondonfu opened #627 "pm: Common ticket data structures and interfaces"
**Is your feature request related to a problem? Please describe.**

As a part of MVS PM, there will be common code required by both a ticket sender and recipient:

- Ticket data structure
- Ticket validation and construction

Both a ticket sender and recipient will also need a common interface for interacting with interacting with a third party that processes ticket related operations on behalf of

[2018-12-14 18:06] eladmallel opened #628 "Ticket Struct"
**Is your feature request related to a problem? Please describe.**
We need a simple way to represent a PM ticket to encapsulate all relevant parameters, as well as convenience of packaging the data for signing.

**Describe the solution you'd like**
A `Ticket` struct with all the fields a ticket requires:

- recipient
- sender
- faceValue
- winProb
- senderNonce
- recipientRandHash
- senderSig
- ad

[2018-12-14 19:06] yondonfu commented on #627
Oops, duplicate of #628 #626

[2018-12-14 19:06] #627 closed, assigned to nobody

[2018-12-14 19:08] eladmallel commented on #627
It was my oops @yondonfu !

[2018-12-14 19:15] eladmallel opened #629 "PM Sender"
**Is your feature request related to a problem? Please describe.**
Support B's state management and ticket creation for PM interactions.

**Describe the solution you'd like**
A `Sender` struct and logic under the `pm` package, including:

- Random numbers state management
- Using `Ticket` and `TicketBroker` to manage B's funds and create tickets

This implementation will be accompanied by unit tes

[2018-12-14 19:18] eladmallel opened #630 "PM Recipient"
**Is your feature request related to a problem? Please describe.**
Support O's state management and ticket handling for PM interactions.

**Describe the solution you'd like**
A `Recipient` struct and logic under the pm package, including:

- Random numbers state management
- Using Ticket and TicketBroker to validate B's funds, validate and redeem tickets

This implementation will be accompanied by

[2018-12-14 19:22] eladmallel opened #631 "PM Broadcaster CLI Flows"
**Is your feature request related to a problem? Please describe.**
B needs to be able to perform the following operations:

- Fund deposit and penalty escrow
- Withdraw deposit and penalty escrow
- Delegate signing permissions to other ETH accounts

B's admin should be able to perform these operations from the CLI.

**Describe the solution you'd like**
- Add the above functionality to the CLI wiza

[2018-12-14 19:24] yondonfu opened #632 "pm: recipient redeems old valid winning tickets on start up"
**Is your feature request related to a problem? Please describe.**

If O crashes prior to a redeeming a winning ticket on-chain, it will lose out on the pay out from the ticket unless O has a way to persist the ticket data such that it can try to redeem the ticket at a later point in time.

**Describe the solution you'd like**

Once #621 is implemented, O will always store winning ticket data in i

[2018-12-14 19:29] eladmallel opened #633 "Use PM Sender in RPC"
**Is your feature request related to a problem? Please describe.**
This issue assumes we've implemented `Sender`'s functionality, but haven't yet connected it to the video transcoding flow.

For this issue we want to incorporate `Sender` into the video flow.

**Describe the solution you'd like**
- Create a `Sender` per broadcasting session with the appropriate params.
- Use it to construct PM tick

[2018-12-14 19:35] yondonfu opened #634 "pm: responses to acceptable and unacceptable invalid tickets and"
**Is your feature request related to a problem? Please describe.**

There is a distinction between "acceptable invalid tickets" and "unacceptable invalid tickets" using the following criteria: could the invalid data in the ticket be a result of information that B has not yet received?

O needs to be able to differentiate between acceptable and unacceptable invalid tickets using the above criteria.

[2018-12-14 19:38] yondonfu opened #635 "pm: use recipient in RPC"
**Is your feature request related to a problem? Please describe.**

This issue assumes we've implemented `pm.Recipient` functionality, but haven't yet connected it to the video transcoding flow.

For this issue we want to incorporate `pm.Recipient` into the video flow.

**Describe the solution you'd like**

- On start up, create a `pm.Recipient` for O
- Use the recipient to create random number co

[2018-12-14 19:49] yondonfu opened #636 "pm: failure condition for B when O does not respond"
**Is your feature request related to a problem? Please describe.**

O might not respond to B's segments/tickets for a number of reasons. Thus, B should implement a failure condition such that if this condition is fulfilled, B will stop sending segments/tickets to O.

**Describe the solution you'd like**

B maintains a counter `missingTranscodedResults` that is incremented each time B submits a seg

[2018-12-14 19:55] yondonfu opened #637 "pm: integration testing"
**Is your feature request related to a problem? Please describe.**

We need to write integration tests for combinations of pm components.

**Describe the solution you'd like**

- [ ] Winning ticket results in on-chain redemption (smart contract layer can be stubbed)
- [ ] Acceptable invalid ticket results in update to grace period counter
- [ ] Too many acceptable invalid tickets exits the grace p

[2018-12-14 20:58] dob commented on #626
I was thinking that a convenience method might be helpful:

`function fund(uint depositAmount)`

It requires that `depositAmount` <= `msg.value` and then just splits the deposited eth into the deposit and penaltyEscrow according to the specified depositAmount. This would allow B to re-up both balances in one txn.

[2018-12-14 21:12] yondonfu commented on #626
@dob We have a wrapper function in the contract (https://github.com/livepeer/protocol/blob/pm/contracts/pm/TicketBroker.sol#L117) to do this.

[2018-12-17 22:04] j0sh commented on #634
It might help to drill down to specific conditions under which "acceptable invalid" tickets could happen. I think there's an argument to be made that we can disregard these for MVS.

The way O selection works, B would always query for updated `orchestratorInfo` values prior to starting the stream. So, B should never start a stream with an invalid `faceValue` or `winProb`. The only time this would

[2018-12-17 22:30] j0sh commented on #632
Keeping a historical list of winning tickets seems useful; I like using the confirmation block number to indicate rows that have completed processing.

Just curious: are we implementing ticket DB persistence for MVS? I was under the impression that would come in during SS or later. Cool if that can get in sooner though.

[2018-12-17 23:19] j0sh commented on #633
`server/rpc.BroadcastSession` would be a good place to put the `Sender`

[2018-12-18 00:17] j0sh commented on #636
The proposed approach of counting missing responses seems good. There are a number of scenarios that should be considered there:

* Availability of O itself
* Timeliness of O responses. We're under tight time constraints for live video.
* O's busy indication
* Errors stemming from B itself (eg, B getting knocked offline) which shouldn't count towards O

Perhaps this can be addressed at a later pha

[2018-12-18 07:43] j0sh opened #639 "Logging verbosity no longer configurable"
**Describe the bug**
Logging verbosity used to be configurable by the `-v` option. Somehow this stopped working with https://github.com/livepeer/go-livepeer/pull/617 and using `-v` now results in the node failing to start.

Without this flag, logging is stuck at the default log level.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile goclient
2. Run ./livepeer -v 99`. The node will not

[2018-12-18 15:02] samparsky commented on #564
@chrishobcroft I am interested in tackling this. Any other thing I should be aware of?

[2018-12-18 15:06] chrishobcroft commented on #564
Be aware that sometimes it's *not* running on Ethereum Mainnet, but on Rinkeby testnet, which is set by passing the -rinkeby flag.

Other than that, it should be relatively straightforward :)

[2018-12-18 15:10] samparsky commented on #564
@dob Are the text suggestions okay? Or any changes you would like to be made

[2018-12-18 15:17] dob commented on #564
@samparsky These suggestions sound like a reasonable improvement to me as long as they don't introduce any unintended breaking functionality changes. Code will definitely need to be reviewed by @j0sh before being merged.

[2018-12-18 15:51] yondonfu commented on #632
Agreed.

The thought was that it would be nice to add it sooner rather than later especially once we start testing with more realistic blockchain conditions (i.e. dealing with on-chain transactions that do not confirm within pre-defined period of time). Although adding persistence is lower on the MVS priority list with the higher priority items being getting the happy ticket flow working (i.e. ver

[2018-12-18 16:08] yondonfu commented on #634
Agreed that invalid `faceValue` and/or `winProb` is not a concern for a MVS so it might be premature to handle this case and may be best to wait until this case is possible i.e. when the acceptable `faceValue` and/or `winProb` might change mid-stream.

Good point. I will update the OP to include this.

To clarify - if a winning ticket is submitted on-chain with `recipientRand`, any subsequent tick

[2018-12-18 16:47] angyangie opened #641 "Out-of-band Orchestrator Discovery and Caching"
**Is your feature request related to a problem? Please describe.**
This last phase of Orchestrator discovery is to use out-of-band processes to gather information from all Os in the service registry, so broadcasters don’t need to do discovery in real-time when a new stream is created. This can be broken up into a few steps:

**Describe the solution you'd like**
- [x] Build DB schema for caching wi

[2018-12-19 08:33] samparsky commented on #527
Interested in working on this, will let you know my progress.
And are there any issues I should be aware of?

[2018-12-19 17:08] eladmallel commented on #636
To clarify how we might handle the other use cases you mentioned, taking the first example of O's availability:

What would that look like in practice? (a) B not being able to even open an HTTP connection to send O stuff because O is down (immediate failure) (b) B being able to send stuff over, but O never returning a response (timeout). Am I missing other ways this problem can show itself?

Sound

[2018-12-19 17:25] eladmallel commented on #634
I don't understand how deferring ticket redemption relaxes the requirements for the random numbers swap grace period.

If we defer ticket redemption till the end of the stream I can see how it's helpful, because we end up with zero random number changes mid-stream.

However, as long as we redeem mid-stream (which I think is preferable), we will certainly have a random number change mid-stream, whi

[2018-12-19 18:02] j0sh commented on #634
That's why.

The idea was that immediate redemption isn't a strict requirement for MVS (because double spending isn't a concern), which means we could also defer the work for the grace period and the handling around that. There was a lot of thought around counters, ratios, etc which indicates it's maybe a deeper area. Breaking up the work and letting the initial grace-less implementation breathe f

[2018-12-19 19:14] #564 closed, assigned to nobody

[2018-12-19 20:10] eladmallel commented on #632
Update: we think it makes the most sense to exclude winning ticket disk persistence as well as this specific issue from MVS, and move it to SS instead.

Any objections?

cc @ericxtang @dob

Update on update: We're going for winning ticket persistence because we actually want to redeem tickets only upon end of stream, so that we can avoid the complexities that come with changing `recipientRand` mid

[2018-12-19 20:33] eladmallel commented on #634
After considering @j0sh's feedback further, we are going for the idea of redeeming tickets only at end of stream for MVS, thereby punting on this issue till SS.

[2018-12-19 21:19] j0sh commented on #636
That sounds correct -- not receiving a timely response seems to be the place where the counter would be most useful [1].

If O is unavailable (eg, sending the segment fails immediately) then B should failover to another O right away. Immediate failover is also probably the polite thing to do if O also indicates that it's busy.

Detecting the case where B is offline is where it's a little tricker.

[2018-12-19 22:11] j0sh commented on #639
Fixed by https://github.com/livepeer/go-livepeer/pull/644

[2018-12-19 22:11] #639 closed, assigned to nobody

[2018-12-19 23:18] yondonfu opened #645 "pm: approved signer caching strategy for O"
**Is your feature request related to a problem? Please describe.**

One of the steps O needs to execute for ticket validation is signature verification. In the simple case, O just needs to check that the signature matches the sender address included in the ticket. In the more complex case where the sender approves distinct signer addresses to sign on its behalf, O needs to check that the signature

[2018-12-19 23:27] j0sh commented on #616
Implemented by https://github.com/livepeer/go-livepeer/pull/619

[2018-12-19 23:27] #616 closed, assigned to nobody

[2018-12-20 16:32] dob commented on #632
Will the validation logic in the smart contract allow you to cash multiple different winning tickets with the same recipient rand?

[2018-12-20 16:33] dob commented on #632
Also related, what constitutes the "end of the stream?" Again, I'm imaging a world of segment independence, where you don't know if the stream ended since B may switch to another O at any point if you weren't fast enough with the response, and then switch back to you at any point in the future. If we're punting these ideas beyond MVS into SS though, that's ok.

[2018-12-20 18:28] samparsky commented on #203
@ericxtang @j0sh is this still needed? I'd like to work on it

[2018-12-20 19:05] j0sh commented on #203
Curious, what would the `urfave-cli` output look like over what we have now?

One thing I've been looking at is a way to integrate flag parsing along with a configuration file format. Bitcoin is a good example of this feature. Looks like urfave-cli can do that, I'd prefer to use something like TOML over JSON or YAML.

Generally, how we handle flags needs a **lot** of cleanup. Flag parsing itself i

[2018-12-20 19:22] #626 closed, assigned to nobody

[2018-12-20 19:22] #628 closed, assigned to nobody

[2018-12-20 19:45] j0sh commented on #632
As a first approximation, it could be the expiration of the transcode loop that the orchestrator maintains. We still want to preserve this stateful transcode loop for a variety of reasons: load control, backpressure and related prioritization/QoS issues, transcode result caching, etc.

For the v1 protocol, the loop times out 10 minutes after the last segment (as not to submit too many claims), but

[2018-12-20 23:10] ericxtang commented on #203
Good question @j0sh.  I think we'll need some command line UX design here before proceeding.  This ticket was created a long time ago (I think even before the cli was created).  Now that we have the CLI, it feels like that's where the work should happen.

ps - this issue was initially intended to be less about the flags, and more about how users can interact with the node in the command line.

@sa

[2018-12-21 08:45] samparsky commented on #203
@ericxtang

### Improvements
- The UI currently requires entering the number to select a menu item, with `promptui` we can change to allow using arrow keys to navigate and pressing enter to selecting a menu item.

- Also `promptui` allows to add colors, so we can separate cli tasks under different sections like

*Informational*
1. Get node status
2. View protocol parameters
3. List registered orch

[2018-12-21 21:38] yondonfu opened #650 "Add Go linting to the CI"
**Is your feature request related to a problem? Please describe.**

There are certain code style issues that linters can help out with:
- Report potential errors that would otherwise compile (go vet)
- Enforce a commenting style that makes it easy for godoc to generate nice documentation for packages (golint)
- Finds dead unused code

**Describe the solution you'd like**
A clear and concise descri

[2018-12-24 17:02] yondonfu opened #652 "pm: generate Go contract bindings for LivepeerETHTicketBroker contract"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The `pm` package includes a Broker interface that represents an object capable of processing deposits and ticket redemptions. In practice, the main implementation of this interface will be a Go contract binding for [LivepeerETHTicketBroker

[2018-12-25 15:09] #629 closed, assigned to eladmallel

[2018-12-25 22:32] yondonfu opened #653 "pm: smarter sender deposit check logic for a recipient"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A recipient should check a sender's deposit and penalty escrow prior to trying to redeem a ticket on-chain. At the very least, the recipient should check that either the deposit and penalty escrow are non-zero or else the transaction will

[2018-12-26 20:19] yondonfu opened #654 "pm: support ETH call and transaction submission retries in Broker implementation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Errors from ETH calls and/or transaction submission when interacting with the TicketBroker contract can be housed in a single place such that users of the Broker interface implementation i.e. recipient and sender do not each have to handle

[2018-12-26 20:21] #630 closed, assigned to yondonfu

[2018-12-27 21:19] eladmallel commented on #654
@yondonfu perhaps it's a good idea to give some specific examples of errors that should be auto-retried, versus the kind of errors we won't want to retry?

[2018-12-28 14:47] #621 closed, assigned to eladmallel

[2018-12-28 17:43] #652 closed, assigned to nobody

[2019-01-03 11:44] eladmallel opened #660 "Refactor transcode loop context and improve tests stability"
**Is your feature request related to a problem? Please describe.**
We currently have little control/visibility on the transcode loop process, so our tests around the loop rely on waiting for the timeout. We want to refactor the context such that tests can inject their own stub. With a stub context we can write more reliable and readable tests.

**Describe the solution you'd like**
See @j0sh's sugg

[2019-01-03 12:33] eladmallel opened #661 "DB WinningTickets should have a createdAt column"
**Is your feature request related to a problem? Please describe.**
For forensics purposes we want `winningTickets` records to have a `createdAt` column, set with the timestamp of when the ticket was stored in the DB.

**Describe the solution you'd like**
A DB column named `createdAt` with the default value of `CURRENT_TIMESTAMP`.

**Describe alternatives you've considered**
None.

**Additional con

[2019-01-04 19:43] j0sh opened #663 "Devtool flags"
**Describe the bug**
Devtool is missing some flags that are required to generate a functioning setup; as a result it can only be compatible with fresh protocol deployments by changing hardcoded values.

- [ ] gethMiningAccount
- [ ] controllerAddr
- [ ] network name (should also probably default to devenv, not mainnet)

These are the local changes I had to make to get things working:

[code]

**To

[2019-01-07 16:24] yondonfu opened #665 "Server side validation of inputs on all HTTP handlers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Many of the HTTP handlers for the node server implement incomplete or no input validation logic at all. In practice, this hasn't been a big problem because the primary consumer of the server API at the moment is the CLI client which does i

[2019-01-07 16:25] #631 closed, assigned to nobody

[2019-01-07 19:58] #635 closed, assigned to eladmallel

[2019-01-07 20:16] j0sh opened #666 "Fix O verification of B seg sig"
**Is your feature request related to a problem? Please describe.**
Currently the B address is hardcoded in O. As a result, segment signing fails and we can only really test e2e in offchain mode.

**Describe the solution you'd like**
Now that we mostly have end-to-end PM tickets in, we can use the broadcaster address in the ticket to verify the seg sig.

Use the ticket-provided B address to verify

[2019-01-07 20:39] j0sh opened #667 "Use InsertSegment in HLS playlist"
**Is your feature request related to a problem? Please describe.**
Currently the playlist manager uses `AppendSegment` to append a new segment to the end of the playlist. This works OK for most purposes.

There is a function in the m3u8 package, [InsertSegment](https://github.com/ericxtang/m3u8/blob/575aeb9f754a5dabcc03d4aa0ed05ecaee26499e/writer.go#L329), that attempts to incorporate some nice pr

[2019-01-07 21:34] #633 closed, assigned to yondonfu

[2019-01-07 22:02] #622 closed, assigned to nobody

[2019-01-08 08:56] eladmallel opened #671 "Alerting instrumentation for node operators"
**Is your feature request related to a problem? Please describe.**
Node operators could benefit from connecting their Livepeer nodes to any monitoring system they prefer to use, mainly to receive alerts that require action, but also for reporting data collection.

Examples of events node operators might wish to get alerts for:

- **Low deposit balance**: this one is especially tricky with PM, sinc

[2019-01-08 09:03] eladmallel opened #672 "CLI command to retry PM tickets redemption"
**Is your feature request related to a problem? Please describe.**
In our current plans O tries to redeem winning tickets upon two triggers:
- Upon end of stream
- Upon node startup

However, what if end of stream redemption failed due to some issue that's been fixed, and the node operator wants to retry ticket redemption without having to take the node down?

An option to do so from the CLI shoul

[2019-01-08 09:11] eladmallel opened #673 "Refactor CLI HTTP requests to improve testability"
**Is your feature request related to a problem? Please describe.**
Currently in the CLI wizard code with use the functions `httpPostWithParams` and `httpGet` in a way that does not allow us to fake them out for testing.

It would be helpful to refactor them out into an interface that `wizard` would be constructed with, such that these functions could be easily faked.

**Describe the solution you'd

[2019-01-08 17:04] #666 closed, assigned to yondonfu

[2019-01-08 20:19] yondonfu opened #675 "Add unit tests for ServeSegment and SubmitSegment"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The [ServeSegment](https://github.com/livepeer/go-livepeer/blob/master/server/rpc.go#L309) and [SubmitSegment](https://github.com/livepeer/go-livepeer/blob/master/server/rpc.go#L489) have limited test coverage. We should add unit tests for

[2019-01-09 17:40] angyangie opened #676 "Registered transcoders are not being cached on startup"
**Describe the bug**
`NewDBOrchestratorPoolCache` in `db_discovery` does not cache registered transcoders on startup. `node.Eth.RegisteredTranscoders()` does not get called until ticker ticks for the first time.

**To Reproduce**
Steps to reproduce the behavior:
- Start broadcaster node in on-chain mode without `-orchAddr` flag
- Log out response to `orchestrators, err := node.Eth.RegisteredTransc

[2019-01-09 20:53] #676 closed, assigned to nobody

[2019-01-10 16:23] yondonfu opened #678 "-faceValue and -winProb flags accept negative values"
**Describe the bug**
A clear and concise description of what the bug is.

The Livepeer node accepts negative values for the -faceValue and -winProb flags (which are both supposed to be type float64). For faceValue, the user provided float64 is converted into a big.Int which is meant to represent an amount of ETH in wei. For winProb, the user provided input float64 is converted into a big.Int which

[2019-01-10 16:28] yondonfu commented on #675
I've pushed up a [WIP branch](https://github.com/livepeer/go-livepeer/compare/yf/segment-handler-tests) that includes a small refactor of ServeSegment and some unit test coverage using the `httptest` package. I'm removing my assignment from this issue for the time being because I probably will not be able to work on this during the next few days so if anyone has some extra availability feel free t

[2019-01-11 21:40] j0sh opened #681 "Set -transcodingOptions in offchain mode"
**Describe the bug**
The `BroadcastJobVideoProfiles` field in `mediaserver.go` is set via the `-transcodingOptions` CLI flag during `StartMediaServer`. However, this only happens in onchain mode. This should work in offchain mode as well.

**To Reproduce**
* Run a broadcast node with `-offchain -orchAddr ... -transcodingOptions P240p30fps4x3`
* Start a stream and check the transcoded output
* The

[2019-01-11 21:43] hatgit commented on #527
Hey @ericxtang, has this PR submitted by @samparsky been reviewed yet? Thanks!

[2019-01-11 22:04] j0sh opened #682 "Set a minimum deposit and/or penalty escrow for O"
**Is your feature request related to a problem? Please describe.**
O does not have a way to specify or enforce a minimum deposit and penalty escrow.

**Describe the solution you'd like**
O to have the capability to specify a minimum deposit / penalty escrow.

When O has a minimum deposit / penalty escrow specified, reject jobs that do not meet the criteria. This checking should be done both via Ge

[2019-01-12 00:49] j0sh commented on #413
The code path as described in the issue doesn't really exist anymore, so closing for now. If there is still a need for refactoring the transcoder workflow, we can discuss it in a new issue.

[2019-01-12 00:49] #413 closed, assigned to nobody

[2019-01-12 00:52] j0sh commented on #177
We haven't had the notion of a VideoID (as distinct from a ManifestID) for a while now, closing this issue.

[2019-01-12 00:52] #177 closed, assigned to nobody

[2019-01-12 00:53] #148 closed, assigned to nobody

[2019-01-12 00:54] j0sh commented on #63
We don't need the Fisher role anymore, do we?

[2019-01-12 00:54] #63 closed, assigned to yondonfu

[2019-01-12 00:55] j0sh commented on #14
This seems to be solved by our metrics feature. Closing but feel free to reopen if it's still an issue.

[2019-01-12 00:55] #14 closed, assigned to nobody

[2019-01-12 00:56] j0sh commented on #368
Closing since we don't have any more earnings to claim with Streamflow.

[2019-01-12 00:56] #368 closed, assigned to nobody

[2019-01-12 00:56] j0sh commented on #489
Closing since we don't have any more earnings to claim with Streamflow.

[2019-01-12 00:56] #489 closed, assigned to nobody

[2019-01-12 00:57] j0sh commented on #481
Fixed in https://github.com/livepeer/go-livepeer/pull/618

[2019-01-12 00:57] #481 closed, assigned to nobody

[2019-01-12 00:57] j0sh commented on #429
We don't have jobs anymore with Streamflow.

[2019-01-12 00:57] #429 closed, assigned to dob, ericxtang, yondonfu, RaffiSapire, f1l1b0x

[2019-01-15 18:25] samparsky commented on #587
@eladmallel is this still needed? I can work on it

[2019-01-15 19:30] ericxtang opened #683 "PM Missing Dependencies"
**Describe the bug**
When building the code, we get errors because of missing dependencies

**To Reproduce**
Steps to reproduce the behavior:
1. Do `go build cmd/livepeer_cli/*.go`

**Expected behavior**
Build successful

**Screenshots**
[code]

[2019-01-15 19:34] yondonfu commented on #683
If you're building locally try `go get -d github.com/livepeer/go-livepeer/cmd/...`

The packages mentioned in the error message are not vendored at the moment.

[2019-01-15 22:36] j0sh commented on #683
Another option, perhaps easier to remember, is to `go get ./...`  from the goclient root dir.

I guess the question is whether we should vendor these packages?

We haven't been vendoring recent additions (eg, grpc). I'm hesitant to make the git tree even larger than it already is. I'm hoping that the vgo implementation from golang 1.11 will mitigate the need to vendor most modules (so we can slim

[2019-01-16 12:17] eladmallel commented on #587
@samparsky IMHO it's a nice-to-have, but you're welcome to go for it!

[2019-01-16 12:24] eladmallel commented on #683
I think we should not vendor these two packages because one is only used in testing and the other is simple enough such that a breaking change is not very likely.

wdyt?

[2019-01-16 14:50] yondonfu commented on #683
I'm on board with not vendoring these packages and taking the time to see if we can use the vgo implementation in go1.11 for any packages used in production that need to be fixed at a specific version.

[2019-01-16 16:11] yondonfu opened #684 "Incorrect tx nonce used if previous tx submission failed"
**Describe the bug**
A clear and concise description of what the bug is.

If the node fails to submit a tx, the node's next tx will not be processed properly because an invalid nonce is used.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a livepeer node with the `-transcoder` flag. Make that the `-gasLimit` flag is NOT set.
2. Use the livepeer_cli to try to register on-chain when the

[2019-01-16 16:18] yondonfu opened #685 "Broadcaster does not verify orchestrator's signature"
**Describe the bug**
A clear and concise description of what the bug is.

A broadcaster currently does not verify an orchestrator's signature over the hash of the concatenated transcoded segment hashes.

See: https://github.com/livepeer/go-livepeer/blob/c45d7e33e6ae22ac08260085e379cfd6bb56e7d3/server/mediaserver.go#L409

**To Reproduce**
Steps to reproduce the behavior:
1. See commented out code i

[2019-01-16 22:30] ericxtang commented on #683
Ok.  That's fine with me.  Closing this issue.

[2019-01-16 22:30] #683 closed, assigned to nobody

[2019-01-17 03:44] #684 closed, assigned to yondonfu

[2019-01-17 05:31] j0sh commented on #685
Note that the sig + hash `Sig_O(H(H(Rendition_1) | ... | H(Rendition_N)))` also needs to be generated on the O side first.

The hash was formerly generated by the claimmanager but was never re-implemented after the claimmanager was removed.

[2019-01-17 14:21] #678 closed, assigned to nobody

[2019-01-17 20:55] ericxtang opened #689 "Wrong Error Message When Node Running on Older Version of Protocol"
**Describe the bug**
Minor bug - I think we can improve our error message for this common mistake of trying to run the newest node on an older version of the protocol.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to launch the CLI for a PM-compatible broadcasting node on the current Rinkeby contract.

**Screenshots**
[code]

On B:
[code]

[2019-01-17 21:37] ericxtang opened #691 "Transcoding Result Contains Incorrect URL"
**Describe the bug**
The transcoding result contains incorrect URL when using a newly registered O. This seems to be because the OS.SaveData in `rpc.go->ServeSegment` is giving back the old URI.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new O.
2. Register the O onchain (make sure it's the only O)
3. Start streaming to B
4. You'll see errors described below
5. Stop Stream, resta

[2019-01-17 22:33] j0sh commented on #691
Ah nice catch. Easy way to fix this would be to make the memory driver's `baseURI` a pointer reference, rather than a string value.

https://github.com/livepeer/go-livepeer/blob/90c10193860999497cef5f1031fec4890bb9f19e/drivers/local.go#L27-L33

[2019-01-18 01:53] #681 closed, assigned to yondonfu

[2019-01-18 05:15] j0sh opened #694 "Broadcaster Doesn't Halt on Nonzero Deposit Balance"
**Describe the bug**
The node used to halt the RTMP stream if the broadcaster had an insufficient deposit to cover a certain length of the stream. Currently, the broadcast node no longer checks the deposit balance and allows the stream to be transcoded even if the balance is zero.

While a properly configured orchestrator should never accept a job from a broadcaster with an insufficient balance, t

[2019-01-18 07:32] j0sh opened #695 "Transcode loop is indexed by ManifestID"
**Describe the bug**

The ManifestID is broadcaster generated (and may be user supplied). The ManifestID is currently used for two reasons:

* To index streams on the broadcaster for playback
* To index into the orchestrator's transcoding loop

The ManifestID should not be used by the orchestrator in any capacity. There are a few reasons for this:

* Unfavorable behavior within the S3 storage laye

[2019-01-18 16:55] yondonfu commented on #695
I like the suggested solution and I have a few questions for clarification:
- Why was the AuthToken originally removed?
- How is `LoopIndex` generated?

[2019-01-18 22:18] yondonfu opened #697 "Delayed segment submission errors during O failover"
**Describe the bug**
A clear and concise description of what the bug is.

I observed a scenario where a B is sending segments to an O, the O goes offline (stopped the Docker container created by the test harness), but the B appears to continue submitting segments to O. In the logs, all I saw was messages indicating segments were submitted, but no messages indicating an error or a successful transc

[2019-01-18 23:30] j0sh commented on #697
Failover in this case is actually working as expected; it just takes a long time (~1 minute?) for the request to actually fail.

Curious, what version of golang was the node compiled with? Also, could you paste the missing middle part of the backtrace if you still have it, and perhaps the beginning around when the behavior first started?

First-pass diagnosis just by looking at the log and source

[2019-01-19 16:22] yondonfu commented on #697
The node binary used was compiled using go1.9.1 in devenv.

Full trace starting from when behavior started and ending when B fetches a new O:

[code]

[2019-01-22 08:57] eladmallel commented on #101
@ericxtang what is this issue about? - I was looking for any existing issues that talk about changing the node's setup from CLI params to a config file. Is this issue talking about the same thing?

[2019-01-22 15:40] #694 closed, assigned to yondonfu

[2019-01-22 16:32] eladmallel opened #700 "Authenticated User-Defined ManifestIDs"
**Is your feature request related to a problem? Please describe.**
To allow video app developers to try out Livepeer, they must be able to know the URL to the transcoded video playlist. In an MVP mindset, it seems reasonable to allow users to set each stream's ManifestID, which would allow them to know the URL for playback.

Example usage:

- User would stream RTMP using this URL: `rtmp://localhos

[2019-01-22 18:38] eladmallel commented on #700
@darkdarkdragon what are your ideas on how to monitor usage per customer?

[2019-01-22 22:45] yondonfu opened #701 "Background buzzing noise in audio of transcoded video"
**Describe the bug**
A clear and concise description of what the bug is.

The audio of transcoded video contains a buzzing noise in the background that is not present in the original input video.

**To Reproduce**
Steps to reproduce the behavior:
1. Use https://github.com/livepeer/test-harness to set up a private network with 1 B and 1 O
2. Make sure that O is registered on-chain with the correct

[2019-01-23 12:39] eladmallel commented on #700
Closing this issue since our latest thinking doesn't require this task.

[2019-01-23 12:39] #700 closed, assigned to nobody

[2019-01-23 13:38] eladmallel opened #703 "Webhooks: RTMP Approval"
**Is your feature request related to a problem? Please describe.**
In the context of demoing Livepeer to potential customers, we want to have a simple stream authentication mechanism.

We should be able to configure B nodes with a webhook URL, which they will call for every incoming stream with that stream's user-defined ManifestID, and approve or deny the processing of that stream based on the we

[2019-01-23 13:46] eladmallel opened #704 "Webhooks: Events"
**Is your feature request related to a problem? Please describe.**

Allow customers to consume events related to their streams processed by Livepeer. Such events can include: stream start, stream end, mid-stream error, etc.

**Describe the solution you'd like**

- Have the `webhookURL` CLI config value, as described in #703
- POST a request to `webhookURL` with a body containing the event info
- T

[2019-01-23 13:50] eladmallel opened #705 "RTMP Auth Webhook: Documentation"
**Is your feature request related to a problem? Please describe.**

Customers who wish to integrate with our test service will require some documentation on the integration architecture, what they should implement (e.g. webhooks), what is the format of various requests and responses, etc.

This documentation is an important part of their overall integration UX, so we want it to be sufficiently cle

[2019-01-23 14:18] eladmallel opened #706 "Capacity Cap for B"
**Is your feature request related to a problem? Please describe.**
To improve customer experience, B should respond with a clear error message whenever it's at its max capacity of concurrent streams and a new RTMP stream comes in.

**Describe the solution you'd like**
The user/customer should receive clear feedback from B that it is now at max capacity and therefore cannot handle new streams.

We

[2019-01-23 14:18] eladmallel commented on #706
@j0sh @ericxtang @darkdarkdragon can you please share your thoughts on how we should approach this?

[2019-01-23 18:46] j0sh commented on #706
Not really, the best we can do here is disconnect the stream. We might be able to add a special code to the connect response prior to disconnect, but that requires changes to LPMS and probably joy4 (the golang RTMP implementation), in addition to any specialized handling on the client (customer) side. Most RTMP application hooks do not expose this type of detail, so it's probably more trouble than

[2019-01-23 19:16] j0sh commented on #704
Perhaps retry up until a certain point; we probably don't want to retry forever for informational events, especially if it leads to a significant backlog on the node. Also need to consider whether events potentially arriving out-of-order is an issue under retries (we could simply include a timestamp and document that events are not guaranteed to be ordered).

[2019-01-23 21:20] yondonfu opened #707 "Use abigen contract binding with ABIEncoderV2 support for struct function params"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The abigen generated contract binding for the LivepeerETHTicketBroker contract is currently based off a modified version of the contract that does not use the ABIEncoderV2 flag which enables the use of structs in function parameters. As a

[2019-01-24 05:36] j0sh commented on #641
Fixed by https://github.com/livepeer/go-livepeer/pull/642

[2019-01-24 05:36] #641 closed, assigned to nobody

[2019-01-24 05:39] j0sh commented on #584
Looks like we resolved this in https://github.com/livepeer/go-livepeer/issues/694 by requiring a deposit for onchain mode. Please re-open this ticket if the behavior still needs discussion.

[2019-01-24 05:39] #584 closed, assigned to nobody

[2019-01-24 05:50] j0sh commented on #530
We have failover now so I think we can close this issue.

[2019-01-24 05:50] #530 closed, assigned to nobody

[2019-01-24 05:51] j0sh commented on #503
The `GetTranscoder` flow is pretty different now with Streamflow, so closing this ticket. If this type of timeout recurs again, feel free to reopen or create a new ticket.

[2019-01-24 05:51] #503 closed, assigned to nobody

[2019-01-24 05:53] j0sh commented on #479
Most of these issues aren't relevant anymore with Streamflow, and we've improved test coverage in related areas, so closing this ticket.

[2019-01-24 05:53] #479 closed, assigned to nobody

[2019-01-24 05:53] #329 closed, assigned to nobody

[2019-01-24 05:54] j0sh commented on #324
The node has undergone significant changes since this ticket was reported, so closing this. Feel free to create a new ticket if more crashes are found.

[2019-01-24 05:54] #324 closed, assigned to nobody

[2019-01-24 05:55] #291 closed, assigned to nobody

[2019-01-24 05:59] j0sh commented on #204
I like the idea of network simulation, however this seems to be a duplicate of https://github.com/livepeer/go-livepeer/issues/170 so I'll leave that one open and close this.

[2019-01-24 05:59] #204 closed, assigned to nobody

[2019-01-24 06:02] j0sh commented on #80
My guess is that the CLI webserver falls under RPC here. @ericxtang should we close this issue?

[2019-01-24 06:06] j0sh commented on #606
I'll close out this issue soon unless anyone has thoughts otherwise about this ticket; discussion is always welcome.

[2019-01-24 06:56] j0sh commented on #101
There's a few issues that indirectly reference using a config file [1][2] but this issue is as good as any for "the" issue tracking config files.

[1] https://github.com/livepeer/go-livepeer/issues/580
[2] https://github.com/livepeer/go-livepeer/issues/203#issuecomment-449102987

[2019-01-24 06:57] j0sh opened #708 "Document CLI Flags"
**Is your feature request related to a problem? Please describe.**
The command line flags are under-documented.

**Describe the solution you'd like**
Document the flags more thoroughly, including with examples. Ideally we would keep the documentation "close to the code", eg somewhere in `docs` where they can be easily referenced offline and updated as the code changes.

**Describe alternatives you

[2019-01-24 07:09] j0sh commented on #101
To expand slightly on the thinking behind a config file: the CLI options and config file would be complementary to each other. Each CLI option should have a corresponding option in the config file. Typically how precedence works is:

1. CLI Flags
1. Config File
1. Default values

[2019-01-24 07:17] j0sh opened #709 "CLI Flags Cleanup"
**Is your feature request related to a problem? Please describe.**
With all the changes to the node for Streamflow it might be a good opportunity to make breaking changes to the command line flags.

The first question is whether we should do this. If we decide to try and maintain backwards compatibility with flags, we can close this issue.

There are a few issues with the flags, which would be nic

[2019-01-24 07:24] j0sh opened #710 "Clean Up livepeer.go Initialization"
**Describe the bug**
Generally, how we handle flags needs a lot of cleanup. Rather than flag parsing or the number of flags itself, this issue is more around how we check and use those flags in `cmd/livepeer` to initialize the node.

The code interleaves between initialization for orchestrators, broadcasters and both, often switching back-and-forth. I am not suggesting to split `livepeer` into sep

[2019-01-24 07:30] j0sh opened #711 "Update DB Docs"
**Describe the bug**
The database documentation is not up to date.

**To Reproduce**
Compare https://github.com/livepeer/go-livepeer/blob/master/doc/database.md to

https://github.com/livepeer/go-livepeer/blob/61071f711fe219daa20615381444f591f21b37b9/common/db.go#L48-L88

**Expected behavior**
The docs should reflect the current state of the codebase.

[2019-01-24 09:16] eladmallel commented on #706
I agree that's important, and we have a separate issue for that as part of M2.

I'd love to understand more specifically how you see this implemented? What I had in mind was to introduce a new webhook message that lets the user know *why* the stream was rejected. A bit more in detail:
- We could name this message something like `StreamRejectedDueToMaxCapacity`
- It should contain the host the reje

[2019-01-24 09:20] eladmallel commented on #704
@j0sh great points!

Do you already have a thought on how to define this point? e.g. should it be up to 24 hours after the event was generated?
Btw, we could employ a more robust approach, where the node would store all failed events in its local DB, and once the webhook server is responsive again (requires further definition), it can kick off a background task to retry all those events again. I t

[2019-01-24 09:30] eladmallel commented on #707
@yondonfu cool! do you have any sense of when abigen will support v2 by default?

[2019-01-24 13:26] eladmallel commented on #704
Another dilemma I wanted to discuss is the relationship between sending these events to the webhook and our current `monitor` package:

Should updating the webhook on these events happen *inside* the monitoring service?

I like this idea because these two concepts seem so similar that it would be mostly duplication to implement an entirely new mechanism for webhook events. To be clear, I'm referri

[2019-01-24 13:30] eladmallel commented on #703
I wanted to share some more concrete thoughts here to dig deeper into implementation details.

I was thinking to add this authentication call in the `createRTMPStreamIDHandler` function.
Perhaps from there we can make a call to a function we'd name `AuthenticateStream` under `rpc.go`, and that function would use the `HttpClient` to call the webhook and process the response.

My greatest concern at

[2019-01-24 13:45] eladmallel commented on #703
Another question to throw into the mix:

We're using the concept of "webhook" for two importantly different needs:
1. Stream authentication
2. Events

I wanted to get your thoughts on how should we define the webhook expectation?
- Should both auth and events be sent to the exact same endpoint? (same host and path) OR is it better to have separate endpoints?
- Whatever your opinion is, could you p

[2019-01-24 14:24] darkdarkdragon commented on #706
@j0sh

Can you elaborate on that?

[2019-01-24 14:25] darkdarkdragon commented on #706
@eladmallel

Sounds good for me

[2019-01-24 16:01] ericxtang opened #712 "Mediaplayer is broken for demo purposes"
**Is your feature request related to a problem? Please describe.**
The media player used to be able to play ANY stream in the test network because of a p2p relay network.  Unfortunately it was unstable and we had to take it out.  Now we have a broken media player.

[2019-01-24 16:03] ericxtang opened #713 "Transcoding node starts up slowly from scratch"
**Is your feature request related to a problem? Please describe.**
During bootup of a new transcoding node, it hangs for 2-3 minutes before the servers start.  I think it's because state loading from the blockchain.

[2019-01-24 16:11] angyangie opened #714 "Clean up lengthy functions in our code base"
**Is your feature request related to a problem? Please describe.**
Break functions up in places where they are more than 100 lines long. Here are a few examples:
- RPC.go ServeSegment (over 100 lines), SubmitSegment
- Main.go function in livepeer.go (450 lines long)

**Describe the solution you'd like**
Break functions up into separate distinct functions that do specific tasks. It improves code re

[2019-01-24 16:11] darkdarkdragon opened #715 "Split `rpc.go` into client and server parts"
**Is your feature request related to a problem? Please describe.**
`rpc.go` grown to big and it's hard to understand program flow in it.

**Describe the solution you'd like**
Split `rpc.go` into `rpc_server.go` and `roc_client.go`

**Describe alternatives you've considered**
Do nothing.

[2019-01-24 16:12] ericxtang opened #716 "Video segments get piled up on disk"
**Is your feature request related to a problem? Please describe.**
The transcoder writes transcoded segments to local disk, but we don't clean them up after.  There should be a cleanup policy.

[2019-01-24 16:13] eladmallel opened #717 "Package refactoring mainly to create Livepeer-agnostic libraries and helpers"
**Is your feature request related to a problem? Please describe.**
Seems like some of our packages can be refactored such that we achieve:
- More reuse
- Smaller odds of running into cyclic imports
- Easier answer to "where should I put this?"

**Describe the solution you'd like**
We should ideally run a dependency analysis that outputs a graph, such that we can reason on this visually.
For now so

[2019-01-24 16:16] eladmallel opened #718 "The ultimate dev setup"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In recent months we've created some new tools, such as the test harness, improved docker images, `devtool`, etc. At the same time, we still have the devenv project, with its own helper flows and a vagrant machine setup.

I think it would b

[2019-01-24 16:19] ericxtang opened #719 "Dependency management in go-livepeer"
**Is your feature request related to a problem? Please describe.**
We vendor packages because of legacy reasons - when we started the repo, golang doesn't have good version management in dependency tools.  But from my understanding, this has changed.  It would be good to use a modern tool to manage our dependencies.

[2019-01-24 16:19] angyangie opened #720 "Streamline documentation"
**Is your feature request related to a problem? Please describe.**

Take a look at the different "roles" someone using livepeer might play, and build a "choose your own adventure" landing page/readme/document for them to click on, and get instructions specific to their use case on how to build a Livepeer node, etc. “Top of the funnel” documentation. We can discuss this further, but, in general hav

[2019-01-24 16:21] j0sh commented on #716
Transcoders should clean up segments immediately -- if not there is a bug.

Broadcasters do pile up segments until the stream ends (and if the stream doesn't end cleanly then they stay on disk forever). Related: https://github.com/livepeer/go-livepeer/issues/352

[2019-01-24 16:57] eladmallel commented on #671
My proposed standard to integrate with:
https://graphiteapp.org/

Also great:
https://collectd.org/

[2019-01-24 17:19] ericxtang commented on #553
We should examine each API endpoint to make sure they are ready to be used by an external user, and after that document them.

[2019-01-24 17:21] status-open-bounty commented on #553
Current balance: 0.0 ETH
Contract address: [0x5190c82e018fff6457bb058b6bdb51aa67cdd2f3](https://etherscan.io/address/0x5190c82e018fff6457bb058b6bdb51aa67cdd2f3)
![QR Code](https://openbounty.status.im/qr/livepeer/go-livepeer/bounty/553/911032bf4c9a60525c18f0c5de1461833d739964c2860836fd90dc8b72d8614d/qr.png)
Network: Mainnet
To claim this bounty sign up at [https://openbounty.status.im](https://ope

[2019-01-24 17:31] ericxtang commented on #712
Change the readthedocs page to make sure users know how to use the "source" param in the mediaplayer.

[2019-01-24 17:35] ericxtang commented on #713
@yondonfu will do some investigation to figure out whether it's an event subscription issue.

[2019-01-24 17:45] ericxtang commented on #716
Correction - it is the broadcaster

[2019-01-24 17:50] ericxtang commented on #716
Related to https://github.com/livepeer/lpms/issues/57.  @j0sh will look into this (also on the transcoder side)

[2019-01-24 18:32] j0sh commented on #712
Also would be good to update https://media.livepeer.org/ to avoid the impression that the player will work for any ETH address

[2019-01-24 19:17] yondonfu commented on #606
I'm ok with closing this issue because my preference would be to keep the broadcaster and orchestrator specific options separate i.e. an orchestrator should not be managing ETH deposits so it should never be exposed to those options. I would be on board with tracking whether we want to have 2 separate binaries in a separate issue dedicated to that topic.

[2019-01-24 19:21] j0sh commented on #697
Some updates from the latest round of investigation.

* Also triggers with golang 1.10.
* Seems to be triggered if the O container is stopped in the interval between a segment (eg, no segments in flight and next segment hasn't been produced yet)
* This is easier to reproduce with a longer segment length (I used 10s) and a single small transcoding option (240p, but could also skip the transcoding)

[2019-01-24 20:50] j0sh commented on #671
For completeness, also want to mention we have our in-house metrics system for event reporting. That could be used to receive and alert on problematic events.

I don't really have a thought one way or another on which approach would be better suited, only to say that we'd ideally standardize on a single system rather than maintaining several, each with a slightly different purpose.

[2019-01-24 20:52] j0sh commented on #706
@eladmallel I may have mis-interpreted this part in the writeup: "Should we rely on webhooks for this kind of response?"

Specifically, this sounded like we would be outsourcing the logic for tracking capacity and rejecting streams beyond the max to the endpoint receiving the stream auth webhook (running outside the node). This would be problematic.

If we're just talking about an event notificati

[2019-01-24 21:06] darkdarkdragon commented on #704
@eladmallel do we really need this? I don't remember us discussing this one.

[2019-01-24 21:29] darkdarkdragon commented on #671
This actually pretty specific events. If we think node operators would want to have them without installing full fledged monitoring service (like `collectd`), then we should support both variants:
1. Send them to specified webhook, so operator can direct them into, say, PagerDuty
2. Send them to internal monitoring system, if enabled.

[2019-01-25 15:43] angyangie commented on #717
Just wanted to include a [link](https://github.com/livepeer/go-livepeer/pull/702/files/824d0bdb163c2caa5dfb93517f6c49635405af65#diff-cecc27bfe2b6b19181ce443733dfba57R221) to our initial discussion on the topic here, so it's not lost in the flurry of PR's.

Thanks for creating this issue @eladmallel !

[2019-01-25 16:47] angyangie opened #721 "Agree on a consistent format for tests"
**Is your feature request related to a problem? Please describe.**
( In the spirit of transferring important/meaningful discussions on PR's to issues, adding our discussion on test formatting here)

Our tests are being written in several different formats. It would be nice to come up with a "standard" way to write tests, and have consistency across all of our test files (though we'd have old tests

[2019-01-25 20:58] chrishobcroft commented on #444
Hey Chris, I'm trying to work out how to build this on Ubuntu, but I'm not a developer.

I don't really know how to follow the default install instructions - any advice?

[2019-01-25 22:10] yondonfu commented on #721
Another point worth discussing is our approach for mocks & stubs. After the introduction of the `testify` package, we have started to use the `testify/mock` package in order to set up pre-test expectations (which allow us to mock method return values) which some might dislike from a style stand point (perhaps partly due to the API exposed by the `testify/mock` package). See this [comment](https://

[2019-01-25 23:26] kuhnchris commented on #444
Hey there. Would it help if I prepare a Docker Image you can execute? Because else i'd have to throw a ubuntu vm up for myself to check it, I'm usually working on debian-esque systems and currently on Alpine.

[2019-01-28 20:14] angyangie commented on #580
It'd be great to get everyone's thoughts on the following flag clean-up. As suggested, we'll focus on cleaning up the flags before introducing a config file + a new flag parsing library (though this one seems like a great candidate: https://github.com/octago/sflags). To make analysis easier to digest, I've grouped flags by function, and have added notes below, along with questions (forgive my igno

[2019-01-28 20:40] angyangie commented on #715
Perhaps we can tackle this task along with these two issues, since they're all related:

1. Adding unit tests for ServeSegment and SubmitSegment: https://github.com/livepeer/go-livepeer/issues/675

2. Cleaning up lengthy ServeSegment and SubmitSegment functions: https://github.com/livepeer/go-livepeer/issues/714