[2022-01-07 11:02] #2129 closed, assigned to leszko

[2022-01-07 12:20] leszko commented on #2165
I see there is already an endpoint [/EthChainID](https://github.com/livepeer/go-livepeer/blob/c2c73fa6f24473311766baee83e2762c87ef708d/server/webserver.go#L1107) which returns exactly the information about the ChainID. Isn't it enough, do we want this information in the `/status` as well?

CC: @yondonfu

[2022-01-07 13:00] yondonfu commented on #2165
Oh doh you're right I totally missed that! Seems like the `/EthChainID` endpoint will be sufficient for the use case described in the OP. In that case, I don't think this proposed implementation in the OP is necessary.

[2022-01-07 13:28] #2165 closed, assigned to leszko

[2022-01-07 17:41] Thulinma commented on #2159
Yeah, that's more or less exactly what I wanted to point out.
I can also help craft some "bad" segments like that to test against, at some point in the future, if you're interested. Just poke me. 👍

[2022-01-10 08:46] JJassonn69 commented on #2099
You can give a flag to set the maxGasfees so that everytime you restart it sets as the given value. But it would be nice to have it persistent.

[2022-01-10 10:44] Franck-UltimaRatio opened #2170 "Add an external (and more secure) ETH Address to receive LPT from reward cut."
Add the possibility (via client or flag) of adding an external address to  received the LPT earn by the reward call.

I know that certainly need to modify the contract because this address must be added in the blockchain. but if this option could be added at one point, that could be more secure for the orchestrator.

ATM you have to regularly move your LPT from Orch address to another one more sec

[2022-01-10 15:23] yondonfu commented on #2134
Closed by #2135

[2022-01-10 15:23] #2134 closed, assigned to cyberj0g

[2022-01-10 18:27] iameli opened #2172 "metrics: start exporting stream-specific metrics everywhere"

[2022-01-11 19:24] iameli opened #2175 "fast verification panic: lpms_compare_sign_bybuffer"
Got this after flipping on verification on secondary broadcasters - partial stack trace here: https://gist.github.com/iameli/ab0fc42f239eeff1253759444dcd590a

Important bit:
[code]

[2022-01-11 22:32] yondonfu commented on #2166
New Controller address: 0x9a9827455911a858E55f07911904fACC0D66027E

https://rinkeby.etherscan.io/address/0x9a9827455911a858E55f07911904fACC0D66027E

[2022-01-12 16:50] 0xVires commented on #2152
Had another session crash right after redeeming a winning ticket (https://etherscan.io/tx/0x59fd2abf5ec03aa1623d506e20a1bd8a5e2c358a8946333a8e1f72f9f27c3886).

![image](https://user-images.githubusercontent.com/25792899/149184526-fdf43766-62d7-4c71-a2c7-b67d289da5e3.png)

Again, no errors in the logs. But with the newest version, the O recovered itself without needing a restart. Still odd, especia

[2022-01-12 16:53] yondonfu commented on #2152
Hm might be related to https://github.com/livepeer/go-livepeer/issues/2168 cc @leszko

[2022-01-12 17:29] #2166 closed, assigned to leszko

[2022-01-12 17:31] #2116 closed, assigned to nobody

[2022-01-12 20:37] yondonfu opened #2179 "Fix data race condition due to synchronization in HandlePush tests"
See https://github.com/livepeer/go-livepeer/issues/2145#issuecomment-1002971675

The relevant tests are in https://github.com/livepeer/go-livepeer/blob/970d0aa7892cd9c30aaf069a7ee8e72d8fa64111/server/push_test.go.

We may want to look into refactoring these tests altogether as it sounds like the way synchronization is currently handled is problematic and will lead to data race conditions when runn

[2022-01-12 20:38] yondonfu commented on #2145
Closed by #2161 . Created #2179 to track the remaining data race condition which we're addressing separately.

[2022-01-12 20:38] #2145 closed, assigned to cyberj0g

[2022-01-13 08:18] leszko commented on #2152
Yeah, my rough guess is that it's related. Reopening the issue. The weird thing is that the version `v0.5.24` reverted all the tx related changes, so it should behave exactly the same as the version `v0.5.22`.

@0xVires do you experience more this issue in the version `v0.5.22` than you did in `v0.5.24`?

[2022-01-13 21:30] #444 closed, assigned to nobody

[2022-01-13 21:31] #450 closed, assigned to nobody

[2022-01-13 21:33] #485 closed, assigned to nobody

[2022-01-13 21:34] #505 closed, assigned to nobody

[2022-01-13 21:36] #510 closed, assigned to nobody

[2022-01-13 21:36] #524 closed, assigned to nobody

[2022-01-13 21:41] #543 closed, assigned to nobody

[2022-01-13 21:42] #548 closed, assigned to nobody

[2022-01-13 21:42] #559 closed, assigned to nobody

[2022-01-13 21:43] #566 closed, assigned to nobody

[2022-01-13 21:46] #582 closed, assigned to nobody

[2022-01-13 21:47] #587 closed, assigned to nobody

[2022-01-13 21:47] #591 closed, assigned to dob, ericxtang, ya7ya, eladmallel, darkdarkdragon, yondonfu, Randy1Burrell, angyangie

[2022-01-13 21:47] #595 closed, assigned to nobody

[2022-01-13 21:49] #624 closed, assigned to nobody

[2022-01-13 21:51] #645 closed, assigned to nobody

[2022-01-13 21:51] #654 closed, assigned to nobody

[2022-01-13 21:53] #665 closed, assigned to nobody

[2022-01-13 21:54] #671 closed, assigned to nobody

[2022-01-13 21:54] #592 closed, assigned to nobody

[2022-01-13 21:59] hthillman commented on #2167
This occurs when someone submits a stream with an unsupported pixel format - this isn't an error with the core software, it just happens when a broadcaster sends in a stream with a bad pixel format

[2022-01-13 21:59] #2167 closed, assigned to nobody

[2022-01-13 22:00] hthillman commented on #2160
Closing - this was fixed in 0.5.24. Please open a new issue if you see this happening again!

[2022-01-13 22:00] #2160 closed, assigned to nobody

[2022-01-13 23:36] hthillman commented on #2172
@iameli can you add some details here?

[2022-01-13 23:45] hthillman commented on #2175
@iameli @darkdarkdragon I'm on an issue triage bender! I've added the labels I think are appropriate - can you confirm?

[2022-01-13 23:58] iameli commented on #2175
Yep, definitely!

[2022-01-14 06:23] hjpotter92 opened #2181 "Add `-j` flag to the built binary"
This is to facilitate with the final binary being run with mistcontroller runtime.

[2022-01-14 07:13] cyberj0g commented on #2179
Minimal reproducible example:
[code]
Output:
[code]

[2022-01-14 17:00] hthillman commented on #2181
@hjpotter92 can you add additional labels & info as appropriate?

[2022-01-14 19:18] chrishobcroft opened #2183 "Unclear which flags are used by which roles"
**Describe the bug**

Currently, it isn't easy to determine which flags (e.g. `-maxTicketEV`) are used by which role (e.g. `-broadcaster` or `-orchestrator`)

**To Reproduce**

1. Run `./livepeer --help`
2. See a number of flags, with descriptions of how to use them e.g.:
[code]
3. Be confused about whether this flag is to be used with `-broadcaster` role or `-orchestrator` role.
4. Try running `.

[2022-01-14 19:48] hthillman commented on #2183
The quick wins here are probably:
-  add it to documentation (e.g., [here](https://docs.livepeer.org/video-miners/reference/configuration))
- add it to `--help`

Note that these can happen independently of one another.

Marked as `good first issue` and `help wanted`

[2022-01-14 20:43] chrishobcroft opened #2184 "Unable to register as an Orchestrator using local geth ("Error getting pending stake: execution reverted")"
## Summary

When running livepeer on Rinkeby testnet, _using a local `geth` instance_, it is not possible to view `DELEGATOR STATS`, nor is it possible to `Invoke multi-step "become an orchestrator"` without erroring. When attempting to do either of these actions, `livepeer` process reports `Error getting pending stake: execution reverted`.

Everything works fine when using infura as `-ethUrl`, an

[2022-01-15 17:58] JJassonn69 opened #2185 "unexpected EOF - couldnt read request body"
**Describe the bug**
When the orchestrator gets the segment it doesnt transcode, instead it shows the error

`l0114 16:46:50.136605    4560 player.go:105] LPMS got HTTP request @ /stream/c3ce2d94/480p0/3.ts
I0114 16:46:50.136605    4560 player.go:105] LPMS got HTTP request @ /stream/c3ce2d94/240p0/3.ts
I0114 16:46:50.137117    4560 player.go:105] LPMS got HTTP request @ /stream/c3ce2d94/360p0/3.ts

[2022-01-16 04:40] iameli commented on #2181
@hthillman I added a couple, but this is a necessary step toward a version of Mist that has go-livepeer embedded and can transcode directly on mainnet.

Essentially, Mist's main binary — MistController — can query external binaries for their command line options with the flag `-j`. This is expected to return a JSON representation of the available CLI options. The external binary (in this case go-l

[2022-01-16 11:02] chrishobcroft opened #2186 "livepeer_cli for Broadcaster: "Error getting status" on startup and when calling "Get node status""
## Summary

When using the `livepeer_cli` to configure a Broadcaster, the following message is displayed in the cli UI on a) startup, and b) calling `1. Get node status`:

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Run livepeer in `-broadcaster` mode with the following command (for completeness):
[code]
2. Observe the aforementioned error message being displayed (see screenshot)

[2022-01-16 14:58] RyanC92 opened #2187 "Change how invoke multistep/bond/unbond lpt is read by livepeer_cli"
**Is your feature request related to a problem? Please describe.**
when bonding or invoking to become an orchestrator, you have to know that your input for 10LPT is "1000000000000000000" to any newcomer or old timer, this is extremely confusing and programatically I believe this could easily be solved.

**Describe the solution you'd like**
Change the way the program reads the input, 10 LPT should

[2022-01-16 16:15] yondonfu commented on #2184
This should be fixed by an upgrade to a new version of the [BondingManager contract on Rinkeby](https://rinkeby.etherscan.io/address/0xF96D54E490317c557A967ABfA5d6e33006BE69b3). See below for more details on what the problem was.

The BondingManager read-only function that is called to calculate the address' stake can end up being pretty expensive to run if the address has never staked/registered

[2022-01-16 16:15] #2184 closed, assigned to yondonfu

[2022-01-16 16:17] yondonfu commented on #1858
This should be fixed on the latest version of the Rinkeby testnet. See https://github.com/livepeer/go-livepeer/issues/2184#issuecomment-1013904752

[2022-01-16 16:17] #1858 closed, assigned to nobody

[2022-01-17 12:09] leszko commented on #2148
Sent a PR. There is [one more place](https://github.com/livepeer/go-livepeer/blob/b4605f705bcad5e355bb0c738d784e4503089900/eth/watchers/orchestratorwatcher.go#L172) where this DB Filter is used. It's used to cache the stake of the orchestrators. I believe we don't need to make any changes here. But @yondonfu PTAL.

[2022-01-18 15:21] hthillman commented on #2187
@yondonfu do you have any insight on why we do it this way? Granularity is the only reason i can think of

[2022-01-18 17:11] iameli commented on #2156
The go cross-compiling is easy; the ffmpeg cross-compiling is probably hard. But it'd be awesome!

[2022-01-18 22:38] yondonfu commented on #2175
Looks like this hasn't been completely addressed as we observed what appears to be the same type of panic on a call to `ffmpeg.CompareSignatureByBuffer`:

[code]

[2022-01-18 23:11] hthillman commented on #2185
@JJassonn69 can you add some more details about when this happens? is this persistent or intermittent? does it usually happen after some specific action?

[2022-01-19 17:48] leszko opened #2193 "Livepeer configuration parameters are ignored"
**Describe the bug**
When the Livepeer configuration file contains an unknown parameter, then all the following parameters are ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Created the following `livepeer.conf`

[code]

2. Run Livepeer

[code]

3. Check that the `reward` parameter is ignored from `livepeer.conf`.

**Expected behavior**
We should have a fail-fast approach and if th

[2022-01-19 18:03] hthillman opened #2194 "Evaluate behavior for unset CLI flags"
**Is your feature request related to a problem? Please describe.**
For several flags (`reward` being the most prominent), we have 3 states: true/truthy, false/falsy, and unset.  This "unset" state is not intuitive for node operators. These flags have defaults, but in certain cases they are ignored for the unset state. This means that the "default" is unreliable.

https://github.com/livepeer/go-liv

[2022-01-19 18:31] RyanC92 commented on #2194
Moving this from the discord.

My input-

I think seeing as reward calls make a transaction which if it accidently goes off is more detrimental than missing a day of reward calls. I think by default livepeer, if not told anything should NOT do a reward call unless flagged as -reward=true or reward true
even with L2 reward calls being cheaper, the fact that it does it without confirmation has a far

[2022-01-19 19:08] JJassonn69 commented on #2185
@hthillman the error occurs frequently, it is transcoding well one second and suddenly it starts showing many errors with that msg, It started after VPN setup and I don't see such errors in other orchestrators which are not connected through a VPN. Maybe something to do with the encryption of VPN?

[2022-01-19 19:49] jvventura commented on #2193
If this helps, I think I found the logic where this happens.

(Discord context: https://discord.com/channels/423160867534929930/932724294230900776/933447235029590067)

https://github.com/peterbourgon/ff/blob/67fe9632817c69f1aa51a8ef5bd5f430e4c9a7c5/parse.go#L130

It throws an error. But I think because of the way this code works, this callback func successfully sets the flags up that point as it i

[2022-01-20 10:07] #2148 closed, assigned to leszko

[2022-01-20 22:55] Strykar opened #2200 "Emit per stream metrics - bit rate, resolution"
**Is your feature request related to a problem? Please describe.**
O's wish to measure concurrent stream count + what resolution and bit rate each was transcoded at.
This is critical to plan infrastructure growth.
We charge per pixel, we should be able to measure how many total pixels (according to LPMS / Mist) we have transcoded.

**Describe the solution you'd like**
Emit Prometheus metrics that

[2022-01-20 23:47] hthillman commented on #2187
closing as dupe of https://github.com/livepeer/go-livepeer/issues/1835. added #1835 to backlog for prioritization

[2022-01-20 23:47] #2187 closed, assigned to nobody

[2022-01-21 18:54] cyberj0g opened #2201 "Use GPU for transcoding by default"
It pops up in Discord very frequently: users forget/don't know about `-nvidia` argument and end up running transcoding on CPU, which is not their intention and will produce much lower reward. I think default arguments should reflect how the node is supposed to run. This will require implementing getting Nvidia GPU list on node startup, while `-nvidia` argument could still be used to restrict trans

[2022-01-23 21:52] yondonfu commented on #2201
If the suggestion is to try to use all available Nvidia GPUs by default, then I have a few questions/concerns with that approach:

- How will users disable Nvidia transcoding and enable CPU transcoding? While the latter may not be popular for production usage, it is still useful for testing, development and learning to run the software.
- If the node supports other hardware for transcoding, how wi

[2022-01-24 07:11] cyberj0g commented on #2201
Good point about other hardware support. We can deprecate `-nvidia` flag in favor of something like:
```-accel none|nvidia|netint[=device_id[,device_id]]```
with `-accel nvidia` being default option.

[2022-01-24 11:01] #2193 closed, assigned to nobody

[2022-01-24 14:33] yondonfu opened #2203 "Support both L1 and L2 contract interfaces"

[2022-01-24 15:36] yondonfu commented on #2175
https://github.com/livepeer/lpms/pull/296 -> PR from @darkdarkdragon that seems to be doing some fuzz testing of the CompareSignatureByBuffer function to identify failure cases.

[2022-01-24 19:29] hthillman commented on #2034
@papabear99

Seems like there are two issues here:
- set per GPU Max
- specify GPU preference

is that right?

Seems like specifying GPU preference is a rabbit hole - what if you prefer one GPU for certain job types and another for other job types?

[2022-01-24 20:35] yondonfu commented on #2149
Closed by https://github.com/livepeer/go-livepeer/pull/2202

[2022-01-24 20:35] #2149 closed, assigned to leszko

[2022-01-24 20:55] yondonfu commented on #2203
Closed by https://github.com/livepeer/go-livepeer/pull/2204

[2022-01-24 20:55] #2203 closed, assigned to leszko

[2022-01-24 21:01] #2117 closed, assigned to nobody

[2022-01-25 00:14] papabear99 commented on #2034
I see your point regarding setting preference for different tasks and I agree, however I would still find it beneficial to be able to set GPU preference for all jobs before sending jobs to lower priority GPUs for setups that have GPUs with different speeds.

i.e. I have 3 GPUs in my O/T 2x GTX 1070s and 1x RTX 4000.  The GTX 1070s are ~33% faster than the RTX 4000 so I would prefer, and think it w

[2022-01-25 04:06] Strykar commented on #2170
@hthillman Was the Redeemer role supposed to help with this issue at all, the docs did not make it clear for me?

[2022-01-25 05:11] Strykar commented on #2034
Why so?
If Livepeer will have differing payloads in the future, say Inference / Tensor / ML, besides video transcoding, O's should be able to prioritize by GPU and payload type.
Enabling freedom of choice for resource allocation to O's has no downsides.

[2022-01-25 13:40] leszko opened #2207 "Improve Feed PubSub mechanism"
## Abstract

In `go-livepeer` we use the in-process PubSub mechanism, based on the [event.Feed structure](https://pkg.go.dev/github.com/ethereum/go-ethereum/event#Feed), which distribute events between different goroutines. We use it with an assumption that it's async, but in reality, it's a blocking mechanism. This spec describes a set of activities to fix this issue.

## Motivation

There were a

[2022-01-25 13:41] leszko commented on #2168
Created the related Feature spec explaining the issue in detail and describing the solutions.

https://github.com/livepeer/go-livepeer/issues/2207

[2022-01-25 15:09] Czar102 opened #2209 "Transcoding time miscalculation for simultaneous transcodings"
In `livepeer_bench` transcoding time is not calculated properly when setting `-concurrentSessions` to a high value.
I run the script for approx. 60s, while the displayed time was 600s:

[code]

**To Reproduce**
Steps to reproduce the behavior, start benchmark with a test file provided in the docs, with following parameters:
[code]

Probably any number of `-concurrentSessions` that is greater than

[2022-01-25 15:22] hthillman opened #2210 "CLI typed data flow needs updated instructions for windows"
The CLI tells you to hit ctrl+D after you've pasted the message. For Windows users, this should be ctrl+Z.

### The fix
update the copy in the CLI to say `(ctrl+Z for Windows users)`

some context near this message:
https://discord.com/channels/423160867534929930/930504210884206663/935386779777900554

[2022-01-25 18:04] iameli opened #2211 "segfault in the latest version of livepeer_bench"
This seems to show up when there are a certain number of concurrent sessions. This is on v0.5.26:

[code]

That same command works successfully with livepeer_bench v0.5.17. Test case is reproducible, happy to bisect and find the source of the issue if that's helpful!

[2022-01-25 19:13] hthillman commented on #2172
looks like this is actually a partial dupe of #2200

[2022-01-25 19:54] hthillman commented on #2201
To me it seems like this is part of a larger conversation about how we select GPUs for an orchestrator. IMO this should be a highly configurable process that takes into account job type, hardware, concurrent stream count, etc

see e.g., https://github.com/livepeer/go-livepeer/issues/2034

[2022-01-25 21:16] hthillman commented on #2194
We've updated the docs to say that you need to explicitly set reward to false, otherwise it will default to true. Closing for now, we can reevaluate if this continues to cause problems

[2022-01-25 21:16] #2194 closed, assigned to nobody

[2022-01-25 21:22] hthillman commented on #2201
We'd like to wait on adjusting flag behavior until we have a better understanding of how we want to support additional hardware and how we want to support configuring capabilities for that hardware. we suspect that that information will influence how flags should be defined on the node

[2022-01-25 21:22] #2201 closed, assigned to nobody

[2022-01-25 21:25] hthillman commented on #2168
closing in favor of #2207

[2022-01-25 21:25] #2168 closed, assigned to leszko

[2022-01-25 21:30] hthillman commented on #2209
The `603s` that's reported refers to the time spent transcoding, and it's measured in parallel.  so `20 streams * 0.5027 * 60 = 603`

if you have any ideas for better ways to display this info, let us know! closing for now but feel free to comment

[2022-01-25 21:30] #2209 closed, assigned to nobody

[2022-01-25 21:30] #708 closed, assigned to yondonfu

[2022-01-25 21:32] hthillman commented on #717
closing for now but we'd like to address in the future - need more specific issues

[2022-01-25 21:32] #717 closed, assigned to nobody

[2022-01-25 21:34] hthillman commented on #718
closing for now as the details are outdated - planning to resurrect as part of OSS pod work

[2022-01-25 21:34] #718 closed, assigned to nobody

[2022-01-25 21:34] #720 closed, assigned to nobody

[2022-01-25 21:36] #721 closed, assigned to nobody

[2022-01-25 21:39] #746 closed, assigned to nobody

[2022-01-25 21:40] #786 closed, assigned to nobody

[2022-01-25 21:41] #792 closed, assigned to nobody

[2022-01-25 21:41] #802 closed, assigned to nobody

[2022-01-25 21:42] #808 closed, assigned to nobody

[2022-01-25 21:48] #840 closed, assigned to j0sh

[2022-01-25 21:54] #869 closed, assigned to nobody

[2022-01-25 21:54] hthillman commented on #869
can reopen if we need full playlists

[2022-01-25 22:11] hthillman opened #2212 "Y/N Confirmation when sending a transaction via the CLI"
Split out from #2106

Whenever the Livepeer CLI will submit a transaction, we should require confirmation from the user. If an action will submit multiple transactions, the user should be warned in advance

[2022-01-25 22:13] hthillman opened #2213 "Estimate gas for CLI transactions"
Split out from #2106

When a user is about to submit a transaction using the CLI, we should estimate the gas fees that will be required. This is a bit complex because the CLI technically doesn't submit the transaction

[2022-01-25 22:14] hthillman commented on #2106
Split into #2212 and #2213

we should be able to easily add #2212, but #2213 will take a little more time

[2022-01-25 22:14] #2106 closed, assigned to nobody

[2022-01-25 22:24] hthillman opened #2214 "Testing best practices section in contribution guide"
Right now, we don't have any information for contributors about how tests should look. We should create a testing best practices section for the contribution guide that covers what we look for in PRs.

cc @yondonfu  for any additional comments here

[2022-01-26 01:15] noisersup commented on #2212
Can I work on it?

[2022-01-26 07:17] JJassonn69 commented on #2185
@hthillman what other information can I provide for further clarification on the issue?

[2022-01-26 18:52] Czar102 commented on #2209
As far as I understand, `Total Transcoding Duration` should report the total time the graphics card has spent transcoding, not the sum of the transcoding times.
When 10 processes wait for hardware to be freed, the time should not be counted 10 times. On maximum capacity, graphics card is working 1s every second, the number of active threads doesn't matter.

[2022-01-26 19:27] hthillman commented on #2212
yes, thanks for getting involved! we'll get you some feedback on that PR as soon as possible

[2022-01-26 21:41] victorges commented on #2207
Current proposed solutions look good to me! Reviewed the one for background event processing.

For timeouts, especially the `checkTx` one should be really simply, since its core implementation is just a loop on top of another subscription right? Just a matter of adding a `time.After(timeout)` or `ctx.Done()` to the select cases and exit with a timeout.

[2022-01-27 04:57] noisersup commented on #2213
I think I could do that if I can as well

[2022-01-27 08:37] #2210 closed, assigned to leszko

[2022-01-27 09:17] leszko commented on #2207
Thanks for the review @victorges !

Yes, it should be simple. Actually for the on-chain transactions, the timeout should also be simple, because you can add `context` to into `TransactOpts` or `CallOpts` (which we don't do atm).

[2022-01-28 03:14] noisersup opened #2217 "Return http response codes in livepeer_cli responses"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I was using `livepeer_cli` and i got error:
```ERROR: logging before flag.Parse: E0128 02:49:31.223383      72 wizard_stats.go:98] Error getting current round: http response status not ok```

I have tried to understand what's the problem fo

[2022-01-28 21:07] hthillman commented on #2217
@leszko any thoughts here? from my perspective this change makes sense and is a nice step towards standardization

[2022-01-30 01:20] yondonfu opened #2220 "Track last seen L1 block in addition to last seen L2 block"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

There are a few places where `LastSeenBlock()` is either called either on the [TimeWatcher](https://github.com/livepeer/go-livepeer/blob/970d0aa7892cd9c30aaf069a7ee8e72d8fa64111/eth/watchers/timewatcher.go#L140) or the [DB](https://github.

[2022-01-30 09:11] noisersup commented on #2213
I came to the conclusion that there are 2 solutions:
### 1
In `server/webserver` I could add an endpoint `/estimatedGasPrice` (call it like you want) which will use `GasPriceMonitor` and call `SuggestGasPrice` from `go-ethereum` package
### 2
I could also use same function from `go-ethereum` directly from livepeer-cli and use it like this:
1. call existing server endpoint `/ethAddr` to get eth nod

[2022-01-31 10:53] leszko commented on #2217
Yes, it makes sense. In the long run, it would be even better to check the status errors and give a more human-readable message to the end-users. But I agree, that displaying an error code is better than not displaying anything.

@noisersup I've seen you sent a PR. I'll take care of it.

[2022-01-31 11:03] #2217 closed, assigned to nobody

[2022-01-31 11:45] leszko commented on #2213
@noisersup Thanks for jumping into it. Well appreciated!

I think that what you suggest would give the user information about the current gas price, however, the intention for this GH Issue (@hthillman please correct me if I'm wrong) is to give the user the expected cumulative gas fee, which will be more complex.

In other words, your suggestion would say that the current price is `0.001808 ETH`,

[2022-01-31 15:50] yondonfu commented on #2213
Note: Would need to hardcode some gas limit as well here since gasFeeCap is the fee per unit of gas.

Another direction to explore could be to pass a param like `estimateCost` to endpoints that submit txs that defaults to false and if it is set to true the response will be a JSON obj with the following fields:

[code]

There is a `NoSend` flag that can be set in the `TransactOpts` used by contract

[2022-01-31 17:28] papabear99 commented on #2200
Can Broadcaster IP addresses be added to the stream metrics so Orchestrators can see where their work is originating?

Having this information available in Prometheus/Grafana would help Orchestrators plan their infrastructure expansion.

[2022-01-31 17:33] hthillman commented on #2212
looks like this has been merged, thanks @noisersup! closing 👍

[2022-01-31 20:48] #2212 closed, assigned to nobody

[2022-01-31 20:51] hthillman commented on #2185
whoops, I missed these notifications, sorry for the delay!

Does the segment still transcode correctly? Based on the logs above, this looks more like a warning than a crash?

[2022-01-31 21:36] JJassonn69 commented on #2185
@hthillman I just get logs with the error message and nothing else. The above logs are just a clip from a long list of error.

[2022-02-01 03:00] darkdarkdragon commented on #2185
@JJassonn69 This error means that server wasn't able to read whole segment from the network. Probably VPN messes with connection somehow.

[2022-02-01 05:42] JJassonn69 commented on #2185
@hthillman anything I can do to fix it, aside from VPN disabling?

[2022-02-01 09:56] #2181 closed, assigned to hjpotter92

[2022-02-01 18:48] darkdarkdragon commented on #2185
@JJassonn69 maybe try to use another VPN? Otherwise you need to find out why VPN drops connections.

[2022-02-01 22:12] RyanC92 opened #2224 "Create and support a linux repository for release distribution/update/install"
**Is your feature request related to a problem? Please describe.**
Looking to see if we can start the discussion on Linux/Deb repositories for update/install of livepeer to linux platforms

**Describe the solution you'd like**
Livepeer maintain a linux repository, similar to what grafana does.

![image](https://user-images.githubusercontent.com/15055337/152060322-804395d8-8c00-4760-ae02-df11afbfa1

[2022-02-02 10:16] cyberj0g commented on #2123
Looks like one additional case is not covered by pending and merged PRs: when O starts in standalone mode, and then Ts connect to it, B needs to receive info about new capabilities of that O. Implementation tasks are:
1. Update O capabilities upon new `RegisterTranscoder` call
2. Re-evaluate O capabilities on each [selectOrchestrator](https://github.com/livepeer/go-livepeer/blob/763cc0150ebf47299d

[2022-02-02 13:45] yondonfu commented on #2207
Proposed solutions look good just a few clarifying comments below:

This is technically true since `client.CheckTx()` itself does not implement a timeout despite using an infinite for loop that waits on a select statement, but worth noting that there is some additional nuance under the hood:

- `client.CheckTx()` is typically called using a tx created by [TransactionManager.SendTransaction()](http

[2022-02-02 15:17] leszko commented on #2207
Thanks for the clarification @yondonfu

Yeah, agree. We should have timeouts for both: checking the tx and submitting the tx.

Yes, but since we receive tx receipts in another goroutine, technically it's still possible that we first send the receipt before calling `CheckTx()`. In any case, it's so unlikely, I'd not focus on it at the moment.

[2022-02-02 16:56] hthillman commented on #2224
@iameli can you provide any insight on the lift here?

This would make operations substantially easier for orchestrators who use certain Linux frameworks

It is also a blocker for @NightWolf92's grant for the creation of an Ansible setup & install script. https://github.com/livepeer/Grant-Program/issues/42

[2022-02-02 18:44] papabear99 commented on #2020
I'm still having this issue and I noticed an odd possibly related issue the other day where a session was switching between GPUs on 27 min intervals.  This may happen regularly but this was on a slow day so it was easy to spot the change in transcode times which I then was able to see correlated to an increase/decrease in usage on the 2 different model GPUs installed on the O/T
![27minSessionGPUSw

[2022-02-02 18:46] darkdarkdragon commented on #2123
@cyberj0g
Also we need update O capabilities when transcoder disconnects

[2022-02-02 19:02] darkdarkdragon commented on #2123
@cyberj0g can you create tickets for these new tasks?

[2022-02-03 18:57] cyberj0g opened #2230 "Display more verbose error message when Nvidia encoding session limit exceeded"
# Issue
When driver-imposed limit on number of parallel encoding sessions on Nvidia GPU is reached, obscure error message `Could not allocate memory` is displayed. We need to detect such situation and display clear error message, because, currently, launching T on any consumer Nvidia GPU with `-nvidia` flag will fail initial capability test, which attempts to transcode to 4 renditions.

# Proposed

[2022-02-03 19:02] cyberj0g opened #2231 "Advertise changes in O capabilities to B when new T connects or disconnects"
Separate issue to track [this](https://github.com/livepeer/go-livepeer/issues/2123#issuecomment-1027782218) part of new codecs support implementation.

[2022-02-04 09:01] leszko commented on #2152
Closing, since I believe it is fixed by #2208. Reopen if you still encounter the issue after the next go-livepeer release.

[2022-02-04 09:01] #2152 closed, assigned to leszko

[2022-02-04 09:03] leszko commented on #2079
Closing  since I believe it's fixed in #2208 . Reopen if you still encounter this issue after the next release.

[2022-02-04 09:03] #2079 closed, assigned to nobody

[2022-02-04 09:06] leszko commented on #2207
FYI: The most important fix is merged #2208 .

I plan to send one more PR which adds timeouts and aborting of the transaction. Then, this GH Issue will be closed.

[2022-02-04 11:42] chrishobcroft commented on #2212
Hey, just checking in on this - I just used `livepeer_cli` `0.5.27` to operate Livepeer on Arbitrum One Rinkeby. Several transactions were sent without any Y/N Confirmation.

[2022-02-04 12:25] leszko commented on #2212
I see the PR #2215 was only about sending the transfer and for every transaction. So we may consider reopening this GH Issue. @hthillman wdyt?

[2022-02-04 14:05] chrishobcroft opened #2233 "`./livepeer -orchestrator -transcoder` process dies, reporting `Killed` (possible memory leak)"
## Bug Description

When operating livepeer in `-orchestrator -transcoder` mode, with a B sending it a single stream, the process consumes all RAM on the host, reporting `Killed` as the process fails.

## Observed Behaviour

Steps to reproduce the behavior:

1. Download version 0.5.27 of Livepeer `wget https://github.com/livepeer/go-livepeer/releases/download/v0.5.27/livepeer-linux-amd64.tar.gz`
2

[2022-02-04 14:07] chrishobcroft opened #2234 "After O process fails, B continues to report multiple renditions in the manifest, and serve stale transcoded content."
## Bug Description

When an O/T process fails, the B continues to report transcoded renditions in the `.m3u8` manifest, and serves stale (cached, i.e. not live) transcoded content.

## Observed Behaviour

Steps to reproduce the behavior:

1. Download version 0.5.27 of Livepeer `wget https://github.com/livepeer/go-livepeer/releases/download/v0.5.27/livepeer-linux-amd64.tar.gz`
2. Unzip `tar -xzf li

[2022-02-04 14:32] leszko opened #2235 "Consider removing block backfilling"
**Is your feature request related to a problem? Please describe.**

Currently, at the Livepeer startup, we backfill all the blocks starting from the last block stored in the SQLite DB. If a node is offline for a long time, this process can take some time and execute a number of RPC calls to Ethereum API.

**Describe the solution you'd like**

After the move to Arbitrum, we can consider removing th

[2022-02-04 15:19] hthillman commented on #2209
the total time it has spent transcoding *IS* the sum of transcoding times. if it transcodes 2 streams in parallel for an hour, that's 2 hours of transcoding time. If you call that 1hr of transcoding time, you lose the nuance about the amount of work that's actually being done

[2022-02-04 15:23] chrishobcroft commented on #2235
I like this concept, and to reduce reliance on the sqlite DB. I would recommend understanding how the backfilled blocks are used locally, especially in the instances where the livepeer process is retrieving chain data from a remote `ethUrl` e.g. infura / alchemy / https://rinkeby.arbitrum.io/rpc, where data retrieval times are higher than running a `ethUrl` on localhost e.g. geth.

[2022-02-04 15:27] chrishobcroft commented on #1575
@yondonfu maybe this is worth reopening? I'm seeing a large number of "TicketParams expired" errors when running a B and O/T:

![image](https://user-images.githubusercontent.com/2212651/152555773-1b1741a2-2c0a-4b4a-8958-8c4269d44cfb.png)

[2022-02-04 17:18] chrishobcroft opened #2236 "B reporting lots of `err="TicketParams expired"`, which interrupts transcoding activities"
## Bug Description

When running a B, the following Error message is regularly reported in the console:

`segment_rpc.go:438] orchSessionID=e3825a5b Could not create payment bytes=294032 err="TicketParams expired"`

This has the effect of halting any transcoding work being done by the O, as the B is unable to create PM tickets.

After some time, the B starts creating and sending the PM tickets aga

[2022-02-04 17:25] chrishobcroft commented on #2236
cc. #1575

[2022-02-06 12:07] Franck-UltimaRatio opened #2239 "add the creation of an encrypted config file containing the password of the ETH wallet used."
add the creation during the first launch of the livepeer executable of an encrypted config file containing the password of the ETH wallet used.

That will increase the security of your node's ETH Wallet and avoid to keep the wallet and its password in clear on the server's node.

[2022-02-07 08:14] leszko commented on #2236
May be related to https://github.com/livepeer/go-livepeer/issues/2220

[2022-02-07 10:47] #2220 closed, assigned to leszko

[2022-02-07 14:08] yondonfu commented on #2159
Decided to detect source codec and infer capabilities required in https://github.com/livepeer/go-livepeer/pull/2191

[2022-02-07 14:08] #2159 closed, assigned to cyberj0g

[2022-02-07 17:15] iameli commented on #2072
Reclaiming this issue for addition of slice parameters to the B<>O wire protocol.

[2022-02-07 17:49] leszko opened #2242 "Support -network=arbitrum-one"
Add support for `-network=arbitrum-one`.

Similar to what we did in https://github.com/livepeer/go-livepeer/pull/2202

Activities:
- Add chain support build variables
- Add controller address in `livepeer.go`

[2022-02-07 17:50] leszko commented on #2242
blocked until contracts are deployed in Arbitrum Mainnet

[2022-02-07 18:06] leszko opened #2243 "Update transaction format for Arbitrum"
**Is your feature request related to a problem? Please describe.**
Arbitrum treats the gas price differently than Ethereum. It uses `gasPrice` as the maximum gas price that a user may pay. Also Aribtrum probably does not accept the post-london upgrade transaction format.

**Describe the solution you'd like**
We need address the following points:
- Gas Price Monitor (oracle) does not make sense any

[2022-02-08 01:05] yondonfu commented on #2242
Suggested change: I think we should use `arbitrum-one-mainnet` as the name of the network to follow the `arbitrum-one-*` naming convention that we already use for `arbitrum-one-rinkeby` since "Arbitrum One" is the term used to distinguish Arbitrum's flagship rollup chain from other deployments of Arbitrum rollup chains.

[2022-02-08 01:27] yondonfu commented on #2243
Can we just handle Arbitrum transactions the same way that we would handle any pre-London chain by defaulting to the legacy tx format similar to what the [contract binding base code](https://github.com/ethereum/go-ethereum/blob/2d20fed893faa894f50af709349b13b6ad9b45db/accounts/abi/bind/base.go#L379) does i.e. check if the latest block header of the chain specifies a BaseFee and if not assume that

[2022-02-08 10:58] leszko commented on #2243
Yes, I think you're right, I made the changes in the max gas price PR: https://github.com/livepeer/go-livepeer/pull/2171. PTAL

Right, I didn't touch Gas Price Monitor.

Yes, you may be right. I kept the replacement logic. However, note that I never encountered the slow configuration. So the transaction was either accepted or rejected, never pending in Arbitrum.

We don't need to change it for now

[2022-02-08 12:08] cyberj0g commented on #2233
I confirm that there seem to be a leak - checked with current `master` of `go-livepeer` and `lpms`. RAM usage rises fast in first 30 sec and then growth slows down at about 4 Gb, though not stops.

[2022-02-08 13:14] chrishobcroft commented on #2239
I'm not sure I completely understand this.

During the first launch, Livepeer will create a "keystore file" encrypted with a password. This password is then required when a node starts up, either entered manually (twice), or provided in the startup command/config file.

It seems that this request for livepeer to create another file, let's call it a "password file", encrypted with a second password

[2022-02-08 14:57] Franck-UltimaRatio commented on #2239
This not the idea.
You can already create an encrypted password using for exemple openssl, restrict the access to file created with chmod 600, then add a varianble in a bach to decrypt the file with an another password, but effectively this password stay clear and accessible in the batch.
This idea is more at the fisrt launch, the livepeer node ask for the password then encrypt it in a file that o

[2022-02-08 21:12] hthillman commented on #2236
@leszko when you do testing on Wednesday can you confirm that this issue is addressed?

[2022-02-08 21:19] hthillman commented on #2239
@Cianha

can you clarify what you mean by batch file?

one solution for this could be system-level secret storage so that the private key is never stored in plaintext (e.g. https://wiki.gnome.org/action/show/Projects/GnomeKeyring)

[2022-02-08 21:22] #873 closed, assigned to nobody

[2022-02-08 21:24] hthillman commented on #876
closing, can reopen if there's interest

[2022-02-08 21:24] #876 closed, assigned to nobody

[2022-02-08 21:24] #877 closed, assigned to nobody

[2022-02-08 21:26] #884 closed, assigned to nobody

[2022-02-08 21:40] #925 closed, assigned to nobody

[2022-02-08 21:41] hthillman commented on #930
closing in favor of https://github.com/livepeer/lpms/issues/284

[2022-02-08 21:41] #930 closed, assigned to ya7ya, mk-livepeer

[2022-02-08 21:44] #941 closed, assigned to nobody

[2022-02-08 21:45] #945 closed, assigned to nobody

[2022-02-08 21:52] #959 closed, assigned to nobody

[2022-02-08 21:54] #963 closed, assigned to mk-livepeer

[2022-02-08 22:59] Franck-UltimaRatio commented on #2239
i mean Bash file sorry, actually the -EthPassword flag is stored (and not encrypted) in a shell script. GnomeKeyring could be a solution for sure. i ll have a look to that thanks

[2022-02-09 07:51] leszko commented on #2236
Yes, sure. I assigned this GH Issue to me.

[2022-02-09 08:24] #2084 closed, assigned to leszko

[2022-02-09 08:24] #2243 closed, assigned to leszko

[2022-02-09 09:04] leszko commented on #2236
I checked exactly the steps you described with the code from `master` and after transcoding 120 segments I didn't encounter the `TicketParams expired` issue in Arbitrum Testnet. Therefore closing this GH Issue. Feel free to reopen if you encounter the issue again.

One more comment, @chrishobcroft I think you should different `-datadir` for orchestrator and broadcaster. Otherwise they may collide.

[2022-02-09 09:04] #2236 closed, assigned to leszko

[2022-02-09 15:38] yondonfu opened #2247 "Return error on startup if connected to arbitrum-one-mainnet when L1 block < LIP-73 block"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The contracts on Arbitrum mainnet will start off paused until they are unpaused after the LIP-73 block 14207040 [1]. At the moment, this would mean that the node will connect to the contracts and if any transactions are submitted they will

[2022-02-09 18:29] #2172 closed, assigned to darkdarkdragon

[2022-02-09 23:07] hthillman commented on #2239
cc @yondonfu does this answer your question from yesterday? what does the lift look like for system-level secret storage?

[2022-02-10 01:52] yondonfu opened #2248 "Use different hardcoded redeemGas when connected to an Arbitrum network"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, we hardcode a [redeemGas](https://github.com/livepeer/go-livepeer/blob/5d9bcaa325d8caa18151b42f50f4f78bf76834d7/cmd/livepeer/livepeer.go#L60) variable to 350000 which is meant to represent a rough estimate of the amount of g

[2022-02-10 09:01] leszko opened #2250 "Redeem tickets only by active orchestrators"
**Is your feature request related to a problem? Please describe.**
Starting from the Arbitrum L2 migration, we allow transcoding with orchestrators that are planned to be active in the next round. In that case, we need to redeem tickets that are only from active orchestrators. Otherwise, we get the following error from the smart contract:

[code]

**Describe the solution you'd like**
Comment from

[2022-02-10 10:35] leszko commented on #2247
Sent a PR: https://github.com/livepeer/go-livepeer/pull/2251

I think we don't need to update the network config since this check is actually temporary. I think we should remove it after LIP-73. PTAL.

[2022-02-10 11:09] leszko commented on #2248
Yeah, agree that we should move away from the hardcoded values, but since Arbtrium migration is just around the corner. Let's hardcode it for now.

[2022-02-10 12:12] cyberj0g commented on #2211
Couldn't reproduce it on 2 GPU server - had to reduce number of sessions to 40, because there's not enough VRAM for 70x4, though. I've noticed that OOM error doesn't always has correct message, it may just fail anywhere in CUDA code. Maybe the reason this test is not passing anymore is some new feature which slightly increased VRAM usage?

[2022-02-10 12:16] AlexKordic commented on #2211
Should we rename this issue to `handle OOM gracefully` ?

[2022-02-10 13:04] AlexKordic commented on #2211
We can reproduce the error using command:

`./livepeer_bench -in ../bbb/source.m3u8 -transcodingOptions transcodingOptions.json -nvidia 0,1 -concurrentSessions 45`

[code]

The error code and message can vary depending where out-of-memory happens. Here is example of OOM in rescaling:
[code]

@cyberj0g  Is the fix needed in the code or we handle this with proper configuration of session limit?

[2022-02-10 13:37] yondonfu commented on #2211
Seems like there are two things worth looking into here:

1. Why did @iameli's livepeer_bench run fail with a CUDA OOM on v0.5.26, but pass on v0.5.17?
2. Is there a way to make it clearer that a CUDA OOM occurred regardless of where it happened (i.e. during decoding, scaling, etc.)? I'm thinking it would be nice if the error returned to the caller was something like `Error initializing filtergrap

[2022-02-10 13:50] yondonfu commented on #2247
👍

[2022-02-10 13:56] yondonfu commented on #2242
Making a note that we'll want to remember to set redeemGas in the network config for arbitrum-one-mainnet similar to what we do for arbitrum-one-rinkeby in https://github.com/livepeer/go-livepeer/pull/2252

[2022-02-10 14:36] #2248 closed, assigned to leszko

[2022-02-10 15:28] #2247 closed, assigned to leszko

[2022-02-10 16:19] hthillman commented on #2200
does this address the concerns here? https://github.com/livepeer/go-livepeer/pull/2238

[2022-02-10 16:49] AlexKordic commented on #2211
Regarding point 1)

There is no difference in memory consumed comparing `master` (68% mem) and `v0.5.17` (67% mem):

![gpu_usage_master](https://user-images.githubusercontent.com/3812017/153454282-cf517469-5af0-4717-8e1e-ace9bafcec04.png)

![gpu_usage_v0 5 17](https://user-images.githubusercontent.com/3812017/153454295-6a523b69-3b76-4617-9e88-7186f0449d72.png)

To check my setup `v0.5.17` is linke

[2022-02-10 16:56] hthillman commented on #2170
the redeemer just redeems winning tickets on behalf of orchestrators

[2022-02-10 17:19] papabear99 commented on #2200
Looks like it takes care of the pixel count and broadcast IP requests.

Doesn't look like bit rate is addressed.

@Strykar are you looking for full resolution i.e. 720x480p per stream vs. the current horizontal only resolution i.e. 480p displayed in the session profile?

[2022-02-10 18:09] cyberj0g commented on #2211
@AlexKordic great analysis. On 2: yes, I linked it dynamically, you can get static build by calling `install_ffmpeg.sh /root/` (without BUILD_TAGS), removing libavcodec.so from ffmpeg dir prior to that, but I'm not sure if it will yield any different result. If not OOM, it may be something GPU specific, which we don't see with 1070 Ti.

[2022-02-10 18:42] AlexKordic commented on #2211
@cyberj0g thanks for confirmation. I was in doubt if 2 installed `go-livepeer` repos would use same ffmpeg code.

[2022-02-10 19:05] darkdarkdragon commented on #2200
@papabear99 @Strykar
Pixels/second is the only metrics that shows real load.

For resolution - one stream could have 2 target renditions, other stream 4. How would you group this in metrics?

[2022-02-11 13:20] #2250 closed, assigned to leszko

[2022-02-11 16:24] #2242 closed, assigned to leszko

[2022-02-11 16:36] papabear99 opened #2255 "Specifying -nvidia 0 results in GPU 1 being selected -nvidia 1 selects GPU 0"
**Describe the bug**
Specifying -nvidia 0 results in GPU 1 being selected -nvidia 1 selects GPU 0

**To Reproduce**
Steps to reproduce the behavior:
1. Add -nvidia 0 to start command
2. Start Livepeer
3. View console output and observe "Transcoding on these Nvidia GPUs: [1]" Also confirmed in use that the incorrect GPU is selected and used for transcoding.
4. This behavior also happens in reverse.

[2022-02-13 18:32] RyanC92 opened #2257 "Livepeer_CLI With Redeemer flag shows broadcaster options when it should be orchestrator flags"
**Describe the bug**
If you launch livepeer with the ```redeemer``` flag, the options from the livepeer_cli go from the orchestrator flags (shown below)

[code]

to when you have the flag turned on it is more around broadcaster settings:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. modify your config file to include ```redeemer``` or launch with ```-redeemer``` and run livepeer
2.

[2022-02-13 19:51] RyanC92 opened #2258 "Enable Failover ETHURL Address options"
**Is your feature request related to a problem? Please describe.**
A few weeks ago when Infura went offline for a few hours many orchestrators instantly dropped sessions, while me on Alchemy this was good, for them it was not. If we could have a flag for ethUrlFailover or something similar, where people could put a geth lite node or alchemy it would allow them to fail over in the event of an outag

[2022-02-13 19:52] RyanC92 commented on #2255
I did notice this and I thought it was my system doing that. glad I'm not the only one.

[2022-02-13 22:51] RyanC92 commented on #2239
not sure if this is handled by Gnomekeyring, but if you're going to startup your orchestrator with a service, it needs to point to the file that contains a password, in plain text or it would be written into the config, again in plain text. if there were some way that it could encrypt the password into a hash or something similar that is not easily accessible in case your server gets compromised w

[2022-02-14 13:15] 0xVires commented on #2081
Will this be fixed with the migration to Arbitrum? I've had 3 "out of gas" failed txs during the last 7 rounds while automatically claiming the reward -> Currently, daily monitoring of the reward call is required if you don't want to miss out on the rewards.

[2022-02-14 14:25] leszko commented on #2213
I think the suggestion from @yondonfu is very good. I checked and setting `NoSend` to `false` works as expected. And in the case of Arbitrum, you receive the transaction filled with `Gas` and `GasPrice`. So I think that printing to the user the upper limit they'll pay `Gas * GasPrice` is what we need.

A few more comments:
- The PR which extracts `TransactOpts` to `client` is already merged [1]
-

[2022-02-14 21:11] chrishobcroft commented on #2169
Only one question: is it worth adding any further complexity here, when the Broadcaster can load-balance between Orchestrators without viewers experiencing outages.

I understand the desire to stay operational, but would always raise awareness of the downsides of adding complexity: especially when considering the importance of the viewer seeing a continuous stream (i.e. already catered to by the B

[2022-02-14 21:28] chrishobcroft commented on #2258
Duplicate of https://github.com/livepeer/go-livepeer/issues/1959

[2022-02-14 21:33] hthillman commented on #2258
closing as dupe, continue any conversation on #1959

[2022-02-14 21:33] #2258 closed, assigned to nobody

[2022-02-14 22:46] chrishobcroft opened #2262 "Allow a B to elect more than one O (whitelist)"
**Is your feature request related to a problem? Please describe.**

Currently, when selecting an Orchestrator to work with, a Broadcaster can choose to either

a) elect a single (1) Orchestrator (using the `-orchAddr` flag or `-ethOrchAddr` flag)
b) use the default selection algorithm to select from the entire active set of (100) Orchestrators

**Describe the solution you'd like**

As a B, I would

[2022-02-14 22:46] chrishobcroft opened #2263 "If a B elects their O, reduce the B's reserve requirement"
**Is your feature request related to a problem? Please describe.**

In order to procure transcoding services on Livepeer Public Network, a Broadcaster must maintain sufficient reserve deposit to cover the face value of a winning probabilistic micropayment ticket for each of the 100 Orchestrators in the active set.

For example, if the face value of a ticket is 0.1 ETH, then a Broadcaster must put

[2022-02-14 22:57] chrishobcroft opened #2264 "-ethOrchAddr to be able to take an ENS name"
**Is your feature request related to a problem? Please describe.**

Selecting an Orchestrator via a complex hexadecimal string is excessively complicated UX.

**Describe the solution you'd like**

As a Broadcaster, I want to be able to select an Orchestrator by specifying their ENS name.

For example, `-ethOrchAddr livepool.eth` should resolve to `-ethOrchAddr 0xf4e8Ef0763BCB2B1aF693F5970a00050a6a

[2022-02-15 01:45] chrishobcroft commented on #2236
@leszko

Yeah, this does resolve it, but I'm not sure why this is the case? What does it mean for them to "collide" in this case?

[2022-02-15 09:03] leszko commented on #2169
@hthillman can comment on it more, but my understanding is that this feature is not for end-users streaming the video (these can switch to another orchestrator), but for orchestrator operators which don't want to lose stream. Now, if you operate an orchestrator and you want to update the config, you lose streams and therefore lose money.

[2022-02-15 09:06] leszko commented on #2262
I think that specifying multiple orch addrs is already supported. So you can use B exactly as you described:
[code]

There is also a possibility of using a webhook that resolves the addresses, so you can set up a webservice that returns the orch addresses and these will be used by B.

[2022-02-15 09:12] leszko commented on #2236
When you start `livepeer` it uses `datadir` to store some data in the internal SQLlite DB. For example, if you start `livepeer` as follows:

[code]

It uses the following database `~/.lpData/rinkeby/lpdb.sqlite3`. Now if you start multiple livepeer instances with the same `datadir`, they use the same SQLite db and livepeer is not prepared for it. So, in your case, they concurrently fetch and try t

[2022-02-15 11:10] chrishobcroft commented on #2236
Thanks @leszko - I understand this.

My question is around what is the data in the database which may cause an unwanted collision?

The blockheaders ought to be the same, and the locally-cached chainstate data ought to also be the same.

What would be the path where two nodes accessing the same database may write conflicting / duplicate data?

[2022-02-15 11:17] leszko commented on #2236
I think it can be related to the table `blockheaders`, but you'd better double-check it.

[2022-02-15 11:36] chrishobcroft commented on #2262
OK, thank you, I was not aware of this. I just tried it and it works! If the active O becomes unavailable, it will gracefully fail over to another O on the list.

This is a nice touch, but it also makes me wonder whether a neater way to approach this would be via the `-ethOrchAddr` flag e.g. passing it an ETH address of a contract which resolves a list of other ETH addresses (kinda like a B's own

[2022-02-15 11:44] chrishobcroft commented on #2262
Actually, before we close this, perhaps the `-help` can be updated - right now it states that the flag can be used to select a singleton transcoder - this could be much more explicit to raise awareness of the opportunity to connect to more than one O :) wdyt @leszko?

[code]

[2022-02-15 13:10] leszko opened #2265 "Nil Pointer in watchers while running in Arbitrum"
[code]

[2022-02-15 15:37] leszko commented on #2262
CC: @hthillman , to me it's more a product decision if we should add one or both of these:
- Filtering by Orch Eth Addr
- Resolving by B's own Eth Contract

Yes, agree. I'll fire a PR with this change.

[2022-02-15 17:08] chrishobcroft commented on #2262
The value in allowing this logic to be stored onchain is that:
a) a B can much more easily decentralise control over their own whitelist, e.g. by putting it under the control of a Multisig/dao
b) whatever onchain logic is created can be integrated with by Mist (eventually) as opposed to any more golang-specific implementation... so in a way it's more "future-proofed" and open.

[2022-02-16 08:47] leszko commented on #2262
Here's a PR: https://github.com/livepeer/go-livepeer/pull/2269

[2022-02-16 15:39] #2265 closed, assigned to leszko

[2022-02-16 21:18] papabear99 opened #2270 "Test streams failing and odd behavior after L2 migration"
**Describe the bug**
Many Orchestrators have reported test streams failing after migrating to Arbitrum.  Some are not receiving any test streams and MOST Orchestrators are having issues with SIN.

Additionally many of the test streams show the Upload Time as 0.00 even though they complete successfully.

**To Reproduce**
You can see in my test results below many Upload Times listed as 0.00 and resu

[2022-02-17 06:40] hjpotter92 commented on #2147
I've started work on this feature.

We have published a gpg key (fingerprint: `A2F9039A8603C44C21414432A2224D4537874DB2`). You can fetch the same [from here](https://keys.openpgp.org/vks/v1/by-fingerprint/A2F9039A8603C44C21414432A2224D4537874DB2).

The signed releases would be detached, instead of being encrypted; but the same keys as shared here would be used for publishing.

[2022-02-17 07:50] stronk-dev commented on #2270
I am also experiencing issues with test streams:
My orchestrator (0x847791cBF03be716A7fe9Dc8c9Affe17Bd49Ae5e) is in Western Europe and only had partially failing test streams for SIN and LAX. Since migration they show 0/60. One thing that sticks out to me is that when I check the logs of my O, I can see that there is work being done when I receive test streams from PRG for example. However, during

[2022-02-17 13:24] maddogsam commented on #1783
How do I setup livepeer_cli.  i need it to migrate from ETH to Arbitrum

[2022-02-17 14:57] papabear99 commented on #2270
Adding to the above comment.  My ping to the SIN ingest is 155ms and I also don't see any activity in my logs during the time the SIN test streams are sent.

Has there been a change implemented that disqualifies nodes over a certain ping threshold?

[2022-02-17 18:39] hthillman commented on #2262
In general I think we should aim for the most modular option.

Broadcasters should be able to specify arbitrary logic for choosing orchestrators. I'm a little concerned about relying on contracts because many broadcasters won't have the technical capacity to do this and tbh I'm not convinced it needs to be onchain. Could we do something like...abstract the selection logic into a library of selecti

[2022-02-17 18:42] hthillman commented on #2263
My instinct is that this is better solved by (and alongside) changes to how the payment system works.

[2022-02-17 18:45] hthillman commented on #2264
ENS support is coming soon in the explorer so IMO it makes sense to enable it system-wide. we may not have the engineering bandwidth to address this rapidly, so i've marked as help wanted

[2022-02-17 22:52] yondonfu opened #2275 "livepeer_cli: Use global total supply instead of L2 supply to calculate participation rate on Arbitrum networks"
**Describe the bug**
A clear and concise description of what the bug is.

The `/protocolParameters` endpoint in the CLI webserver returns the current [protocol params](https://github.com/livepeer/go-livepeer/blob/dbb95cebdebc6a5d3a8dec617cd79e8970da05c1/server/webserver.go#L910).

Included in these params is [total supply](https://github.com/livepeer/go-livepeer/blob/dbb95cebdebc6a5d3a8dec617cd79e

[2022-02-18 09:39] cyberj0g opened #2277 "Low latency transcoding"
## Abstract
'Low latency' means sending transcoded packets back T->O->B as they are ready, without accumulating them into segments.

## Motivation
It's a common requirement for live streams to have a low latency, comparable to ping time between producer and consumers. It would be essential, if Livepeer to serve as a backend for Zoom-like service.

## Current implementation
1. Mist server buffers w

[2022-02-18 14:45] #2275 closed, assigned to leszko

[2022-02-18 19:18] RyanC92 commented on #2017
Hey!

We go by NightNode, our site is https://www.nightnode.net. We've been running as an orchestrator for almost 6 months now and pre Layer 2 we had claimed 5 Winning tickets for about .90 eth. We are also a livepeer org grant recipient to develop documentation and scripts to help bridge the barrier between users and skill level. We are also very active on the main discord.

We just made the move

[2022-02-19 00:33] chrishobcroft commented on #2262
It might not _need_ to be onchain, but for me, the fact that it _could be_ means it's always worth considering.

It can open up unprecedented ways for Bs to cooperate with Os, where the rules of engagement are fully transparent. But maybe I'm getting ahead of myself.

[2022-02-19 01:09] chrishobcroft commented on #2263
Perhaps that's right. But if this change is a light enough lift, it can at the very least signal an intent to open up the Broadcasting space on Livepeer.

Hopefully whatever changes come, they are focussed on lowering the barrier to entry for Broadcasters on the network.

[2022-02-19 02:21] JJassonn69 commented on #1802
I belive the question should be phrased as, what do we value the most?

If we believe that, we can achieve the best possible performance by compromising on the decentralisation factor of the transcoding then we should be able to create a resilient and perfect system.

The question would then be, at what cost?  ​How will centralised system unfold in the future as we are creating a incentive system

[2022-02-19 06:06] eliteprox opened #2278 "Price per pixel is showing 0.00 for every orchestrator"
**Describe the bug**
livepeer_cli lists every orchestrator with their price per pixel at 0.000

**To Reproduce**
Steps to reproduce the behavior:
1. Go to livepeer_cli
2. Enter "3" for List registered orchestrators
3. Reference the price per pixel column, which lists **0.000** for every orchestrator.

**Expected behavior**
livepeer_cli should display the correct price per pixel, and the livepeer_c

[2022-02-19 13:55] ChuckChain opened #2279 "O is not receiving test streams since 24hrs"
**Describe the bug**
Over the last 24 hours, our O (0x9D5611bf0DAdddb4441A709141d9229d7F6b3e47) is no longer receiving test streams from any of the test ingest regions.

**To Reproduce**
Please see our test results:
https://interptr-latest-test-streams.vercel.app/?address=0x9D5611bf0DAdddb4441A709141d9229d7F6b3e47

**Expected behavior**
The O should receive test streams for all test ingest regions

[2022-02-20 07:43] JJassonn69 commented on #2279
Is the issue still persistent after updating the serviceURL?

[2022-02-20 15:01] ChuckChain commented on #2279
Yes.

The metrics show that it keeps returning the `NoOrchestrators` error:
https://leaderboard-serverless.vercel.app/api/raw_stats?orchestrator=0x9D5611bf0DAdddb4441A709141d9229d7F6b3e47

This would suggest the test B is unable to find my O during the discovery phase. Even though it was properly registered already, I tried re-registering the on-chain serviceURI with two transactions - (1) from _d

[2022-02-20 15:31] JJassonn69 commented on #2279
If you can share the domain, I would be able to check if its routing properly.

[2022-02-20 15:46] ChuckChain commented on #2279
Thanks, I already checked, it is. The O is getting the same amount of work from all regions - real/normal streams are received correctly. The problem is really only with the test streams.

[2022-02-21 10:37] leszko commented on #2278
@eliteprox Are you connecting with `livepeer_cli` to Orchestrator or Broadcaster?

AFAIU, on the Orchestrator side, you should always see only `0.0`, because price per pixel is not stored on-chain, but rather each Orchestrator sets it on the runtime. Therefore, if you connect `livepeer_cli` this value is not checked at all.

However, on the Broadcaster side, you see some numbers, because Broadcast

[2022-02-21 18:43] ChuckChain commented on #2279
Update: the two most recent stream tests (LON and MDW) were received and processed correctly by the O.

[2022-02-22 10:40] leszko opened #2283 "Not possible to redeem tickets with Redeemer on Arbitrum"
It's not possible to redeem tickets with a separate Redeemer, because it returns the following error [reported in Discord](https://discord.com/channels/423160867534929930/943004634262413332/945578692023836712):

[code]

**Problem**

1. Redeemer checks if the ticket recipient is an active orchestrator [in the local SQLite](https://github.com/livepeer/go-livepeer/blob/4a8b8bdf08fbe696885b02d1609bdc6

[2022-02-22 15:14] AlexKordic commented on #2277
## Observations

MPEG-TS is good format for our use case. Allows streaming and processing without downloading entire segment.

Our workflow does not allow for packet loss in the transport layer. If we would switch to UDP-based protocol what are the benefits?

Payments rely on segment boundaries. We don't need to get rid of segment boundaries to acomplish streaming workflow.

Currently payment info

[2022-02-22 16:50] #2175 closed, assigned to darkdarkdragon, oscar-davids

[2022-02-22 17:23] iameli opened #2285 "Reduce number of stream-specific metrics"
Right now it clogs everything up, oh no

[2022-02-22 19:21] eliteprox commented on #2278
Okay, I was using this on the orchestrator side so I think you are correct this is a non-issue.

[2022-02-22 20:48] hthillman commented on #2285
@iameli can you specify what will be removed? is this a matter of reducing frequency or taking out some stats?

[2022-02-22 21:16] hthillman commented on #2279
closing b/c the issue is likely a problem with the test stream infrastructure and not a bug in the node software - we're looking into that separately. if it turns out to be an issue in the node software, we'll reopen

[2022-02-22 21:16] #2279 closed, assigned to nobody

[2022-02-22 21:16] hthillman commented on #2270
closing b/c the issue is likely a problem with the test stream infrastructure and not a bug in the node software - we're looking into that separately. if it turns out to be an issue in the node software, we'll reopen

[2022-02-22 21:24] #2278 closed, assigned to nobody

[2022-02-22 21:27] #2262 closed, assigned to nobody

[2022-02-22 21:29] #1005 closed, assigned to nobody

[2022-02-22 21:31] #1009 closed, assigned to nobody

[2022-02-22 21:32] #1065 closed, assigned to nobody

[2022-02-22 21:33] #1069 closed, assigned to nobody

[2022-02-22 21:34] #1070 closed, assigned to nobody

[2022-02-22 21:34] #1076 closed, assigned to nobody

[2022-02-22 21:35] #1077 closed, assigned to nobody

[2022-02-22 21:37] #1083 closed, assigned to nobody

[2022-02-22 21:37] #1084 closed, assigned to kyriediculous

[2022-02-22 21:38] #1088 closed, assigned to yondonfu

[2022-02-22 21:40] #1093 closed, assigned to j0sh

[2022-02-22 21:42] #1119 closed, assigned to darkdarkdragon

[2022-02-22 21:45] hthillman commented on #1160
This should be implemented at the application layer

[2022-02-22 21:45] #1160 closed, assigned to nobody

[2022-02-22 21:47] #1204 closed, assigned to nobody

[2022-02-22 21:49] #1233 closed, assigned to nobody

[2022-02-22 21:50] hthillman commented on #1255
closing pending payment protocol work

[2022-02-22 21:50] #1255 closed, assigned to nobody

[2022-02-22 21:50] #1264 closed, assigned to iameli

[2022-02-22 21:51] #1265 closed, assigned to angyangie

[2022-02-22 21:51] #1272 closed, assigned to nobody

[2022-02-22 21:52] #1297 closed, assigned to nobody

[2022-02-22 21:53] #1303 closed, assigned to darkdarkdragon

[2022-02-22 21:54] hthillman commented on #1310
closing in favor of #1155

[2022-02-22 21:54] #1310 closed, assigned to nobody

[2022-02-22 21:57] #1334 closed, assigned to nobody

[2022-02-22 21:59] #1341 closed, assigned to nobody

[2022-02-22 22:00] #1345 closed, assigned to nobody

[2022-02-22 22:08] darkdarkdragon commented on #2285
Example /metrics output would really help here

[2022-02-23 01:39] chrishobcroft commented on #2263
Maybe we should also enable a way for Os to give a few hours free to a new B, assuming they send 0 value PM tickets... or other ways to take what we have, maybe with small mods, make it cheap and easy for Bs to get going. It could be like a `-supportGrassroots` flag when booting an O node.

[2022-02-23 01:40] chrishobcroft commented on #2263
or `-grassrootsBroadcasters true`

[2022-02-23 02:09] yondonfu commented on #2283
IIUC this problem was introduced with https://github.com/livepeer/go-livepeer/pull/2253 because:

- That PR added a requirement in `pm/queue.go` for the recipient of the ticket to be active and the active check was implemented using a DB query against the `orchestrators` table
- The `orchestrators` table could be missing the recipient of the ticket if the node is running in redeemer mode so the ta

[2022-02-23 02:33] yondonfu commented on #2279
@ChuckChain Looks like you've been successfully receiving test streams across all regions recently. Please follow up if this is not the case or you've continued observed problems receiving test streams.

[2022-02-23 02:37] yondonfu commented on #2270
There was a change in the B implementation awhile back that filters Os out during discovery if they take longer than 500ms to respond to an initial ping, but this was not deployed to the test stream infrastructure until more recently so that might be related. I think it may make sense to relax this in the scenario where there are a limited # of Os such as for test streams where the B is configured

[2022-02-23 02:42] yondonfu opened #2286 "Increase hardcoded discovery timeout on B"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, there is a [hardcoded timeout](https://github.com/livepeer/go-livepeer/blob/d85cb21937a0c302f0929889151ad7b3351994d2/discovery/discovery.go#L22) used during discovery. There could be scenarios where using a different timeout

[2022-02-23 03:14] ChuckChain commented on #2279
@yondonfu Yes, everything looks to be back to normal. Thanks.

[2022-02-23 03:16] papabear99 commented on #2270
@yondonfu
I added a node in SIN this week as a test to see if it a better ping would help, seems to have done the trick.

If you look at vires' SIN scores you can see he still has the issue.
https://interptr-latest-test-streams.vercel.app/?address=0x525419ff5707190389bfb5c87c375d710f5fcb0e

This one started having the problem Feb 15 as well
https://interptr-latest-test-streams.vercel.app/?address=

[2022-02-23 07:07] eliteprox commented on #2278
I checked this on broadcaster side also just now, and it is also showing 0.00 for all orchestrators

[2022-02-23 07:22] Strykar commented on #2200
@darkdarkdragon I've asked @thulinma to chime in here

[2022-02-23 08:14] gasperzupancic opened #2287 "livepeer_cli create quit/exit option from menu entry"
**Is your feature request related to a problem? Please describe.**
When using livepeer_cli you have to user ctrl-c to exit. It would be nice to implement "gracefull" quit/exit option in the menu. And then you get ugly
 "error" > CRIT [02-23|08:52:41.527] Failed to read user input                err=EOF

**Describe the solution you'd like**
Create menu entry "q" or "19" with exit option

**Describe

[2022-02-23 10:12] leszko commented on #2283
Yes, that is correct.

Ahh, right, I missed the point that Redeemer is always running for one eth orch address only. I thought that it was possible to run a Redeemer for multiple orchestrators, but that actually not the case.

Updated the related PR: https://github.com/livepeer/go-livepeer/pull/2284/files

PTAL. Note that I kept the change with easing the condition for checking if the orchestrator

[2022-02-23 10:29] leszko commented on #2286
I think it may make sense to add it. Then, we can run teststream with a higher timeout value, not to lose any Os.

One more thing to consider is that maybe `500ms` is too strict and we should just change the hardcoded value to something like `1s`. From what I understand, this timeout does not affect the stream processing, because we try to select orchestrators "in advance" (when the pool is too sm

[2022-02-23 11:17] leszko commented on #2277
Thanks for the work @AlexKordic @cyberj0g. Good spec! I agree with most ideas! Here are some additional aspects that I think we need to cover.

#### B<>O Failover
Currently, when O stops responding, B retries the given segment with another O. What should we do when there are no segments? How to switch to another O and what should be retried? And should we retry at all?

#### O Zero-Downtime Deploy

[2022-02-23 13:13] ad-astra-video opened #2288 "go-livepeer build from source not working for nvidia transcoder"
**Describe the bug**
go-livepeer build is not working when running as `-transcoder` with `-nvidia` flag

**To Reproduce**
1. Create new Ubuntu 18.04 VPS
2. Follow build from source instructions at https://docs.livepeer.org/installation/install-livepeer/installing-for-development
3. Run `livepeer` with `-transcoder -nvidia` flags
4. Get `scale_cuda` error below

[code]

**Expected behavior**
Expect

[2022-02-23 19:29] darkdarkdragon commented on #2277
@AlexKordic

It has big overhead (It was designed for very different use case/transport layer, and usage of it over internet just wastes precious bandwidth. @Thulinma can tell more about it 😄 ). Also, `Allows streaming and processing without downloading entire segment.` - not much different from other containers like `mp4`.

We're not talking about allowing packet loss. [here](https://www.chromium

[2022-02-23 19:42] darkdarkdragon commented on #2277
@leszko

There will be no segments like we have now - separate HTTP requests, but stream will be divided in logical segments anyway (need for payment anyway), so B will keep latest segment in memory so it can send it to another O if needed.
But here is another interesting question we didn't discuss but I think we should keep in mind:
If say, failover took 3 seconds - what should happen with playba

[2022-02-24 09:43] #2283 closed, assigned to leszko

[2022-02-26 11:56] Strykar commented on #2270
This is happening for me on US and Asia Os, seems to max out around 56/60 - https://interptr-latest-test-streams.vercel.app/?address=0x1a196b031ea1a74a53ecbe6148772648e02f9d51

[2022-02-26 21:18] papabear99 opened #2293 "When configuring an O with option 13 in the CLI offer the current registered Service URI as the default for "the public host:port of node""
When changing options using the CLI option 13 the last configuration "the public host:port of node" defaults to using the IP address of the node, which requires typing out a domain every time a change is made.  Many orchestrators use a Domain Name instead of their IP address so it would make sense for the default option to use the currently registered Service URI.

**Describe the solution you'd li

[2022-02-27 20:46] ad-astra-video commented on #2288
I was able to get it to build for `-transcoder` using the linux.yml workflow as a guide on Ubuntu 18.04.

I am not certain what specifically fixes it.

For ubuntu 20.04: I could not get build to work with `-transcoder`. Even with steps below I continued to get the "scale_cuda" error.
[code]

[2022-02-28 15:18] hthillman commented on #2270
@iameli @yondonfu looks like this issue is persisting - any ideas?

[2022-02-28 18:00] yondonfu commented on #2286
After some discussion, agree with @leszko that the 500ms timeout is probably too low right now and the first step here can be to bump it to 1s instead of jumping to make this configurable. We can try out test streams using the 1s timeout for now. In the future, we could consider dynamically adjusting the timeout as an alternative to configuring it (i.e. increase timeout only if < N Os respond with

[2022-02-28 22:09] windexirc commented on #2270
My test node in the US is receiving work but test streams are failing across the board...
https://interptr-latest-test-streams.vercel.app/?address=0x77543034d85CA10942685289E374a67e21A0F531
My main node is still failing SIN
https://interptr-latest-test-streams.vercel.app/?address=0x3bbe84023c11c4874f493d70b370d26390e3c580

[2022-03-01 15:05] #2230 closed, assigned to cyberj0g

[2022-03-01 22:30] hthillman commented on #2200
I'm inclined to agree with @darkdarkdragon's assessment here

[2022-03-01 23:30] Thulinma commented on #2200
Yeah it looks like the `mil_pixels_processed` stat is the best one to track actual load on the system over time.

I can see use for having buckets of input/output resolutions handled (per video track in/out), too - for tracking the kind of capabilities hardware needs to have to handle average requests. Unfortunately I'm not deep enough into go-livepeer's code yet to know exactly how the prometheus

[2022-03-02 00:08] papabear99 commented on #2200
I'd like to see the `mil_pixels_processed` metric added to the benchmark and then have the option to set -maxPixels instead of `-maxSessions` since it's a better measure of load than sessions.

IMO now that we the metric it would be nice to give it more value and have a real use case for it besides just being able to view the metric.
![PixelCounters](https://user-images.githubusercontent.com/89408

[2022-03-02 00:09] hthillman commented on #2200
I wonder if ` buckets of input/output resolutions` is an area where a community member might be able to help?

could probably use Ivan's PR as a reference
https://github.com/livepeer/go-livepeer/pull/2238/files

[2022-03-02 16:23] stronk-dev commented on #2286
Looks like the changed timeout has had an effect! Latest SIN test stream resulted in:

https://interptr-latest-test-streams.vercel.app/?address=0x847791cBF03be716A7fe9Dc8c9Affe17Bd49Ae5e
SIN | 3/2/2022 15:20:48 | No | 0.00 | 0.00 | 0.00 | 0.00 | 0.00 | 36/60 !

So still no stats, but at least it recognized some segments now.
Note that the errors on the website are no longer showing and have change

[2022-03-02 16:54] papabear99 commented on #2286
A few observations:

My latest result had a lower success rate than usual.  Just one test so certainly could be an anomaly.  It's also the only one that has a value for Upload Time.

https://interptr-latest-test-streams.vercel.app/?address=0x10742714f33f3d804e3fa489618b5c3ca12a6df7
<html>
<body>

SIN | 3/2/2022 05:13:33 | Yes | 0.73 | 0.03 | 0.04 | 0.79 | 2.00 | 20/60 !
-- | -- | -- | -- | -- | --

[2022-03-03 11:40] thomshutt commented on #2255
I haven't dug into which GPU actually gets used yet, but I haven't been able to reproduce Step [3] of the reported behaviour:

[code]

[code]

and looking at the code, this part more or less just parses the command line arguments and logs them, so I'm not sure how the log line could end up being wrong:

https://github.com/livepeer/go-livepeer/blob/bd5e3427ebc178c7bbf683f18bbd3ab52be59011/cmd/livep

[2022-03-03 14:18] papabear99 commented on #2286
Here are my last 3 SIN test results...Same for DeFiCrypto
<html>
<body>

SIN | 3/3/2022 05:13:55 | No | 0.00 | 0.00 | 0.00 | 0.00 | 0.00 | 60/60
-- | -- | -- | -- | -- | -- | -- | -- | --
SIN | 3/2/2022 22:13:53 | No | 0.00 | 0.00 | 0.00 | 0.00 | 0.00 | 60/60
SIN | 3/2/2022 12:13:43 | No | 0.00 | 0.00 | 0.00 | 0.00 | 0.00 | 60/60

</body>
</html>

[2022-03-03 15:21] papabear99 commented on #2255
Yes the issue is still present.  If GPU 0 is specified in the start command as` -nividia 0 `the log (as yours above) shows GPU 0 is selected but when I look at GPU activity using nvidia-smi or the task manager I can see that GPU 1 is actually the GPU that is being used.  It works the other way if   `-nividia 1` is specified.

On a single GPU node` -nvidia all` shows and uses GPU 0

Note:  I don't

[2022-03-03 16:09] thomshutt commented on #2255
Thanks @papabear99, if you're seeing the correct GPU in the log line now then that's good - I'll carry on with investigating why that differs from the GPU that actually gets used

[2022-03-03 16:54] RyanC92 commented on #2255
@papabear99 @thomshutt
I am only seeing this on Windows, it seems to be fine on Linux.

my config

[code]
![image](https://user-images.githubusercontent.com/15055337/156612214-a1b7bf00-6dc4-49f2-b6d5-94a33bc2c3d6.png)

GPU 0 is the 1070, this is what is being utilized in the config file. GPU 1 is my 3080 TI. However you can see that although I put ```nvidia 1``` as the option in the config, its ut

[2022-03-03 22:51] papabear99 commented on #2286
Looks like we're getting there.

My last SIN test
<html>
<body>

SIN | 3/3/2022 12:13:59 | Yes | 0.69 | 0.00 | 0.03 | 0.72 | 2.00 | 60/60
-- | -- | -- | -- | -- | -- | -- | -- | --

DeFiCrypto
<html>
<body>

SIN | 3/3/2022 13:37:04 | Yes | 0.34 | 0.00 | 0.03 | 0.37 | 2.00 | 60/60
-- | -- | -- | -- | -- | -- | -- | -- | --

</body>
</html>

[2022-03-04 08:53] leszko commented on #2286
Yes, I think now all should be fixed! Today, I'll deploy it into all regions. Then, waiting for @yondonfu to review the PR and we'll be able to close this issue 🥳

[2022-03-04 12:41] leszko opened #2297 "E2E tests"
## Abstract
Add automated E2E/Integration tests that cover on-chain interactions.

## Motivation
Currently, we don't test Livepeer node software with the chain in any automated way. That approach results in:
- A lot of time spent on manually testing each chain-related change
- Bugs in the released software (e.g. #2283 or #2152)

Our current test suite covers unit tests and [video-related integrati

[2022-03-04 15:55] leszko opened #2298 "Decrease number of ETH RPC requests"
**Is your feature request related to a problem? Please describe.**
A lot of orchestrator operators report that, since we moved to Arbitrum, they experience the rate limit error, caused by too many requests sent to the ETH RPC endpoints.

[code]

We should first consider removing (or limiting) the block backfilling as described in https://github.com/livepeer/go-livepeer/issues/2235. That may have t

[2022-03-04 16:24] #2286 closed, assigned to leszko

[2022-03-07 12:52] leszko commented on #2138
I think the scope of this GH Issue is too big. It's technically not possible to document ALL errors we produce in the code. I suggest taking a more pragmatic approach and creating a list of the most common errors (maybe #2167 by @JJassonn69 is a good start!) and for each error, do the following:

- Try to improve the error message (the best documentation is the code and the error log!)
- If not po

[2022-03-07 14:18] leszko commented on #2139
I see that all metrics that are emitted from Livepeer are defined in [census.go](https://github.com/livepeer/go-livepeer/blob/master/monitor/census.go#L241), so it's relatively simple to find the metric name and the description.

@hthillman
1. Do you think we should "copy" this into Livepeer Docs? It may be slightly clearer to read, but the drawback is that we'll need to keep it up-to-data, so the

[2022-03-07 15:51] hthillman commented on #2139
I think that's exactly the right place

[2022-03-07 23:43] Strykar commented on #2270
These are results from my East Coast node:

[code]

[2022-03-08 15:37] adrianmyatt commented on #2270
I've been getting 0/60 from SIN since migration. If I ping from either the US or EU nodes, I have a response time of 200-250ms which is well below the 500ms mentioned by Yondon in the B change above.

I have spun up a test node in Singapore and getting <10ms response times. The test streams have since gone back to 60/60

[2022-03-08 15:55] thomshutt commented on #2255
I've spun up a Windows Server 2022 machine in Google Cloud, with 4 Nvidia Tesla T4s attached.

I ran the following commands to stand up a local Broadcaster / Orchestrator / Transcoder environment:

**Broadcaster**

[code]

**Orchestrator**

[code]

**Transcoder**
[code]

I see the expected log line on startup

[code]

and the correct GPU being used when I send a job in to be transcoded (also works

[2022-03-08 16:26] #2277 closed, assigned to nobody

[2022-03-08 16:37] RyanC92 commented on #2255
Hm. not sure why yours is proper whereas ours isnt.. See below.

![image](https://user-images.githubusercontent.com/15055337/157283215-dbe3ff8c-c528-46ca-a8ca-592b0c5c0a77.png)

[2022-03-08 18:29] papabear99 commented on #2255
I wonder if it releated to the keylase patch since you don't have to use it with the tesla cards.  Even though I have a quadro which is unlocked by default I have it a machine with a GTX so it running with patched drivers.

I can certainly work around it and it's probably not worth spending time on as I assume most use all their cards.

[2022-03-08 20:15] AlexKordic commented on #2169
Solution 2 looks better in the long run

[2022-03-08 20:38] RyanC92 commented on #2255
Its fine to not fix this, because its not a huge issue, but for example, I had my main 3080 TI running when I thought my 1070 running for a few weeks and then I realized so it for other people it would just have unintended consequences until the realize.

[2022-03-08 21:13] #1347 closed, assigned to nobody

[2022-03-08 21:23] #1370 closed, assigned to nobody

[2022-03-08 21:23] #1380 closed, assigned to nobody

[2022-03-08 21:26] hthillman commented on #1385
@iameli can this be closed? is is the same issue as #2023?

[2022-03-08 21:27] hthillman commented on #1388
closing for repo cleanliness - can reopen if we decide to revisit

[2022-03-08 21:27] #1388 closed, assigned to nobody

[2022-03-08 21:31] hthillman commented on #1405
closing because we're about to look at stream-based transcoding, which will likely address memory issues

[2022-03-08 21:31] #1405 closed, assigned to nobody

[2022-03-08 21:31] #1409 closed, assigned to darkdarkdragon

[2022-03-08 21:33] hthillman commented on #1454
closing because of move to stream-based transcoding

[2022-03-08 21:33] #1454 closed, assigned to nobody

[2022-03-08 21:36] #1478 closed, assigned to j0sh

[2022-03-08 21:37] #1484 closed, assigned to nobody

[2022-03-08 21:38] #1492 closed, assigned to nobody

[2022-03-08 21:39] #1500 closed, assigned to nobody

[2022-03-08 21:41] hthillman commented on #1501
closing due to inactivity, can reopen if desired

[2022-03-08 21:41] #1501 closed, assigned to nobody

[2022-03-08 21:43] hthillman commented on #1503
This is all supported via json file: https://github.com/livepeer/go-livepeer/blob/master/doc/transcodingoptions.md

[2022-03-08 21:43] #1503 closed, assigned to nobody

[2022-03-08 21:43] #1518 closed, assigned to nobody

[2022-03-08 21:44] #1522 closed, assigned to nobody

[2022-03-08 21:44] #1556 closed, assigned to nobody

[2022-03-08 21:48] #1601 closed, assigned to nobody

[2022-03-08 21:50] hthillman commented on #1611
closing due to inactivity, reopen if this is a persistent issue

[2022-03-08 21:50] #1611 closed, assigned to nobody

[2022-03-08 21:51] #1612 closed, assigned to nobody

[2022-03-08 21:51] #1621 closed, assigned to nobody

[2022-03-08 21:52] #1624 closed, assigned to jailuthra

[2022-03-08 21:53] #1626 closed, assigned to nobody

[2022-03-08 21:53] #1629 closed, assigned to nobody

[2022-03-08 21:53] #1631 closed, assigned to nobody

[2022-03-08 21:53] #1632 closed, assigned to nobody

[2022-03-08 21:53] #1633 closed, assigned to nobody

[2022-03-08 21:57] #1657 closed, assigned to jailuthra

[2022-03-08 21:57] #1669 closed, assigned to nobody

[2022-03-08 21:57] #1708 closed, assigned to nobody

[2022-03-08 21:57] #1711 closed, assigned to nobody

[2022-03-10 00:25] papabear99 opened #2302 "Network Wide Sessions Dropped to Zero"
**Describe the bug**
At approximately UTC 5 on March 9 several Orchestrators in all regions reported in Discord losing all their current sessions.
See messages starting with this post https://discord.com/channels/423160867534929930/932724294230900776/951099763976200213

The theory in Discord is that it was a Broadcast issue.  We have no way to confirm this but if someone can look and see if there

[2022-03-10 02:12] yondonfu commented on #2297
Overall this looks good to me and +1 for writing the tests in Go. The testcontainer package looks like it will be quite useful for this.

For Scenario 1, for simulating a stream, I recommend using HTTP ingest for B and not RTMP ingest because the latter will likely be deprecated soon. And if we're using HTTP ingest, for the purposes of simulating a stream we could just push a single segment to the

[2022-03-10 02:35] yondonfu opened #2303 "Basic M/B/O Workflow"
The goals of this epic are:

1. Establish a basic Mist -> B -> O workflow as the standard approach for doing e2e streaming
2. Establish Mist as the ingest and playback component for e2e streaming
3. Use 1 as a replacement for the current B -> O workflow as the standard approach for doing e2e streaming
4. Deprecate RTMP ingest, HLS segmentation and HLS playback in B since B will no longer be respon

[2022-03-10 02:37] yondonfu opened #2304 "Move HTTP ingest docs for B into Mist + B doc"
- The HTTP ingest API on B will be kept around, but will not be a recommended API for public usage
- The HTTP ingest API on B will for now be designed to use by Mist to integrate with B
- We want to retain information about the API so it can go into a doc about the architecture of the Mist + B integration instead of going into a doc about a public API that could be used by a dev

[2022-03-10 02:38] yondonfu opened #2305 "Deprecate RTMP ingest, HLS segmentation and HLS playback in B"
Only do this after a functional M/B/O workflow for e2e streaming is established such that Mist can reliably be used for RTMP ingest, HLS segmentation and HLS playback.

An initial relevant area for the above features in B right now:

https://github.com/livepeer/go-livepeer/blob/14a04d31aa92ea030ddc80e61a35af0a8fd2b171/server/mediaserver.go#L186

Note: There are certain functions/data structures su

[2022-03-10 11:56] #2207 closed, assigned to nobody

[2022-03-10 16:42] thomshutt commented on #2255
@papabear99 The only thing that stands out as unusual from that screenshot is that even though the Nvidia util is reporting GPU 0, I see that its utilization is at 0% versus 18% for the other one - is that just a result of something else running on that GPU?

The keylase patch could potentially be responsible, are you also running the patched drivers @NightWolf92?

Other than that, we might have t

[2022-03-10 17:44] papabear99 commented on #2255
It's @NightWolf92's screenshot but I'm going to take a guess that he just happened to capture it at the bottom of the sawtooth pattern (fairly typical encoding pattern for Livepeer segments) so Task Manager is showing 0%.  Regarding nvidia-smi, that looks like a static view and is just to show that GPU 0 is assigned to Livepeer even though nvidia 1 is specified to the right.

[2022-03-10 18:07] papabear99 commented on #2255
I don't know how Google Cloud works, but if you can install the keylase patch since it's compatible with GPUs that don't require it and see if the issue pops up afterward then we can confirm it's related to the patch.

[2022-03-10 18:41] RyanC92 commented on #2255
@thomshutt

Correct, the screenshot timeframes are off so they arent updating live. As you can see from NVIDIA-SMI it shows 11:29 but the livepeer window is 11:34 taken a few minutes apart. The GPUs are patched since they are 1070/3080's which are normally session capped.

[2022-03-11 08:43] leszko opened #2306 "Dynamic timeout for Orchestrator discovery in Broadcaster"
**Is your feature request related to a problem? Please describe.**

Broadcast has a timeout to discover orchestrator, currently `1s`. It causes a problem with teststreams, because if a given Orchestrator does not respond in `1s` it has not stats at all.

**Describe the solution you'd like**
Broadcaster should gradually increase the timeout, starting from `500ms` and the maximum `6s`.

[code]

**De

[2022-03-11 09:38] leszko commented on #2297
Thanks for the feedback @yondonfu

Yes, it makes sense.

Ok, I see, it's more difficult than I thought! I'll ask for @kautukkundan and @RiccardoBiosas for the help here.

Yes, I though about having a struct like `LivepeerOrchestrator` which would encapsulate all that we currently pass as flags. Then, in the tests you'd just initialize this struct, and in the `livepeer.go` you pass flags to this st

[2022-03-11 13:01] thomshutt commented on #2255
Same result (working as expected) after patching the driver with keylase unfortunately

[2022-03-11 13:14] RyanC92 commented on #2255
Ah well that solves it then! Thank you for looking into it. If there's any reference to the patch in livepeer documentation maybe note this?

[2022-03-11 13:40] thomshutt commented on #2255
I could've probably phrased that better sorry 🤦 I meant that I still can't reproduce this issue even after patching the driver and am getting the same correct results as I was before

[2022-03-11 15:26] papabear99 commented on #2255
Alright I'm out of ideas, other than maybe it's fixed in Win 2022 or maybe is only present when running different model GPUs.  Even though I have heard from another O that he has the same issue (Win 10) I don't think it's worth spending anymore time looking into.

Maybe a note in the docs (that nobody will read lol)?

[2022-03-11 18:16] #2139 closed, assigned to nobody

[2022-03-11 23:15] hthillman commented on #2302
@iameli or @yondonfu  can you provide any color here?

[2022-03-12 16:01] 0xVires commented on #2302
Had another two session crashes on EU during the last 24h:
![image](https://user-images.githubusercontent.com/25792899/158025198-45474a2c-9431-472f-b29c-db15092211fc.png)

No server issues and nothing in the logs. It just states "Successfully received results from remote transcoder..." and then there's a 6min break until the transcoding picks up again. Running two O's on different servers with loa

[2022-03-12 17:38] papabear99 commented on #2302
I didn't notice it until I went back and looked after seeing @0xVires' post.  I had a 6 min drop to 0 on my US East node (didn't have enough work on other nodes to see a drop) yesterday.
![US-EastDropMarch11-6min](https://user-images.githubusercontent.com/89408276/158028537-f3fc6bce-f81f-4cf7-88b6-896db908b6fd.png)

Time is PST on my chart

[2022-03-13 14:41] eliteprox commented on #1945
I've been getting this on NVIDIA driver 470. It also occurs when I first start livepeer

[2022-03-14 11:16] RiccardoBiosas commented on #2297
Sounds like a great plan!

@yondonfu out of curiosity, what breaking changes would be caused by replacing geth with one of the available alternatives?
Also @leszko is there any reason why you'd prefer to deploy the protocol from scratch for the purpose of testing rather than forking livepeer on L2 against a pinned block and running all the pertinent scenarios there? If the purpose is to achieve a

[2022-03-14 12:37] thomshutt commented on #2304
Current HTTP Ingest docs:

1. https://docs.livepeer.org/video-developers/reference/ingest
2. https://github.com/livepeer/go-livepeer/blob/master/doc/ingest.md#http-push

[2022-03-14 12:40] thomshutt opened #2308 "Define and document E2E Mist -> B -> O workflow"
We currently have instructions at https://github.com/livepeer/go-livepeer/blob/master/cmd/devtool/README.md for running an E2E streaming workflow (Streamer -> Broadcaster -> Orchestrator/Transcoder) for development and testing.

In preparation for removing the RTMP receiving functionality from the Broadcaster and making MistServer the default entry point for a streaming setup, we need to define:

[2022-03-14 18:19] yondonfu commented on #2297
@RiccardoBiosas

I think I actually may be wrong about there being breaking changes if we replaced geth...I thought that the use of geth's JS console feature in the [devtool script](https://github.com/livepeer/go-livepeer/blob/78f59c9a338dc64fae2b2d0fbbc3d978fe8fd7c2/cmd/devtool/devtool.go#L415) in order to execute [web3.js scripts](https://github.com/livepeer/go-livepeer/blob/78f59c9a338dc64fae2b

[2022-03-14 19:32] hthillman commented on #2034
yeah this is exactly my point. with multiple GPUs and multiple job types, it becomes pretty complex pretty rapidly. This is *absolutely* where we should be headed, it's just a nontrivial challenge

[2022-03-15 09:35] leszko commented on #2297
I didn't have any chaos testing or anything like that in mind. Rather a simple scenario:
- Register a few Os on-chain
- Start B and the stream
- Kill one O
- Check if the stream is still transcoded

[2022-03-15 10:22] leszko commented on #2297
That's a very interesting idea with forking the mainnet!

At first it seemed like a great idea for me, but the more I think about it, the less tempting it seems to me. The main benefit is clear that we're as close as possible to the prod env. In terms of the amount of work, I'm not sure if it's simpler to fork or prepare our own Docker image with contracts. However, I see some drawbacks and issues

[2022-03-15 20:47] hthillman commented on #2138
@leszko

A few common errors:

[code]

[code]

in the cli, linux only:
[code]

[code]

plus the error in #2167

[2022-03-16 05:43] #2147 closed, assigned to nobody

[2022-03-16 06:01] figintern commented on #2285
https://github.com/livepeer/go-livepeer/pull/2313

[2022-03-16 07:54] leszko commented on #2138
Thanks @hthillman . I'll document those in one of these two pages: [Video Miners Troubleshoot](https://docs.livepeer.org/video-miners/how-to-guides/troubleshooting) or [Video Developers Troubleshoot](https://docs.livepeer.org/video-developers/how-to-guides/troubleshooting).

If you have some other common errors, please add them here as well.

[2022-03-16 08:08] leszko opened #2314 "Analyze the behavior of B depending on the n of active O"
We're preparing to approach increasing the number of active Os in the round. For this purpose we need to measure if B can handle the increase number of Os. In other words, we need to measure what happens with the discovery when we increase the number of Os, for example, from `100` to `10000`.

[2022-03-16 10:04] leszko opened #2315 "Geth Docker image with Livepeer confluence protocol"
We already have a [Docker image with Geth and Livepeer contracts](https://github.com/livepeer/go-livepeer/tree/master/cmd/devtool). The latest tag for this image is, however, `streamflow`. We need to have the `confluence` image in Docker Hub.

The new image is intended for two use cases:
- Local development as described in [devtool](https://github.com/livepeer/go-livepeer/tree/master/cmd/devtool)

[2022-03-16 10:05] leszko opened #2316 "Multi-arch Docker image geth-with-livepeer-protocol"
Our current Docker image [livepeer/geth-with-livepeer-protocol](https://hub.docker.com/layers/livepeer/geth-with-livepeer-protocol/streamflow/images/sha256-f627591cd20d20a801ac703a25d812113908030079acc5a2c414bab7ee52dc43?context=explore) supports only the `amd64` arch. Therefore it can't be used on the `arm64` arch. That's especially important, because a lot of developers use Apple M1 chips (`arm6

[2022-03-16 10:22] leszko opened #2317 "E2E Test Scenario: Register Orchestrator"
Create an [E2E Test](https://github.com/livepeer/go-livepeer/issues/2297) which covers the following scenario:
1. Start Orchestrator
2. Register Orchestrator
3. Check that Orchestrator is registered and activated

**In this work, we should focus on a few aspects:**
- Consider refactoring `livepeer.go`. Currently it's difficult to start a Livepeer node from the code, because `livepeer.go` is design

[2022-03-16 10:24] leszko opened #2318 "Operationalize E2E Tests (test script, GH action)"
We need to integrate E2E tests in our CI, so that they run with every PR and push to master.

For this purpose:
- create `test_e2e.sh` script similar to [test.sh](https://github.com/livepeer/go-livepeer/blob/master/test.sh) which executes only E2E tests
- exclude E2E tests from `test.sh`
- Add `test_e2e.sh` to [test GH action](https://github.com/livepeer/go-livepeer/blob/master/.github/workflows/t

[2022-03-16 10:26] leszko opened #2319 "E2E Test scenario: B<>O Streaming workflow"
Create an [E2E Test](https://github.com/livepeer/go-livepeer/issues/2297) which covers the following scenario:

0. Start and register Orchestrator
1. Start Broadcaster
2. Fund Deposit/Reserve
3. Start a stream
4. Check if the stream was transcoded
5. Check that a ticket was received by Orchestrator
6. Redeem the ticket
7. Check that ticket was redeemed and ETH was paid
8. Withdraw Fees and check t

[2022-03-16 10:27] leszko opened #2320 "Decide on E2E Test scenarios to implement"
There are a number of E2E test scenarios we can implement. However, each comes with the cost (development, maintenance, longer builds). Therefore, we should decide on the reasonable scenarios which will give us confidence that Livepeer node works correctly.

### Test scenario ideas

**1. B<>O failover**
Register multiple Os on-chain and start video transcoding. Check that if Os fail, the stream is

[2022-03-16 10:40] leszko commented on #2297
I've converted this spec into Epic and created GH Issues accordingly. You can take a look.

I know some of the points are still under discussion, so don't worry, if we make any decisions I'll update GH issues.

[2022-03-16 14:36] stronk-dev commented on #2270
So I was receiving 60/60 results from Singapore but with very low roundtrip times, since it was connecting to Europre after all.
After adding a VPS in Singapore I've seen a major drop in roundtrip times, but my success rate actually went down.

https://interptr-latest-test-streams.vercel.app/?address=0x847791cBF03be716A7fe9Dc8c9Affe17Bd49Ae5e
O still seems to be working fine and DNS is getting res

[2022-03-16 15:57] thomshutt commented on #2297
Looks like a great proposal and definitely something that'll also be useful as a living document of our core workflows for people new to the project etc.

My 2 (Euro) cents:
* I think that having it be possible to run the tests in parallel from the start is probably a good goal to add - these types of tests tend to balloon over time, especially if things like transcoding are involved and designing

[2022-03-16 16:06] leszko opened #2322 "ZeroSegments error"
The `ZeroSegments` error was spotted in the Orchestrator's logs ([Discord discussion](https://discord.com/channels/423160867534929930/429350403272998913/953677818758311946)).

[code]

Guidelines from @yondonfu for investigation:

[2022-03-16 16:53] papabear99 commented on #2322
These tend to come in batches.  The error above was 1 of 7 segments that I received in a row on that node.  I've seen much longer batches and across multiple regions that all happen during the same time period, sometimes lasting hours.

[2022-03-16 17:45] yondonfu opened #2323 "Research and create proposal for addressing the session limit problem when fast verification is used"
Fast verification is run at random intervals based on configurable frequency (i.e. 1 out of every 5 segments). As a result, whenever it is run, B will send a source segment to multiple Os, but afterwards will continue sending segments of the stream to just one of those Os. The other Os would have created sessions in order to handle the segment, but afterwords these sessions would be idle and waiti

[2022-03-16 18:30] Franck-UltimaRatio commented on #2322
We got tons of this error this last days, specially on london and frunkfurt node fyi.

[2022-03-16 19:04] papabear99 commented on #2322
These errors also appear to kill active sessions
[code]

[2022-03-17 10:57] leszko commented on #2314
## TL;DR

If we want to increase the number of active orchestrators, we need to address how to get the transcoder pool from the chain in [client.TranscoderPool()](https://github.com/livepeer/go-livepeer/blob/master/eth/client.go#L930). Additially, consider parallelizing iterating over all orchestrators in [orchestratorwatcher.handleRoundEvent()](https://github.com/livepeer/go-livepeer/blob/7745065

[2022-03-17 14:06] kyriediculous commented on #2293
I +1 this issue.

I use Route53 to geo-route traffic between a couple of nodes. The individual nodes use their respective IPs/domains as service URIs on startupt, but the on-chain registered serviceURI is the global domain name.

Each time I adjust my settings it offers to change it to the local IP or domain rather than sticking with the global one.

[2022-03-17 14:20] kyriediculous opened #2325 "Change O config error in CLI, despite success and no errors in node logs."
**Describe the bug**
When using the Livepeer CLI to change orchestrator config (option 13) I enter all the necessary details and everything goes fine but I receive the following error in the CLI:

[code]

When I check the node logs itself there are no errors and in fact the transactions have been sent successfully.
The same behaviour occurs when no changes are being made.

I believe this occurs be

[2022-03-17 15:03] papabear99 commented on #2325
I can confirm I've had this issue since July.

[2022-03-18 08:33] leszko commented on #2314
Closing in favor of an epic: https://github.com/livepeer/go-livepeer/issues/2324

[2022-03-18 08:33] #2314 closed, assigned to leszko

[2022-03-18 08:34] leszko opened #2327 "Parallelize handling events in Orchestrator Watcher"
After each new round is started, for each active orchestrator, we cache its stake in the local DB. This operation is performed sequentially for each orchestrator. In the loop we call [cacheOrchestratorStake()](https://github.com/livepeer/go-livepeer/blob/754c1ed203539275332363eb2cd2940a7fa6c72a/eth/watchers/orchestratorwatcher.go#L189).

Currently, for 90 active orchestrator, it takes around 3 min

[2022-03-18 08:34] leszko opened #2328 "Optimize fetching transcoder pool"
Livepeer fetches all active orchestrators from the chain. It happens in the function [TranscoderPool()](https://github.com/livepeer/go-livepeer/blob/ddd961019a7ca24d857246fa7f37b67ff0f4957e/eth/client.go#L930), which is called in a number of scenarios:
- [during the node startup](https://github.com/livepeer/go-livepeer/blob/7152b554e15ec1082d7643dc010f731cccda60ff/cmd/livepeer/livepeer.go#L863)
-

[2022-03-18 08:34] leszko opened #2329 "Optimize per stream orchestrator discovery process"
We execute [GetOrchestrators()](https://github.com/livepeer/go-livepeer/blob/635b3e4cccb2a58c617d426296136f6c74ae39d5/discovery/discovery.go#L68) during [each session refresh](https://github.com/livepeer/go-livepeer/blob/10705d2467decefce6f1bea030d005adcfebfc23/server/broadcast.go#L139) which happens:
- when starting a new stream
- when not enough orchestrators are available in the session pool

R

[2022-03-18 08:34] leszko opened #2330 "Optimize caching orchestrator info and stakes"
We cache some information about the active orchestrators:
- during the startup ([cacheOrchestratorStake()](https://github.com/livepeer/go-livepeer/blob/9ab7a8842f2f4c12a0ca9b88cd8ef9b6a1bc1b73/discovery/db_discovery.go#L58), [cacheDBOrchs()](https://github.com/livepeer/go-livepeer/blob/9ab7a8842f2f4c12a0ca9b88cd8ef9b6a1bc1b73/discovery/db_discovery.go#L255))
- every 1h ([cacheDBOrchs()](https://gi

[2022-03-18 09:23] leszko opened #2331 "Consider using Cucumber for E2E Tests"
We should consider introducing the BDD Testing layer in the form of Cucumber tests. It's an alternative to writing tests in the pure Golang. The benefit of using Cucumber is the clarity of the test scenarios which are very easy to read. The drawback is that it introduces an additional code execution layer (Step Definitions), which makes it harder to analyze what happens in the test code.

I sugges

[2022-03-18 09:35] leszko commented on #2297
Thanks for the feedback @thomshutt. I'm happy that you like the proposal and excited we'll soon start working on the E2E Tests!

Concerning your points:
1. Running tests in parallel - yes, it'd be great to run in parallel, but I think one test needs a clean chain, so that it's repeatable. That is why I think we should start from the single dev chain and execute tests sequentially and later try to

[2022-03-18 12:03] leszko commented on #2322
Some observations:
- The segment is retried in B, sent multiple times with the same outcome `ZeroSegments`
- We experience exactly the same in the Livepeer Inc Orchestrators, so there is something fishy with the segment itself
- The transcoded segment has size `0`

It'd would be great to grab the source segment and investigate it locally. Working on it...

[2022-03-18 13:09] cyberj0g commented on #2323
**Findings**

From looking through the code and running some tests:
1. *Transcoding* session accounting is entirely on O side. Transcoder capacity is 10 by default, controlled by `maxSessions` parameter and is reported when T connects to O.
2. T initializes HW context (if acceleration is enabled) once transcoding of the first segment starts on `Transcoder` instance (instance meaning the object, no

[2022-03-18 15:57] leszko commented on #2138
Added documentation here: https://github.com/livepeer/docs/pull/193

One error that I didn't document is `Could not transcode err="ZeroSegments"` because we actually don't know yet the reason for it (here is the investigation GH: https://github.com/livepeer/go-livepeer/issues/2322

[2022-03-21 13:40] yondonfu opened #2332 "Handle Livepeer-Transcode-Configuration header in HTTP push requests"
Handle the Livepeer-Transcode-Configuration header on requests for POST /live/{streamName}/{seqNo}.ts. Its content should be exactly the same as the HTTP response from an -authWebhookUrl handler. For now, it's completely acceptable to reject segment requests if they change transcoding configuration for the same manifestId if that makes implementation quicker and easier

[2022-03-22 13:05] AlexKordic commented on #2322
Single IDR frame segment as input causes `ZeroSegments` error. The proper output would be single frame segment output.

[2022-03-22 14:36] #2306 closed, assigned to leszko

[2022-03-22 17:23] papabear99 commented on #2322
Is it possible to reject these segments and throw the error at the B instead of sending them down network to be transcoded?  Seems like it would benefit Broadcasters to know why their segments can't be transcoded.  My node in the Netherlands has received nothing but these `ZeroSegment` sessions for the last hour+

[2022-03-22 17:26] AlexKordic commented on #2322
Yes. My understanding is: this is still valid transcoding input. Is that correct @leszko ?

[2022-03-23 01:03] yondonfu commented on #2315
For now I think it is reasonable to:

- Continue to use geth for the image
- Update the Docker build script to accommodate the switch from Truffle to Hardhat
- Define a way to deploy the full suite of contracts as a part of the Docker build script (in order to address the fact that just using the protocol repo contracts doesn't quite work right now)
- Not supporting forking a live chain for now

I

[2022-03-23 01:10] yondonfu commented on #2319
If support for a `-maxFaceValue` flag is added in https://github.com/livepeer/go-livepeer/pull/2290 then we should be able to simulate a winning ticket just using CLI flags on B & O by doing the following:

- Let X be some value less than or equal to B's reserve allocation for O
     - Ex. If B's reserve = 100 and there is 1 O then the reserve allocation for that O is 100 so we'd want X <= 100
- S

[2022-03-23 01:39] yondonfu commented on #2322
@AlexKordic

Interesting! Sounds like the current output for a single IDR frame source segment triggers the `ZeroSegments` error either because [the output is nil or because the output has less than 25 bytes](https://github.com/livepeer/go-livepeer/blob/6872dbab566ec3a0b17f1a1b573ddf9401a5a574/core/orchestrator.go#L577). Awhile back LPMS couldn't handle segments with very few frames (i.e. 1 frame)

[2022-03-23 08:39] RiccardoBiosas commented on #2328
After trying out the second approach (a smart contract to aggregate the queries on-chain), it seems that all the initial performance benefits obtained by moving the transcoder-related queries from go-livepeer to an on-chain helper contract are lost when, alongside traversing the double linked list to retrieve all the transcoders addresses, single function calls are forwarded from the helper contra

[2022-03-23 12:25] leszko opened #2335 "Secure Livepeer against single-frame segments attack"
**Is your feature request related to a problem? Please describe.**
We've recently seen a high number of `ZeroSegments` error which was reported in [this GH Issue](https://github.com/livepeer/go-livepeer/issues/2322). While the error itself is related to the [bug in LPMS](https://github.com/livepeer/lpms/issues/311), it also means that users of the Livepeer ecosystem started to send some artificial

[2022-03-23 12:25] leszko commented on #2322
I think the one-frame segment sounds like a correct input, so we should handle it correctly in LPMS. @AlexKordic created a GH Issue for it: https://github.com/livepeer/lpms/issues/311

The other problem is that we need to think how to approach the problem if people start sending a lot of one-frame streams. The cost of processing such streams is very high, but you get very little payment for it. I

[2022-03-23 12:25] #2322 closed, assigned to leszko

[2022-03-23 13:02] iameli commented on #2335
This is not unusual in real-world transcoding cases — OBS, upon experiencing network congestion, will discard everything except keyframes. UGC platforms often include lots of users streaming with poor internet, thus we end up with lots of keyframe-only segments. This makes me opposed to

Because these are still very legitimate use cases.

True for hardware transcoders; less true for software trans

[2022-03-23 13:29] MikeIndiaAlpha commented on #2335
I hope it isn't bad place for a comment. Are you sure guys that the segments in question contain _any_ frame at all? Because for example if the .h264 stream in question contains just a first slice of multi slice IDR picture, then it is not enough for the decoder to create any output at all. Any chance I could have look at the binary stream? I saw the one attached by Alex in the other issue but not

[2022-03-23 13:33] AlexKordic commented on #2335
I like this idea. Miners could optimize for edge cases by running few software transcoders.

[2022-03-23 15:01] MikeIndiaAlpha commented on #2335
I looked over the h264 syntax in the file @AlexKordic gave me and found it more or less fine. I mean, apart from duplicated SPS/PPS pair, but that is perfectly legal, even if a bit redundant. Thing is, I saw _a lot_ of problems similar to this one when feeding h.264 decoder on VPU chip of i.mx6 SoC. I think it may be a symptom of a decoder used incorrectly (or alternatively, decoder being really s

[2022-03-23 15:32] leszko commented on #2328
Thanks for the update @RiccardoBiosas . Good analysis. I think the approach is good, we fetch all the transcoders and then enrich the data with the concurrent calls. A few questions/comments:

1. If we skip the additional data, just to fetch all transcoders addresses, did you compare the time of getting all transcoder pool using the `go-livepeer` code vs using your helper contract? I'd be interest

[2022-03-23 15:58] yondonfu opened #2336 "Spec more granular metrics + data collection for fast verification per orchestrator"
- We should be able to determine the fast verification success/failure rate for each O
- We should be able to determine which step of fast verification that an O failed at
- We should be able to collect data from failure cases for Os

[2022-03-23 16:01] yondonfu commented on #2336
For the first two - I know we've had trouble with per orchestrator metrics with Prometheus in the past due to Prometheus not liking high cardinality data labels so we likely will need to take that into account.

@victorges @iameli Any thoughts here on the best way to collect per orchestrator metrics these days? Could https://github.com/livepeer/livepeer-data help?

[2022-03-23 16:06] victorges commented on #2336
So now we are actually using Victoria Metrics instead of Prometheus, which does have support for higher cardinality metrics!

@tqian1 is adding support for per-stream metrics in the go-livepeer code, the only problem with that AFAIK (and correct me if I'm wrong) are the actual metrics exporting libraries themselves like OpenCensus or Prometheus, since once we measure one stream they stay in memory

[2022-03-23 16:25] thomshutt commented on #2323
Great writeup, thanks @cyberj0g!

Not having to worry about the HW context teardown makes a big difference and so I think that your proposal to avoid complexity and introducing any extra accounting here makes sense.

I think that the extra monitoring / insights work we're looking to do should help us keep an eye on whether this issue grows again to the point (i.e an excessive amount of verificatio

[2022-03-23 18:51] AlexKordic commented on #2323
Regarding point **2** (HW context init) found a check for different pixel-format that triggers [Expensive decoder init on pix fmt change](https://github.com/livepeer/lpms/blob/master/ffmpeg/transcoder.c#L151-L154).

What we want to introduce is select idle session to use for new segment that matches same pixel-format.

Furthermore i would expect similar selection to take place and match session in

[2022-03-24 08:17] cyberj0g commented on #2323
@AlexKordic, good point on pixel format, but are we sure that there's a need to re-initialize HW context in other cases, like different resolutions? Also, I think the network is quite uniform in terms of transcoding parameters currently, so these re-initializations shouldn't happen often, and we can skip implementing T session 'matching' for now.

[2022-03-24 22:57] kparkins commented on #1602
This behavior occurs due to the implementation of the function _readBigInt()_

[code]

While it is clear why this is happening, namely, the function _readBigInt_ loops until a valid value is parsed, it is unclear what a "better" behavior would be. A simple option that may make it more clear to the end user would be to supply a prompt to the function _readBigInt_ so that each subsequent prompt indi

[2022-03-25 00:01] figintern commented on #2336
Thanks for the mention @victorges

Victor summarizes the problem well - the main limitation for per-stream metrics is the library (OpenCensus) that we use in go-livepeer. It does not have a clean way to register and deregister stream-specific tags like `manifestId` and so the list of exported metrics grows forever - very quickly. However this only affects metrics that we are tagging with stream sp

[2022-03-25 09:31] MikeIndiaAlpha commented on #2288
I was able to reproduce the problem on Ubuntu 20.04 machine. The message here: "WARNING: decoder.c:249] Nvidia decoder not found" basically means that ffmpeg was build without support for Nvidia decoders. Now the question is why. Let's look into "install_ffmpeg.sh". One can find a comment there, saying "If we have clang, we can compile with CUDA support!". And the test for clang is simply issuing

[2022-03-25 14:25] yondonfu commented on #1602
I think this makes sense. So, if the user presses enter, then the following would be displayed again:

[code]

so that it is clear that the next value entered will be for the gas price option. A flaw that is present for this option and all of the wizard options for that matter is that there is no way to exit out of the prompt to select another option without doing a CTRL+C and restarting `livepeer

[2022-03-25 16:29] ad-astra-video commented on #2288
Below is the expected output when using a 1080 ti that I get when using pre built binaries.

@MikeIndiaAlpha Did this fix the build from source for a transcoder running nivida card? The error makes me think it did not. Or, is the error in your logs posted because your machine not have a nvidia card installed?

When I built from source, I used the docs instructions which included ```apt-get -y inst

[2022-03-25 18:55] MikeIndiaAlpha commented on #2288
@0xB79
Your original logs (from February 23th) contained livepeer SW complaining about lack of H.264. But expected behaviour was "fail on vp8_cuvid decoder". These (h264 and vp8) are two different codecs, so I assume that what you were really after is fail on "h264_cuvid". This is what I got after applying my fix.

I believe that your original problem was due to ffmpeg (and hence livepeer) not see

[2022-03-25 23:13] ad-astra-video commented on #2288
@MikeIndiaAlpha I understand now, I have not seen the h264_cuvid error before but I am using 10 series and newer Nvidia cards.

I will try the build process again on fresh ubuntu VPS without the "-8" on clang.  I also found it was interesting that the github actions workflow used a different install process for clang than listed in the docs.

[2022-03-25 23:36] Titan-Node opened #2338 "Change Redeemer Cli to Orchestrator Cli"
**Describe the bug**
Currently when running a Redeemer node, the cli commands are for Broadcaster functions as follows: (Excluding all shared commands, 1-10 and 16-19)

[code]

Since the Redeemer node acts as an Orchestrator node, ie calling reward, these commands are missing key commands such as `11. Invoke "reward"`.

If for instance if a Redeemer nodes misses calling reward, one must launch a s

[2022-03-25 23:50] Titan-Node opened #2339 "-nvidia all flag fails on VM"
**Describe the bug**
On a rented google VM the `-nvidia all` flag throws an error, however, when the card slot is specified `-nvidia 0` the program launches correctly.

**Spec**
 - OS: Debian GNU/Linux 10
 - Release: 10
 - Google Rented VM
 - GPU: Tesla T4
 - Livepeer Version: v0.5.29 - linux-amd64

**Screenshots**
With `-nvidia all` flag set.
![error](https://user-images.githubusercontent.com/866

[2022-03-26 09:18] MikeIndiaAlpha commented on #2288
@0xB79 Don't get me wrong - I am not saying all is fine, maybe new issue should be opened? All I am saying is we moved a step forward, and ffmpeg (and livepeer) can now "see" CUDA subsystem.

[2022-03-26 09:18] #2288 closed, assigned to MikeIndiaAlpha

[2022-03-28 15:36] figintern commented on #2285
https://www.notion.so/livepeer/Single-Stream-Health-OpenCensus-b402a38f5cf54479a7ad9845c57e5604

[2022-03-28 15:50] cyberj0g commented on #2323
Thanks @AlexKordic for bringing up T session accounting again on the call.

It looks like I didn't consider T [load balancing](https://github.com/livepeer/go-livepeer/blob/0747ac6e21d48ca90bbfb82f7cd1819039993d35/core/lb.go#L80) logic in initial implementation proposal. That's one more layer of sessions, which are linked 1:1 to incoming streams and teared down after a timeout of 1 minute. Finally,

[2022-03-28 17:13] AlexKordic commented on #2323
I think its very important to remove most of timeouts from the protocols. 1 minute is good choice for timeout. On other hand it amounts to 14700 frames of idle time that we need to compensate in our loadbalancing and capacity logic.

[2022-03-28 20:08] RyanC92 commented on #2338
Linking duplicate issue: [2257](https://github.com/livepeer/go-livepeer/issues/2257)

[2022-03-29 22:26] kparkins commented on #1602
Pretty much. Displaying an error is also a good idea, I think. Here's how it would look:

[code]

As for the CTRL+C question, I agree.

Another thing to note, the CLI accepts negative values for these parameters. Is that intentional?

E.g. I can set maxGasPrice to -1, bonding amount, etc.

 Also, this behavior affects a bunch of other CLI options (haven't completely listed them all), This fix woul

[2022-03-30 08:39] leszko commented on #2329
## TL;DR

To address the explosion of the number of concurrent HTTP requests during the discovery process I suggest to implement 2 improvements:
- caching orchestrator info data
- batching parallel HTTP requests

I believe we can also use the approach of caching and batching to solve the issues described in https://github.com/livepeer/go-livepeer/issues/2330.

[Here's the PoC PR](https://github.co

[2022-03-31 09:56] #1602 closed, assigned to nobody

[2022-04-05 01:24] eliteprox commented on #2020
Switched to a single-GPU setup and still saw those "27-minute spikes" during high volume. It doesn't seem to be multi-GPU related. Though I did get the impression that streams were sticking around longer.

![image](https://user-images.githubusercontent.com/16746274/161659644-577d04c6-7f99-49e5-998e-9329fb0c3ef3.png)

[2022-04-07 07:28] h1k3rr commented on #869
Can we reopen this issue ?
The concern that OS do not provide strong consistency is no longer true for multiple providers like s3, minio and filebase.
Also a playlist in json is currently recorded on OS but not the m3u8 playlist, I wonder why ?
I understand that the playlist can become very large and difficult to update too often, but could we simply have a first version with limited time window (

[2022-04-07 12:58] yondonfu commented on #869
@iameli might have some insight here.

[2022-04-07 13:15] yondonfu commented on #2338
Closing as dup of https://github.com/livepeer/go-livepeer/issues/2257 so all further conversation can be directed to that issue.

[2022-04-07 13:15] #2338 closed, assigned to nobody

[2022-04-11 12:21] leszko opened #2358 "Issue while redeeming the zero-block-hash ticket"
**Describe the bug**
If the ticket parameters include `0` as the block hash, then the ticket redemption is re-tried. This is an issue when Arbitrum returns the wrong `0` L1 block. We should skip the zero-block-hash tickets.

For the context, please check [Discord link](https://discord.com/channels/423160867534929930/547500756245413904/962068367915757618).

[2022-04-11 16:47] #1366 closed, assigned to hjpotter92

[2022-04-11 20:11] yondonfu opened #2360 "Backdate tickets by one round if the block hash for the current round is 0"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Related to https://github.com/livepeer/go-livepeer/issues/2358

O sets the creationRound and creationRoundBlockHash to use for tickets here [1]. At the moment, the values used here are the last initialized round and the block hash for the

[2022-04-12 07:08] #2358 closed, assigned to leszko

[2022-04-13 09:28] stronk-dev opened #2363 "CUDA_ERROR_UNKNOWN Transcoding errors for EU orchestrators"
**Describe the bug**
Me and a few other O's are getting lots of
[code]
It doesn't seem to drop the stream itself, and only seems to happen for EU orchestrators (https://discord.com/channels/423160867534929930/932724294230900776/962928882665783306)

**To Reproduce**
Have an active Orchestrator in the EU region

**Expected behavior**
To transcode the segments without error

**Desktop:**
 - OS: Arch

[2022-04-13 10:45] cyberj0g opened #2364 "Suppress irrelevant console output from automatic capabilities test on node startup"
## Abstract
With a recent update, when transcoder node starts, it tries to transcode a few test segments multiple times, to experimentally determine, which subset of capabilities this node supports. It produces a lot of output to the console, including errors, which may be confusing for users. We need to suppress this output.
<details>
  <summary>Sample output</summary>

[code]

</details>

## Mot

[2022-04-13 11:27] leszko commented on #2364
Thanks for the feature spec @cyberj0g

Some thoughts:

1. Maybe it's possible to create a C-based wrapper and redirect stdout there if it's not possible in Golang? I found a similar issue with Python, you can find some solution ideas [here](https://stackoverflow.com/questions/5081657/how-do-i-prevent-a-c-shared-library-to-print-on-stdout-in-python).

2. To me, spawning a separate process only to s

[2022-04-13 13:00] thomshutt commented on #2364
I think that one nice thing that having a separate process might give us is to have some sort of fallback behavior in Golang in the case where the capabilities test fails, without completely failing to start up. Outside of that though I'd be inclined to agree with @leszko that we should in general be trying to capture the logs in the calling process if possible.

[2022-04-13 13:52] #2360 closed, assigned to leszko

[2022-04-13 13:53] AlexKordic commented on #2364
@cyberj0g Can we use [av_log_set_callback()](https://github.com/livepeer/FFmpeg/blob/livepeer/libavutil/log.h#L321) to filter unwanted output?

[2022-04-13 13:55] cyberj0g commented on #2364
Other subprocess approach benefits are:
* minimal modifications to the code: no need to modify logging, where it can't be turned off programmatically now
* guarantee of resource cleanup, because process exits (say, we have some library for custom hardware, which doesn't release memory properly in case of specific capability test failure)

But I see the simplicity argument. We actually can suppress

[2022-04-13 13:57] AlexKordic commented on #2364
Will subprocess change prevent simple debugging of C code?

[2022-04-13 14:07] cyberj0g commented on #2364
@AlexKordic my intuition is that it should not hurt debugging experience, most debuggers attach to child processes automatically. But it needs to be proven for Go -> C case.

[2022-04-13 19:17] hthillman commented on #2336
cc @ArcAster possibly interesting for your work

[2022-04-19 10:04] leszko commented on #2329
@yondonfu and @red-0ne Please take a look and review it.

[2022-04-19 12:48] RiccardoBiosas commented on #2328
@leszko After a bit of testing it seems that the performance difference between the on-chain and off-chain traversal of the doubly linked list is fairly negligible. On arbitrum mainnet it takes currently 28s-30s for go-livepeer to fetch all the transcoders addresses - without fetching any additional information such ```LastRewardRound```, ```RewardCut``` and ```FeeShare```.

[2022-04-20 05:08] red-0ne commented on #2329
I think caching Os info is the way to go, but doing it for a big amount of Os may bring its own set of issues. Using a time interval to fetch the info may do the job for most use cases but still seem a bit brutal. The good thing about it is that it brings minimal change to the architecture.

Are Os updating some of their info without announcing it onchain? What are these infos? If we manage to mak

[2022-04-21 09:51] leszko commented on #2328
Ok, could you check also how much time it would take if we had 1000 Os? Will the time increase in the linear manner? So, something around `10*30s = 5 min`?

[2022-04-21 09:56] leszko commented on #2329
The Orch Info is not announces on-chain (at least not all the information). Orch Info is fetched P2P, so I think all we can do is to:
- Make P2P calls to each Os (but spread the calls across the time)
- Select (randomly) only part of the Os and fetch Orch Info only from those Os

The Orch Info struct includes the following fields:
https://github.com/livepeer/go-livepeer/blob/fce545fa16b6a2292394fe

[2022-04-22 07:47] red-0ne commented on #2329
I see... But if we make Os announce updates onchain (not necessarily including the new info onchain) then we can have Bs update their cache only when needed. We can use [ServiceRegistry.setServiceURI](https://github.com/livepeer/protocol/blob/confluence/contracts/ServiceRegistry.sol#L32-L35) to emit the event (no need to add more data there, just need the event emission... maybe add a hash of the

[2022-04-22 08:31] leszko commented on #2329
I think we can't store all the OrchInfo data on-chain, because:

1. each on-chain modification has a cost, which results in less frequent changes (for the context, `price per pixel` used to be an on-chain parameter and we moved it off-chain)
2. OrchInfo contains some information which needs to be "fresh":
  - Ticket Params
  - Info if the O is available (if it does not return anything, B should no

[2022-04-22 09:49] red-0ne commented on #2329
Sorry, I may have misguided you. In the code snippets it was intended to be `ow.Method` instead of `o.Method` I will edit it.

It is not meant to store more info on chain. Just Os poking Bs through on-chain events. Bs will be p2p fetching the info after receiving the onchain notification.

It will be in the worst case 1 block old + 1 p2p fetch. while with periodic fetching it will be at best the t

[2022-04-25 10:35] leszko commented on #2329
Yeah, that's why I think it's not going to work on-chain. We don't want O to send tx just to notify B about the changes.

[2022-04-25 11:32] xbenderCH opened #2370 "Performance tests not working since the Arbitrum upgrade"
**Description**
For some orchestrators, the performance tests are not working since the arbitrum upgrade. I'm not 100% sure if it has to do with the upgrade, but it was working some time before the upgrade happened and I noticed that it was no longer working for my orchestrator after the upgrade.

As far as I know, my own [orchestrator ](https://explorer.livepeer.org/accounts/0x41239fb65360981316f

[2022-04-25 13:23] leszko opened #2371 "Per Orchestrator metrics in Broadcaster"
**Is your feature request related to a problem? Please describe.**
Currently, Livepeer Broadcaster doesn't export any metrics tagged per Orchestrator. This would be useful, for example, in test streams monitoring.

**Describe the solution you'd like**
Add per Orchestrator metrics recorded by Broadcaster:
- `transcode_overall_latency_seconds_per_orchestrator`
- `segment_transcoded_all_appeared_tota

[2022-04-26 09:56] thomshutt opened #2373 "Low Latency - E2E Streaming Workflow"
The goal of this epic is to reduce latency by removing any places in the flow of video segment data between Mist / Broadcaster / Orchestrator / Transcoder where we wait for the whole segment to be received before processing it.

The design work for this can be found here: https://www.notion.so/livepeer/Low-Latency-Requirements-0df36738beb74038bac432239df40a2b

[2022-04-26 10:20] thomshutt opened #2374 "Define Mist -> Broadcaster websocket interface"
Mist's HTTP implementation doesn't currently support bi-directional streaming and it's estimated to be a large amount of effort to get this to work.

The proposed solution is to move directly to a websocket implementation. This ticket covers generating a written proposal and getting it signed off by the Mist team (i.e @Thulinma). The implementation will be covered by other tickets.

[2022-04-26 10:30] RiccardoBiosas commented on #2328
The following time measurements have been performed on rinkeby and they only focused on traversing the doubly linked list (so calling ```getFirstTranscoderInPool``` to get the head and then calling ```getFirstTranscoderInPool``` until the tail) without fetching any transcoder-specific data. Since on Rinkeby the transcoder pool size is 27, I repeated the operation of fetching the entire list of tra

[2022-04-26 10:36] thomshutt opened #2375 "Mist: Websocket communication with Broadcaster"

[2022-04-26 10:36] thomshutt opened #2376 "Broadcaster: Websocket communication with Mist"

[2022-04-26 11:03] thomshutt opened #2377 "Broadcaster: Streaming workflow"

[2022-04-26 11:03] thomshutt opened #2378 "Orchestrator: Streaming workflow"

[2022-04-26 11:03] thomshutt opened #2379 "Transcoder: Streaming workflow"

[2022-04-26 11:03] thomshutt opened #2380 "Fast Verification: Streaming workflow"

[2022-04-26 12:16] red-0ne commented on #2328
Have you considered using `getStorageAt` call instead of regular smart contract calls? This can save EVM overhead. It should be even better if there is access to the arbitrum node database.

[2022-04-26 15:44] leszko commented on #2328
Thanks @RiccardoBiosas for the analysis.

IMO `2m50s` is quite long for 1000 Os, because it means that as soon as we grow to the size of 1000 Os, the broadcaster startup time is a few minutes. In that case, I'd lean toward your initial idea and use a smart contract for it. `20s` as an initial time sounds acceptable. Also it does not grow linearly.

[2022-04-26 17:02] yondonfu commented on #2371
Would it make sense to add labels (i.e. an orchestrator label) for the existing metrics instead of having separate metrics with the `_per_orchestrator` suffix?

[2022-04-26 18:17] yondonfu commented on #2329
I think caching OrchestratorInfo messages makes sense especially since the data included in each message does not vary per stream. At the moment, when a B receives multiple streams it ends up fetching multiple OrchestratorInfo message responses from the same O. If we cache the messages then B can just re-use a message that it already previously received from O.

The way that I am thinking about th

[2022-04-26 18:33] yondonfu commented on #2329
@red-0ne

Interesting suggestion of using on-chain events to notify Bs of when to send a network request to O to get a fresh OrchestratorInfo message! This seems like a pub-sub pattern where the publish step is implemented using an on-chain event and interested Bs can just subscribe to that event.

I like the pattern, but I echo Rafal's concerns of relying on an on-chain tx to trigger the event wh

[2022-04-27 06:49] leszko commented on #2371
I think we could do it that way. I actually tried to followed the pattern we have for `per_stream` metrics. We do have both:
- `success_rate`
- `success_rate_per_stream`

@tqian1 do you see any drawbacks of just adding a label to existing metrics instead of creating new ones? Also do you maybe know why we added new ones for `per_stream`?

[2022-04-27 13:20] leszko commented on #2370
I found out one interesting thing that might be related. When the Stream tester is connected to the [Canary Livepeer Subgraph](https://api.thegraph.com/subgraphs/name/livepeer/livepeer-canary), the overall results are way better than the [Arbitrum One Livepeer Subgraph](https://api.thegraph.com/subgraphs/name/livepeer/arbitrum-one).

Any thoughts on that @yondonfu @adamsoffer?

[2022-04-27 13:29] leszko commented on #2329
Thanks for the feedback @yondonfu

Yes, I think it's good to stick to this terminology.

Ok, I think it makes sense to make it work the same.

Yes, we can check both capabilities and the predonditions during the pool creation time.

I think we can split it into 2 PRs:
- Add caching
- Add batching

But I think we do need batching, because if we don't do it and grow with the number of Os, then we ca

[2022-04-27 14:21] yondonfu commented on #2231
Closed by #2312

[2022-04-27 14:21] #2231 closed, assigned to cyberj0g

[2022-04-27 14:22] #2123 closed, assigned to cyberj0g

[2022-04-28 21:02] yondonfu commented on #2323
Just for clarification - this session teardown design will in fact require HW context re-initialization because the HW context *is* destroyed in the latest design upon receiving the session teardown signal correct?

And the discussion b/w @cyberj0g and @AlexKordic is highlighting that a separate task could be to explore keeping HW context around and re-using them if O receives another stream that

[2022-04-29 03:56] red-0ne commented on #2371
I've added the requested metrics in census.

The approach was to create the metric and insert a tag with key `kOrchestratorURI`. The issue now is that we need to get `uri` from somewhere since it's not passed by `SegmentFullyTranscoded()`. I was not sure if I can get that from `ctx` or need to pass the value all along the function calls.

[2022-04-29 08:50] AlexKordic commented on #2323
Correct. Taking into consideration timeouts in our protocol cost 10 to 100 times more than re-initialization. Difference is timeouts introduce idle time and re-initialization cause resource-usage&small-delay.

[2022-04-29 09:27] oscar-davids commented on #2336
We have already added the matrix into Opencensus per Broadcast [here ](https://github.com/livepeer/go-livepeer/blob/e3f9286f80044dc1e55a4687eaeccb689a2ebf84/server/broadcast.go#L515)and [here](https://github.com/livepeer/go-livepeer/blob/e3f9286f80044dc1e55a4687eaeccb689a2ebf84/server/broadcast.go#L553).
[Here ](https://github.com/livepeer/go-livepeer/blob/e3f9286f80044dc1e55a4687eaeccb689a2ebf84/

[2022-04-29 12:29] leszko commented on #2336
Thanks for the info @oscar-davids . So, if I understand correctly, we added the "per stream" metrics, but we actually didn't solve the issue with [OpenCensus and high cardinality](https://www.notion.so/livepeer/Single-Stream-Health-OpenCensus-b402a38f5cf54479a7ad9845c57e5604). So the current state of art is that if you enable flag `-metricsPerStream`, then you experience a leak, because the old me

[2022-04-29 12:45] oscar-davids commented on #2336
I mean that we can know the total success rate for fast verification per broadcast but don't know the rate per orchestrator currently, so we need to collect matrix per orchestrator.

[2022-04-29 16:58] AlexKordic commented on #2323
Did a quick measure of decode performance. Decoding segment yields 850 frames per second. Decoding I frame with re-creating decoder after each frame yields 31 frames per second.

According to this results we pay 32 millisecond penalty for recreating decoder while timeout is 60000 milliseconds (near 2000 times more).

[2022-05-02 09:01] RiccardoBiosas commented on #2315
Related PRs:
https://github.com/livepeer/docker-livepeer/pull/92
https://github.com/livepeer/docker-livepeer/pull/93
https://github.com/livepeer/protocol/pull/557
https://github.com/livepeer/go-livepeer/pull/2402

[2022-05-03 07:48] red-0ne commented on #2371
According to the implementation of `manifestWithTag` it seems that it's possible to get keys from `ctx`. @tqian1 Do you think it's possible to get orchestrator's uri from there? Also, If I tag that uri in the `transcode_overall_latency_seconds` instead of `..._per_orchestrators` Can I have both functionalities (metrics per and overall orchestrators) by looking up by `kOrchestratorURI` key?

[2022-05-03 14:14] yondonfu commented on #2332
Closed by #2357

[2022-05-03 14:14] #2332 closed, assigned to thomshutt

[2022-05-03 14:29] #1583 closed, assigned to kyriediculous

[2022-05-04 19:36] iameli opened #2384 "Minimum Viable Thumbnails"
Getting JPEG thumbnails out of Livepeer streams is a common request. While thumbnailing can (and has) been built on a variety of different parts of the pipeline, it's a natural fit for Livepeer Network transcoding; when orchestrators are already processing an entire video stream, the marginal cost of encoding a single-frame JPEG image is negligible.

The following is a proposal for a good-enough s

[2022-05-04 19:59] AlexKordic commented on #2384
MJPEG is good idea.

Besides `"encoder": "MJPEG"` we could add `"quality": 0.35` parameter with nice default value to produce 1280x720@44kb output.

jpeg is supported everywhere, contrast to WebP or [HEVC in HEIF](https://en.wikipedia.org/wiki/High_Efficiency_Image_File_Format)

[2022-05-04 21:10] iameli commented on #2384
Just remembered that our `fps` field is represented as a fraction; updated my example to make use of the `fpsDen` field to more properly represent a tiny number.

[2022-05-05 07:35] Thulinma commented on #2384
I support @AlexKordic 's suggestion to support a quality parameter, and would even go so far as to say the bit rate should be left out entirely here. (Or at least make it clear which overrides which.)

Also which format will this be returned in? MJPEG has multiple "standards" among which a few common implementations, but ideally we wrap it into something well-understood like MKV. When returning on

[2022-05-05 08:18] MikeIndiaAlpha commented on #2384
I second @Thulinma caveat that there isn't really a MJPEG "standard", it is more like "actual graphic data is encoded as raw JPEG data (which is NOT what the people usually call jpeg BTW, because they really mean JFIF file format)", and then "every man for himself".

What people mean by thumbnails, @iameli? Perhaps just one thumbnail for a segment, or maybe just a few files? Alternative solution m

[2022-05-05 08:38] AlexKordic commented on #2384
Good point regarding mkv output is we keep the timestamp of the original frame. Player logic implementing thumbnail browsing can read each thumbnail and place it properly without need to know where segments start/end and avoid hardcoding whether Livepeer transcoder extracts thumbnail on first or last frame of segment.

[2022-05-05 09:59] iameli commented on #2384
@Thulinma I see — so the standard is a bit more complex than I realized; I was thinking it was just literally concatenated JFIF files. That makes things a bit more complex.

Yeahhhh this is going to be a common use case of the broadcaster — a single accompanying JPEG with each segment. Kinda nice to be able to get at it without transmuxing an MKV. But I wouldn't want it to magically change formats

[2022-05-05 16:08] Thulinma commented on #2384
We'll have timestamps regardless of container - Mist will keep the JPGs as a sychronized extra track 💪
We'd like plain JPG format - since, as @MikeIndiaAlpha mentioned, there are multiple standards, and there is one that can be trivially converted between MJPEG and "normal" JPG files. This standard is the only one support in modern browsers (AFAIK) and also used in the MKV container format, among

[2022-05-05 16:56] thomshutt commented on #2384
This was my initial thought too, what if we drop the `fps` param for the initial version - keep it as simple as possible and do one frame per segment (whatever the segment size is)?

[2022-05-05 18:54] figintern commented on #2371
Sorry for delay here folks:
Adding a label to existing metrics is preferable to creating new ones

For context (and to clarify confusion), the reason we have independent metrics suffixed with `per_stream` on our side is because the high cardinality of `manifest_id`'s combined with the high dimensionality of pre-existing `Distribution` view aggregation type increases the number of lines/metrics exp

[2022-05-05 19:01] figintern commented on #2371
@red-0ne Great approach and in-line with the existing pattern, I just realized we never merged this PR on our side - hope you were able to have a look at the pattern there: https://github.com/livepeer/go-livepeer/pull/2313

AFAICT it is possible to get `orchestrator_uri` from `ctx` were you able to pull it?

Correct, if you tag the URI in `transcode_overall_latency_seconds` you would have both fun

[2022-05-05 23:45] victorges commented on #2384
Kind of newcomer to everything video so sorry if I get anything completely wrong here.

Does this also mean that we will only support thumbnails from keyframes/beginning of the segment? If not, how would one specify where to grab the thumbnail from? Maybe re-use some of the clipping parameters that we have? On the B->O wire at least, not sure about the auth webhook response. Also not sure how one

[2022-05-06 08:39] AlexKordic commented on #2384
This depends on hardware (nvidia). H265-HEVC, VP8, and VP9 are newly supported as ingest. H264, H265 as transcoded output.

Every 15 seconds example:
[code]

Also possible on sub second intervals. Clamped to nearest frame.

We always do decode on input video. Because of that we are not limited on keyframes.

We do plan to expose simple interface from Mist. Discussing here how to preserve all cruci

[2022-05-06 09:42] iameli commented on #2384
Thanks for all the input, y'all.

## Format

@Thulinma:

@AlexKordic

There may (and should!) come a day where we're _exclusively_ using Mist as the input here, but until that happens we'll also need to support input from cli-transcoder and stuff — there's not a great way to process a VoD suitable for our needs through Mist at the moment.

@thomshutt

If we got that way, I'd want to make sure we a

[2022-05-06 14:56] ecmulli opened #2386 "Add eth address to "Finished push request" log line"
**Is your feature request related to a problem? Please describe.**
When a segment is successfully transcoded we can't map that 1:1 to the orchestrator that actually did the transcoding.

**Describe the solution you'd like**
eth address added to the logline for a clear connection between the segment and who did the transcoding

**Describe alternatives you've considered**
A clear and concise descrip

[2022-05-06 15:17] thomshutt commented on #2384
I think that it's going to just be a control message / binary payload format, so should be able to do anything that the multipart can

[2022-05-08 13:49] ad-astra-video commented on #2363
I am in US and got this error recently. It was received in the middle of a test stream and the test stream did seem to complete.

[code]

[2022-05-08 14:59] stronk-dev commented on #2363
Getting a bunch of them in the US now too:
[code]

[code]

[code]

[2022-05-09 08:58] thomshutt opened #2387 "Define "WebSocket" Orchestrator Capability"
Let's use `Capability_WSTransport` for the name.

Capabilities are defined in https://github.com/livepeer/go-livepeer/blob/249d9ebd80380dddd594e32bc9f44288d8b6fc33/core/capabilities.go

This property should initially always return "false".

Once @AlexKordic's work on websocket streaming is comeplete, we'll conditionally invoke it based on this property and cut a release with this capability always

[2022-05-09 09:10] thomshutt opened #2388 "Orchestrator should prefer Transcoders with Capability_WSTransport capability"

[2022-05-09 09:11] thomshutt opened #2389 "Broadcaster should prefer Orchestrators with Capability_WSTransport capability"

[2022-05-09 15:12] leszko commented on #2371
Ok, then my bad in the GH Issue Description. Let's not use the `per_orchestrator` suffix. So, we'll just reuse the existing metrics:
- `transcode_overall_latency_seconds`
- `segment_transcoded_all_appeared_total`
- `segment_transcoded_unprocessed_total`

[2022-05-09 15:51] red-0ne commented on #2371
As discussed with @yondonfu , orchestrator's address seems to be more indicative of O, but raised the case of orchestrators running in off-chain mode. We could consider some conditional behavior to log with the appropriate tag. But think we should keep it simple as of the scope of the issue and tagging addresses or URIs only, each one with its trade-offs.

I propose to keep orchURI as the tag used

[2022-05-09 16:31] leszko commented on #2371
To me it seems that Service URI could be "good enough". I know that O Eth Addr is "less prone to change", but still I believe Os don't change their Service URI too often. @yondonfu what do you think?

[2022-05-10 00:34] yondonfu commented on #2371
I think using the service URI for now is okay for now and we can consider using the ETH address as the tag separately.

[2022-05-10 15:19] thomshutt opened #2394 "Productionize Soccer Stream Detection"

[2022-05-10 19:09] yondonfu commented on #1850
I think this should be addressed by the solutions documented in https://github.com/livepeer/go-livepeer/issues/2329 so closing.

[2022-05-10 19:09] #1850 closed, assigned to yondonfu

[2022-05-10 19:23] yondonfu commented on #2386
@ecmulli Could you describe the use case that you have in mind here? The context would be helpful to either determine how to best get you the information that you need or whether there is another way to get that information that already exists. IIUC you want to get the ETH address for each completed transcoding request? Are you scraping logs? Would getting that information in a different form (i.e

[2022-05-10 19:49] ecmulli commented on #2386
the use case is to be able to know which orchestrator is doing the transcoding for a segment for a broadcaster. i am querying the grafana logs. right now, it has an orchestrator url but it doesnt match to the subgraph very well. so we need a way to map that relationship.

[2022-05-10 22:00] yondonfu commented on #2386
@ecmulli Got it. After https://github.com/livepeer/go-livepeer/issues/2371 is addressed (@red-0ne is currently working on it),  it will be possible to aggregate the following metrics based on O:

- `transcode_overall_latency_seconds`: The seconds it took for an O to complete transcoding
- `segment_transcoded_all_appeared_total`: The # of segments transcoded by an O

Then, I think you'd be able to

[2022-05-11 03:29] leszko commented on #2298
Related to #2235. Both issues aim to reduce the number of blocks we poll from ETH RPC endpoint.

[2022-05-11 03:32] leszko commented on #2325
I believe this one is closed by #2390. Please reopen if the error still occurs (after the next go-livepeer release).

[2022-05-11 03:32] #2325 closed, assigned to nobody

[2022-05-11 03:39] leszko commented on #2118
I think the priority of this lower since we moved to Arbitrum. And Arbitrum Nitro is just around the corner.

@0xVires do you think this feature would still be useful at all? CC: @yondonfu

[2022-05-11 03:56] leszko commented on #1982
@thomshutt @yondonfu Do we plan to implement it soon (and therefore keep in backlog)? Or should move it to "New Issues" (or close)?

[2022-05-11 04:00] leszko commented on #1920
Related to #2076.

In a more general sense, we want to be able to tell if Livepeer Node is up and ready, so that we can use it in k8 `livenessProbe` and `readinessProbe`.

[2022-05-11 04:02] leszko commented on #1841
@yondonfu @ArcAster Do we still prioritize it or gas price is not that important after the Arbitrum (Nitro) upgrade?

[2022-05-11 04:08] leszko commented on #1757
@yondonfu @ArcAster Do you think it's still worth to implement this one (since the gas price is that an issue anymore with Arbitrum)?

[2022-05-11 04:11] leszko commented on #1721
Duplicate of #2293. Closing.

[2022-05-11 04:11] #1721 closed, assigned to nobody

[2022-05-11 04:17] leszko commented on #1724
@thomshutt Is it something you want to take into your teams' pipeline?

[2022-05-11 04:21] leszko commented on #2081
@ArcAster @yondonfu Do we still want to work on this since the migration to Arbitrum helped a lot when it comes to gas prices.

[2022-05-11 09:23] #2308 closed, assigned to thomshutt

[2022-05-11 14:45] 0xVires commented on #2118
I agree. Although at the moment we still have some gas prices spikes every month or so where it would be useful, the spikes will be less frequent and lower with Arbitrum and Ethereum improvements.

[2022-05-11 14:48] 0xVires commented on #2081
I never had any "out of gas" issues since the Arbitrum migration. Gas limit vs gas used is quite constant at around 88-89%, so it looks like the estimation has become better/easier

[2022-05-11 16:02] ecmulli commented on #2386
That should work. If you are going to tag the metric with the O's URI, you should see if they match up to the subgraph URI's. If the O reroutes the traffic we  might be capturing one that is different (and not very helpful).

For example, from the subgraph:
orch: 0xa408138c3c75c927b8614a24a39de02ffd71405f
serviceURI: https://zachroyit.com:8935

from the logs:
https://zachroyit.ddns.net:8935

this

[2022-05-11 20:05] yondonfu commented on #2386
Ah good point! I think tagging with the ETH address as well would address this as that should always be stable.

Suggested to also tag metrics with ETH address [here](https://github.com/livepeer/go-livepeer/issues/2371#issuecomment-1124243780).

[2022-05-11 20:12] yondonfu commented on #2371
Based on https://github.com/livepeer/go-livepeer/issues/2386 I think tagging these metrics with the O's ETH address as well would be helpful because:

- The ETH address is a stable identifier for the O
- While we can try to match the on-chain service URI (fetched from the subgraph) against the URI included in this tag, in certain cases these two values may not match because while the on-chain serv

[2022-05-11 20:24] yondonfu commented on #1757
Agreed that this is less important right now although we can certainly re-visit. Let's icebox for now.

[2022-05-11 20:31] yondonfu commented on #1724
An additional note - this may be further complicated if an additional capability is requested alongside transcoding i.e. running ML model inference on the decoded frames of the video.

[2022-05-11 20:34] yondonfu commented on #1982
TF dynamic linking in our ffmpeg fork was merged in https://github.com/livepeer/FFmpeg/pull/24 so I've updated the checklist in the OP.

I think this is still worth doing since we already have the requisite changes in ffmpeg merged in our fork assuming that we want to continue support TF models in the short term. Likely related to the work that @thomshutt and @cyberj0g are doing for https://github

[2022-05-11 20:38] yondonfu commented on #2081
I think it makes sense to icebox this for now and if it comes up again we can move it back to the backlog.

[2022-05-11 20:39] yondonfu commented on #2118
Agreed. I think it makes sense to icebox for now and revisit if the backlog clears up and/or if gas price spikes become more of a problem.

[2022-05-11 20:40] yondonfu commented on #1747
Going to close this for now due to inactivity, but if requests around nicehash/phoenixminer come up we can re-open.

[2022-05-11 20:40] #1747 closed, assigned to nobody

[2022-05-11 20:41] yondonfu commented on #1841
I think we can de-prioritize this for now and move to icebox and re-visit if needed.

[2022-05-12 06:53] stronk-dev opened #2398 "transcode err="Invalid argument" on 0.5.30"
**Describe the bug**
Bad streams coming in on nodes running on 0.5.30 only

**Desktop**
 - Arch Linux & Ubuntu 20
 - GTX 1070 TI & Quadro P2000

**Logs**
Combined O/T
[code]

Separate O+T
O
[code]
T
[code]

[2022-05-12 08:02] stronk-dev commented on #2398
So i kept one node on the old version, no errors, upgraded it on 07:17:25 UTC and not long after:
[code]

[2022-05-12 08:14] leszko commented on #2371
Yeah, it makes sense.

I just wonder, if we tag with ETH address, then what about off-chain Os? I think we'll also need metrics for off-chain Os. Then, probably the best option is to have two tags attached: serviceURI AND ethAddress.

Wdyt? @yondonfu @red-0ne

[2022-05-12 08:15] hjpotter92 commented on #1365
This is now complete. The docs will be updated soon to reflect this soon :tm:.

A new tap exists at `livepeer/tap`; with a formula as well as cask definition for go-livepeer installation.

[code]

[2022-05-12 10:01] stronk-dev commented on #2363
Issue is persisting on 0.5.30
[code]

[2022-05-12 10:13] #2317 closed, assigned to leszko

[2022-05-12 11:30] thomshutt opened #2400 "Q3 Network Video Candidates"
Placeholder epic for potential Q3 work items

[2022-05-12 11:33] thomshutt commented on #1724
@leszko I've added it for consideration as part of Q3 work, since it will need some high-level thought on the approach we take as well as (as @yondonfu mentioned) tying in with how we account for / compensate any non-transcode tasks

[2022-05-12 12:06] thomshutt commented on #1982
I've moved it to this quarter's epic for coming up with a plan to productionize Stream Detection - will discuss with @cyberj0g about whether it's something we want to / can do this quarter

[2022-05-12 12:50] red-0ne commented on #2371
I opt for tagging them both too. We could always filter with nullish values to get chainless Os

[2022-05-12 15:33] AlexKordic commented on #2398
This is happening with submitted portrait video 720x1280. Fails on `144p` encoding profile because output resolution is too small.

Another issue is portrait video is wrongly resized to 82x144 instead 144x256. Meaning landscape resize is applied to portrait video.

[2022-05-12 15:40] thomshutt commented on #2379
Hey @MikeIndiaAlpha I’m using ZenHub in GitHub, [click this link](https://app.zenhub.com/workspaces/livepeer-network-video-627ced0578b68c00114c2c43/board) to join my workspace and see other features available in GitHub or [download the ZenHub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [ZenHub](https://www.zenhub.com)_

[2022-05-16 16:54] adamsoffer opened #2403 "Explorer Overview Redesign"

[2022-05-16 16:55] adamsoffer opened #2404 "Explorer Overview Redesign"

[2022-05-16 16:56] adamsoffer opened #2405 "Explorer Overview Redesign"

[2022-05-16 16:56] #2405 closed, assigned to nobody

[2022-05-16 16:56] #2404 closed, assigned to nobody

[2022-05-16 16:56] #2403 closed, assigned to nobody

[2022-05-16 16:57] adamsoffer opened #2406 "Explorer Overview Redesign"

[2022-05-16 16:57] #2406 closed, assigned to nobody

[2022-05-17 08:32] leszko commented on #2270
There are 2 parts of this issue:
1. No teststream data if latency > 1s => fixed by https://github.com/livepeer/go-livepeer/pull/2392
2. Some orchestrators don't see any teststream data after L2 migration => I'm investigating it right now ([Discord discussion](https://discord.com/channels/423160867534929930/974603515873861725/976033620387049492))

[2022-05-17 14:15] yondonfu commented on #2386
@ecmulli

@red-0ne is going to implement ETH address tagging for metrics as mentioned in [this comment](https://github.com/livepeer/go-livepeer/issues/2386#issuecomment-1124238452) as a part of his PR for https://github.com/livepeer/go-livepeer/issues/2371. We'll close this issue once that work is complete.

[2022-05-17 14:20] yondonfu commented on #2370
Related to #2270

[2022-05-17 14:20] yondonfu commented on #2364
Closed by #2396

[2022-05-17 14:20] #2364 closed, assigned to nobody

[2022-05-17 14:27] ecmulli commented on #2386
Thanks!
On May 17, 2022, 9:15 AM -0500, Yondon Fu ***@***.***>, wrote:

[2022-05-17 16:37] monitor-ap commented on #2017
Hi folks…wanted to take a quick moment to say hello and introduction. We are a small group of technology enthusiasts determined to see Web3 run its course to mainstream.  In recent weeks we have worked through the process of configuring/deploying an orchestrator on the LivePeer network.

Our goal is to provide infrastructure/technology to blockchain projects like LivePeer and others to change the

[2022-05-18 08:09] leszko commented on #2335
Fixed in https://github.com/livepeer/lpms/issues/311

[2022-05-18 08:09] #2335 closed, assigned to nobody

[2022-05-19 08:30] Nondzu opened #2412 "Missing test stream, but Orchestrator receive normal work"
**Describe the bug**
No test streams is sent to my Orchestrator. Consequently, it maintains the last place on the Performance Leaderboard. My O and T are active and working fine and receiving the normal stream for transcoding.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://interptr-latest-test-streams.vercel.app/?address=0x6c06d3246fbb77c4ad75480e03d2a0a8eaf68121](url)
2. See

[2022-05-19 08:55] leszko commented on #2412
Related to #2370

FYI: I already know what's the issue. I'll send a PR with the fix probably today, so you can expect to get it working somewhen next week.

[2022-05-19 14:18] afmsavage opened #2414 "Critical vulnerability in 0.5.30 release for go-ethereum package"
**Describe the bug**
A clear and concise description of what the bug is.
The go-ethereum package version being used across `go-livepeer` has critical vulnerabilities in it.  It fails OSV scanning in multiple places.  The one critical vulnerability is this one from the `0.5.30` release.  This probably doesn't affect the go-livepeer code, but I wanted to document this to get attention to any vulnera

[2022-05-19 15:18] #2336 closed, assigned to oscar-davids

[2022-05-19 16:52] thomshutt opened #2415 "Return HTTP headers with Orchestrator information"
This is for debugging purposes - it should be possible to stream an HLS manifest and segments and then view the HTTP response headers for a given segment and see some information about how it was generated.

Suggestions for initial headers:

1. LP-SHA - Git SHA the binary was built with (https://blog.alexellis.io/inject-build-time-vars-golang/)
2. LP-ORCH - Some sort of identified for the Orchestr

[2022-05-19 22:58] #2072 closed, assigned to victorges

[2022-05-20 04:20] #2371 closed, assigned to red-0ne

[2022-05-20 08:12] #2318 closed, assigned to leszko

[2022-05-20 10:06] leszko commented on #2331
After doing some research I believe we should not use Cucumber. Here are the reasons why:
1. Golang uses the [Godog](https://github.com/cucumber/godog) library to integrate with Cucumber
   - Godog does not integrate with `go test`, so it's necessary to use the dedicated cmd `godog` to run tests
   - Godog does not distribute the `godog` cmd binary for M1
   - Godog cmd does not integrate well wit

[2022-05-20 10:06] #2331 closed, assigned to leszko

[2022-05-20 10:30] #2315 closed, assigned to RiccardoBiosas

[2022-05-23 08:19] #2270 closed, assigned to leszko

[2022-05-23 08:19] #2370 closed, assigned to leszko

[2022-05-23 08:19] #2412 closed, assigned to leszko

[2022-05-23 08:41] leszko commented on #2412
The issue is already fixed, I will roll this change out to Stream Tester production environment in the next days. So, you should expect to see the correct Stream Test results by the end of this week.

[2022-05-23 08:42] leszko commented on #2370
The issue is already fixed, I will roll this change out to Stream Tester production environment in the next days. So, you should expect to see the correct Stream Test results by the end of this week.

[2022-05-23 08:42] leszko commented on #2270
The issue is already fixed, I will roll this change out to Stream Tester production environment in the next days. So, you should expect to see the correct Stream Test results by the end of this week.

[2022-05-23 10:20] leszko opened #2420 "E2E Test scenario: Delegate stake"
Create an [E2E Test](https://github.com/livepeer/go-livepeer/issues/2297) which covers the following scenario:
1. Start and register O1
2. Using a different ETH account, delegate stake
3. Wait for the next round and proceed with transcoding by the Orchestrator
4. Call reward
5. Check that LPT stake has increased and that ETH account received fees
6. Call withdraw stake and withdraw fees
7. Check a

[2022-05-23 10:24] leszko opened #2421 "E2E Test scenario: Configure Orchestrator"
Create an [E2E Test](https://github.com/livepeer/go-livepeer/issues/2297) which covers the following scenario:
1. Start and register Orchestrator
2. Set new Orchestrator config (change some parameters, e.g. reward cut or/and service URI)
3. Check that the config is updated on-chain
4. Unregister Orchestrator
5. Check that the orchestrator is unregistered and that stake is back in the ETH account

[2022-05-23 10:25] leszko opened #2422 "E2E Test scenario: Deposit and withdraw funds from Broadcaster"
Create an [E2E Test](https://github.com/livepeer/go-livepeer/issues/2297) which covers the following scenario:
1. Start Broadcaster
2. Deposit fund/reserve
3. Withdraw fund/reserve
4. Check that ETH is back in the account

Related GH Issues:
- #2319
- #2420
- #2421

[2022-05-23 17:07] #2293 closed, assigned to emranemran

[2022-05-24 14:05] #2138 closed, assigned to leszko

[2022-05-24 16:30] RiccardoBiosas commented on #2316
**Related PR**
https://github.com/livepeer/docker-livepeer/pull/94
https://github.com/livepeer/go-livepeer/pull/2433

[2022-05-26 09:12] #2316 closed, assigned to RiccardoBiosas

[2022-05-26 13:50] leszko commented on #2270
FYI: All changes are already in prod, so you should receive the correct test streams right now!

[2022-05-26 13:50] leszko commented on #2370
FYI: All changes are already in prod, so you should receive the correct test streams right now!

[2022-05-26 13:50] leszko commented on #2412
FYI: All changes are already in prod, so you should receive the correct test streams right now!

[2022-05-26 14:51] xbenderCH commented on #2370
It looks good on my side. Thank you very much for your effort to fix this.

[2022-05-26 16:23] #2327 closed, assigned to red-0ne

[2022-05-27 08:37] Nondzu commented on #2412
@leszko many thanks problem solved. I see test streams statistic now 👍

[2022-05-27 11:44] AlexKordic commented on #480
@hthillman closing this issue as outdated

[2022-05-27 11:44] #480 closed, assigned to nobody

[2022-05-30 10:16] thomshutt commented on #1333
@emranemran This is similar to the work you're doing for https://github.com/livepeer/go-livepeer/issues/2415, just with outputting the hash on startup

[2022-05-30 16:25] yondonfu commented on #2414
@afmsavage Thanks for the report!

I believe this particular dependency has been updated in https://github.com/livepeer/go-livepeer/pull/2430. @leszko can you confirm if this issue can be closed?

[2022-05-31 08:14] leszko opened #2441 "Add vulnerability scanner to GH Actions"
We should add a vulnerability scanner to our GH Actions and fail the build in case of any `CRITICAL` (or even `HIGH`) vulnerabilities detected.

Here's how to scan `go-livepeer` locally (execute in the `go-liveepeer` directory).
[code]

These are the currently detected vulnerabilities.
[code]

[2022-05-31 08:14] leszko commented on #2414
Yes, this is fixed. I've run the scanner and there are no `CRITICAL` vulnerabilities at the moment.

Saying that, I've opened a separate GH Issue to add vulnerabilities scanner to our GH Actions + maybe fix all `HIGH` vulnerabilities.

https://github.com/livepeer/go-livepeer/issues/2441

[2022-05-31 08:14] #2414 closed, assigned to leszko

[2022-05-31 12:13] hjpotter92 commented on #2441
It feels like this is quite similar to github's dependabot? <https://docs.github.com/en/code-security/dependabot/dependabot-alerts/about-dependabot-alerts>

[2022-05-31 12:55] leszko commented on #2441
You're right. And since we already have it in place, I'm closing this issue. Thanks @hjpotter92

[2022-05-31 12:55] #2441 closed, assigned to nobody

[2022-05-31 13:54] thomshutt commented on #1451
Hey @criticaltv, thanks for submitting this issue and sorry that it's taken us so long to get to it.

Since the aim of the default profile set is to provide for the majority use case, I think that 144p is probably too low to be useful; people operating in bandwidth-constrained environments etc. can still choose to use it as part of a custom profile set, so I'm going to close this issue.

[2022-05-31 13:54] #1451 closed, assigned to nobody

[2022-05-31 13:57] thomshutt commented on #203
Going to close this, since it's gone for so long without being picked up and we now support some of the discussed things (config file) via the `flag` package

[2022-05-31 13:57] #203 closed, assigned to nobody

[2022-05-31 13:58] thomshutt commented on #222
Going to close this for now, we can revisit as part of design work around moderation as/when that's prioritised in the future

[2022-05-31 13:58] #222 closed, assigned to nobody

[2022-05-31 14:02] #710 closed, assigned to angyangie

[2022-05-31 14:41] #2320 closed, assigned to leszko

[2022-05-31 16:27] #1352 closed, assigned to hjpotter92

[2022-05-31 20:18] #2339 closed, assigned to red-0ne

[2022-06-03 21:12] emranemran commented on #2186
I assumed the warning: "ERROR: logging before flag.Parse" is what we need to suppress here. The linked PR fixed this. I wasn't able to reproduce the "Error getting status:json" error.

[2022-06-04 04:00] #2287 closed, assigned to emranemran

[2022-06-06 10:48] cyberj0g commented on #2034
It's a good idea to have per-device session limits, `-maxSessions` attribute could be reused for that. It also feels like this feature would be most useful, when paired with ability to switch load balancing strategy from 'select least loaded device' to 'select devices in the order they are specified, unless at capacity' e.g.
[code]

The downside is that one needs to know how many sessions each dev

[2022-06-06 11:36] cyberj0g opened #2446 "Capability-based job routing on T"
**Is your feature request related to a problem? Please describe.**
T node runs capability test on startup for each device. Currently, it does so on 'all-or-nothing' principle e.g. if 4 GPUs support H.265, and 5ths GPU does not - this T will not receive H.265 jobs.

**Describe the solution you'd like**
* Capability test should create a list of capabilities per-device
* Capabilities and capacities o

[2022-06-06 11:37] cyberj0g commented on #1724
Related: #2446

[2022-06-06 14:42] papabear99 commented on #2034
Sounds great!

[2022-06-07 09:50] thomshutt commented on #2446
Added to the list of features to evaluate for Q3

[2022-06-07 09:50] thomshutt commented on #2034
Thanks @cyberj0g and @papabear99, added to the list of features to evaluate for Q3

[2022-06-07 16:17] papabear99 commented on #2446
If this option is used, I want to be sure it's only run on initial startup and results are kept for future starts.

Titan Node does a capacity test running the 'livepeer_bench' with his pool software and it can take over an hour to complete on machines with multiple GPUs.

Titan's method of testing using the 'livepeer_bench' could be sped up if instead of starting with 1 session increasing by 1 se

[2022-06-07 17:42] cyberj0g commented on #2446
Good point @papabear99. If we'll implement capacity test, we'll be using shorter segments and something like binary search over number of sessions, I think it may take less than a minute to run.

[2022-06-07 22:50] iameli opened #2450 "running `-nvidia=0` with `-testTranscoder=false` results in an O with no capabilities"
Once upon a time you had to run `-testTranscoder` false if you were going to use Nvidia transcoding on Windows. That appears to have been fixed, hooray!

But I did it anyway:

[code]

and it results in a completely useless O: it reports that it has zero capabilities to do anything whatsoever; Bs will always pass it over during the discovery process. No obvious reason for such a thing to be running

[2022-06-08 03:11] Titan-Node commented on #2446
This is actually a good idea. I might implement a faster benchmarking process for the pool software.

And this is also a great idea, I didn't even think about using less segments for each session limit in the benchmark.

This is great stuff!

[2022-06-08 03:17] Titan-Node commented on #1935
Can we please implement this?

This would fix a massive pool problem I am running into.

Transcoders come and go every day and I do not have the ability to adjust the `-maxSessions` limit on my Os. They are arbitrarily set to 2,000 just so I don't have to shut down the nodes when large amounts of work/Transcoders join.

[2022-06-08 03:29] Titan-Node commented on #2034
This is a great idea! Running a bench per GPU is already what most people do to compare performance of each GPU anyway.

[2022-06-08 06:01] leszko commented on #2450
Good point @iameli I think we can remove this flag.

[2022-06-08 20:42] Pon-node opened #2452 "Password issue connecting remote T to O"
**Describe the bug**
I was not able to connect remote transcoder to my orchestrator due to -orchSecret having the ? symbol

**To Reproduce**
Steps to reproduce the behavior:
1. Add the ? At -orchSecret orchsecret?
**Expected behavior**
Remote transcoder will not connect to orchestrator

[2022-06-09 21:27] papabear99 opened #2455 "Capability check failed / incompatible capabilities"
**Describe the bug**

I received the following error on a split O/T setup that didn't have a T connected at the time.  I figured the cause was due to not having a T available.  Since then other at least one other O has reported this error caused their T to crash. https://discord.com/channels/423160867534929930/429350403272998913/984564938536275979.  I can understand if a T isn't available receivin

[2022-06-10 19:02] thomshutt commented on #2257
Closing as fixed by https://github.com/livepeer/go-livepeer/pull/2456

[2022-06-10 19:02] #2257 closed, assigned to thomshutt

[2022-06-13 08:29] thomshutt commented on #1362
This is now fixed

[2022-06-13 08:29] #1362 closed, assigned to thomshutt

[2022-06-13 08:51] thomshutt opened #2457 "Review & Deprecate go-livepeer Flags"
**Describe the bug**
There was recently confusion around using `-objectStore`, when `-recordObjectStore` was actually what was wanted. We should review whether there are other similar flags that can be deprecated / removed.

**Expected behavior**
Only flags that are actively used / useful are present in go-livepeer.

[2022-06-13 08:54] thomshutt commented on #2457
https://github.com/livepeer/go-livepeer/issues/2450 is another candidate

[2022-06-13 11:36] AlexKordic commented on #2455
Couldn't reproduce the crash

[2022-06-13 16:42] Franck-UltimaRatio opened #2459 "Stand alone T with version <5.32 Crashing with nodes with 5.32 version (happen also with T running 0.5.32 but less often)"
After upgraded our nodes with 5.32, the T who still running with 5.31 version crashed with this error (from mikezupper's log cause did not save my own log)

After restarted this standalone Ts with version 5.32, no more crash happened.

All Orch and T running under Linux Ubuntu

I0613 13:42:31.599276       1 player.go:105] LPMS got HTTP request @ /stream/20e360fa/2.tempfile
E0613 13:42:32.262842

[2022-06-13 20:57] emranemran opened #2461 "Return HTTP headers with Orchestrator information"
This is a follow-up to \#2415 - that ticket only added the B's git hash. Use this ticket to implement the original ideas for the O:

This is for debugging purposes - it should be possible to stream an HLS manifest and segments and then view the HTTP response headers for a given segment and see some information about how it was generated.

Suggestions for initial headers:

LP-SHA - Git SHA the bina

[2022-06-13 20:59] emranemran commented on #2415
A follow up ticket \#2461 will be used to add debug info for the O. This ticket only adds the git-sha for the B to the HTTP response headers when playing back HLS streams in the browser.

[2022-06-14 00:51] AuthorityNull commented on #2459
I experienced this as well. Same versions.

[2022-06-14 06:36] leszko commented on #2459
@thomshutt @yondonfu Were there any changes in the O<>T protocol between the versions `0.5.31` and `0.5.32`?

[2022-06-14 09:53] thomshutt commented on #2459
I think https://github.com/livepeer/go-livepeer/pull/2431/files is the only potential culprit, should be functionally a no-op but might've changed the protocol 👀

[2022-06-14 13:20] mikezupper commented on #2459
Just to be clear the O was running 0.5.32 and the T was running 0.5.29

[2022-06-14 13:29] Franck-UltimaRatio commented on #2459
in our case, the T running 0.5.31. Have to check but it s possible that this bug appears also with T in 0.5.32 but not often. ll try to catch some log if it happen again

[2022-06-14 19:00] Franck-UltimaRatio commented on #2459
can confirm it s happen also with O and T both in version 0.5.32.
On O :
E0614 14:27:20.317594 3913486 orchestrator.go:726] manifestID=6f5d5d3f-55f9-41de-8cd8-65b1a3b4215c seqNo=0 orchSessionID=7cab6f1b clientIP=89.187.177.134 sender=0xc3c7c4C8f7061B7d6A72766Eee5359fE4F36e61E Fatal error with remote transcoder=185.105.7.247:57234 taskId=50282 fname=https://185.105.7.247:8935/stream/7cab6f1b/0.temp

[2022-06-15 05:57] Franck-UltimaRatio commented on #2459
happen again :
[NULL @ 0x7fdbc000b180] missing picture in access unit with size 564309
I0615 01:20:39.733956 3960636 ot_rpc.go:142] Transcoding taskId=2199 url=https://185.105.7.247:8936/stream/d2b37b2a/29.tempfile
[NULL @ 0x7fdbc000b180] missing picture in access unit with size 776585
ERROR: transcoder.c:237] Could not decode; No keyframes in input : Error number -1179340361 occurred
E0615 01:20:

[2022-06-15 10:42] thomshutt opened #2464 "Graceful shutdown for Orchestrators"
**Is your feature request related to a problem? Please describe.**
Orchestrators can't currently shut down without breaking active sessions

**Describe the solution you'd like**
CLI option to tell an O to stop accepting new sessions and to shut itself down cleanly when current sessions have finished

**Describe alternatives you've considered**
Ideally this will happen automatically as part of a br

[2022-06-16 11:19] thomshutt commented on #2459
Thanks @Cianha, the `Invalid detection data` log line is related to our scene detection capabilities which should be disabled by default. I'm going to dig into the code and try to understand how that could be happening.

[2022-06-16 11:43] 0xVires commented on #2459
Also experiencing frequent crashes after updating to 5.32 (from 5.29). Running both O and T on 5.32 and got 3 crashes within ~20h so far... (curiously all on my US nodes running 1080ti, none on my 1080 so far). Below is the log of the latest crash.

ORCHESTRATOR:
[code]

TRANSCODER
[code]

TRANSCODER 2
[code]

[2022-06-17 08:45] 0xVires commented on #2459
One of my Ts got stuck on 5.32 (only rolled back to 5.31 on US). No errors on the T, but on the O I've noticed the same `Could not parse detection data unexpected end of JSON input` followed by `Remote transcoder took too long` a few lines later as in the other cases.
This was on a 1080 btw.

[2022-06-17 08:57] Franck-UltimaRatio commented on #2459
i don't know if it s because of the 1080 or US ingest point but error happen also only on US nodes (1080TI) and not on EU nodes (1070/1070TI). We updated all nodes with the fix and ll see if crash happen again

[2022-06-17 12:03] thomshutt commented on #2459
This was auto-closed, but I'm reopening until we confirm the fix

[2022-06-17 12:04] thomshutt commented on #2459
@Cianha Do you mean you're testing with the fix in https://github.com/livepeer/go-livepeer/pull/2465? If so then definitely let us know how it goes!

[2022-06-17 12:12] Franck-UltimaRatio commented on #2459
Yes all our nodes are updated with the fix you provided. I ll let you know asap if crash happen, or in 24 h if all is fine ;)

[2022-06-18 07:01] Franck-UltimaRatio commented on #2459
no more crash with the fix ! thanks Thomshutt :)

[2022-06-20 12:50] thomshutt commented on #2459
Awesome, really appreciate the testing @Cianha

[2022-06-20 12:50] #2459 closed, assigned to thomshutt

[2022-06-20 20:30] Titan-Node opened #2468 "Add log to show minimum broadcaster reserve on start up"
**Issue:**
New broadcasters often ask what the minimum `Broadcaster Reserve` and `Broadcaster Deposit` are required to start transcoding.
This information non existent or hard to find.

**Proposed change:**
Add a log on `-broadcaster` start up to show the current minimum Reserve and Deposit to start transcoding.

Current Log:
[code]

Suggested change:
[code]

[2022-06-20 20:43] Titan-Node commented on #2468
I am unsure when the reserve calculation is done. Maybe it is better placed in the Broadcaster Cli

Current Log:
[code]

Suggested Change:
[code]

[2022-06-22 09:38] #1333 closed, assigned to emranemran

[2022-06-23 03:15] papabear99 commented on #2464
I'd like the ability to gracefully shut down a T on a split O/T setup too.

Today I wanted to update the OS on 2 transcoders connected to my LAX O both of which have had sessions all day.  If I could have gracefully shut one down, updated the OS, then reconnected it, and done the same with the other afterward, I wouldn't be sitting here thinking should I break the sessions on one the Ts or wait un

[2022-06-23 11:35] #2421 closed, assigned to red-0ne

[2022-06-24 00:04] ad-astra-video opened #2473 "Streams drop using low face value"
**Describe the bug**
Streams can drop due to face value of ticket being low using the `maxFaceValue` flag.  This only happens when gas prices spike.

This has to do with the code in `recipient.go` below where it uses 200 gwei as the `avgGasPrice` to check if ticket `faceValue` is less than current txCost or txCost with `avgGasPrice`.

https://github.com/livepeer/go-livepeer/blob/00a3e6d81edaf76bca

[2022-06-24 08:06] leszko commented on #2473
I think, in the long run, I'd would be good to use the "real" avg gas price instead of the hardcoded `200 gwei`. However, as a quick fix, I think we could increase this value to `350 gwei`. (and maybe rename this variable `avgGasPrice` => `maxAvgGasPrice`). Wdyt @yondonfu

[2022-06-24 13:43] ad-astra-video commented on #2473
@leszko My last ticket redemption was https://arbiscan.io/tx/0xac6983f010081dc7c516001f0f753e1f993300991565434e489fe6d7d091850e

Paid 0.586694294 Gwei.

My screenshot is off above i see now.  Gas Price (WEI) should be Gas Price (GWEI)

[2022-06-27 18:06] iameli opened #2476 "transmuxing MP4 recording output is broken"
**Describe the bug**
Production of MP4 files from recordings is broken.

**To Reproduce**
Steps to reproduce the behavior:
0. Check out a branch that includes fixes for object-store-without-API functionality: https://github.com/livepeer/go-livepeer/pull/2477
1. Run go-livepeer with ` livepeer -broadcaster -recordStore s3+https://GOOGAMT7AUXJ2SXGAGRI4NQI:[redacted-but-i-can-give-you-it]@storage.goo

[2022-06-27 18:06] gioelecerati commented on #2476
https://github.com/acaudwell/Gource/issues/216
https://github.com/songs18/m3u8_To_MP4/issues/10

[2022-06-28 09:45] leszko commented on #1959
I had a quick look at this issue and here are a few thoughts:

1. From the UX perspective, I think we should allow having multiple ETH URLs in the `-ethUrl` parameter, e.g. `-ethUrl https://url-1,https://url-2`
2. I looked at the code and I'd estimate the work to ~5 days
3. I did a small PoC [here](https://github.com/leszko/go-livepeer/tree/rafal/ethurl-fallback), which introduces the failover for

[2022-06-28 13:44] AuthorityNull commented on #1959
There’s still a lot of need for this so it’s good to know there’s still hope!

[2022-06-28 19:01] AuthorityNull commented on #2473
This happened today as well to multiple orchestrators on different versions of Livepeer. Gas spike and most of us lost all streams. I was on 5.29.

[2022-06-28 19:02] Franck-UltimaRatio commented on #2473
I have been impacted without maxfacevalue set (linux, livepeer/0.5.32-0216d992). all streams down during a high gas spike.

[2022-06-28 19:08] papabear99 commented on #2473
This appeared to hit all Os today. The exception was  ftk who was using `maxFaceValue` and had his streams spike while everyone else was reporting 0 sessions.  See discussion on Discord https://discord.com/channels/423160867534929930/932724294230900776/991399669609549895

[2022-06-29 05:32] #2476 closed, assigned to thomshutt

[2022-06-29 08:25] stronk-dev opened #2480 "Make it easier to keep nodes synced on block info"
**Is your feature request related to a problem? Please describe.**
Lately I have been having issues with nodes not updating block info (usually Singapore, sometimes other locations). The orchestrator service stays available, so automatic health checks won't pick up on these issues. This means that I have to randomly restart my nodes in order to backfill block events which is a PITA

**Describe the

[2022-06-29 11:40] leszko commented on #2473
The Arbitrum gas prices still seem to be really high. Today in https://cointool.app/gasPrice/arb, I see between `106-213 GWEI`.

The root cause of dropping streams is the combination of two factors:
- too high `avgGasPrice`
- too low B's deposit

Under the default conditions, face value equals to the B reserve allocation [1]. Then, we compare if face value isn't lower than estimated tx cost (calcu

[2022-06-29 12:55] leszko commented on #2480
Related to https://github.com/livepeer/go-livepeer/issues/1959

I think we should implement the failover RPC endpoints.

[2022-06-29 13:08] leszko commented on #2473
I observed the Arbitrum Gas Price for last 5h and here are the spikes.
<img width="729" alt="image" src="https://user-images.githubusercontent.com/2834997/176443787-c7960624-b0bd-4569-b3e9-880342a495b5.png">

You can see spikes up to almost `230`.

[2022-06-29 13:42] ad-astra-video commented on #2473
These gas prices are not historically what we have paid for transactions.

Also the gas limit has reduced substantially on the last two winning ticket
transactions to around 55,000 to 60,000 compared to the 1,200,000 the
calculation in recipient.go uses. Not sure if this is permanent or just a temporary change on the gas limits for these transactions.

[2022-06-30 08:20] red-0ne commented on #1804
Tested with a devtool setup
[code]
[code]
[code]

Updating `price per pixel` only with option 13, does not yield any error.
It does out put this

[code]

Even though no transaction was sent (as expected)

[2022-06-30 08:20] #1804 closed, assigned to red-0ne

[2022-06-30 08:26] leszko opened #2483 "Investigate L2 Redeem Ticket Gas Consumption"
Currently we assume that redeeming a ticket always consumes a [constant and hardcoded gas amount](https://github.com/livepeer/go-livepeer/blob/d45fc4e5d9a932ecbb3c4b2bc7edadef8c6a35aa/cmd/livepeer/starter/starter.go#L49) of `1200000`.

According to what Vires [posted in Discord](https://discord.com/channels/423160867534929930/932724294230900776/991805247783706705), the gas consumption is not const

[2022-06-30 12:33] yondonfu commented on #2483
Adding some clarification here:

The hardcoded gas amount (both on L1 and L2) is used to estimate the tx cost of redeeming a ticket *before* valid winning ticket is actually received. If O has has access to a winning ticket already, then the node can just run gas estimation for the winning ticket redemption tx (under the hood this uses the `eth_estimateGas` RPC call) in order to calculate a mostly

[2022-06-30 14:23] AuthorityNull opened #2484 ""GeoDNS" without 3rd party centralized providers"
**Is your feature request related to a problem? Please describe.**
A lot of Orchestrators use 3rd part providers like AWS and Cloudflare to route streams to transcoders with the lowest latency.

**Describe the solution you'd like**
Ideally, we should not be relying on providers like Amazon to support our infrastructure.
A discussion in the discord opened up about how it may be possible to register

[2022-06-30 15:45] papabear99 opened #2485 "Broadcast fails after a few segments when using -orchAddr domain.com"
I was running a test stream this morning with a potential client to use my O for 24/7 streaming and the Broadcast was failings after a few segments leaving the B in an unusable stuck state.  I had him try using the IP address of one of my nodes and then it worked.

Steps to reproduce the behavior:

Start Broadcaster with the following:
.\livepeer -broadcaster -network arbitrum-one-mainnet -ethUrl

[2022-06-30 16:50] 0xcadams commented on #1959
https://docs.ethers.io/v5/api/providers/#providers-getDefaultProvider
This could be a good inspiration for the application-level fallbacks which exist in ethers - the "quorum" may be overkill, but it's easily configurable with Infura IDs and a lot of sane defaults.

https://github.com/ethers-io/ethers.js/blob/master/packages/providers/src.ts/infura-provider.ts

[2022-06-30 16:59] papabear99 opened #2486 "Add ability to have multiple prices for different Broadcasters"
**Is your feature request related to a problem? Please describe.**
Having the ability to set price based on Broadcaster will allow Orchestrators to negotiate discounted pricing for Broadcasters that commit to a guaranteed amount of work.  Currently if an O sets their `-pricePerUnit` it applies to all Broadcasters.

**Describe the solution you'd like**
The ability to specify `-pricePerUnit` to a wh

[2022-07-04 14:16] leszko commented on #2480
I dug a little into the issue and I think it's related to how the current block polling mechanism works. Livepeer polls every block from the chain to update its internal caches. Arbitrum mines a lot of blocks in a short period of time. So if your block polling interval is long, e.g., `60s`, then it needs to poll ~60-100 blocks one by one. What's worse, if the RPC endpoint is unreachable for some t

[2022-07-05 09:24] red-0ne commented on #2483
Here is a [google sheet](https://docs.google.com/spreadsheets/d/15p1cHuBTX5Vfj5THlLByuQeGEKOcjSwhzDEtbw4FpOQ/edit?usp=sharing) listing ticket redemption from 2/15/2022 until 7/2/2022.

The first histogram counts txs by gas used while the others shows redemption gas usage over time. The last one zooms into the 6/28-29/2022 date range.

Min gas used: 30339 (these low usage seem to be special cases)

[2022-07-05 13:53] leszko commented on #2483
Thanks for the data @red-0ne . Looking at the data, it seems that the gas amount is more or less stable (and correct with what we have hardcoded). The only exception is when there are gas price spikes. I think we can leave it as it is for now and reopen the topics if there are more gas price spikes in the future.

[2022-07-06 11:16] leszko commented on #2235
Design doc: https://www.notion.so/livepeer/Decrease-ETH-RPC-requests-16bda86cdd504dddaf5a46eb36937e86

[2022-07-06 11:17] leszko commented on #2298
Related design doc: https://www.notion.so/livepeer/Decrease-ETH-RPC-requests-16bda86cdd504dddaf5a46eb36937e86

[2022-07-06 21:17] yondonfu commented on #2483
@leszko Sounds reasonable. @red-0ne please close this if you believe it is done.

[2022-07-07 07:24] #2483 closed, assigned to red-0ne

[2022-07-07 17:08] cyberj0g commented on #2485
I've been doing endurance test locally with streamtester for almost 10 hours:
[code]
And so far didn't encounter any abnormal behavior of B. One idea is that it may be related to O capacity, if new streams are appearing too quickly, there's a chance (in case of limited number of Os) to run out of sessions, despite number of parallel streams never exceeding capacity, because when stream stops, ther

[2022-07-07 18:21] papabear99 commented on #2485
Are you using a domain name for the `-orchAddr`?  It works fine when we use an IP address but using a domain name is when we see the issue.

I don't think it's a stream capacity issue.  When we were testing, we had the issue when we only sent 1 session to an O with no other work at the time.

[2022-07-08 14:49] cyberj0g commented on #2485
Hmm, after further investigation, I think it's a race condition [here](https://github.com/livepeer/go-livepeer/blob/cb97d577de35c1737a35951b6b55064dbb87a930/server/broadcast.go#L224). Domain name or IP doesn't matter, it just affects latency so that error appears. The issue seem to occur when segment transcoding finishes very quickly. I'm on it and, hopefully, will have a fix soon.

[2022-07-09 14:57] mikezupper opened #2491 "Use of math/rand GO API in selection.go"
**Describe the bug**

After reviewing the selection.go logic. Line #6 imports the [math/rand](https://pkg.go.dev/math/rand) function. As documented _"pseudo-random number generators unsuitable for security-sensitive work."_

Is the use of this package a cause for concern? The API clearly states its behavior is deterministic. The session selection criteria (IMHO) should NOT be deterministic. Can th

[2022-07-11 10:23] #2480 closed, assigned to leszko

[2022-07-11 12:23] yondonfu commented on #2386
Looks like this was implemented in #2382.

@ecmulli feel free to reach out to @red-0ne if you have any questions on how to filter the latency + # segments transcoded metrics using an ETH address. If there are any additional issues feel free to re-open.

[2022-07-11 12:23] #2386 closed, assigned to nobody

[2022-07-11 12:29] yondonfu commented on #2211
Closing because it doesn't seem like the issue was reproducible. Feel free to re-open if this issue re-emerges.

[2022-07-11 12:29] #2211 closed, assigned to AlexKordic, cyberj0g

[2022-07-11 13:05] thomshutt opened #2495 "VOD / Recording - Upload Incoming Segments + VOD source files"
High-Level VOD / Recording Design document: https://www.notion.so/livepeer/Design-Make-VOD-Recording-pipelines-consolidated-reliable-87fca8f2407b42bb864a7a03ec7a93b0

Uploader Technical Design: https://www.notion.so/livepeer/Technical-Design-Upload-of-recorded-segments-fce1aa6fa94e458dba0a574e58d44bca

This epic covers uploading incoming Livestream segments to Google Cloud S3 and / or IPFS. It als

[2022-07-11 14:13] thomshutt opened #2496 "Create dms-uploader project"
* Create a new golang project
* Create a dummy CLI - e.g print "OK" when invoked with a certain flag
* Create an integration test for this CLI
* Set up Github Actions to build the project and run this test

[2022-07-11 14:20] thomshutt opened #2497 "dms-uploader: Return information about supported URLs to Mist via -j CLI flag"
Documented here: https://www.notion.so/livepeer/Technical-Design-Upload-of-recorded-segments-fce1aa6fa94e458dba0a574e58d44bca#c0ff6794506d4db79d8cf679839ea097

Will need some experimentation with current Mist binaries to see what they're returning

This task should also include documenting this flag and the general "plugin" architecture in the Mist documentation.

[2022-07-11 14:57] #2473 closed, assigned to leszko

[2022-07-13 17:28] cyberj0g commented on #2485
Turns out domain name does matter after all, but in an indirect way, with issue occurring on a localhost as well. Fix is ready. Workaround for current version: specify **precisely** the same `-orchAddr` on B and `-serviceAddr` on O. 127.0.0.1 won't work with localhost. For above, this would require adding `-orchAddr solarfarm.multiorch.com` argument on B and `-serviceAddr solarfarm.multiorch.com`

[2022-07-13 19:51] chrishobcroft opened #2501 "Research Project / Concept / Hack Project: Benefits of being on EVM / "auto-archiving livestreaming server""
## Abstract

The project serves as a research project, seeking to understand the tangible synergies available between protocols / projects / infrastructure components, running (ultimately) on Ethereum as their base layer.

Much has been made of the benefits of co-locating contracts (i.e. the root logic, the core axioms, the DNA) of a protocol, on a single paradigm of blockchain network (e.g. EVM),

[2022-07-14 00:02] ad-astra-video commented on #2363
Just got another one:

[code]

[2022-07-14 06:43] stronk-dev opened #2502 "P3 - ZeroSegment errors still occuring on 0.5.32"
single IDR frame as input causing ZeroSegments error Why? We see a few ZeroSegments errors, but we usually recover so not high priority right now.

If you need a live feed of these errors happening, go to https://grafana.stronk.tech/d/71b6OZ0Gz/orchestrator-overview and open the error logs panel.

Leiden (0.5.32-674a9048)
[code]

Chicago (0.5.32)

[code]

[2022-07-14 08:24] cyberj0g commented on #2398
@AlexKordic I believe [the fix](https://github.com/livepeer/lpms/pull/326) is merged, can we close this issue, or there are other points to address?