[2022-07-14 08:31] stronk-dev commented on #2398
Can also add that I can't remember seeing this error for a while now

[2022-07-14 08:37] cyberj0g opened #2503 "Add monitoring metrics for content detection"
Part of https://github.com/livepeer/go-livepeer/issues/2394

[2022-07-14 10:14] MikeIndiaAlpha commented on #2363
Looked over the problem and:
- This happens when we feed the video stream packet into decoder
- `cuvidParseVideoData` suggests that this is a _parsing_ problem, meaning that something is wrong with the bitstream or parsing code
- Now, h.264 is around for almost 20 years, and while there were later additions (FRext or Fidelity Range Extensions on 07' for example), this code should be mature and I d

[2022-07-14 12:37] thomshutt commented on #2501
cc @hthillman / @pglowacky since this overlaps a lot with the design work we're doing around Recording / VOD

[2022-07-14 13:13] thomshutt opened #2504 "dms-uploader: Add S3 upload functionality"
Design document: https://www.notion.so/livepeer/Technical-Design-Upload-of-recorded-segments-fce1aa6fa94e458dba0a574e58d44bca

This ticket covers:

* Accepting whatever params are necessary (credentials, upload URL) as CLI arguments
* Uploading the file to S3
* Retry logic for upload failures
* Returning success response as JSON to stdout
* Returning failures as JSON to stderr

[2022-07-14 13:21] thomshutt opened #2505 "dms-uploader: Add IPFS upload functionality"
Design document: https://www.notion.so/livepeer/Technical-Design-Upload-of-recorded-segments-fce1aa6fa94e458dba0a574e58d44bca

This ticket covers:

* Accepting whatever params are necessary as CLI arguments
* Uploading the file to IPFS via web3.storage gateway
* Retry logic for upload failures
* Returning success response (including CID) as JSON to stdout
* Returning failures as JSON to stderr

[2022-07-14 13:51] thomshutt opened #2506 "Configure Catalyst to use catalyst-uploader by default"
Design: https://www.notion.so/livepeer/Catalyst-Q3-2022-4dc6314de43f4a3ab916b5f0923b7f45

This task encapsulates including build / bundling of the dms-uploader project as part of the Catalyst build and then whatever config is required to make sure Mist uses it to upload all incoming segments

[2022-07-14 15:13] Franck-UltimaRatio commented on #2502
got tons of them too on 0.5.32, linux T & O split.

[2022-07-14 15:17] thomshutt opened #2508 "Stream Tester Improvements"
A collection of mid-term improvements we want to do to stream-tester now that it's officially owned by the Network team

[2022-07-14 15:18] #2508 closed, assigned to nobody

[2022-07-14 19:05] Titan-Node commented on #2502
Getting a lot too
Here are my logs (v6)

[code]

A lot in FRA and SIN

[2022-07-14 19:08] Titan-Node commented on #2502
It's almost as if the broadcaster is successfully sending the segments and the T transcodes them but when it is sends it back to the O it cannot find the profiles.

[2022-07-15 09:03] #2398 closed, assigned to AlexKordic

[2022-07-17 22:53] r-gues commented on #2017
Hi guys!

Our name is Livetranscoder, our website is [https://livetranscoder.xyz](https://livetranscoder.xyz). We're a team of software engineer working in the server hosting industry.
The orchestrator is running since mid-july, we are using Kubernetes to host our infrastructure with a lot of monitoring using Grafana and Prometheus.

We are currently running on New-York, Frankfurt and deploying a

[2022-07-18 22:05] iameli opened #2512 "ci: build a second docker image with ffmpeg build context"
Looks like https://github.com/livepeer/go-livepeer/pull/2499 broke some downstream projects by moving to `buildx` in go-livepeer; `orch-tester` and `task-runner` both depend on `livepeerci/build` for their ffmpeg build contexts so that they can embed go-livepeer as a library. Previously `livepeerci/build` was a separate Docker image containing the build stage of the go-livepeer build; now it conta

[2022-07-19 10:54] cyberj0g commented on #2496
Project structure, command line handling, basic tests, reference Uploader implementation, workflow - [done](https://github.com/livepeer/dms-uploader/tree/main). Tried to make it a pull request to allow review, but instead messed up the repo, because there wasn't any commits there. Will ask someone with organization permissions to switch default branch back to `main`.

@thomshutt @leszko @RiccardoB

[2022-07-19 12:18] leszko commented on #2496
Some comments:
- I think you could add a Makefile to simplify the building and testing process
- How do you run `dms-uploader_test.go`? I tried but it failed in my case
- I'm not sure what is the usage of the storage handler descriptions and why do we need it in JSON?

Also nit:
- I think you could stick to the "underscode" naming convention and rename `dms-uploader.go` => `dms_uploader.go`
- Also

[2022-07-19 12:22] thomshutt commented on #2496
Looks great! Agree with what @leszko said plus:

* I think we should split the handlers our from handlers.go into a `handlers` package and then have separate files for e.g `handlers/s3.go`
* Since it's a small standalone binary, let's try getting rid of levelled logging to begin with (can always bring it back in in the future if needed) and try more of the approach described in https://thomshutt.g

[2022-07-20 05:17] Titan-Node opened #2514 "Could not transcode err="OrchestratorBusy""
**Describe the bug**
6 segments are delivered to the O all within 500ms. Before the transcoder can attempt to transcode it throws the error `Transcoder was busy with a previous segment` and `Could not transcode err="OrchestratorBusy"`.
[code]

From the T you see it tries to transcode but does so in the wrong order and misses tempfile 4.
[code]

Stream closes and there goes my beautiful opportunity

[2022-07-20 08:24] stronk-dev commented on #2502
Issue seems to persist on 0.5.33
[code]

[2022-07-20 09:55] thomshutt commented on #2502
We've been investigating under https://github.com/livepeer/lpms/issues/311, but will try to accelerate and get this sorted

[2022-07-20 11:28] thomshutt opened #2516 "Streaming Data Flow"
Implement permanent connection workflow between nodes.

[code]

When connection breaks upstream node does failover.

Mist & B are assumed to be on same machine, part of same node.

T is assumed to be in local network to its O, but not required to be.

[2022-07-20 11:29] thomshutt opened #2517 "Unhappy Path - Logging"
Use our `clog` module to implement error-funnel using logs as described in [Minimalist Logging In Go](https://thomshutt.github.io/opinionated-logging-in-go.html) document.

[2022-07-20 11:32] thomshutt opened #2518 "Unhappy Path - Metrics"
Existing metrics mechanism is [here](https://github.com/livepeer/go-livepeer/blob/master/monitor/census.go). Node exposes `/metrics` HTTP endpoint where you can access the metric values. In production Prometheus periodically reads the metrics from the `/metrics` endpoint.

There are a lot of existing metrics to go trough and add in streaming workflow.

Remove obsolete metrics.

Add new metrics:
-

[2022-07-20 11:33] thomshutt opened #2520 "PoC: Broadcaster failover to new O"
When connection to `O` breaks invoke `O` switching logic.

Reuse input frame cache logic from #2519 for switching downstream node without interruptions in output renditions. Even when reconnecting to same `O` node we assume GPU resources are released and we start new transcoding job.

Research what slashing actions to take on broken connection.

[2022-07-20 11:35] thomshutt opened #2521 "Add new "streaming workflow" capability"
Add new `Capability_Streaming` constant to [capabilities.go](https://github.com/livepeer/go-livepeer/blob/master/core/capabilities.go#L59).

This new capability is defined in new software version so it should be added to [DefaultCapabilities](https://github.com/livepeer/go-livepeer/blob/master/core/capabilities.go#L145).

[2022-07-20 11:36] thomshutt opened #2522 "Make B work with old (non-streaming) Orchestrator nodes"
Add compatibility logic to new `B` node.

We always receive media from Mist streaming frame by frame and need to be able to send work to old `O` nodes (without `Capability_Streaming`).

After `O` discovery, sort `O` nodes by placing all *old* nodes after all streaming nodes.

Add segmenting logic used when sending to old node. `B` receives frames and creates a segment. Segment is complete on recei

[2022-07-20 11:36] thomshutt opened #2523 "Broadcaster: Integrate all existing functionality into streaming workflow"

[2022-07-20 11:36] thomshutt opened #2524 "Orchestrator: Integrate all existing functionality into streaming workflow"

[2022-07-20 11:37] thomshutt opened #2525 "Transcoder: Integrate all existing functionality into streaming workflow"

[2022-07-20 11:37] thomshutt opened #2526 "PoC: Transcoder - Close idle connections when peak capacity reached"
This obsoletes `livepeer_bench` program. Instead of static number of sessions we will use adaptive resource logic.

This method allows for proper resource usage in runtime. Counting 4K and 360p jobs  differently.

Also allows operator to assign `T` (or card) preference. For example Tesla card with 3 encoder chips can be configured to accept 3times more jobs than Geforce cards on same or different

[2022-07-20 11:38] thomshutt opened #2527 "Transcoder: Integrate with LPMS streaming output changes"

[2022-07-20 11:39] thomshutt opened #2528 "Design: Payment tickets"

[2022-07-20 11:41] thomshutt opened #2529 "Streaming Workflow: Integration Tests"

[2022-07-20 11:41] thomshutt opened #2530 "PoC: Signature verification"

[2022-07-20 11:41] thomshutt opened #2531 "V2: Enhancements"
* Frame by frame verification, rather than per segment
* Ability to mark a node for shutdown and redirect streams
* Orchestrator Load Balancing - Method to scale horizontally, allowing people to deploy a cluster of Orchestrators and delegate work to other Os within the same cluster
* Websocket ping pong mechanism to detect latency of peers, apply and test

[2022-07-20 11:54] thomshutt opened #2532 "Mist: Publish frames over websocket"

[2022-07-21 10:30] thomshutt opened #2533 "Create dms-api project"
This will be a small Golang binary containing an HTTP API and allowing us to take in requests from Studio and co-ordinate Mist to do whatever's needed.

Design here: https://www.notion.so/livepeer/Technical-Design-Upload-of-VOD-segments-2463fb28a52c4b8f93d6939f03e08117

This ticket covers:

* Create a new golang project
* Create a HTTP endpoint - e.g print "OK" when the /ok endpoint is hit
* Creat

[2022-07-21 12:37] thomshutt opened #2534 "dms-api: Create "VOD Upload" API endpoint"
Operation #1 in https://www.notion.so/livepeer/Technical-Design-Studio-DMS-API-for-VOD-Recording-bba2b160efff4ad4963dae2d4e9ff1a2

This ticket just covers creating the endpoint and associated tests (i.e not the underlying functionality)

1. Create HTTP endpoint, have it always return 200 OK by default
2. Create struct representing input JSON - discuss with @victorges about which (if any) fields sh

[2022-07-21 12:55] thomshutt opened #2536 "dms-api: Implement HTTP header-based auth"
Documented in call #1 in https://www.notion.so/livepeer/Technical-Design-Studio-DMS-API-for-VOD-Recording-bba2b160efff4ad4963dae2d4e9ff1a2

1. Create a piece of middleware (i.e applies to all HTTP requests handled) that checks for an `Authorization: Bearer <secret shared token>` header, compares it to a local value and rejects the request if it doesn't match. The local value can initially just be

[2022-07-21 13:02] thomshutt opened #2537 "dms-api: Trigger Mist segmenting + uploading of new VOD file"
TBC exactly how this looks. Design happening in https://www.notion.so/livepeer/Technical-Design-Upload-of-VOD-segments-2463fb28a52c4b8f93d6939f03e08117

[2022-07-22 10:11] thomshutt commented on #2452
@Pon-node What exactly is the failure you see here? My shell complains about the question mark: ```zsh: no matches found: secre?``` but when I quote with `-orchSecret "secre?"`, it seems to work fine on zsh / MacOS

[2022-07-22 10:12] #2400 closed, assigned to nobody

[2022-07-22 13:18] red-0ne commented on #2533
Closed as per https://github.com/livepeer/dms-api/pull/1

[2022-07-22 21:36] Pon-node commented on #2452
@thomshutt It's been a wile now... Orchestrator was on ubuntu and transcoder was using windows.

[2022-07-25 09:06] thomshutt commented on #2452
@Pon-node Any chance you can try to reproduce again? Otherwise I think we'll have to close this, since it's not happening locally for me

[2022-07-25 09:43] AlexKordic commented on #2169
Update on solution-2: Redirection for streaming workflow. It is tracked [here](https://github.com/livepeer/go-livepeer/issues/2531).

Streaming workflow uses `websocket` protocol.

On initial connect redirect allows for load-balancing of Orchestrator cluster. Horizontal scaling of orchestrators is possible. LPT mining pools are possible.

On Orchestrator shutdown the `shutdown` message is sent imm

[2022-07-25 15:05] #2533 closed, assigned to red-0ne

[2022-07-25 15:08] #2496 closed, assigned to cyberj0g

[2022-07-27 08:38] stronk-dev commented on #2514
Also getting this error a ton but only in Singapore, currently averaging 15 OrchestratorBusy log messages an hour over there

[2022-07-27 11:23] #2536 closed, assigned to kautukkundan

[2022-07-27 19:41] stronk-dev commented on #2502
For the past while the issue has been occuring on EU only. Some of the streams affected:

[2022-07-28 07:31] cyberj0g opened #2542 "Audio verification fails because of missing audio packet in renditions"
**Describe the bug**
Sometimes, renditions will have some audio packets missing, and, potentially, mixed. The reason for that needs to be investigated. As a temporary workaround, fuzzy audio verification is [implemented](https://github.com/livepeer/lpms/pull/352). That verification approach is vulnerable to trivial packet mixing attack.

**To Reproduce**
There are some samples in failed verificati

[2022-07-28 16:30] iameli opened #2545 "ci: fix arm64 docker build"
In https://github.com/livepeer/go-livepeer/pull/2544 we disabled the arm64 docker build so that we could revert to an earlier, more compatible CUDA version. Ideally we'd publish an AMD64 build based on `nvidia/cuda:10.1-cudnn7-runtime` and an ARM64 build based on `nvidia/cuda:11.6.2-cudnn8-runtime-ubuntu20.04` but figuring out how to do that conditionally in the Dockerfile is not immediately clear

[2022-07-29 09:36] thomshutt commented on #2096
👴 Closing this - can reopen if the issue reoccurs

[2022-07-29 09:36] #2096 closed, assigned to nobody

[2022-07-29 15:39] thomshutt opened #2546 "Low Latency Phase 1 - O/T streaming"

[2022-07-29 16:08] thomshutt commented on #2526
@AlexKordic is this something we can skip for the first iteration (i.e get it working with the more primitive current system for this and then refine afterwards)?

[2022-07-29 20:22] fiser321 opened #2547 "Unable to get latest block: transaction type not supported"
env:

![image](https://user-images.githubusercontent.com/8924920/181837308-1483e9df-b958-4593-ab91-cf81735ef7ac.png)
![image](https://user-images.githubusercontent.com/8924920/181837546-6c3fb261-ffe3-456e-8512-55100c530b2e.png)

bug:

![image](https://user-images.githubusercontent.com/8924920/181837217-f20f1cff-d84f-474d-b0b7-c32270ffa8b3.png)
![image](https://user-images.githubusercontent.com/892

[2022-07-29 20:26] fiser321 commented on #2547
./livepeer -network arbitrum-one-rinkeby -ethUrl https://rinkeby.arbitrum.io/rpc -orchSecret 001001  -orchestrator -pricePerUnit 1 -serviceAddr 0.0.0.0:8935

add it

[2022-07-30 20:51] AuthorityNull opened #2549 "Remote T Returns 404 When Connected to O with ServiceAddr as Domain"
**Describe the bug**
When using a domain name as a serviceAddr, T's in different regions (e.g. NY T - Chicago O) do not communicate with each other properly. The T connects but returns 404 errors instead of segments. When using an IP as the serviceAddr, the remote T operates correctly.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Change serviceAddr to domain
2. Connect remote T in

[2022-08-01 06:46] Titan-Node commented on #2549
@AuthorityNull is the domain in your issue using load balancing? Because each segment acts as a new connection and if it's load balancing or switching endpoints each segment you will get this error likely. That's what happened to me so I purposely switched to the IP address method.

[2022-08-01 10:47] thomshutt commented on #2452
Going to close this for now. Feel free to reopen if you see the issue again

[2022-08-01 10:47] #2452 closed, assigned to thomshutt

[2022-08-01 13:10] AuthorityNull commented on #2549
Yes, but why would each segment be switching endpoints? If the T has  the IP address specified and the O is using a domain as the ServiceAddr, the T should always be sending/receiving streams to that O even if the domain is using Cloudflare load-balancing (GeoDNS), right?

[2022-08-01 19:36] #2547 closed, assigned to leszko

[2022-08-02 11:16] thomshutt opened #2551 "VOD / Recording - Transcode Segments"
Overall VOD Design: https://www.notion.so/livepeer/Design-Make-VOD-Recording-pipelines-consolidated-reliable-87fca8f2407b42bb864a7a03ec7a93b0

Transcode Deep Dive: https://www.notion.so/livepeer/Technical-Design-Transcode-Upload-of-VOD-Recorded-Segments-3208507a9816449393e067b7b507d083

The goal of this epic is to be able to download segments that were previously uploaded as part of the VOD / Reco

[2022-08-02 11:29] thomshutt opened #2552 "Add "segment transcode" endpoint to DMS API"
This ticket covers making the new API endpoint defined in https://www.notion.so/livepeer/Technical-Design-Transcode-Upload-of-VOD-Recorded-Segments-3208507a9816449393e067b7b507d083

Making the endpoint's functionality is covered by a separate ticket, so the output of this one should be
1. A domain object representing the JSON that the API receives
2. A domain object representing the callback JSON

[2022-08-02 11:30] thomshutt opened #2553 "Make DMS call "segment transcode" endpoint when recording completes"

[2022-08-02 11:30] thomshutt opened #2554 "Make DMS call "segment transcode" endpoint when VOD segmenting completes"

[2022-08-02 11:38] thomshutt opened #2555 "DMS API to trigger Mist download of segments and transcoding"

[2022-08-02 11:38] thomshutt opened #2556 "DMS API -> Studio callbacks with transcode progress"

[2022-08-02 13:32] thomshutt opened #2557 "dms-api: Add to Catalyst build pipeline"
This ticket covers having the Catalyst build pipeline pull in the latest `dms-api` binary and having it run on node startup.

[2022-08-03 09:04] AlexKordic commented on #2555
First step: add S3 support to [URIReader::open(const HTTP::URL &uri)](https://github.com/DDVTECH/mistserver/blob/master/lib/urireader.cpp#L47)

[2022-08-04 07:21] leszko commented on #2534
Closing this one after merging https://github.com/livepeer/dms-api/pull/4

[2022-08-04 07:21] #2534 closed, assigned to red-0ne

[2022-08-04 13:05] AlexKordic commented on #2555
PR ready https://github.com/DDVTECH/mistserver/pull/66

[2022-08-04 14:36] ArcAster opened #2558 "Integration Tests for MP4 Over Websocket"
Automated continuous testing of Prod environment to understand relative latency gains with MP4 Over Websocket.

Emran has started this task?

[2022-08-04 14:38] ArcAster opened #2559 "Benchmarks for MP4 Over Websocket and LL-HLS"
Necessary to understand baseline / qualify integration tests.

[2022-08-04 16:40] iameli opened #2560 "go-livepeer should crash if it has a nil orchestrator pool"
Encountered this problem with a mainnet broadcaster today:

[code]

I'm not sure of the root cause. We saw problems very similar to this [when Infura was omitting their block number](https://community.infura.io/t/arbitrum-eth-getblockbynumber-omits-l1blocknumber-field/5462/2). So root cause still under investigation.

That said, **we should crash if we find ourselves in this state**. If you try an

[2022-08-04 16:47] ArcAster opened #2561 "Document Media Source Extension for player"
Tell people how to install the relevant Javascript if they’re not getting it bundled with our player

[2022-08-09 01:33] eliteprox commented on #2486
I believe @0xB79 is actively working on this. I hope to be able to contribute some to it this week as well.

[2022-08-09 09:34] leszko commented on #2537
I plan to do this ticket in a few parts:

- [x] Mist API client + scaffolding of its usage https://github.com/livepeer/catalyst-api/pull/8
- [x] Handling triggers from Mist
- [x] Calling callback URL with notifications

[2022-08-09 11:08] thomshutt commented on #2557
This is now complete

[2022-08-09 11:08] #2557 closed, assigned to thomshutt

[2022-08-09 14:01] thomshutt commented on #2556
Client for this created https://github.com/livepeer/catalyst-api/pull/14

[2022-08-09 17:22] yondonfu commented on #2560
Flagging that https://github.com/livepeer/go-livepeer/pull/2563 should address the root cause of this issue which is the `unsuported block number` error encountered while creating the orchestrator pool on startup. With that being said, it might still make sense to crash/exit the node earlier if it tries to transcode without an orchestrator pool.

[2022-08-10 07:56] #2497 closed, assigned to cyberj0g

[2022-08-10 07:56] #2504 closed, assigned to cyberj0g

[2022-08-10 09:20] AlexKordic commented on #2552
PR created https://github.com/livepeer/catalyst-api/pull/17

[2022-08-15 18:53] iameli commented on #2560
This just caused some stuck transcoding in the pipeline.

[2022-08-15 19:59] #2560 closed, assigned to emranemran

[2022-08-16 11:14] #2512 closed, assigned to hjpotter92

[2022-08-21 23:08] AuthorityNull commented on #2514
I see this error in Singapore as well. @Titan-Node is this where you're seeing it?  I'm wondering if this is an  issue with the Tensor Docks VM's.

[code]

[2022-08-26 13:23] AuthorityNull opened #2570 "CUDA_ERROR_NOT_PERMITTED: operation not permitted - Error number -1448234581 occurred"
**Describe the bug**
This is the second server I've received this error on. At first I thought it was an issue on my side, but now I belive something else is going on:
[code]

Livepeer is running in Docker and the error crashes the node which instantly restarts right after.

**To Reproduce**
Steps to reproduce the behavior:

Reproducing the error is difficult as it doesn't seem to happen at any gi

[2022-08-26 19:13] Franck-UltimaRatio commented on #2514
got a lot of this errors on most of our nodes also.

[2022-08-28 18:55] 0xVires commented on #2514
also getting some `OrchestratorBusy` when the O/T is nowhere near its limit. Latest livepeer version.

[2022-08-28 22:55] papabear99 commented on #2514
I am seeing these on all my nodes.  I thought it was just on split O/Ts but I am seeing them on combined nodes now too.  Seems to only be with the "low-bitrate" profile.  The segments on these almost always come in out of order from what I can tell.

[2022-08-30 08:11] iameli opened #2571 "docker build doesn't populate version field"
[code]

Would love to have a Livepeer Node Version there!

[2022-08-30 13:56] papabear99 commented on #2514
[code]

[2022-08-30 14:40] monitor-ap commented on #2514
over 90% of all my Singapore sessions are affected by this. the issue no longer seems to be confined, however, as i am seeing it pop up on other regional nodes now.

[2022-08-30 16:57] iameli opened #2572 "panic: invalid argument to Intn"
[code]
Context: https://eu-metrics-monitoring.livepeer.live/grafana/explore?orgId=1&left=%5B%221661878485149%22,%221661878496256%22,%22Loki%22,%7B%22refId%22:%22A%22,%22expr%22:%22%7Bpod%3D~%5C%22staging-livepeer-broadcaster.%2B%5C%22,pod%3D%5C%22staging-livepeer-broadcaster-26aeimquy-69f87b45f4-77x2h%5C%22%7D%22%7D%5D

[2022-08-31 22:22] AuthorityNull opened #2574 "'Failed: insufficient funds for gas * price + value' - Cannot process transactions after Nitro upgrade"
**Describe the bug**
After upgrading to Nitro, some orchestrators including myself cannot execute transactions like calling reward or redeeming a winning ticket.

Initially, the error looked like this:
[code]
Upon node restart, the error evolved into this:
[code]
Or, on the node trying to redeem a winning ticket, this:

[code]
It looks like it's requesting an absurd amount to redeem a winning tick

[2022-09-01 08:18] Franck-UltimaRatio commented on #2574
Got the same error on all our nodes. May be this error affect all orchs, but if you have enough ETH in your orch wallet (over the "want" requirement), i think the transaction could succeed.
We have deploy the fix by Yondon, waiting for the next call reward/ winning ticket to see if it s work.

[2022-09-01 15:31] yondonfu commented on #2574
Looks like the new Nitro node release https://github.com/OffchainLabs/nitro/releases/tag/v2.0.1 should've resolved the gas over-estimation issues that folks have been encountering

[2022-09-02 00:08] AuthorityNull commented on #2574
Got the same error today when redeeming a ticket in Singapore, and I'm on the latest nitro release

[2022-09-02 02:37] leszko commented on #2574
Did the fix from Yondon help?

[2022-09-02 05:53] Franck-UltimaRatio commented on #2574
Same error this morning on a winning ticket. Yondon's fix did not help. we have added some fund to redeem the ticket.

[2022-09-02 10:48] leszko opened #2576 "dms-api: Add stream cleanup after timeout"
We should introduce a mechanism for cleaning up streams from:
- Stream Cache
- Mist

Otherwise, in case any issues with the stream Upload/Transcoding, we may end up with a number of streams created in Mist and in our Stream Cache.

I think we should agree on some timeout for the stream processing and after the timeout is reached, we clean up Mist and Stream Cache, the same way it's already done [a

[2022-09-02 10:49] leszko commented on #2537
I think we can close this issue, because the work is already implemented in #8.

One thing that we need to add is the stream cleanup, but I've created a separate GH Issue for it: #2576

[2022-09-02 10:49] #2537 closed, assigned to leszko

[2022-09-02 11:08] red-0ne commented on #2574
Need to reproduce the isseue, could we have the txhash of one of these expensive redemptions?

[2022-09-02 11:17] Franck-UltimaRatio commented on #2574
Sep 02 04:15:59 Los-Angeles livepeer[13265]: Invoking transaction: "redeemWinningTicket". Inputs: "_ticket: { Recipient: 0x2e3a21ae7cDEb48F57fcaD1cE16b258d5502aC05  Sender: 0xc3c7c4C8f7061B7d6A72766Eee5359fE4F36e61E  FaceValue: >
Sep 02 04:15:59 Los-Angeles livepeer[13265]: Transaction Failed: insufficient funds for gas * price + value: address 0xC4ea4fa2c0ebba54c09dddBD4D462FaDA562203E have 16143

[2022-09-02 15:00] leszko commented on #2574
Assigning this task to @yondonfu for now, but Yondon feel free to write any analysis here and I can take it over on Monday morning.

[2022-09-02 20:18] yondonfu commented on #2574
I have not been able to reproduce this yet. The main question is whether the overestimation is caused by something on the Nitro side vs. something on the go-livepeer side with the suspicion being that it is the former. The original thought was that the https://github.com/OffchainLabs/nitro/releases/tag/v2.0.1 release addressed this, but others reported encountering this issue even after they point

[2022-09-03 13:35] Franck-UltimaRatio commented on #2574
for information, i have just checked during the last call reward if an RPC using 2.0.2 fix the problem. It did not.

[2022-09-04 11:11] guoqiao opened #2578 "deleted."
**Describe the bug**
We have 1 node running as both O and T (Ubuntu 22.04,  livepeer v0.5.34), and seems working well.
However, when running additional Ts for this O, we keep seeing following errors in logs:

[code]
Above error is happening for livepeer T with v0.5.34 on both Windows 11 and Ubuntu 22.04.

**To Reproduce**
Steps to reproduce the behavior:

1. Run a node as both O and T
2. Start ano

[2022-09-04 11:42] joegraviton opened #2579 "remote Transcoders fail to register to Orchestrator"
**Describe the bug**
We have 1 node running as both O and T (Ubuntu 22.04,  go-livepeer v0.5.34), and seems working well.
However, when running additional remote Transcoders for this O, we keep seeing following errors in logs:

[code]
Above error is happening for livepeer T with v0.5.34 on both Windows 11 and Ubuntu 22.04.

**To Reproduce**
Steps to reproduce the behavior:

1. Run a node as both O

[2022-09-04 11:43] #2578 closed, assigned to nobody

[2022-09-04 11:45] Franck-UltimaRatio commented on #2574
so, still the same error during the last call reward, on 2 nodes running linux with V 0.5.34 and around 0.02eth on there wallets.
On a node running V 0.5.34 on windows, no error. so the bug seems linked only to the linux version, and impact you only if you have a low amount of ETH on your wallet (cause if you have enough, the bug appear but the TX succeed at the normal price)

[2022-09-04 19:46] papabear99 commented on #2574
I just ran into this as well running .34 in docker with an up to date v2.0.2 arb node. I only had  0.012 ETH in my wallet so the ticket failed to redeem.

I didn't see the initial failed transaction but caught this error spamming my log.

[code]

Since this doesn't appear to be an issue for nodes running Windows I don't think it's on the Nitro side.

[2022-09-04 22:19] joegraviton commented on #2579
For an Orchestrator, is it supported to run local and remote Transcoders at the same time ?

From this doc: https://docs.livepeer.org/video-miners/core-concepts/architecture
It mentioned following 2 architectures:

- Combined orchestrator and transcoder
- Split orchestrator and transcoder

However, we are doing a mix of above 2.

[2022-09-04 22:37] AuthorityNull commented on #2579
Yes, a mix should work. Are you running proxy in front of Livepeer or anything like that?

[2022-09-04 22:45] AuthorityNull commented on #2579
Oh hang on, you can't run an O/T combo and connect a T to it. You have to split the O/T. T's cannot connect to a combined orchestrator.

[2022-09-04 23:01] papabear99 commented on #2574
I can also confirm that I was able to redeem a winning ticket on a Windows node with just a small amount of ETH in the O's account.

[2022-09-05 01:02] joegraviton commented on #2579
@AuthorityNull   I see, thank you for the information.

[2022-09-05 03:42] #2579 closed, assigned to nobody

[2022-09-05 08:32] leszko commented on #2574
I did a little investigation and from my understanding the issue is in Arbitrum or in the `go-ethereum` library, but not in the `go-livepeer` code.

Here are some thoughts:
1. I don't think we use the account ETH balance anywhere while sending the transaction. Since the issue occurs **ONLY** when the ETH balance is low, then I think it can't be related to `go-livepeer`.
2. We do use the ETH balanc

[2022-09-05 08:45] Franck-UltimaRatio commented on #2574
"I don't think we use the account ETH balance anywhere while sending the transaction. Since the issue occurs ONLY when the ETH balance is low, then I think it can't be related to go-livepeer."

to be clear, the error occurs every time a transaction is initiated (estimation gas price), but only appears in the logs if it causes problems because there is not enough funds in the wallet to cover the ga

[2022-09-05 09:26] iameli opened #2580 "change -monitor default to true"
I'm unclear on why we don't default to including the monitoring metrics. There's not much overhead associated with them and they're useful. I've never heard of another service where Prometheus metrics are off by default. They're only exposed on the already-needs-to-be-secure 7935 port.

Personally, the only place I've ever encountered this flag is helping people understand why they can't query for

[2022-09-05 09:27] thomshutt commented on #2580
Let's do it - I'll prep a PR and put a message out to the Os in case anyone has a reason to object

[2022-09-05 15:23] #2485 closed, assigned to cyberj0g, RiccardoBiosas

[2022-09-05 15:58] cyberj0g commented on #2506
#### Current progress
- [catalyst-uploader](https://github.com/livepeer/catalyst-uploader/) repository is created, CI/CD is configured
- AWS S3 support is implemented in a separate [go-tools](https://github.com/livepeer/go-tools) package, which is shared with [go-livepeer](https://github.com/livepeer/go-livepeer)
- catalyst-uploader binary is [added](https://github.com/livepeer/catalyst/pull/115)

[2022-09-06 14:13] #2561 closed, assigned to nobody

[2022-09-06 14:14] #2559 closed, assigned to nobody

[2022-09-06 14:14] #2558 closed, assigned to nobody

[2022-09-06 18:47] yondonfu commented on #2574
@Franck-UltimaRatio @papabear99 @AuthorityNull

Are the nodes that encountered the `failed insufficient for gas * price + value...` error using the `-maxGasPrice` flag? If so, can you:

1. Share the value used for the `-maxGasPrice` flag?
2. Try setting `-maxGasPrice 1000000000` (1 gwei which is still quite a bit higher than the typical gas price on Arbitrum right now) and share back if you still

[2022-09-06 19:42] papabear99 commented on #2574
I am using the `-maxGasPrice` flag .

It was/is set to 1500000000 (1.5gwei)

Added:
FWIW
On the node running Windows it was set to 5000000000 (5gwei)

[2022-09-06 21:10] Franck-UltimaRatio commented on #2574
yes, was set at -maxGasPrice 60000000000

[2022-09-07 13:07] stronk-dev opened #2582 "Segments fail to upload on commit 73aaca8c3da1f5269fe059dd03b0cbf4d6796a1c"
All Orchestrator nodes were operating fine on 0.5.34, except for Boston, which was running on a [special version version of 0.5.34](https://github.com/livepeer/go-livepeer/commits/yf/arb-tip-0)

Almost all segments fail to upload, causing test stream scores to plummet. Weirdly enough, it did not seem to affect my actual transcoding work. One other Orchestrator also confirmed this issue while he wa

[2022-09-07 15:05] stronk-dev commented on #2580
Will this cause issues with orchestrators who forget to remove the flag after it's been removed?

[2022-09-07 15:35] AuthorityNull commented on #2574
@yondonfu My maxGasPrice was set quite high on my reward calling node. Yesterday, I lowered it to 1 gwei and removed most of the ETH from my wallet to test. Today, I was able to call reward automatically so you may be onto something there.

[2022-09-07 18:50] Franck-UltimaRatio commented on #2574
and now i can't redeem a ticket on a node with 0.11 ETH on it with this error :
Sep 07 14:45:45 newyorkcity livepeer[201653]: E0907 14:45:45.161247  201653 queue.go:149] Error redeeming err="gas required exceeds allowance (1148514)"
maxGasPrice set to 100000000000
I removed the maxGasPrice flag, restarted the node, and.... redeemed ! so definively onto something here ;)

[2022-09-07 22:29] papabear99 commented on #2574
That's 100 gwei.  I think it's using the `maxGasPrice` value to estimate the transaction fee.  That's probably why it's working for Authority Null after he lowered his to 1 gwei.  The ticket I won this morning was on my Windows node so I still haven't been able to confirm.

[2022-09-07 22:51] yondonfu commented on #2574
I think the root issue was that an account needs to have a balance with at least `gas used by tx * gas price bid` during tx processing. At the moment, if you set `-maxGasPrice` then your account will need `gas price bid = maxGasPrice` when the tx is processed. So, if you set `-maxGasPrice` to be really high (i.e. 100 gwei), then your account will need a much higher balance even though the actual g

[2022-09-08 05:56] Franck-UltimaRatio commented on #2574
i have just deployed this version on our redeemer nodes and reduce the amount of eth on them. waiting for the next call reward. i ll let you know asap in 21 hours. Thanks

[2022-09-08 06:03] AuthorityNull commented on #2574
You can skip the wait by processing any transaction (like option 13) from the CLI. If it goes through, we're good.

[2022-09-08 09:39] cyberj0g commented on #2506
I have tested two approaches to implementing automatic live stream upload to S3 with Mist + Catalyst:
##### 1. Mist `PUSH_START` API call after stream creation
The function is described in section 7.1.33 of the [manual](https://mistserver.org/guides/MistServer_Manual_3.0.pdf). It takes stream name and destination URI parameter, and then invokes `catalyst-uploader` for `s3://` scheme. Naturally, so

[2022-09-08 14:38] stronk-dev commented on #2582
It looks like the branch has been removed, but it contained all of the commits which are now in the master branch which got added after v0.5.34. It seems that one of the commits added after this release was causing this issue

[2022-09-08 14:52] stronk-dev commented on #2582
[link to discord conversation for reference](https://discord.com/channels/423160867534929930/932724294230900776/1016940434142019595)

[2022-09-09 05:27] Franck-UltimaRatio commented on #2574
I can confirm the fix is working, call reward  was succesfull this morning with -maxGasPrice set at 60000000000 and 0.02 ETH on the wallet

[2022-09-09 10:34] cyberj0g commented on #2506
Decided: go with option 2, because it's most straightforward. No need to modify Mist autopush matching, because livepeer PUSH_REWRITE trigger generates stream name starting with `video+`, and it can already be matched by `video+` wildcard.

[2022-09-09 23:20] #2574 closed, assigned to yondonfu

[2022-09-09 23:21] yondonfu commented on #2574
Thanks for all the reports. This issue has been fixed in https://github.com/livepeer/go-livepeer/pull/2583 and the fix will be included in the next release.

[2022-09-11 02:48] #2549 closed, assigned to nobody

[2022-09-11 02:50] AuthorityNull commented on #2549
Closed the issue - The issue was related to DNS and has been resolved by changing the serviceAddr on the O to point to individual IP.

[2022-09-11 14:45] drvsinan opened #2584 "Ce"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-09-12 06:45] #2584 closed, assigned to nobody

[2022-09-13 07:03] iameli opened #2585 "panic in EndTranscodingSession"
Getting a lot of these overnight:
[code]

[2022-09-14 06:50] Franck-UltimaRatio commented on #2582
i deployed 2 days ago the  linux 0.5.34-3ff79bd7 version because this one fix the estimation gas error.
Since i ve deployed it, i noticed some difficulty to keep streams, and also some very bad streams tests.
So i rolled back our nodes with 0.5.34, and all is fine after that.
So i presume there is something wrong in one of the merge between 0.5.34 and 0.5.34-3ff79bd7.
Can' t be sure of the link wi

[2022-09-14 08:55] thomshutt commented on #2582
@oscar-davids @cyberj0g The only commits that came in since 0.5.34 are #2381 and #2568 - I know there's not a lot to go on here, but would appreciate any thoughts on what might be that cause / what info we could ask for to help us debug

[2022-09-16 07:44] iameli opened #2589 "O transcode loop never returns if the transcode session is ended via B"
This O wasn't doing much, just transcoding the occasional segment. However its CPU usage (as well as the other staging orchestrators in the cluster) were stuck at 1500%. [Here's a dump of all the available goroutines.](https://gist.github.com/iameli/714b7a9c7882ee522b771c3bbeec25c5). Looks like there's lots and lots of routines with traces something like this...?
[code]

[2022-09-16 13:10] #2585 closed, assigned to nobody

[2022-09-16 17:05] yondonfu commented on #2589
The cause of this issue is that if a B triggers a session tear down on O the O's transcode loop will end up in an infinite loop that prevents the goroutine that contains the loop from being cleaned up.

When B triggers a session tear down on O, `LivepeerNode.endTranscodingSession()` will be called which [closes the segment channel](https://github.com/livepeer/go-livepeer/blob/5d4e145b4d2f6efbbcca0

[2022-09-16 17:06] oscar-davids opened #2590 "Panic: invalid memory address in usingVerified"
[code]
Context: https://eu-metrics-monitoring.livepeer.monster/grafana/explore?orgId=1&left=%5B%221663347445000%22,%221663347925000%22,%22Loki%22,%7B%22refId%22:%22A%22,%22expr%22:%22%7Bpod%3D~%5C%22staging-livepeer-broadcaster.%2B%5C%22%7D%20%7C~%20%5C%22panic%5C%22%22,%22resolution%22:1%7D%5D

[2022-09-18 01:19] yondonfu commented on #2589
Fix implemented in https://github.com/livepeer/go-livepeer/issues/2589 which just needs review.

[2022-09-18 03:59] cyberj0g commented on #1801
Might want to prioritize because of bugs like #2589 (PR #2591).
`golangci-lint` can catch that:
[code]
There are about 200 linting warnings currently, I see a few options how to minimize efforts of enabling it:
1. disable linters which check for less severe errors, like `errcheck`, `govet`, `unused`, `gosimple`
2. only lint files changed in the commit, which still may be painful and could be combi

[2022-09-18 12:31] #2589 closed, assigned to yondonfu

[2022-09-18 12:49] yondonfu commented on #1801
In the case of https://github.com/livepeer/go-livepeer/issues/2589 we would have wanted `govet` to be enabled to flag the context issues right?

A few alternatives I am wondering about:

1. Lint changed lines only
2. Configure the linter to emit certain less severe errors as just warnings so that CI doesn't fail for them and only fails for the more "interesting" errors

Then, a gradual approach mi

[2022-09-20 13:51] yondonfu commented on #2572
Closed by #2604

[2022-09-20 13:51] #2572 closed, assigned to oscar-davids

[2022-09-21 09:35] oscar-davids commented on #2582
The issue of difficulty to keep streams has been fixed by #2586.
Checked manually in our https://livepeer.studio/dashboard.

The uploading segment failure issue has been fixed by #2591.
Checked in grafana dashboard. here is comparison link. [09-17](https://eu-metrics-monitoring.livepeer.monster/grafana/explore?orgId=1&left=%7B%22datasource%22:%22P8E80F9AEF21F6940%22,%22queries%22:%5B%7B%22refId%22

[2022-09-21 09:38] stronk-dev commented on #2582
Nice! I'll run the latest master build on my orch nodes and will report if anything breaks

[2022-09-21 09:52] stronk-dev commented on #2582
Immediately got 30 `Could not upload segment` errors on the latest commit in master, so there is still an issue somewhere

[2022-09-21 13:05] oscar-davids commented on #2582
@stronk-dev thank you for testing immediately.
I added error logs when segment uploading failed in `oc/adduploadfaillog`  branch.
Could you test it again with new branch in your side? I would like to see the exact reason why the upload failed.

[2022-09-21 14:06] stronk-dev commented on #2582
Will take a while since i can't build go-livepeer from source on Arch, will probably give it a go later today

[2022-09-23 01:46] eliteprox opened #2605 "Disconnecting a remote T causes O to lose all transcoders"
**Describe the bug**

When operating an orchestrator with multiple remote transcoders, disconnecting one remote T can sometimes cause orchestrator to lose all transcoders and go into a `no transcoders available` state.

**To Reproduce**
Steps to reproduce the behavior:
1. Run standalone orchestrator
2. Run two transcoder processes on localhost with orchestrator
3. Run a third transcoder process on

[2022-09-27 09:51] hjpotter92 commented on #2545
The newer `nvidia/cuda` images are incompatible with nvidia driver version installed on a lot of systems at present.

[2022-09-27 15:40] #2545 closed, assigned to nobody

[2022-09-28 10:56] stronk-dev commented on #2582
Just switched all of my nodes to commit 6c49c04c732cea919a5ccbf3303ce812fa05de92 (retrieved the binary from discord builds channel). Results:
- Seeing a whole bunch of `EndTranscodingSession called`, even if it is not transcoding at that moment. Probably unrelated to this issue, but maybe we can turn the verbosity down on this?
- Could not upload segment errors seem to be much less frequent! Got o

[2022-09-28 12:21] stronk-dev commented on #2582
![image](https://user-images.githubusercontent.com/9502378/192776628-b27e47d0-e5b4-40dc-9095-026f796e707e.png)
Past hour 10 `unable to upload segment` errors, this might be as expected but we'll get questions about it in the orchestrator-support channel for sure:
[code]

[2022-09-29 07:58] stronk-dev commented on #2582
Now that it has been running for a while:
![image](https://user-images.githubusercontent.com/9502378/192973453-16d27d98-9985-4ef0-b931-577eae2ed068.png)

Looks like the error does happen a bit excessively in US-East, with 39 occurences of `could not upload segment` per hour. Every single one of them ended with reason `session ended`

Looking at my transcode history, it does look like that specific

[2022-09-29 09:07] oscar-davids commented on #2582
@stronk-dev can you give me dashboard link?

[2022-09-29 10:37] stronk-dev commented on #2582
Yea, my dashboard is publicly available at: https://grafana.stronk.tech/d/71b6OZ0Gz/orchestrator-overview

It has all info and error logs pulled from Loki and a counter for specific errors which you can unfold:
![image](https://user-images.githubusercontent.com/9502378/193009889-709ab377-6f74-45f8-a3cf-8c449aa9ba75.png)

[2022-09-29 22:24] AuthorityNull opened #2609 "B cannot connect to O "orchestrator's price is too high""
**Describe the bug**
2 independent broadcasters have run into an issue when trying to send multi-profile streams through the public network.

[code]
[code]

[code]
[code]

It seems like there's some sort of calculation issue with the pixel price. This has been tested with specifying an OrchAddr as well as without specifying an OrchAddr. It's confirmed that even with autoPriceAdjust set to False an

[2022-09-30 00:41] joegraviton commented on #2609
To be clear:  The err msg `orchestrator's price is too high` makes sense, since their asking pricing (e.g.: 1430) is higher than our offer (1200).
The real issue was:

we can not connect to any O in the livepeer network, but many of them require lower price than 1200.

We keep getting msg `No orchestrators found; not transcoding`, even though we have enough deposit and reserve.

Later we set maxSe

[2022-09-30 00:48] AuthorityNull commented on #2609
No active orchestrators are requesting a price higher than 1200 though. The B node is automatically adjusting the price somehow and that's breaking the B's ability to connect to O's.

So setting maxSessions to 10 didn't fix it... damn.

[2022-09-30 03:58] joegraviton commented on #2609
@AuthorityNull  thanks for clarifying that. Also, I noticed currently in livepeer_cli, all Os are showing 0 for price per pixel:

![livepeer-orchs-no-score](https://user-images.githubusercontent.com/101067071/193187190-a24bb609-81e0-408d-a1d4-9194f97d3a24.png)

[2022-09-30 13:56] leszko commented on #2609
@joegraviton AFAIK livepeer_cli displaying `0.00` for the price is "normal". I think the livepeer cli connected to O displays the prices stored on-chain (which is not used anymore). Currently the price per pixel is not stored on-chain and it's not displayed by livpeeer_cli

@AuthorityNull Let me check what's the reason for getting `orchestrator's price is too high`

[2022-09-30 14:20] AuthorityNull commented on #2609
Thanks, just a quick update... it looks like specifying the OrchAddr is working for the B now, but just trying to use the public network is still causing issues.

[2022-09-30 18:36] leszko commented on #2609
I just checked and for the first O you mentioned and the current price is `1111.000` logged by our B. So, it's very weird. @AuthorityNull Is it maybe possible that it was just a temporary issue caused by the high Arbitrum gas price?

Also, do you experience it all the time with all Os?

[2022-09-30 18:39] AuthorityNull commented on #2609
That wouldn't be possible. Since Nitro, the gas price on Arb is locked in at 0.1 and doesn't budge (also most O's have autoPriceAdjust set to False). CCing @joegraviton on your second questions.

Did you try without specifying an orchAddr?

[2022-10-01 09:01] Franck-UltimaRatio opened #2610 "Winning ticket created with bad creationRound"
We got a ticket this night but it can't be redeemed with this error :

  |   | 2022-10-01 10:53:14 | E1001 04:53:14.477719 2174140 queue.go:149] Error redeeming err="execution reverted: ticket is expired"
  |   | 2022-10-01 10:52:54 | E1001 04:52:54.624741 2174140 queue.go:149] Error redeeming err="execution reverted: ticket is expired"
  |   | 2022-10-01 10:52:34 | E1001 04:52:34.335059 2174140 q

[2022-10-02 08:44] Franck-UltimaRatio commented on #2610
I think there was the same problem with the previous ticket. I think it was created during round 2714, and yet it also appears to have been created during round 2713. But it was still redeemed because it was not beyond 2 rounds.
For the moment, we have reset the node, and we have erased the database.

[2022-10-03 09:16] cyberj0g commented on #2605
Thanks for reporting. Couldn't reproduce this issue on a few initial attempts. Tried with both `v0.5.34` and `master`.
There are [only](https://github.com/livepeer/go-livepeer/blob/d0abb31caa76ee18273d58dfee895909b26f45eb/core/orchestrator.go#L959) [two](https://github.com/livepeer/go-livepeer/blob/d0abb31caa76ee18273d58dfee895909b26f45eb/core/orchestrator.go#L948) spots in code, which could retur

[2022-10-03 10:19] leszko commented on #2610
Interesting, seems like both B and O would be connected to the RPC providers which are not in sync 🤔 @yondonfu any thoughts why it might have happened?

I would check if we encounter more situations like this.

[2022-10-03 12:39] Franck-UltimaRatio commented on #2610
fyi, we are using as rpc provider, Cloudflare as loadbalancing, with a mix of arb1 and alchemy rpc endpoint. And we did not encounter this problem with our other node for the moment. still waiting for a new winning ticket on  NYC node to see if error is fixed or not.

[2022-10-03 19:36] Cassie-Titan-Node commented on #2017
Hi Everyone,

Chase Media here, our node has been running since February 2022 and have had involvement with Titan Node from early 2021. Really excited to be a part of a protocol which is so early in web3 video streaming development.

At Chase Media we run a North American based, high performance node. Supporting the evolution of blockchain technologies through educational content and video, inspir

[2022-10-04 06:32] Franck-UltimaRatio commented on #2610
For information, after restarting the node and erasing the database, the last two winning tickets were correctly created.

![image](https://user-images.githubusercontent.com/87469831/193750114-28f9d4b1-f843-4e98-8ca0-901633efee0f.png)

I kept a copy of the old database if needed.

[2022-10-04 20:29] yondonfu commented on #2590
Closed by #2603

[2022-10-04 20:29] #2590 closed, assigned to oscar-davids

[2022-10-05 10:58] stronk-dev opened #2613 "Config variables not working properlly"
Config parameters often break, where even though they are defined in the launch script they do not get parsed correctly and use their default value instead. Changing the order of the parameters or using a `=` instead of a ` ` often fixes the issue, which causes confusion for new O's coming in:

- EG, [John Obelish had to move their `monitor` flag in order to get it to work](https://discord.com/cha

[2022-10-05 11:01] stronk-dev opened #2614 "Tons of `Invalid Ticket senderNonce` for the past few months"
There seems to be tons of `Invalid Ticket senderNonce` coming in, especially in North America:
[1] https://discord.com/channels/423160867534929930/932724294230900776/1024598556784463902
[2] https://discord.com/channels/423160867534929930/932724294230900776/1023253242697764924

It seems to be affecting all Orchestrators, did something change in the Broadcaster config? Maybe related to changes to us

[2022-10-05 14:42] leszko commented on #2610
Closing, since it's hard to reproduce this issue. @Franck-UltimaRatio please reopen if you encounter this again and have steps to reproduce.

[2022-10-05 14:42] #2610 closed, assigned to nobody

[2022-10-05 15:07] Franck-UltimaRatio commented on #2614
I can confirm that, it greatly increases the error rate on tickets received, especially in North America.
![image](https://user-images.githubusercontent.com/87469831/194095193-04f5f5af-394d-4d10-a291-956f737f1069.png)

[2022-10-07 09:15] cyberj0g commented on #2613
I think, it's a good idea to echo customized (because full list is too large) config values after `livepeer` start.  WDYT?

[2022-10-07 09:38] stronk-dev commented on #2613
Yeah that sounds like a good first step, maybe we can also echo the full launch command on boot? So far I've only seen these kind of issues pop up with command line flags and not with with environment variables or config files

[2022-10-07 10:49] thomshutt commented on #2613
Not sure how easy this would be given we're using the golang `flags` package, but maybe printing all non-default flags could be a good subset?

[2022-10-07 10:52] thomshutt commented on #2613
Just realised that's what you meant by `customized` @cyberj0g 🤦 In that case, sounds good to me!

[2022-10-10 12:38] stronk-dev commented on #2614
Have to add that I have also had very few winning tickets lately, even though there have been plenty of work/tickets coming in (averaging 0.0153 ETH daily in tickets in the last 7d, but only one winning ticket of 0.012 Eth). Could this be related?

[2022-10-11 05:00] #2613 closed, assigned to cyberj0g

[2022-10-11 19:52] joegraviton commented on #2609
@AuthorityNull   the above issue was triggered when we removed the `orchAddr` option for broadcaster.

Actually later it is `fixed` by specifying a few Os.

[2022-10-13 11:01] stronk-dev opened #2619 "Expose moar info on /metrics"
Currently there are useful metrics which are not exposed on the prometheus compatible endpoint, they require Loki to be installed since they do get outputted to the logs. I'll list a few variables I currently extract from Loki and why they are useful:

- Latest L2 block synced: Currently I have alerts setup based on the latest block mined. This way if there are issues with my L2 provider, I get an

[2022-10-14 17:13] Titan-Node opened #2621 "accept4: too many open files; retrying in 1s"
**Describe the bug**
A couple reports of this error happening putting the node into a frozen state.

[code]

**Desktop (please complete the following information):**
 - Ubuntu 20.04
 - Standalone O
 - Livepeer Version 0.5.34

Don't know how to reproduce but 2 of my nodes have had this error in 12 hours and other reports also. No recent updates or upgrades.
May community node RPC endpoint issue?

[2022-10-14 17:22] Titan-Node opened #2622 "[mpegts @ 000001cde0151980] start time for stream 1 is not set in estimate_timings_from_pts"
**Describe the bug**
Been reported a few times in discord.

[code]

Also happens during benchmark with each segment.

Cannot find a simple solution. I built a brand new machine that ended up with this problem.
Different Nvidia driver versions did not have any effect.
Different model GPUs did not have any effect.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Livepee

[2022-10-15 11:39] Franck-UltimaRatio commented on #2621
got this error this morning, even after set ulimit -n 65000. our RPC are Arb1 and alchemy. node running on Ubuntu

<html>
<body>

  |   | 2022-10-15 12:52:43 | 2022/10/15 12:52:43 http: Accept error: accept tcp [::]:8936: accept4: too many open files; retrying in 1s
-- | -- | -- | --
  |   | 2022-10-15 12:52:42 | 2022/10/15 12:52:42 http: Accept error: accept tcp [::]:8936: accept4: too many open

[2022-10-17 00:38] kyriediculous commented on #2621
I'm not sure which connection it is exactly, but the server seems to not be reusing some of these connections properly.

Increasing the limit might work but feels like a temporary bandaid until there's enough single shot requests to also reach that limit.

You can check the amount of open files next time the error occurs by running

[code]

Get the livepeer `pid` and run

`lsof -p <livepeer_pid> |

[2022-10-17 06:30] Franck-UltimaRatio commented on #2621
don't know if that could be related, but just before this error appear, i got this error on 2 of our nodes (combined O/T) so i decided to split them to keep the O running if the error was from the T, after that i started to be hit by the "too many open files error" on the standalone O.
Oct 14 04:40:59 newyorkcity livepeer[3182884]: [signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x7fa

[2022-10-17 07:26] leszko commented on #2614
@Franck-UltimaRatio @stronk-dev Can you confirm that is still an issue?

[2022-10-17 08:19] Franck-UltimaRatio commented on #2614
Yes it s still an issue, this is the number of error during the last hour on our NYC node (linux ubuntu)
![image](https://user-images.githubusercontent.com/87469831/196125481-e8b43e7f-67b3-4540-9c41-1cdf16453e10.png)

[2022-10-17 16:12] stronk-dev commented on #2614
![image](https://user-images.githubusercontent.com/9502378/196228695-48e661f6-ee90-4700-ab48-a39a7e4f21e0.png)
Seem to be happening less than before, but still some of them in US only

[2022-10-17 20:20] hobrob commented on #2621
This error first occured for me on Friday. Running opensuse 15.3, my system file limit is ample but my user-level file limit was only 1024, however after upping this to 70k+ and restarting the service in a new shell I still get the same error crop up within 24 hours. Interestingly, each time I've run a count of open files mentioning livepeer with lsof -u root | grep livepeer | wc -l and it always

[2022-10-18 12:28] leszko commented on #2621
Here's what I believe happens:
1. There is no timeout in the Orchestrator's endpoint `/segment`, so when B sends a segment and does not close the connection, it's always open.
2. Each connection opens a file descriptor, so if there are `1024` requests from B to O, then it creates `1024` file descriptors
3. There is a limit of the number of files that can be opened by the process and it's `1024` by

[2022-10-18 12:58] leszko commented on #2614
Is there any way you can check the Brodcaster's ETH addresses these request are coming from?

[2022-10-18 13:41] Franck-UltimaRatio commented on #2614
19049 segment_rpc.go:101] manifestID=cd0dc392-2dc1-44b9-809d-dd8311eb330b seqNo=1 orchSessionID=0486463c sender=**0xc3c7c4C8f7061B7d6A72766Eee5359fE4F36e61E** clientIP=143.244.61.193 error processing payment: invalid ticket senderNonce sender=0xc3c7c4C8f7061B7d6A72766Eee5359fE4F36e61E nonce=4 highest=6

[2022-10-19 06:01] Titan-Node opened #2630 "SAO Region - err="context deadline exceeded (Client.Timeout or context cancellation while reading body)""
**Describe the bug**
Happening in the Sao Paulo node only.

Transcoder and Orchestrator getting this error
[code]

When connecting the same Transcoder to my NY node this error does not occur.

Could this be a Broadcaster error?

[2022-10-19 09:25] stronk-dev commented on #2621
I think I might have accidentaly caused this issue: I am using a [nodejs grpc library](https://github.com/grpc/grpc-node) to collect O performance and capabilitites (by simply doing `getOrchestrator` grpc calls and storing the results). The occurence of the `too many open files` error seems to coincide with the period where I was experimenting with [creating a new client for each call](https://git

[2022-10-19 09:36] thomshutt commented on #2621
Thanks for the surprise stress test @stronk-dev 😄 I was actually discussing with @leszko and @yondonfu whether this was likely caused by someone doing something malicious or accidental!

Agreed that something like this shouldn't make Os stop functioning

[2022-10-19 09:49] stronk-dev commented on #2621
Yeah my goal was to give O's a reliable way to [gauge their response times in each region and compare this with other O's](https://grafana.stronk.tech/d/b8FvMmmVk/orchestrator-tracker?orgId=1&var-orchestrators=captain-chad.eth&var-regions=Boston&from=now-1h&to=now&refresh=5s). There are some weird results with response times varying a lot for some O's, so I tried to fix this by forcing a new clien

[2022-10-19 12:00] leszko commented on #2614
I looked into the issue slightly deeper and here are some info/thoughts:

1. These streams come from the Livepeer Inc. Broadcasters
2. The issue is probably related to the conflicting rand numbers generated by the [`rand()`](https://github.com/livepeer/go-livepeer/blob/2298436423e657ffb987a80153175da94a242de3/pm/recipient.go#L347) function
3. One of the guesses is that it could happen when two str

[2022-10-19 14:26] yondonfu commented on #2614
The invalid ticket senderNonce error is triggered on O when it receives a ticket with a senderNonce value that is less than or equal to the highest senderNonce value tracked for a set of valid ticket params advertised by O. O should advertise a unique set of ticket params that is used for each session (as a result the same B should be using different sets of ticket params per session with an O). A

[2022-10-20 06:44] #2621 closed, assigned to leszko

[2022-10-22 07:42] Franck-UltimaRatio opened #2632 "Add an RPC fallback in flag setting"
when our L2 RPC has an outage our nodes loose all there jobs.

Add the possibility to add at least one RPC L2 fallback Flag in livepeer config

Really usefull also if you need to do some maintenance on your own RPC. Yours nodes will automaticly switch to fallback RPC without loosing jobs, then go back to main RPC when done.

[2022-10-23 12:49] ghost opened #2633 "docker image with incorrect entrypoint"
**Describe the bug**
Image version 0.5.35 (DIGEST:sha256:874e1a4bd1bc2a3f01dec42610707351f0acfab544225f84ebeea0982d5bcbd6)

Their is a problem on the image, the binary path changed from
`/usr/bin/livepeer`
 to
`/usr/local/bin/livepeer`
But the entrypoint is still the old one.

v0.5.34
![image](https://user-images.githubusercontent.com/115943219/197392987-0f3869ab-3c12-4d5f-8290-895d0ea231bd.png)
v

[2022-10-23 17:55] iameli opened #2634 "bootstrap broadcasters entirely from subgraph data"
**Summary**

`go-livepeer -broadcaster` interacts with the Ethereum/Arbitrum blockchain in three ways:

1. Prints tickets to pay Os for transcoding.
2. `livepeer_cli` commands to initialize broadcaster deposit/reserves and such
3. Retrieval of an orchestrator list from the registry contract

1 is an entirely offchain process and 2 is an administrative process that can be performed away from produc

[2022-10-23 19:46] iameli commented on #2633
@hjpotter92, could you take a look?

[2022-10-23 20:00] iameli commented on #2632
I think this would be a pretty solid feature, but in the meantime you can make something very similar happen with [Dshackle](https://github.com/emeraldpay/dshackle) in ["fallback" mode](https://github.com/emeraldpay/dshackle/blob/fa59d5570ed507a3b5aceeaa50162337bd42f654/docs/04-upstream-config.adoc#roles-and-fallback-upstream).

[2022-10-24 00:25] AuthorityNull commented on #2632
Does Dshackle support Arbitrum? I'm not seeing it on their supported Blockchain list, unless it's included with the eth support.

[2022-10-24 06:40] leszko commented on #2634
I think that Point 1 is not entirely offchain process, since we use [the current block number for the ticket params](https://github.com/livepeer/go-livepeer/blob/e87d7366b4a077a59fa1c307ea4ee107bf8abe4a/pm/sender.go#L84)

[2022-10-24 06:48] leszko commented on #2632
Duplicate of #1959

[2022-10-24 06:48] #2632 closed, assigned to nobody

[2022-10-24 07:07] #2633 closed, assigned to hjpotter92

[2022-10-24 07:08] hjpotter92 commented on #2633
Fixed with #2635

[2022-10-24 08:11] iameli commented on #2634
@leszko Fair point, but an up-to-date graph node will have that information as well.

[2022-10-25 05:04] Titan-Node opened #2636 "Requested capabilities for segment are not compatible with this node"
**Describe the bug**

Orchestrator getting this error

[code]

Transcoder getting this error

[code]

SETUP:

Standalone O:
VPS
Livepeer 0.5.35

Standalone Transcoder:
Windows 10
2 GPUS - 1070 and 2080
Livepeer 0.5.33

Happening in LA node.

Is this just a an outdated version of transcoder?

[2022-10-27 08:29] eliteprox opened #2638 "Stream connections dropping on 0.5.35 release"
**Describe the bug**

A few orchestrators have mentioned issues with the latest release (0.5.35). I upgraded on Monday and noticed a significant change in stream stability. Large spikes and crashes were common. There were a lot of “connection reset by peer” errors. After extensive troubleshooting, a rollback to 0.5.34 today restored stability and we performed better than any day this week.

I thin

[2022-10-27 09:16] leszko commented on #2638
Interesting. I think that setting `ReadTimeout` instead of `IdleTimeout` will not help here, because that's what's in the [Golang docs for IdleTimeout](https://pkg.go.dev/net/http#Server.IdleTimeout):

We could also use the ConnState callback (aka event handler), but I think it could only help if we wanted to have different timeout for read and different for idle. And for now, all we wanted is to

[2022-10-27 14:14] yondonfu commented on #2638
The timeout for a transcode loop run internally by an O times is currently [1 minute](https://github.com/livepeer/go-livepeer/blob/e1b25b2d8ecbbcef99c78909df58f4ab0de24763/core/orchestrator.go#L39) so transcode sessions on an O are considered inactive and are cleaned up after 1 minute. So, I think it makes sense for the IdleTimeout for connections to be >= this transcode loop timeout - otherwise,

[2022-10-27 14:22] yondonfu commented on #2323
Closed by https://github.com/livepeer/go-livepeer/pull/2381

[2022-10-27 14:22] #2323 closed, assigned to cyberj0g

[2022-10-27 14:28] #2638 closed, assigned to leszko

[2022-10-28 15:08] papabear99 opened #2641 "Add detail to log when a stream ends"
During this week's Water Cooler chat a side topic was raised about Orchestrators not knowing why streams end.

**Describe the solution you'd like**
Add more detail for the current  `Segment loop timed out; closing` message when a stream ends.

i.e.
Broadcaster ended stream: closing session
Transcoder did not return last segment: closing session
_Any additional info would helpful_

[2022-10-31 13:36] thomshutt commented on #2641
Hey @papabear99, thanks for the suggestion! I think this is something we'd be happy to accept if someone in the community can do the work to populate the message with the info you want

[2022-10-31 17:10] papabear99 commented on #2641
Thanks @thomshutt I will query the group in the Water Cooler today and then run it by the rest of the community in discord.

[2022-10-31 17:13] iameli opened #2642 "Inserting random words on the command line stops the CLI from being parsed"
Good behavior:

[code]

Bad behavior:

[code]

Actual flags on the far side of `random_nonsense` are ignored too:
[code]

I suppose our CLI parsing library is seeing `random_nonsense` there as a subcommand? But we should be crashing if that's there, this can only cause bugs for people.

[2022-10-31 20:04] Titan-Node commented on #2641
@thomshutt
In my opinion there are only 2 logs we really need to start:

1) Broadcaster gracefully ended stream
2) There was an error (of any kind)

Just adding the feature that notifies us that a Broadcaster ended a stream gracefully would be really helpful.

If we wanted to get more granular we could break down the specific logs of reasons we could respond to.

Examples of logs

**Gracefully end

[2022-10-31 21:52] Strykar opened #2643 "livepeer_cli logs incorrect error message when attempting to setup O which is already bonded"
**Describe the bug**
When attempting to bond LPT to begin becoming an Orchestrator via `livepeer_cli`, it will incorrectly state that the bonded LPT amount is less than what the wallet holds.
It actually fails because you cannot be bonded to an O and then start your own O with the same wallet unless all the LPT is unbonded first.

**Steps to reproduce the behavior:**
1. Stake any O, then attempt t

[2022-11-01 05:37] cyberj0g commented on #2642
Related: #2613

[2022-11-01 06:05] cyberj0g commented on #2636
Just double checked, there weren't any capability-related breaking changes since v0.5.33. Couldn't reproduce it locally with v0.5.33 T and v0.5.35 O and B. Probably something related to stream parameters and requested transcoding profiles, need to know that to investigate further.

[2022-11-01 06:42] Titan-Node commented on #2636
Updated the transcoders to v0.5.35 and solved the problem.

[2022-11-01 06:43] #2636 closed, assigned to nobody

[2022-11-01 06:45] Titan-Node commented on #2630
The VPS I was renting for the standalone O seemed to be blocking port 8935 in some way. Still allowed Ts to connect and receive segments but segments could not be returned to the O. Switched VPS providers in SÃO and problem is fixed.

[2022-11-01 06:45] #2630 closed, assigned to nobody

[2022-11-01 10:01] stronk-dev commented on #2641
+1 for this feature request. It's common to have sticky sessions in one location while in another location streams are choppy and end after a few segments. It's good to be able to verify whether this is caused by an error in the O's setup, a bug in go-livepeer or on the B side.

Maybe we can also tag test streams in a certain way? You often see 36, 96, and 147 segment streams and while we expect t

[2022-11-09 02:39] yondonfu commented on #2542
Context: We expect Mist to be the primary source of segments and receiver of transcoded renditions for a go-livepeer B (as a part of Catalyst which is Mist + go-livepeer B bundled together).

Mist currently ignores the audio tracks of transcoded renditions because it only uses the source audio track. Given this, I see this as a non-issue since the audio tracks of the transcoded renditions will be

[2022-11-10 15:16] RyanC92 opened #2648 "Transferrable ownership of an O (reversable)"
**Is your feature request related to a problem? Please describe.**
With a few O's being hacked on their O wallets it puts the O in a position where they have to abandon the orchestrator completely and start over. This has happened to O's such as myself and a few others.

**Describe the solution you'd like**
I would like to propose that ownership of the registered O is tokenized into an NFT which c

[2022-11-10 18:03] thomshutt opened #2649 "Broadcaster's validation fails for vertical videos"
**Describe the bug**
When local validation is enabled on the Broadcaster with the `localVerify` flag, vertical videos seem to consistently fail this validation.

**To Reproduce**
1. Segment any vertical MP4 and push the segments through a Broadcaster with verification enabled
2. Observe that segments will fail to transcode with a mixture of `PM Check Failed`, `PixelsAbsent`, `PixelsMismatch`. @cyb

[2022-11-10 19:30] yondonfu commented on #2649
Re: the `PixelsMismatch` errors

Context:

The term "local verification" refers to:

- Pixel count verification
- Signature verification

Local verification is enabled by default unless:

- `-localVerify=false` is passed to the node
- The node is in off-chain mode *and* `-localVerify` is *not* specified

**Pixel Count Verification**

An O will calculate the [# of pixels that were encoded for each

[2022-11-11 22:44] yondonfu commented on #2098
Closing in favor https://github.com/livepeer/go-livepeer/issues/2614

[2022-11-11 22:44] #2098 closed, assigned to nobody

[2022-11-15 20:24] 0xspeedybird commented on #2017
Hi there, We’re a new Orchestrator landing in the past two weeks. Our high-speed systems are geographically distributed and deployed in a highly automated fashion. This ensures we can move rapidly as new capabilities evolve and other opportunities emerge.

Check us out in Discord and the forums.  Excited to be here!!

https://www.speedybird.xyz
https://explorer.livepeer.org/accounts/0xdef1c70578b2

[2022-11-17 13:53] cyberj0g opened #2654 "Fix fast verification fails for some segments, when B is using both Nvidia and CPU O+Ts"
### Problem

Fast verification fails for some segments, when the Broadcaster uses both Orchestrators with Nvidia hardware, and Orchestrators, which transcode on CPUs. We want to:
- investigate the reason of such fails
- measure the failure rate in a test environment
- make failure rate lower than 1%, as per Fast Verification acceptance criteria.

### Findings
1. Fast verification fails on perceptu

[2022-11-17 14:16] cyberj0g commented on #2654
### Solution
1. Add a [unit test](https://github.com/livepeer/lpms/pull/357) to ensure an actual FP/FN rate, at least for a multi-segment test asset.
2. [Tune](https://github.com/livepeer/FFmpeg/pull/30) signature comparison function, so that above test passes.
3. Ongoing monitoring of fast verification fail rate on staging and production

[2022-11-21 15:14] yondonfu opened #2660 "B eagerly switches to another O if it has used that O before and thinks it will be faster even if the current O has a real-time latency score"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Background**

After B runs discovery in order to create a pool of Os for selection, the following rules apply for selection that are relevant for this issue:

- A "known session" is defined as a session that uses an O that B has sent a s

[2022-11-21 15:24] hthillman commented on #2654
@cyberj0g where can I monitor fast verification fail rate?

[2022-11-21 20:09] yondonfu opened #2661 "senderNonce replay prevention on O that allows for out-of-order senderNonce values in tickets"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

This issue occurs whenever multiple segments are pushed in parallel or in quick succession with minimal time delay to B via the `/live` endpoint (i.e. HTTP push ingest). This can occur for a livestream if the client that is pushing to B (i

[2022-11-21 20:10] yondonfu commented on #2614
Solution is being tracked in https://github.com/livepeer/go-livepeer/issues/2661

[2022-11-23 11:23] cyberj0g commented on #2394
Done once metrics [PR](https://github.com/livepeer/go-livepeer/pull/2663) is merged.
To have scene classification on production and staging:
1. Run the Bs with `-metricsPerStream` and `-detectContent` flags
2. Pass stream configuration from Studio or API
[code]
3. Update [sample dashboard](https://eu-metrics-monitoring.livepeer.monster/grafana/d/oQZqfBd4k/scene-classification-demo?orgId=1) with qu

[2022-11-23 14:35] leszko opened #2664 "Add arbitrum-one-goerli network and deprecate arbitrum-one-rinkeby"
As the livepeer cmd user, I'd like to use specify the `-network arbitrum-one-goerli` option in order to use start Livepeer node in the Arbitrum Devnet (Goerli) network.

Additionally, we should print a warning message if any deprecated network is used (`arbitrum-one-rinkeby`, `mainnet`, or `rinkeby`).

A new network can be added after the Livepeer contracts are deployed into Arbitrum Goerli. The n

[2022-11-23 14:57] leszko opened #2665 "Test manually E2E workflow on Goerli"
After the Livepeer contracts are deployed into Arbitrum Goerli we should perform the whole E2E workflow to see if Livepeer transcoding and payments work correctly.

I remember that when we tested it at some point in Arbitrum Devnet (after the Arbitrum Nitro migration), it didn't work correctly, because Arbitrum created blocks only when there were some transactions. So, in the case when non transac

[2022-11-28 20:14] #2660 closed, assigned to yondonfu

[2022-11-28 21:30] yondonfu opened #2669 "Refactor selection logic in broadcast.go into selection.go selectors"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

See the following comment from https://github.com/livepeer/go-livepeer/pull/2666

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I think encapsulating as much selection logic into selector

[2022-11-29 15:12] leszko commented on #2648
Thanks @RyanC92. That's a really nice feature request. Since it's a big one and related to the protocol changes, how about creating a post on the [Livepeer Forum](https://forum.livepeer.org/). There we can discuss, create LIP and follow up on this topic.

[2022-11-29 15:12] #2648 closed, assigned to nobody

[2022-11-29 15:16] leszko commented on #2642
I suggest checking if there an easy way to tweak it in github.com/peterbourgon/ff/v3 (which we use for parsing flags). If it's too much effort, then I'd suggest to just close it.

[2022-11-30 15:18] yondonfu opened #2674 "P1 - Success rate metric only calculated based on NoOrchestrator transcode errors"
**Describe the bug**
A clear and concise description of what the bug is.

The success rate Grafana graph [here](https://eu-metrics-monitoring.livepeer.live/grafana/d/ZsZv-B3im/federated-livepeer-overview?orgId=1) shows success rate consistently >= 100% even though we know that there have been transcode failures.

From reviewing the metrics code, it appears that the success rate metric is updated w

[2022-11-30 15:27] yondonfu opened #2675 "P1 - Return a 422 when B hits max # of transcode attempts"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The HandlePush handler currently returns a 422 error to the client if a [non-retryable error is encountered](https://github.com/livepeer/go-livepeer/blob/c6983c5be638be4e20c2ae9c2c640b4ac8acaf06/server/mediaserver.go#L1014).

This 422 is i

[2022-11-30 15:44] #2571 closed, assigned to yondonfu