[2021-03-19 19:07] yondonfu opened #1804 "Setting only price per pixel in livepeer_cli succeeds on the node, but livepeer_cli reports an error"
No other on-chain parameters are updated, and only price per pixel is updated. It appears the price is updated on the node, but livepeer_cli reports `Error applying configuration`.

From Discord:

[2021-03-19 19:18] yondonfu opened #1805 "ci: Cache ffmpeg dependencies in Windows build"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, builds take a long time mainly because building ffmpeg dependencies (in `install_ffmpeg.sh`) take a long time. But, these dependencies vary rarely change unless we need to upgrade one of them. Most of the time when we work in th

[2021-03-20 18:50] yondonfu opened #1806 "pm: Do not submit a new tx for a winning ticket if another tx is already pending"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, if gas prices are rising, then its possible for a tx to be submitted for a ticket at the head of the queue. But, that tx will sit pending for awhile and internally the node will get a context timeout from waiting for the tx to c

[2021-03-21 00:09] yondonfu opened #1807 "livepeer_cli: 0.0000<nil> GWei for max gas price"
<img width="734" alt="Screen Shot 2021-03-20 at 8 07 49 PM" src="https://user-images.githubusercontent.com/5933273/111889009-04a76880-89b8-11eb-9dd1-0d12c227321f.png">

When no max price is set this is what livepeer_cli looks like.

[2021-03-23 02:19] kyriediculous opened #1808 "Use fee cut instead of fee share in CLI"
**Is your feature request related to a problem? Please describe.**
The explorer uses fee cut as user facing language even though the protocol uses feeShare (the opposite).

It would be good that all user facing language is ubiquitous to avoid confusion.

From discord:

I noticed that he explorer shows "Fee Cut" as a column and the command line has a parameter feeShare.  Does feeShare mean the oppo

[2021-03-23 16:01] kyriediculous commented on #1803
Right...  Good find ! If there are no blocks on the stack nil can be returned without returning an error due to the following code block in `FindLatestMiniHeader`

[code]

[2021-03-23 17:05] kyriediculous commented on #1806
We could add a `pending bool` field to the database and add this to the selection query. When we mark a winning ticket as redeemed we can set  it back to `false`.

The replacement behaviour for reward calls was removed awaiting the introduction of the `maxGasPrice` feature.

Now that this feature has landed in the latest release perhaps we can consider re-introducing this feature.

[2021-03-23 18:21] #1740 closed, assigned to yondonfu

[2021-03-23 18:21] #1739 closed, assigned to adamsoffer

[2021-03-24 15:56] yondonfu commented on #1755
Don't think this is a problem anymore since the move to GH actions for the Linux build which *does* authenticate with Docker before pulling.

[2021-03-24 15:56] #1755 closed, assigned to nobody

[2021-03-24 16:01] yondonfu commented on #1701
We're using go1.15 now as of https://github.com/livepeer/go-livepeer/pull/1785

[2021-03-24 16:01] #1701 closed, assigned to nobody

[2021-03-24 16:38] yondonfu commented on #1563
Using `github.ref` now. See https://github.com/livepeer/go-livepeer/blob/ffabc358fe3115c81e0fb6fc83f1b6b281194498/.github/workflows/windows.yml#L26

[2021-03-24 16:38] #1563 closed, assigned to nobody

[2021-03-24 17:26] iameli commented on #1805
I think this will be easier in Linux/Docker than Windows, let's do that first (but we can certainly try both)

[2021-03-25 23:31] yondonfu commented on #1757
There's been some great discussion about this on Discord so recording some of it here:

vires-in-numeris on an example strategy for redeeming tickets:

@dob on modules for these strategies:

The endpoint mentioned in the OP might be able to address both of these suggestions. Expose the endpoint and create some example scripts that people can use.

[2021-03-26 13:19] yondonfu opened #1815 "livepeer_cli: Show estimated tx cost in a confirmation step"
When you use livepeer_cli to tell the node to submit a transaction there is:

- No indication of how much the transaction will cost
- No confirmation step checking with the user if they are sure they want to do this

As a result, it is easy for the following to occur:

- User spends more than they want to
- User has to guess how much ETH they need for the transactions since the failure message don

[2021-03-26 19:50] yondonfu commented on #1774
We should keep in mind that there are certain LPMS errors that we should probably retry on. For example, if an OOM error is returned, that segment could still be transcoded by another node.

[2021-03-28 16:15] AcesHigh70 commented on #1802
Take this with a grain of salt.  I'm new here.  I am not a Go developer and this is from a user's perspective, although I have been in crypto and mining since 2013/14.

**Comments on Current Mechanism**

1.  This  is a shallow ping and does not give the broadcaster any information about the performance of the O/T combination.  If an O's ping is 10ms but it responds to a 2 second segment in 1.9 sec

[2021-03-30 11:42] chrishobcroft opened #1820 "Build from Source docs failing"
**Describe the bug**

When following the build from source docs at livepeer.org/docs, the process as published fails to build a binary.

**To Reproduce**

1. Build a clean `Ubuntu 18.04` server and `ssh` into it
2. Run the following commands, per the new ["Build from source" docs](https://livepeer.org/docs/installation/install-livepeer#build-from-source):
[code]
3. Follow the official [Go installa

[2021-03-30 11:53] kyriediculous commented on #1820
This is apparently caused by memory exhaustion on the machine and is unrelated to go-livepeer

Code 9 equals SIGKILL (Signal Killed) which happens when not enough RAM + SWAP is available for the process to complete.

https://blog.inventic.eu/2012/07/linux-c-linker-ld-terminated-with-signal-9/#:~:text=The%20linker%20error%20%E2%80%9Cld%20terminated,by%20increasing%20swap%20file%20size.

Are you try

[2021-03-30 14:30] chrishobcroft commented on #1820
I was using a VPS with 512Mb, largely to test whether this would build on something so resource-constrained.

In the end it worked after I added 1G of swap.

Should we add something about minimum resource requirements to the build doc, or close this?

[2021-03-30 14:39] kyriediculous commented on #1820
There is a section in the docs that talks about minimum hardware requirements to run a node https://livepeer.org/docs/video-miners/reference/hardware

Since compiling takes more resources than running these can also count as the absolute minimum resources to build from source.

Some things are still left open though. The worst box I run Livepeer on still has 4GB of RAM.

[2021-03-30 15:22] kyriediculous commented on #1820
Since the issue itself is fixed by adding more swap (a solution is available), there is a section in the docs (that needs to be elaborated on , admittedly) and the fact that I think there's little we can do about it from our end I think we can close the issue unless you have strong objections.

[2021-03-31 00:25] kyriediculous opened #1822 "Log from reward transaction always shows 0 LPTU minted upon success."
**Describe the bug**

The log statement that logs how many LPT rewards were minted after a successful reward call always indicates 0 LPTU were minted

[code]

The log statement relies on the earnings pool to fetch rewards for a round, but this is no longer in use since [LIP-36](https://medium.com/livepeer-blog/earnings-claiming-gas-cost-reductions-lip-36-and-lip-52-recap-f136416fdb1)

We could add

[2021-04-01 20:43] iameli opened #1824 "SIGSEGV in Orchestrator cgo code"
I'm filing this because I found a segfault. But it doesn't occur at all regularly, so I'd be willing to chalk it up to bad RAM or a bad GPU or something.

[code]

[2021-04-01 22:26] yondonfu commented on #1205
`nvidia-smi --query-gpu=index --format=csv,noheader | sed -z 's/\\n/,/g;s/,$/\\n/'` seems to return a new line delimited string:

[code]

`nvidia-smi --query-gpu=index --format=csv,noheader | tr "\n" "," | sed 's/,$//'` seems to work though:

[code]

That being said, device enumeration seems to be implemented directly using the CUDA API in other programs like [ethminer](https://github.com/ethereum

[2021-04-02 06:41] dennisgeerts opened #1825 "Missing ETH client check for maxGasPrice handler: Invalid memory address or nil pointer dereference"
I just started discovering livepeer and i've received the following error in my terminal.

I'm not really aware of the steps I did to cause this issue, a simple restart of the transcoder also solved this issue. Hoping this to be perhaps useful!

(I did not have the time to copy-paste error since I could not scroll up anymore after I took the picture...)

**Screenshot**
![livepeer error transcoder]

[2021-04-02 13:21] yondonfu commented on #1610
Another report in Discord: https://discord.com/channels/423160867534929930/429350403272998913/827210495677300756

The user was running a node with these flogs:

[code]

[2021-04-02 13:37] yondonfu commented on #1825
Thanks for the report @dennisgeerts

Looks like the error occurred because there is a [missing check for whether Ethereum related requests are supported](https://github.com/livepeer/go-livepeer/blob/4e24711bfabc873f1be7e98cdd8599f68a6cfedd/server/webserver.go#L1145) for one of the server endpoints that was requested. This check is needed because transcoders don't connect to Ethereum so they do not

[2021-04-03 16:03] chrishobcroft commented on #1820
Closing, thanks.

[2021-04-03 16:03] #1820 closed, assigned to nobody

[2021-04-04 07:46] chrishobcroft opened #1826 "Feature: CLI could ask for confirmation for all manual transactions which require gas"
**Is your feature request related to a problem? Please describe.**

As new Orchestrators register on the network, some operators are experiencing initial losses due to burning gas.

One new Orchestrators noted _"I've spent over $500 of eth on gas fees alone, and that's in the last 4 days registering the node and discovering the wonderful silent but deadly automated fees. Lol"_

Upon further invest

[2021-04-04 10:21] 0xVires commented on #1802
I agree with @AcesHigh70, especially for step 1.
The current selection mechanism could even be gamed by setting up some O's right next to the B (which are basically Livepeer.com nodes). So I'm setting up 8 Os on the same provider as the Livepeer.com node, but only 1 actually has some stake behind it and points to my T. Result: Nobody besides me is even considered for the job - until I'm over capac

[2021-04-04 16:49] jailuthra commented on #1523
In addition to capping the segdata read in PushAPI client <-> B, increasing the scope of this issue to also use the same cap between B <-> O <-> T for the source segment and transcoded renditions

[2021-04-04 21:00] yondonfu opened #1828 "Nil pointer in LocalSenderMonitor watchPoolSizeChange()"
<img width="1605" alt="Screen Shot 2021-04-04 at 4 59 36 PM" src="https://user-images.githubusercontent.com/5933273/113521401-42cf8b00-9567-11eb-9159-6a195834c425.png">

The line that triggers it is [here](https://github.com/livepeer/go-livepeer/blob/4e24711bfabc873f1be7e98cdd8599f68a6cfedd/pm/sendermonitor.go#L489).

[2021-04-05 12:00] kyriediculous commented on #1802
I believe there is community consensus around following points:
- Shallow pings are considered bad in the current context
- Price should be incorporated.

On shallow pings:
I don't think the problem is shallow pings I also don't see real alternatives if there is no extra information available for the B.
Are you going to send the first segment to every transcoder everytime ? That doesn't seem cost

[2021-04-07 01:40] #1807 closed, assigned to kyriediculous

[2021-04-07 01:52] yondonfu opened #1829 "nil pointer error in getServiceURI() on startup"
[Original report](https://github.com/livepeer/go-livepeer/issues/1780#issuecomment-788902131)

[code]

Reported on v0.5.14.

[2021-04-07 01:52] yondonfu commented on #1780
Based on the stack trace, seems like a separate issue. Tracking in #1829.

[2021-04-08 03:13] #1774 closed, assigned to jailuthra

[2021-04-08 03:37] ericxtang opened #1831 "Improve Livepool (the Livepeer transcoding pool)"
**Gitcoin Grant PR**

**Is your feature request related to a problem? Please describe.**
There are many features that [Livepool](https://github.com/mtrivedi) can offer to improve the performance and user experience of the transcoding pool.

**Describe the solution you'd like**
- [ ] Better routing mechanisms between transcoders
- [ ] Better resource allocation algorithms
- [ ] Improved user interf

[2021-04-08 09:18] Abhi-789 opened #1832 "Not able to run the livepeer node."
Hello i am working  on livepeer to run broadcaster node so i have followed your documentation but when i clone the repo and run on my local machine it throws error of "github.com/ethereum/go-ethereum/crypto/secp256k1 exec: "gcc": executable file not found in $PATH" and when i go to this url the page is showing 404 not found i am running this code on my ubuntu 18.04 machine. Can you please suggest

[2021-04-08 14:10] yondonfu commented on #1832
Hi @Abhi-789 - great to hear that you're interested in working on go-livepeer.

Did you follow the [build from source](https://livepeer.org/docs/installation/install-livepeer#build-from-source) docs?

If not, I recommend using the instructions there.

[2021-04-08 14:34] yondonfu commented on #1831
While the motivation here may be to specifically improve Livepool, since Livepool leverages the split orchestrator and transcoder code in go-livepeer, I think it would be great to focus on the split orchestrator and transcoder code improvements in go-livepeer that would benefit not only Livepool, but anyone using that type of setup.

Some existing issues in this area:

- https://github.com/livepee

[2021-04-09 00:46] jailuthra opened #1834 "Make `MaxSegSize` configurable"
Forking it from the discussion in https://github.com/livepeer/go-livepeer/pull/1827#issuecomment-813699773

**Is your feature request related to a problem? Please describe.**
After #1827 the maximum segment size accepted by the B via push api (and also between B<->O<->T) is set to a hard coded value in the code. It would be helpful to have it as a configurable CLI parameter.

**Describe the soluti

[2021-04-09 01:13] yondonfu opened #1835 "livepeer_cli: Use LPT as units instead of LPTU when performing any staking actions"
The units used should also be made clear to the user.

[2021-04-09 18:25] #1523 closed, assigned to jailuthra

[2021-04-09 20:00] yondonfu opened #1836 "livepeer_cli: Prompt for rewardCut/feeShare shows a default value but pressing enter uses the current value"
It is reasonable to assume that if a default value is shown in the prompt that that would be the value used if no value is explicitly provided. However, this is not the current behavior - the current behavior is to use the current value if no value is specified even though the prompt indicates a default.

The fix here should be to line up the behavior when no value is specified with what a user wo

[2021-04-12 07:31] jailuthra commented on #1205
Directly using cuda api like `ethminer` and `ffmpeg` will be tricky for us. We do not have a direct dependency on nvidia's libs and headers. Ffmpeg loads them [internally](https://github.com/FFmpeg/FFmpeg/blob/master/compat/cuda/dynlink_loader.h), but does not provide a way access it externally. We could try loading it directly in LPMS similar to what FFmpeg does via [ffnvcodec/dynlink_loader.h](h

[2021-04-12 14:59] yondonfu commented on #1205
There also seems to be official [NVML Go bindings](https://github.com/NVIDIA/go-nvml) from Nvidia, but that is Linux only and [Windows support](https://github.com/NVIDIA/go-nvml/issues/1) has not been added yet (sounds like it was supported in an older version of the bindings based on the comments).

[2021-04-12 17:59] darkdarkdragon commented on #1205
I think that Windows machines with more than one GPU will be rare and certainly Windows will not be used on mining farms - so I think we can support `-nvidia=all` only on Linux.

[2021-04-12 19:38] #1780 closed, assigned to nobody

[2021-04-12 19:38] #1803 closed, assigned to kyriediculous

[2021-04-12 22:07] #1828 closed, assigned to nobody

[2021-04-13 02:32] #1798 closed, assigned to kyriediculous

[2021-04-13 12:14] jailuthra commented on #1205
Summarizing the above discussion around NVML. There are 3 go wrappers -
(1) https://github.com/mindprince/gonvml - Community run, [directly loads](https://github.com/mindprince/gonvml/blob/master/bindings.go#L152) `libnvidia-ml.so` so I presume no windows support
(2) https://github.com/NVIDIA/go-nvml - Official NVIDIA bindings, dedicated to NVML, but lacks windows supports right now (it seems to b

[2021-04-14 05:01] iameli commented on #1205
@jailuthra What about this? Looks like it can list GPUs in a cross-platform kind of way. https://github.com/jaypipes/ghw#gpu

Edit: Tested it on Windows (mingw64) and this example script seemed to work:
[code]

Produced this output:
[code]

Testing on the same machine booted into Linux now...

[2021-04-14 05:20] jailuthra commented on #1205
Neat find! I had already [implemented a fix](https://github.com/livepeer/go-livepeer/tree/jai/nvdevices) using `go-nvml` and it works on my linux machine - but importing the library is making our [windows CI build fail](https://github.com/livepeer/go-livepeer/runs/2339481214#step:7:89) :disappointed:

If an easy fix for that isn't possible I'll switch to `ghw` just to keep the build process sane -

[2021-04-14 06:02] iameli commented on #1205
Right on, that'd probably work. My Ubuntu installation on that machine seems to be broken, but here's the same script on a 8-GPU rig in BER:
[code]
Windows says `vendor: 'NVIDIA'` and Linux says `vendor: 'NVIDIA Corporation'` - I suppose we just allow any that contain the word NVIDIA?

[2021-04-14 06:09] jailuthra commented on #1205
@iameli Perfect, I've [switched to ghw](https://github.com/livepeer/go-livepeer/commit/7fb3f3c0d6603052e58c7a04e29e84e01031dba1) and it's working great on my linux machine too!

Yeah somehow I did exactly that without having that info :P https://github.com/livepeer/go-livepeer/blob/7fb3f3c0d6603052e58c7a04e29e84e01031dba1/common/util.go#L424

[2021-04-14 06:34] jailuthra commented on #1205
cc @yondonfu

Golang's `flag` library does not support empty values for string flags (it only works for boolean flags like `-testTranscoder`)

Something like `-nvidia=` would have worked, but imo that would have been confusing and anyhow different from ethminer/t-rex. For now I've sticked to `-nvidia=all` unless a cleaner solution is feasible.

[2021-04-14 14:32] yondonfu opened #1841 "Support alternate gas price oracle implementations"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Currently, the node determines the gas price to use for transactions by asking its ETH JSON-RPC provider for a gas price suggestion using the `eth_gasPrice` RPC call. The gas price returned by this RPC call may not be a very good estimate

[2021-04-14 23:12] kyriediculous opened #1842 "Re-use remote transcoders for a stream"
## Abstract

The split orchestrator and transcoder architecture enables the creation of transcoding pools. These pools can either be private or public.

When an orchestrator receives a stream it will currently send each segment for a `sessionID` to a different transcoder.

Analogous to how a broadcaster sticks with the same orchestrator for all segments of a stream as long as it can transcode in r

[2021-04-14 23:34] kyriediculous opened #1843 "Improve RemoteTranscoder error handling"
## Abstract

In a split orchestrator and transcoder architecture, whenever a `RemoteTranscoder` errors out (time-out, bad return data, transcoder error, ...) its connection to the Orchestrator will be reset (closed and re-opened) entirely.

When this happens all segments in flight for that `RemoteTranscoder`, regardless of their `sessionID`, will be short-circuited as well and the `RemoteTranscode

[2021-04-15 07:28] jailuthra opened #1844 "livepeer_bench: back-slashes in the file path don't work"
**Describe the bug**
Back-slashes in the input manifest's path cause the benchmarking to fail on Windows.

**To Reproduce**
Here's the original [Discord message](https://discord.com/channels/423160867534929930/429350403272998913/832086920569159681) from a user reporting this problem.

**Expected behavior**
Back-slashes should work out-of-the-box on Windows, or alternatives (like using forward-slas

[2021-04-15 12:59] windexirc commented on #1610
I have also run into this issue today... restarting seemed to work.
flags:
`./livepeer -network mainnet -orchSecret xxx -ethUrl https://mainnet.infura.io/v3/xxx -orchestrator -pricePerUnit 1000 -serviceAddr ip:8935 -cliAddr 0.0.0.0:7935 -monitor -maxSessions 10 -reward=false`

[2021-04-15 13:31] kyriediculous commented on #1610
Thanks for reporting! We're still working on determining the root cause as log outputs don't provide additional insight until now, once we know how to reproduce the issue can come up with a fix. We hope to resolve this as soon as we can given current priorities.

[2021-04-19 14:50] yondonfu opened #1846 "Silence discovery error logs if the request is cancelled"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

During discovery, a B will call GetOrchestrator() on all available Os. Once B receives a sufficient number of responses, it will cancel the remaining requests using a context. The cancellation of these requests results in a ton of error me

[2021-04-20 12:20] kyriediculous opened #1847 "Error processing unbond event, db insert failed"
**Describe the bug**
When processing an unbond event the insertion in the DB fails

[code]

This happens consistently for my orchestrator node on rinkeby. The unbonding locks do appear in the database so it might be a race condition or we try to insert it twice.

**Expected behavior**
Unbonding locks should be inserted without issue

**Screenshots**
![image](https://user-images.githubusercontent.c

[2021-04-22 01:13] yondonfu opened #1850 "Minimize discovery requests from broadcaster"
Bs currently can send a lot of discovery requests to Os when using the default on-chain discovery mechanism on mainnet. Many of these discovery requests are cancelled in-flight because once B receives a sufficient # of responses or hits a timeout, the remaining in-flight requests are cancelled. We believe that many cancelled in-flight requests can cause:

- Os to see TLS handshake errors in their

[2021-04-22 07:22] #1205 closed, assigned to jailuthra

[2021-04-23 19:57] yondonfu commented on #1805
Referencing https://github.com/livepeer/go-livepeer/pull/1821 as a previous investigation here.

[2021-04-26 14:57] yondonfu opened #1851 "Many insufficient faceValue ticket face value for redeem tx cost errors"
**Describe the bug**
A clear and concise description of what the bug is.

There has been an uptick in "insufficient faceValue ticket face value..." errors reported by Os.

The current hypothesis is that the Os are receiving gas prices from their JSON-RPC provider that are really low or even 0 in certain cases and as a result, the computed face value end up being [less than the ticket EV](https://g

[2021-04-26 17:43] yondonfu commented on #1851
The current options being considered in https://github.com/ethereum/go-ethereum/pull/22722 are to discard 0 and 1 wei gas price txs from the GPO or discarding any gas prices that are more than 3 standard deviations away from the mean gas price of the sampled txs. Based on the discussion, it seems like the current leaning is to go with the former for simplicity. While the former should largely miti

[2021-04-27 02:07] yondonfu commented on #1851
A simpler solution that might be good enough for now is to just check if the new gas price is within +- X% of the cached gas price. If the check passes, the new gas price is used to update the cache. If the cache fails, the new gas price is discarded. X could be something like 60-70%.

From glancing at this example graph of gas prices from an O, I think this simple solution should solve the main p

[2021-04-27 18:53] yondonfu opened #1852 "Refresh session when within the last 10% of ticket params validity period"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, B will refresh a session (i.e. call GetOrchestrator on O to get a fresh OrchestratorInfo message) if the O's [ticket params are expired](https://github.com/livepeer/go-livepeer/blob/7a0fd1f6b958d61177fc01c488972f54b8bad1e3/s

[2021-04-27 19:41] yondonfu opened #1853 "Fetch as many Os as possible during discovery before a shorter timeout"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The discovery mechanism currently to create a list of Os to select from of size min(poolSize, maxInflight * 2) where poolSize is the total # of Os that B is aware of and maxInflight = 4 which is based on an 8 second HTTP timeout and an ass

[2021-04-27 19:46] yondonfu commented on #1850
It is a little hard to cache OrchestratorInfo messages to be used across streams right now because each OrchestratorInfo message is associated with an auth token which is meant to be used for an individual stream. The expectation is that there is a unique auth token per stream which would involve a GetOrchestrator call prior to the start of any stream. We could consider other updates here in the f

[2021-04-28 12:46] #1808 closed, assigned to kyriediculous

[2021-04-28 20:28] darkdarkdragon opened #1855 "Allow to download recorded video in MP4 format"
Right now /recordings endpoint constructs HLS manifest with .ts segments in it. We also want to download recording in MP4 format.
We will add two URL query params: `format` and `rendition`. If `format=mp4` then we will take `rendition` (source by default), will read all the .ts segments one-by-one, transmux them to mp4 on the fly and return that mp4.

[2021-04-29 07:37] chrishobcroft opened #1857 "Unable to "become an orchestrator" on Mainnet using `geth` running `-syncmode light`"
## Describe the bug

When attempting to run an Orchestrator / Transcoder on Mainnet, it is not possible to "become an orchestrator" when using an `-ethUrl` connecting to `geth` running in `-syncmode light`.

Specifically: when using `livepeer_cli` to `Invoke multi-step "become an orchestrator"`, the process fails, reporting an error:
[code]

_This means that someone who wants to set up a new Orche

[2021-04-29 07:52] chrishobcroft commented on #1857
Full log of what is shown in the console when running [`livepeer_cli` is here](https://github.com/livepeer/go-livepeer/files/6397045/livepeer_cli.log)

[2021-04-29 07:56] chrishobcroft opened #1858 "Unable to "become an orchestrator" on Rinkeby using `livepeer_cli`"
## Describe the bug

When attempting to run an Orchestrator / Transcoder on **Rinkeby** Testnet, _it is not possible to "become an orchestrator"_ using the `livepeer_cli`

Specifically: when using `livepeer_cli` to `Invoke multi-step "become an orchestrator"`, the process fails, reporting an error:
[code]

_**This represents a serious blocker for the onboarding flow for Livepeer Orchestrators.**_

[2021-04-29 11:16] chrishobcroft commented on #1857
Confirmed as a production network issue by @adrianm on Livepeer Discord:

![image](https://user-images.githubusercontent.com/2212651/116542517-55d93f00-a90a-11eb-81a3-f0dc997a899a.png)

[2021-04-29 12:33] kyriediculous commented on #1852
Are there cases of this actually happening ?

Because currently the orchestrator would send updated ticket params with a new expiry based on its last seen block with every segment. The expiration is currently set at 5 blocks so for this to occur the segment in flight would have to be longer than 5 ethereum blocks or 1 minute or the orchestrator has a stale view of the last seen block (in which cas

[2021-04-29 13:44] yondonfu commented on #1857
Were there any error logs on the node when you observed the `Error getting delegator info: unexpected end of JSON input` error in `livepeer_cli`?

[2021-04-29 13:58] yondonfu commented on #1852
Hard to say for certain, but I have observed a number of TicketParams expired errors being returned by various Os on the network at a regular frequency. So, in each of those cases, the O that returns the TicketParams expired would be temporarily suspended from selection by the O causing unnecessary churn in B's session list for a stream.

If a B receives TicketParams from a set of Os and then swit

[2021-04-29 15:59] kyriediculous commented on #1852
It seems that there could actually be to distinguishable issues here then and the solution for each might be different.

1. TicketParams expire for the current orchestrator

    This would occur if either:
    - the segment in flight is longer than the remaining expiration. This would have a higher chance of happening when the orchestrator's view of the last block is behind by a couple. The minimu

[2021-04-29 17:54] pglowacky opened #1861 "Copy change on Test Player page"
![image.png](https://images.zenhubusercontent.com/602ea479bcf4ef10a9aace61/96989861-282f-4e3e-bf53-1ed5c71c7293)

Change to "Source stream + Livepeer.com transcoded renditions"

[2021-04-29 17:55] #1861 closed, assigned to nobody

[2021-04-29 23:01] #1851 closed, assigned to kyriediculous

[2021-04-30 10:39] chrishobcroft commented on #1857
Well, as a matter of fact, there were, @yondonfu :
[code]
So, I guess the issue is with geth in light mode not being able to access the data. I will close this now.

[2021-04-30 10:39] #1857 closed, assigned to nobody

[2021-04-30 12:21] kyriediculous commented on #1853
I pushed some changes to [this branch](https://github.com/livepeer/go-livepeer/tree/nv/alt-discovery)

- Decreased the timeout to 1 second
- Changed the suspension time to poolSize/numSessions (not sure if this is better but at least this avoids poolSize/numOrchs which would always be 1)
- Changed the cut-off point at which we do a refresh to be at less or equal than 20% of the original selected s

[2021-05-03 16:43] Wisermerill opened #1865 "Can't install livepeer docker on synology"
hello,

i m trying to install livepeer on synology in orchestrator mode via docker. during install, i have this message :
“E0502 15:01:59.364010 1 livepeer.go:382] Failed to create Livepeer Ethereum client: liner: function not supported in this terminal”.

can i add a “passphrase parameter” to avoid this ?

Thanks for your help.

[2021-05-03 22:25] yondonfu commented on #1852
Agreed on the following points:

- Extending the TicketParams validity period can reduce the # of refresh requests that B has to send especially in the scenario where B & O have different views of the latest block number
- Extending the TicketParams validity period can extend the period of time after the start of a stream during which B can failover to an O without needing to send a refresh reques

[2021-05-04 00:38] yondonfu commented on #1865
You can use the `-ethPassword` flag when starting the node. The flag can be used in the following ways:

- `-ethPassword pass.txt` where `pass.txt` is a text file containing your password
- `-ethPassword pass` where `pass` is the password

[2021-05-04 07:45] kyriediculous commented on #1852
We only refresh the auth token for the session that is being actively used. We already refresh ticket params for the actively used session on a per segment basis. This behaviour is already similar , and even better, the ticketparams are refreshed more often (each segment) rather than 10% before expiry of a timer.

Since we do not actively refresh auth tokens for sessions that are not transcoding I

[2021-05-04 08:36] Wisermerill commented on #1865
Thanks for your help :)

[2021-05-04 14:23] yondonfu commented on #1865
No problem! If you encounter any additional issues feel free to ask in [Discord](https://discord.gg/uaPhtyrWsF) as well.

[2021-05-04 14:23] #1865 closed, assigned to nobody

[2021-05-04 18:28] yondonfu commented on #1853
@kyriediculous Can you open a PR?

[2021-05-04 18:44] yondonfu commented on #1852
We would also only be sending a refresh request for the current session that is being used if the associated TicketParams are close to expiring similar to what we do for auth tokens.

See above.

Sure. Can you open an issue for that? I think tackling that first is reasonable given your point on how short the TicketParams validity period is right now.

[2021-05-05 11:48] kyriediculous opened #1872 "pm: Increase TicketParams expiration"
**Is your feature request related to a problem? Please describe.**
Currently the `TicketParams` expiration is set to 5 blocks which forces relatively strict sync between Orchestrators and Broadcasters in terms of their view of the canonical Ethereum chain.

https://github.com/livepeer/go-livepeer/blob/1e5154a5a04d8361b7033110899b298a360775b3/pm/recipient.go#L24

It's also possible for the `TicketP

[2021-05-05 12:36] #1567 closed, assigned to kyriediculous

[2021-05-06 03:10] iameli opened #1876 "recording: implement backup OS support"
empty ticket, i will fill this in tomorrow

[2021-05-06 19:11] kyriediculous commented on #1852
Not sure if https://github.com/livepeer/go-livepeer/pull/1877 is along the lines of what you had in mind.

[2021-05-06 19:31] kyriediculous commented on #1846
Had to wrap the errors instead of concatenating the messages as the API docs of `errors.Is()` suggests. Works as expected, tested it on rinkeby and only get insufficient sender reserve errors now.

 https://github.com/livepeer/go-livepeer/pull/1837

[2021-05-07 16:40] kyriediculous commented on #1841
First, while the gas price oracle are important factors in implementing the logic of some strategies, when it comes to a strategy that determines how to handle transaction sending the scope would pertain to the `TransactionSender` interface.

[code]

## Current Implementation and Max gas price

The current implementation of `SendTransaction` takes into account the maximum gas price to use, if conf

[2021-05-10 14:45] yondonfu commented on #1841
@kyriediculous While transaction submission/retry strategies are an important topic, since the original issue is focused on improving the gas price estimates that the node has access to (i.e. other than just relying on the `eth_gasPrice` RPC call), what do you think about moving the transaction submission/retry strategies into a separate tracking issue?

[2021-05-11 14:48] #1872 closed, assigned to kyriediculous

[2021-05-12 16:48] #1273 closed, assigned to nobody

[2021-05-12 16:48] #1712 closed, assigned to nobody

[2021-05-12 16:48] #1842 closed, assigned to kyriediculous

[2021-05-12 18:20] #1762 closed, assigned to nobody

[2021-05-12 18:20] #1843 closed, assigned to nobody

[2021-05-12 21:52] yondonfu opened #1881 "Content Detection Integration (Experimental)"
## Abstract

An experimental content detection integration will allow transcoders to run content detection as a part of the transcoding pipeline.

## Motivation

Content detection will run as a part of the filtergraph after input video is decoded and before passing video frames to the encoder. This [PR](https://github.com/livepeer/lpms/pull/228) adds support for content detection in LPMS. Since th

[2021-05-13 05:35] ericxtang commented on #1881
I think the spec looks good for the scene classification purpose.  But since the spirit here is to make things a little more generic, should we take into account of different result data structures for different types of detection jobs?  For example, the object detection result may be a list of objects and a map between time stamp and the objects' coordinates.  Or an automated speed to text transc

[2021-05-13 21:01] yondonfu commented on #1881
Good idea. We should be able to increase the flexibility of the message schema by using `oneof` fields. For example, a `DetectorProfile` could have a `SceneClassificationProfile` or a `ObjectDetectionProfile`. And a `DetectData` could have a `SceneClassificationData` or a `ObjectDetectionData`. Here is what that would look like:

[code]

I'll update the OP accordingly.

At this point, I'm not sure

[2021-05-14 15:28] kyriediculous commented on #1825
I think another question is whether we want to expose the CLI at all when running in `transcoder` only mode.

None of the CLI options are actually relevant and those that are (as informative endpoints) require an ETH Client.

Furthermore there's the added UX hurdle of having the assign a separate port for each transcoder on the same machine.

I think it might be better to keep `transcoder` mode as

[2021-05-14 15:28] ericxtang commented on #1881
Another thing to mention here since we are doing foundational work - we'll want to expose the detection results in the multipart return, in order to enable this feature for MistServer users.  It doesn't have to be in this round of work because we are focused on enabling the feature for PlayDJ via livepeer.com, but I want to point it out in case that'll influence the architecture design.

[2021-05-14 15:59] yondonfu commented on #1825
The main reason that the CLI webserver was exposed on the transcoder in https://github.com/livepeer/go-livepeer/pull/1650 was to enable metrics reporting. Could consider exposing the `/metrics` endpoint on the existing HTTP/RPC port, but re-using that port for metrics has a bit of a smell to me. Alternatively, the endpoint could be exposed on another port altogether that is separate from the CLI w

[2021-05-17 13:37] yondonfu opened #1882 "Experimental capability support"
See "Experimental Capability Support" in https://github.com/livepeer/go-livepeer/issues/1881.

[2021-05-17 13:38] yondonfu opened #1883 "Update protobuf messages to support content detection"
See "Protobuf Messages" in https://github.com/livepeer/go-livepeer/issues/1881

[2021-05-17 13:40] yondonfu opened #1884 "Configure content detection via broadcaster stream auth webhook"
See "Broadcaster Stream Auth Webhook" in https://github.com/livepeer/go-livepeer/issues/1881

[2021-05-17 13:41] yondonfu opened #1885 "B/O/T content detection request processing"
See:

- "Broadcaster Segment Submission"
- "Orchestrator Processing Detection Requests"
- "Transcoder Processing Detection Requests"

in https://github.com/livepeer/go-livepeer/issues/1881.

[2021-05-17 13:42] yondonfu opened #1886 "Use content detection webhook on broadcaster to return detection results"
See "Broadcaster Detection Webhook" in https://github.com/livepeer/go-livepeer/issues/1881.

[2021-05-17 14:31] darkdarkdragon opened #1887 "wrong hash in go-livepeer version string"
Recent changes to CI broke generation of version string - it now includes some merge commit which does not exists in the repository. This makes hard to check build's version.

[2021-05-17 15:44] darkdarkdragon opened #1888 "Should not save (when recording) segments with zero video frames"
## Problem

Mist sometimes emit segments with zero video frames. We have special check for such frames in lpms, so they not transcoded. But if recording is enabled - these segments saved in the source stream.
And these segments cause problems when playing such streams - our test player and bitmovin player stop at such a segment.

## Proposed solution

We do have function in lpms that check for suc

[2021-05-17 15:50] yondonfu commented on #1841
@kyriediculous is planning on splitting the transaction retry strategy spec into a separate issue and cleaning it up this week.

[2021-05-17 16:22] darkdarkdragon opened #1889 "same segments appears in recording"
## Problem

When Mist gets transcoding error it retries same segment with different broadcaster.
If recording is enabled every broadcaster will save this segment and it will appear in resulting recording manifest multiple times.

## Proposed solution

We should save segment's hash into json playlist (S3 storage returns hash after save - we can use that to not to calculate our own hash) and on mani

[2021-05-17 19:56] yondonfu commented on #1888
And the reason that its important for the broadcaster to be able to determine if the source segment has zero video frames is because even if there are no transcoded results we still want to include the source segment in the recording without corresponding transcoding renditions right?

[2021-05-17 19:58] darkdarkdragon commented on #1888
Yes - if our transcoding pipeline is down then user at least will get his source stream.

[2021-05-17 20:08] darkdarkdragon opened #1890 "recording created json playlist file per segment"
This recorded stream https://mdw-cdn.livepeer.com/recordings/7f6f88f8-93e2-447c-b9dd-2018dcece75e/index.m3u8
created json playlist file per stream - which shouldn't happen.
It created 2700 playlist files and that made request for this playlist to timeout.

[2021-05-17 20:09] darkdarkdragon commented on #1890
Spent some time investigating, wasn't able to find the reason yet.

[2021-05-18 13:49] #1887 closed, assigned to yondonfu

[2021-05-18 17:40] ericxtang commented on #1805
Cam will check with Yondon about whether this is still needed, given that Yondon updated the CI pipeline 2 weeks ago.

[2021-05-18 17:59] yondonfu commented on #1805
https://github.com/livepeer/go-livepeer/pull/1863 added Go mod + ffmpeg dep caching to the Linux build, but Go mod + ffmpeg dep caching would still be helpful for the Windows build especially since the Windows build takes the longest right now!

The "Cache go modules" and "Cache ffmpeg" steps in the [Linux action](https://github.com/livepeer/go-livepeer/blob/8f36179e49222d1b30acd50ce92a31227467e27

[2021-05-18 18:39] #1846 closed, assigned to kyriediculous

[2021-05-18 19:34] #1763 closed, assigned to yondonfu

[2021-05-18 21:31] camharris commented on #1805
@yondonfu Thanks for the reference. I'll knock out shortly.

[2021-05-19 03:19] #1852 closed, assigned to kyriediculous

[2021-05-19 21:37] darkdarkdragon opened #1897 "Generate MP4 that is playable in QuickTime"
MP4 we're generating now is not playable in QuickTime.
There is official Apple's example of fragmented MP4 which is playable in QuickTime - https://developer.apple.com/streaming/examples/advanced-stream-fmp4.html
But it is not clear if it is possible to generate such file using ffmpeg.

[2021-05-20 14:18] #1855 closed, assigned to darkdarkdragon

[2021-05-26 22:35] #1897 closed, assigned to darkdarkdragon

[2021-06-01 21:31] yondonfu opened #1904 "Set higher hardcoded redeem gas cost"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The ticket redemption gas cost estimate is currently [hardcoded to 250000](https://github.com/livepeer/go-livepeer/blob/54ac51ba36d5dea7bcf0463823c0e90537b8880f/cmd/livepeer/livepeer.go#L56).

While a lot of redemption txs have gas costs <

[2021-06-07 14:59] yondonfu opened #1906 "Failed gas estimation with revert for txs when another tx affecting the same state is pending"
# Background

A few orchestrators have reported gas estimation failing for reward txs with the confusing error message of:

[code]

This error message is confusing because in these cases reward txs for these orchestrators had not yet been mined in the current round. This error message was observed when the node tried to automatically submit reward txs and when `livepeer_cli` was used to manually s

[2021-06-07 16:00] jcomeaux opened #1907 "Implement Datadog Monitoring"
This effort is about integrating with Datadog for monitoring and alerting.  We're specifically focused on infrastructure with this effort, whereas application specific monitoring will continue to be handled by the Prometheus/AlertManager/Grafana stack.

**Subtasks**
- Set up proof-of-concept deployment of Datadog in one of our datacenters
- Use Terraform to configure and manage Dashboard(s)
- Conf

[2021-06-07 16:02] #1907 closed, assigned to jcomeaux

[2021-06-07 17:01] iameli commented on #1889
Oh interesting. I'm not sure hash will work? Two different transcodes aren't byte-identical.

[2021-06-07 17:04] darkdarkdragon commented on #1889
It's about source segments - they're retried because they wasn't transcoded.

[2021-06-08 04:42] JJassonn69 opened #1909 "block_watcher stuck on block_watcher.go:227] missing logs for blockNumber=12591793 - fetching on next polling interval"
**Describe the bug**

I have been trying to figure out how to setup Orchestrator. I finally got it to run past

I0608 07:34:19.910566  343033 rpc.go:167] Listening for RPC on 127.0.0.1:8935
I0608 07:34:21.910016  343033 rpc.go:234] Connecting RPC to https://127.0.0.1:8935

But after

I0608 07:34:21.915074  343033 rpc.go:207] Received Ping request

the block_watcher just keeps on looping on error m

[2021-06-08 13:26] yondonfu commented on #1909
Unless you see those messages consistently for every single block number, then this is expected behavior. The node will sometimes need to fetch logs its missing from its ETH provider and this generally shouldn't interfere with the operation of the node.

Hm haven't seen this one before. Could you try removing your DB file at `~/.lpData/mainnet/lpdb.sqlite3` and restarting your node and seeing if y

[2021-06-09 14:36] yondonfu commented on #1906
@kyriediculous also suggested using the gas price monitor as the source of all gas price estimates for transactions instead of relying on the `eth_gasPrice` RPC call at transaction submission time which might help because the gas price monitor can do some additional filtering/calculations based on gas prices fetched from the ETH provider.

[2021-06-10 22:17] dpurhar27 commented on #1906
I second @kyriediculous suggestion.

Our Orchestrator was running into this issue (below) as well so I dug through the Livepeer client the other day and came to a few conclusions.
I may have missed something in my trace of the client so please let me know if that's the case. Note, some of my own findings are very redundant to this thread at this point. Including anyway as a third-party's attestati

[2021-06-10 22:38] dpurhar27 opened #1913 "Update `0.5.18` release notes to avoid confusion"
**Describe the bug**
Some of the release notes for `0.5.18` are unclear as related to low gas price improvements, and will become more unclear as solutions for #1906 are implemented.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the release notes of [`0.5.18`](https://github.com/livepeer/go-livepeer/releases/tag/v0.5.18)

2. Read the below notes highlighting the gas price changes

Th

[2021-06-10 23:07] dpurhar27 opened #1914 "Enable customization of `minGasPrice` value"
## Problem
The `minGasPrice` value is leveraged in the new `GasPriceMonitor` module. It's used to filter out garbage gas price values returned from the ETH client's `eth_gasPrice` RPC call.

Read [this tweet thread ](https://twitter.com/YondonFu/status/1386693693088964609)to understand how the evolving MEV environment on Ethereum plays a part in negatively affecting this functionality recently (an

[2021-06-11 22:00] Wisermerill opened #1916 "All trancoding dies after "Application provided invalid, non monotonically increasing dts to muxer in stream" error"
When one stream send by a broadcaster got an error "Application provided invalid, non monotonically increasing dts to muxer in stream" all other stream die.

Running Orchestrator alone on ubuntu and Transcoder on 2 windows 10 PC (nvenc  Transcoder)

[2021-06-15 12:34] jailuthra commented on #1916
Yeah this occurs due to bad input segments, need to handle it better so that other streams don't get affected. Closing this in favor of a duplicate opened here https://github.com/livepeer/lpms/issues/227

[2021-06-15 12:34] #1916 closed, assigned to nobody

[2021-06-15 15:57] #1829 closed, assigned to kyriediculous

[2021-06-15 16:51] victorges commented on #1278
Adding my 2 cents to this discussion after it got mentioned in the PR above, since I got pretty surprised when I found out that the auth webhook (which feels like a root access API) has no authorization apart from the ID obscurity.

To share an anecdote of my own experience using the Livepeer API before I joined the team, when I was building that justcast.it app:
We wanted a really minimalistic in

[2021-06-15 20:17] dpurhar27 commented on #1906
Note, another gas estimation failure in a false-positive case upon `redeemWinningTicket(...)`.

[code]

Same root cause - very low gas price (1 or sub-1 Gwei) causes the first txn to hang, a re-broadcast is attempted but gas estimation is delegated to Geth and it simulates the ticket redemption in the state context behind the existing pending txn which is using the same ticket. Hence the error `ti

[2021-06-15 23:35] iameli opened #1917 "finalize detection webhook JSON shapes"
In an effort to maximize the usability of the scene classification API, as well as keep things as consistent as possible between go-livepeer and livepeer-com, the following is proposed as the shape for the scene detection webhook workflow, based on discussion and consensus with @yondonfu @ericxtang @victorges. Some basic objectives:

* Replace opaque integer IDs with human-readable strings
* Repla

[2021-06-15 23:50] iameli commented on #1917
I don't have a strong opinion about whether the gRPC protocol should be updated to be more in line with this structure, but it seems worth considering at least the replacement of integer ids with string enums for model identification

[2021-06-16 15:15] adamsoffer opened #1918 "Table refactor"

[2021-06-16 15:36] #1918 closed, assigned to nobody

[2021-06-16 16:32] jailuthra opened #1919 "Fix run-time `libtensorflow.so` dependency for non-scene-classification node env"

[2021-06-16 17:29] iameli opened #1920 "add ability to trigger transcoder health-check from the CLI port"
Orchestrators already the ability to self-check that they can transcode, and they do so on boot. We run into problems with "stuck Os" from time to time. If we add the ability to trigger the transcode self-check from the CLI port (perhaps `POST http://localhost:7935/self-check`), we can easily build a Kubernetes `livenessProbe` that will terminate stuck Os if they can no longer transcode.

[2021-06-16 23:00] #1888 closed, assigned to darkdarkdragon

[2021-06-17 18:57] yondonfu commented on #1906
@dpurhar27 Thanks for writing up such a thorough breakdown of the possible solutions for this issue!

Re: solution 3

I suspect that the geth ethclient package (which livepeer uses under the hood to send RPC calls to an ETH node/provider) could be updated to support passing a block number to an eth_estimateGas call since eth_estimateGas accepts the same parameters as an eth_call by adding a block

[2021-06-17 19:04] yondonfu commented on #1913
@dpurhar27 Good point - I agree that the currently wording of the 0.5.18 release notes can lead to confusion since the 0.5.18 addressed only a single symptom of super low gas price estimates, but did not address all symptoms.

I've updated the [0.5.18 release notes](https://github.com/livepeer/go-livepeer/releases/tag/v0.5.18) to use the following wording:

Feel free to re-open this issue if you t

[2021-06-17 19:04] #1913 closed, assigned to nobody

[2021-06-17 19:13] yondonfu commented on #1914
I can see the benefit in being able to customize a minimum gas price that is higher than the currently hardcoded value of 1 gwei. The proposed solution of adding a `-minGasPrice` CLI flag sounds good and I think would be relatively straightforward to implement once https://github.com/livepeer/go-livepeer/pull/1915 is merged - the value for `-minGasPrice` would replace the hardcoded 1 gwei value de

[2021-06-18 20:43] darkdarkdragon opened #1924 "Investigate "Error saving json playlist" errors."
**Describe the bug**
In our logs there is error `Error saving json playlist name=playlist_1624048218739776430.json bytes=103516 took=10.000206608s err=context deadline exceeded` constantly appears. Need to find out why.

**To Reproduce**
Check logs.

**Expected behavior**
Shouldn't be any error.

[2021-06-18 21:00] darkdarkdragon opened #1925 "Broadcaster returns 500 Internal Server Error for segments with 0-frame"
**Problem**
When Orchestrator receives segment with 0-frame it returns `TranscoderInvalidVideo` error.
When Broadcaster sees this error, it returns `500 Internal Server Error` in HTTP response.
When Mist sees `500` response - it tries to transcode same segment again. Then it gets same response again and this repeats until this segment goes out of live buffer of Mist.

**Proposed solution**
For `Tr

[2021-06-22 17:09] #1889 closed, assigned to darkdarkdragon

[2021-06-22 17:56] iameli opened #1927 "return HTTP 422 if a segment contains I-frames but not keyframes"
We can't do anything with these segments, users need to fix the problem on their side.

[2021-06-22 17:57] iameli opened #1928 "http push: return segment unchanged if it contains zero video frames"

[2021-06-22 18:43] iameli commented on #1278
@victorges discussing a little proposal for this that would look like this - add a user param to the webhook URLs, like so:

[code]

That being present would add it as a `Bearer` token in the `Authorization` header for webhook calls:

[code]

That would make it quite easy to implement on the API server while also providing a straightforward API for other integrators.

Alternative, more consistent

[2021-06-22 19:42] darkdarkdragon commented on #1278
@iameli I like idea with `Authorization: Bearer 2778622F-D260-4859-9FF8-1B73A9FF4830` most - anyway it is our internal API which is not useful to anyone else.

[2021-06-22 21:13] iameli commented on #1278
@darkdarkdragon That's definitely the easiest but @victorges was kind of bringing me around on the Basic Auth version — it has exactly the same security properties but provides zero surprises to integrators.

We could do both, also? Basic if there's a username and password, Bearer if there's just one string before the `@`. Like:
[code]

[2021-06-22 21:36] darkdarkdragon commented on #1278
@iameli no need to do both - they are basically the same - both transfer tokens in clear text. We can just go with Basic Auth.

[2021-06-22 23:31] victorges commented on #1278
Cool, I think the basic auth is a good first start, and I guess later we could add a more sophisticated authentication method like an HTTP digest or a shared secret which may need some changes to `go-livepeer` code.

Apart from the plain-text credentials, the other thing I'm uncomfortable with is how coarse these credentials are. We will be distributing all-powerful admin credentials to every broa

[2021-06-23 14:56] pglowacky opened #1929 "Webhooks Front End"

[2021-06-23 14:57] #1929 closed, assigned to nobody

[2021-06-23 15:48] #1881 closed, assigned to nobody

[2021-06-23 15:56] yondonfu commented on #1917
Closed by #1922

[2021-06-23 15:56] #1917 closed, assigned to jailuthra

[2021-06-23 15:56] yondonfu commented on #1919
Closed by #1926

[2021-06-23 15:56] #1919 closed, assigned to jailuthra

[2021-06-23 15:57] yondonfu commented on #1886
Closed by #1901

[2021-06-23 15:57] #1886 closed, assigned to jailuthra

[2021-06-23 15:57] yondonfu commented on #1885
Closed by #1900

[2021-06-23 15:57] #1885 closed, assigned to jailuthra

[2021-06-23 15:57] yondonfu commented on #1884
Closed by #1898

[2021-06-23 15:57] #1884 closed, assigned to jailuthra

[2021-06-23 15:57] yondonfu commented on #1883
Closed by #1896

[2021-06-23 15:57] #1883 closed, assigned to jailuthra

[2021-06-23 15:58] yondonfu commented on #1882
Closed by #1895

[2021-06-23 15:58] #1882 closed, assigned to jailuthra

[2021-06-25 18:12] #1904 closed, assigned to yondonfu

[2021-06-28 15:52] chrishobcroft opened #1935 "Enable `-maxSessions` to be changed without requiring restart"
## Is your feature request related to a problem? Please describe.

As the Livepeer network grows, active Orchestrators will likely wish to learn how to use `-maxSessions` to their own benefit, and to the benefit of the network.

Currently, it is not possible to change `-maxSessions` without restarting the software with a different value for the `-maxSessions` parameter in the startup command.

Thi

[2021-06-28 16:57] Titan-Node commented on #1935
This would be really helpful for the scalability of Livepeer. As we see continued growth, the rate at which Orchestrators can add additional resources to increase `-maxSessions` will benefit from being seamless. Jumping from 10 to 50 and again to 100 `-maxSessions` can happen quickly as the network gets busier.

This is also essential for testing, it would be really nice to dial up or down a few `

[2021-06-28 18:14] iameli opened #1936 "omit auth portion of URL from webhook logs"
**Describe the bug**
We're presently logging the `-authWebhookUrl` and `-detectionWebhookUrl` parameters in their entirety. Since https://github.com/livepeer/livepeer-com/commit/1f55250cdbf7c23e48849498e793701d625c87d5, we're using the basic auth functionality to authenticate webhook requests for the server. When we log those, we should omit the auth portion of the URL, or at least the password bi

[2021-06-29 00:04] iameli commented on #1385
This, or something like it, has started to occur again. Certain orchestrators are getting scheduled onto Celeron processors in ORD and crashlooping. Gotta be... tensorflow?

[2021-06-29 17:57] iameli opened #1939 "Implement metadata queue for stream health"
### What is it?

We're going to teach go-livepeer to write segment metadata into a queue, one message (including all retries) per incoming segment. This will facilitate a "stream health" dashboard elsewhere.

We'll want a pluggable queue architecture, similar to objectStores, perhaps:
[code]

We'll start with AQMP support for RabbitMQ but later could support other queues — Kafka has been brought u

[2021-06-29 19:18] #1927 closed, assigned to darkdarkdragon

[2021-06-30 15:46] #1906 closed, assigned to kyriediculous

[2021-07-01 13:32] yondonfu opened #1941 "Bump LPMS to 0da8cb6"
Pull in B-frames fix for Nvidia encoding from https://github.com/livepeer/lpms/pull/243

[2021-07-01 15:48] #1914 closed, assigned to yondonfu

[2021-07-02 16:59] #1278 closed, assigned to victorges

[2021-07-03 20:43] JJassonn69 opened #1945 "Generic error in an external library"
**Describe the bug**
I had been receiving test streamings for a while now without any jobs and recently I checked the logs in the terminal and I see a the transcoder has red logs. After the error the session loop got timed out and transcoding job lost.

[h264_cuvid @ 0x7f2bb406b540] ctx->cvdl->cuvidParseVideoData(ctx->cuparser, &cupkt) failed -> CUDA_ERROR_UNKNOWN: unknown error
ERROR: decoder.c:6

[2021-07-06 15:05] yondonfu commented on #1825
Fixed in #1930

[2021-07-06 15:05] #1825 closed, assigned to nobody

[2021-07-06 19:58] #1928 closed, assigned to darkdarkdragon

[2021-07-06 20:44] #1936 closed, assigned to nobody

[2021-07-07 16:02] #1941 closed, assigned to jailuthra

[2021-07-07 18:16] Titan-Node commented on #1802
**Testing**
I did an experiment with setting up 8 Orchestrators on top of each other within 1ms of a B. This would be the gamification we are speaking about and the issue we are trying to solve.

The outcome was interesting.

**First:** The O with the stake did in fact win most (or if not all) of the work close to the B. With that in mind, the final transcoding score for the main O was likely subo

[2021-07-08 17:22] dpurhar27 commented on #1913
The new wording looks good - thanks!

[2021-07-08 19:39] iameli opened #1949 "extremely long delay before uploaded segment gets transcoded"
TLDR: There's some kind of pause ~120s after a segment gets uploaded before it gets processed. [Full logs here](https://gist.github.com/iameli/c2821e31215de37f5e687bda52206810) but pertinent log lines are like... segment gets pushed and authWebhookUrl fires:
[code]
Then it refreshes its O list, no problems there, but then it stops for a while - we get to ProcessingSegment and "segment emerged":
[c

[2021-07-08 19:43] iameli commented on #1949
Segment causing problems: [4.ts.zip](https://github.com/livepeer/go-livepeer/files/6786879/4.ts.zip)

[2021-07-09 01:15] #1949 closed, assigned to darkdarkdragon

[2021-07-11 11:12] chrishobcroft opened #1951 "Enable O to set minimum requirements for workload per session"
## Context

### Per Pixel

An Orchestrator is paid per pixel of video being _output_, irrespective of the number of pixels being _input_.

For example, an O will be paid 25x more for providing an _output_ in `720p` (1280x720=921,600), than it will for providing an _output_ in `144p` (256x144=36,864):

`(1280*720) / (256*144) = 921,600 / 36,864 = 25`

### Max Sessions

An Orchestrator is able to li

[2021-07-11 13:27] galmiza commented on #1951
Interesting issue and analysis!
I think that putting an option to ban specific output profiles will result in Bs not able to find Os to perform a work unless a new "price per pixel per profile" system is introduced.

For example:
1080p->360p: 1400 wei/pixel
1080p->480p: 1100 wei/pixel
1080p->360p,480p,640p: 800 wei/pixel
2160p->360p,480p,640p: 900 wei/pixel
[...]

[2021-07-11 21:13] Titan-Node commented on #1951
I think this would be similar to the `transcodingOptions` flag for broadcasters but for Orchestrators as a filter.
Love the idea.

[2021-07-12 12:09] Wisermerill commented on #1951
I agree that would be great to have more control.
 But we must also avoid that bigest stakers filter and keep all high value traffic, and let low value to other. so the possibilty to filter traffic must be capped in a certain mesure (i.e 50% of the stream capacity for exemple).
it's true specially for the moment with a low level of traffic on the network. when traffic ll grow up, may be the share

[2021-07-15 04:59] GistKen opened #1953 "Invalid memory address error from livepeer_cli when updating orchestrator configuration"
**Describe the bug**
When attempting to send a orchestrator configuration update via livepeer_cli, experienced an invalid memory address error.

**To Reproduce**
Steps to reproduce the behavior:
- Send orchestrator configuration update message via livepeer -orchestrator

**Expected behavior**
Experienced memory address error. No transaction went through and no gas fees were taken.

**Screenshots**

[2021-07-15 13:11] yondonfu commented on #1953
Thanks for the report @Makalfo!

Looks like the latest commit on the master branch contains a bug where a [signer is missing during a configuration step](https://github.com/livepeer/go-livepeer/blob/d187acd2caa12cf1fb24b76ceeb3d46027b4a3a9/cmd/livepeer/livepeer.go#L415). Will get this fixed!

[2021-07-15 14:32] #1953 closed, assigned to kyriediculous

[2021-07-15 14:48] yondonfu commented on #1953
@Makalfo

To clarify why this happened - the first tx failed due to the bug that was just fixed (on the master branch now), but the node retried the tx in the background and that logic did not include the bug that affected the first tx which is why the changes were reflected in the explorer.

[2021-07-15 14:58] GistKen opened #1955 "Header Missing when Attempting to Send Livepeer Orchestrator Configuration"
**Describe the bug**
Encounter HTTP error of being unable to find http header when sending orchestrator configuration

**To Reproduce**
Steps to reproduce the behavior:
 - Attempt to send orchestrator configuration

**Expected behavior**
Encounter HTTP error of being unable to find http header when sending orchestrator configuration

**Screenshots**
[code]

[2021-07-15 16:45] GistKen opened #1956 "Verification on the Orchestrator for data incoming from the Remote Transcoders"
## Abstract

Implement the verification-classifier utilized by the broadcaster for the orchestrator. The implementation of the option would allow for the Orchestrator to verify data coming in from the remote transcoders

## Motivation

When creating private (or potentially public) pools, the verification on the Orchestrator side would allow for the verification of transcoders that are utilized by

[2021-07-15 18:04] GistKen opened #1957 "Perform Transcoder Selection Based on Capacity of the Transcoder in addition to the Load Factor"
## Abstract
Add the selection of the remote transcoder based on the capacity value held for the transcoder

## Motivation
It seems that the transcoders are selected based on sorting after calculating the load factor for the individual transcoders. The issue with this is that it may select a transcoder with lower capacity (e.g. capacity of 1) compared to another remote transcoder with a higher capa

[2021-07-15 22:15] aktech commented on #930
Hi @j0sh  I am the creator of Cirun.io, "GPU" and "CI" caught my eye.

FWIW I'll share my two cents. I created a service for problems like these, which is basically running custom machines (including GPUs) in GitHub Actions: https://cirun.io/

It is used in multiple open source projects needing GPU support like the following:

https://github.com/pystatgen/sgkit/
https://github.com/qutip/qutip-cupy

[2021-07-16 00:21] GistKen commented on #1953
Thanks! :)

[2021-07-19 14:14] yondonfu commented on #1806
Fixed by #1923

[2021-07-19 14:14] #1806 closed, assigned to kyriediculous

[2021-07-19 17:54] yondonfu commented on #1955
Looks like the "header not found" error originates from geth. Are you running a full node or light node? Can you also confirm that geth was fully synced when the error occurred?

[2021-07-19 19:57] chrishobcroft opened #1959 "Enable O to configure failover -ethUrl endpoint"
# Problem Statement

When an Orchestrator loses connection to its `-ethUrl`, it drops all its streams.

Such a disconnection will occur when the configured `-ethUrl` RPC service becomes unavailable.

An `-ethUrl` RPC service will become unavailable when it is stopped, or restarted, perhaps due to a software update.

# Proposed Solution

As an Orchestrator, I want to be able to configure a failover

[2021-07-19 20:10] chrishobcroft commented on #1959
It may also be worth noting, that Prysmatic Labs' beacon-chain client implements such failover functionality in `golang`.

From the `-help`:
[code]
Codebase is here: https://github.com/prysmaticlabs/prysm/

[2021-07-19 20:15] yondonfu commented on #1959
Thanks for the suggestion!

An alternative that is possible to setup today without any changes to `livepeer` is to set `-ethUrl` to the URL of a load balancer service for that can route requests to one or many Ethereum nodes (or even hosted providers like Infura/Alchemy). I'm only familiar with setting this up in a k8s environment, but one could also set this up in a bare metal or cloud environmen

[2021-07-19 20:51] chrishobcroft commented on #1959
Thank you for the suggestions @yondonfu I will look into that.

And I get that everyone has their own priorities. But perhaps in general, we could be careful not to dampen any potential enthusiasm which may ever come from the many permissionless outsiders, by labeling things as not going to be prioritised soon, by the few permissioned insiders. What do you think?

[2021-07-19 20:59] yondonfu commented on #1959
Sure. To clarify on my previous comment - I don't think support for a fallback in `livepeer` will be prioritized by the Livepeer Inc. team soon, but I do think it can be considered and anyone else is welcome to jump in here to continue the conversation about this feature request.

[2021-07-19 21:04] chrishobcroft commented on #1935
A further thought on this is that being able to allow an O to "turn down the volume" would assist in avoiding discontinuities in overall network services, in circumstances such as the one described in https://github.com/livepeer/go-livepeer/issues/1959

[2021-07-19 21:36] GistKen commented on #1955
I was running with a light geth node that was synced. I believe Chia also runs with a light geth node. Let me ask in discord

[2021-07-20 02:01] GistKen commented on #1955
It appears that you're correct. It is associated with running a geth node in light mode. When running with a full geth node and I do not get that issue. It seemed one individual was [seeing the message as well](https://discord.com/channels/423160867534929930/429350403272998913/866823342736670751) and one person was [not seeing that issue](https://discord.com/channels/423160867534929930/42935040327

[2021-07-20 20:58] nicolasguasca1 opened #1961 "Livepeer Installation does not suceeded"
**Describe the bug**
Im trying to install Livepeer but inside the go-livepeer repository I after the following instruction:

[code]

The error thrown is:

fatal: No names found, cannot describe anything.
GO111MODULE=on CGO_LDFLAGS=" -framework CoreFoundation -framework Security" go build -tags  -ldflags="-X github.com/livepeer/go-livepeer/core.LivepeerVersion=" cmd/livepeer/*.go
# github.com/livep

[2021-07-22 18:04] #1924 closed, assigned to darkdarkdragon

[2021-07-22 23:20] #1957 closed, assigned to nobody

[2021-07-25 15:49] bjp99 commented on #1858
I was able to get Broadcaster and Orchestrator nodes running using Alchemy on RInkeby.  I got same error trying to use infura.  Ran transcoding tests as well and video segments were sent to rinkeby orchestrator.

[2021-07-26 17:25] yondonfu opened #1962 "Upgrade to ffmpeg 4.4"

[2021-07-27 13:46] GistKen opened #1964 "SIGSEGV Encountered after Reward Call"
**Describe the bug**
SIGSEGV Encountered after Reward Call

**To Reproduce**
Steps to reproduce the behavior:
With the automatic reward call enabled, send a reward call. Unclear what is specific about this configuration that resulted in  SIGSEGV

**Expected behavior**
Livepeer encountered a invalid memory address or nil pointer dereference during the timeout period after attempting to call a rewar

[2021-07-27 14:24] yondonfu commented on #1964
Thanks for the bug report!

A note for the person working on a fix for this:

The node version included in the bug report is 0.5.18-93dfb024 which references a recent commit on [this branch](https://github.com/livepeer/go-livepeer/commits/yf/pixels-o). While that branch is a few commits behind master, none of the missing commits are related to the area of the codebase where this bug is being trigg

[2021-07-28 19:18] Franck-UltimaRatio opened #1966 "A sudden peak in gas price for few seconds result in all jobs are canceled."
when the gas price peaks for a few seconds, we lose all the jobs in progress because the price per pixel briefly exceeds the maximum allowed (1200).

This affects the continuity of service for the broadcaster.

[2021-07-29 13:10] moulin-louis opened #1967 "mkdir: missing operand"
**Describe the bug**
After following all the step for installing livepeer, I start ./install_ffmpeh.sh and this error return:
mkdir: missing operand

**Expected behavior**
I expect that ./install_ffmpeg.sh should successfully install FFmpeg

**Screenshots**
![image0](https://user-images.githubusercontent.com/52115261/127497601-4a609b95-da28-4f05-9d95-748eceee9e5d.jpg)

**Desktop (please complete t

[2021-07-29 17:06] yondonfu commented on #1966
For reference for anyone looking more closely at this issue, there was also a [Discord conversation](https://discord.com/channels/423160867534929930/429350403272998913/869738685409689600) exploring the possibility of orchestrators continuing to transcode at least for bounded time period when gas prices spike causing the advertised price per pixel to exceed the max specified by a broadcaster.

[2021-07-29 17:15] yondonfu commented on #1967
The install script will default to using the `$HOME` dir. I wonder if the `$HOME` env var is not set for some reason.

Could you check if the `$HOME` env var is set by running `echo $HOME`?

If the `$HOME` env var is not set, you can run `./install_ffmpeg.sh <DIR_NAME>` which will install the deps in `<DIR_NAME>` and then you'll want to set `PKG_CONFIG_PATH=<DIR_NAME>/compiled/lib/pkgconfig` when

[2021-07-30 18:18] #1967 closed, assigned to nobody

[2021-07-30 20:02] yondonfu commented on #1967
@moulin-louis The `install_ffmeg.sh` script has been updated to work even if the `$HOME` env var is not set so the script *should* work now even in that scenario.

[2021-07-30 20:09] moulin-louis commented on #1967
Thx you for your help !

[2021-08-01 21:54] Ualiquis opened #1970 "Help for a newbie"
Hey !
I am totally new in to computers, and I am trying to download and run the livepeer client (as video miner) on windows, but despite the instructions on the site, I don't understand how to do it at all. Any help would be appreciated, even how and where to use the lines of code that sometimes appear.

[2021-08-02 13:42] yondonfu commented on #1970
Hi @Ualiquis the issues of this GH repository are better suited for specific feature requests/discussions and bug reports so if you are looking for general help with getting setup then I recommend joining the [Discord](https://discord.gg/uaPhtyrWsF) and asking in the #transcoding channel.

[2021-08-02 20:31] GistKen opened #1971 "Test Stream TCP Connection Errors [0.5.18-7d4e3433]"
**Describe the bug**
During the test stream, tcp connection errors occurred with a combined O/T configuration. It may be due to an invalid tcp assignment?

**To Reproduce**
Steps to reproduce the behavior:
Send test stream with 0.5.18-7d4e3433
https://build.livepeer.live/0.5.18-7d4e3433/livepeer-linux-amd64.tar.gz

**Expected behavior**
No tcp errors

**Screenshots**
[code]

[2021-08-03 02:06] yondonfu opened #1972 "EIP-1559 Transactions"
# EIP-1559 Transactions

## Resources

I suggest reviewing the following resources for more context:

https://hackmd.io/@timbeiko/1559-resources
https://hackmd.io/@q8X_WM2nTfu6nuvAzqXiTQ/1559-wallets
https://hackmd.io/@timbeiko/1559-json-rpc
https://blog.alchemy.com/blog/eip-1559

## Background

Since EIP-1559 is backwards compatible, all transaction related functionality in go-livepeer will conti

[2021-08-03 02:08] yondonfu opened #1973 "Upgrade go-ethereum dep to v1.10.8"

[2021-08-03 02:09] yondonfu opened #1974 "Re-generate contract bindings to support EIP-1559 transactions"

[2021-08-03 02:10] yondonfu opened #1975 "Consider updating gas price monitor to use EIP-1559 fee fields for gas price estimation instead of eth_gasPrice"

[2021-08-03 12:44] Franck-UltimaRatio opened #1976 "the livepeer node stops working after a manual reward call has taken too long"
**Describe the bug**
After a manual reward call, if the transaction take too long (e.i. 5 minutes) the livepeer node stop working.

**To Reproduce**
After a manual reward call, the node stop working if the transaction take too long to succeed.

**Desktop (please complete the following information):**
 - Windows (combined O/T)
  - Version 0.5.18-7d4e3433 and 0.5.18-0b2c51b7

**Additional context**

[2021-08-03 13:49] Franck-UltimaRatio commented on #1976
I think this bug is the same report in SIGSEGV Encountered after Reward Call #1964 so i close my report.

[2021-08-03 13:49] #1976 closed, assigned to nobody

[2021-08-03 13:53] Franck-UltimaRatio commented on #1964
For your information, I encountered the same problem after 3 reward calls which took too long.

[2021-08-03 15:17] Ualiquis commented on #1970
Okay thanks, I didn't know it existed.

[2021-08-03 15:17] #1970 closed, assigned to nobody

[2021-08-03 20:42] #1964 closed, assigned to kyriediculous

[2021-08-05 19:27] jailuthra commented on #1962
Oops closed by mistake - wrong issue.

[2021-08-06 15:51] yondonfu opened #1980 "CUDA device mapping TensorFlow error when loading DNN model"
[code]

This occurred when using the branch for https://github.com/livepeer/go-livepeer/pull/1979.

[2021-08-06 16:28] jailuthra commented on #1980
https://github.com/livepeer/go-livepeer/pull/1979/commits/c17d16e113775f0957bcaefb41a65b66dd756ea6 should fix this in the short-term by hardcoding tensorflow models to always run on whatever the system calls GPU 0. This will be consistent with what we did prior to #1979.

The way we currently [configure tensorflow devices in ffmpeg](https://github.com/livepeer/FFmpeg/blob/livepeer/libavfilter/dnn/

[2021-08-06 17:33] jailuthra opened #1981 "Design and implement better load balancing for Detection models"
**Is your feature request related to a problem? Please describe.**
After #1979:
1. We load a new Detection filter at the start of a new stream - leading to an extra `0.5s` latency for the first segment. This wasn't the case before as we used to share the same TensorFlow model graph across transcode sessions, albeit in a non-thread-safe manner.
2. We use a globally defined scene classification mode

[2021-08-06 18:03] jailuthra opened #1982 "Use dynamic linking for Tensorflow in go-livepeer"
https://github.com/livepeer/FFmpeg/pull/7 enables building FFmpeg with Tensorflow support without a hard requirement for the library to be present at runtime. We should update our CI to use the new linking mechanism, and have a single linux build again.

Steps needed to accomplish this:
- [x] Port the changes to latest `livepeer` branch of our fork, they currently reside in the `livepeer-dynlink`

[2021-08-09 14:02] kyriediculous commented on #1482
From an other user report it seems like the CLI does report the node as active, but the node process itself does not.

The CLI grabs the data on-chain while the node process assesses the current round vs the O's activation/deactivation round

Since we know this is either an issue with the `currentRound`, `activationRound` or `deactivationRound` values it would be good to know what the latest  `New

[2021-08-09 17:16] yondonfu commented on #1980
TODOs

- [ ] Understand why we observed this error in the first place despite the TF issue that Jai linked
- [ ] Understand if this error would be a blocker for multi-GPU detection

[2021-08-09 17:29] yondonfu commented on #1981
Before jumping into this we want to determine if it can be concurrency safe to just use the same model in shared GPU mem which would obviate the need for this load balancing design. See https://github.com/livepeer/lpms/issues/257.

[2021-08-10 17:42] victorges opened #1987 "Multistream data on stream health"

[2021-08-10 17:43] #1987 closed, assigned to nobody

[2021-08-10 22:51] pglowacky opened #1990 "Surface multistream connection for dashboard"
Determine how to surface that a multistream target object is connected so we can surface this to customers.

The importance of this work will depend on @darkdarkdragon 's testing of changes made to improve the 30s wait time to connect to stream target objects

[2021-08-10 22:53] #1990 closed, assigned to nobody

[2021-08-12 02:12] #1962 closed, assigned to jailuthra

[2021-08-16 14:59] jailuthra opened #1991 "Fast verification using MPEG7 signatures"
## LPMS API

See <https://github.com/livepeer/lpms/pull/253/> for implementation details.

### 1. Generate signature for a segment

Set the boolean `CalcSign = true` in the `TranscodeOptions` struct for each output rendition:

[code]

This will create a binary signature file for each output rendition with a suffix `.bin`. Thus `out.ts` will have its signature stored in `out.ts.bin`.

### 2. Compar

[2021-08-17 11:41] jailuthra commented on #1991
missed a task for adding a new orchestrator capability above:

### 8. Add an orchestrator capability for generating mpeg7 signatures

Update the [list of orchestrator capabilities](https://github.com/livepeer/go-livepeer/blob/67db52b72e8343986fdef0f71c15b8a87a0301ff/core/capabilities.go#L44) to include a new `Capability_MPEG7VideoSignature`[*](https://github.com/livepeer/go-livepeer/issues/1993#is

[2021-08-17 12:10] jailuthra opened #1993 "Configure verification-enabled streams"
- Read `VerificationFreq` from auth-webhook response for a particular stream
- Read trust score for each orchestrator from orch-webhook response
- Use the capability signalling mechanism between B <> O to make sure we send verification enabled streams to Os that support generating mpeg7 signatures

Refer to steps 1, 2 and 8 in the spec #1991 for details

[2021-08-17 12:10] jailuthra opened #1994 "Use multiple orchestrators for verification-enabled streams"
- Select multiple orchestrators for verification-enabled streams
- Send the segment for transcoding w/ signature generation to one or many Os

Refer to the steps 3 and 4 in the spec #1991 for details

[2021-08-17 12:10] jailuthra opened #1995 "Generate and save mpeg7 signatures during transcoding"
Refer to step 5 in the fast verification spec #1991 for details

[2021-08-17 12:10] jailuthra opened #1996 "Use verified transcoding results by matching mpeg7 signatures"
- Download and match mpeg7 signatures of each untrusted orchestrator across a trusted orchestrator
- Use one of the verified orchestrator's transcoded result and insert it into the playlist

Refer to the steps 6 and 7 in the spec #1991 for details

[2021-08-17 17:09] #1939 closed, assigned to victorges

[2021-08-17 21:37] yondonfu commented on #1993
Re: step 8 in #1991:

I suggest we name this capability `Capability_MPEG7VideoSignature` to make it clear that this capability is not just any perceptual hash/signature, but specifically the MPEG-7 video signature. I think this is important because there are different perceptual hash algorithms so we should treat the MPEG-7 video signature as just one specific perceptual hash algorithm that can be

[2021-08-17 21:44] yondonfu commented on #1994
Re: step 4 in #1991:

Just to clarify - does this imply that B requests MPEG-7 signatures for every segment?

[2021-08-17 21:45] yondonfu commented on #1995
Are the MPEG-7 signatures also included in the protobuf message returned to B?

[2021-08-17 21:47] yondonfu commented on #1996
Re: step 6 in #1991:

I believe the MPEG-7 signature is generated for the source segment no? If this is the case, then there would just be a single signature so there wouldn't be a need to pick a rendition.

[2021-08-18 08:00] jailuthra commented on #1993
Ah good foresight! I'll make a quick edit to the original spec with this less-generic capability name.

My original intent was to cover the details of B<>O protobuf communication in steps 4, 5 of the original spec, which would be implemented in the PR #1994

But I don't see anything wrong with implementing it within a PR for this issue. Leaving the final decision on whoever starts working on these

[2021-08-18 08:21] jailuthra commented on #1994
Yep even if the B only matches the signatures for every `1/Freq` segments, the O is still expected to generate it for each segment.

We don't want the O to know exactly which segment will be checked - as that would make it trivial to cheat on segments that are not checked. That's also the motivation behind the B checking `1/Freq` segments probabilistically, as opposed to uniformly checking every `

[2021-08-18 10:04] jailuthra commented on #1995
Ah this was slightly hand-waved in the spec - but after storing the signatures to the object store, the orchestrator will include the signature URLs in the `net.TranscodeResult` protobuf message. The B can download the signature for whichever rendition it chooses to compare, similar to how it downloads encoded segments.

An alternative is to directly include the signature binary data within the pr

[2021-08-18 10:15] jailuthra commented on #1996
The original plan was to generate signatures for [each rendition](https://github.com/livepeer/internal-project-tracking/issues/140#issuecomment-867537283) - and on LPMS side the filtergraph is fed frames [after they've been scaled](https://github.com/livepeer/lpms/pull/253/files#diff-acc605002f961264d9038a45f756fe4eed145b48467c34f0208f8d58f97e1903R455).

[2021-08-18 13:29] yondonfu commented on #1996
Ah I see - thanks for clarifying.

Question about calculating the sig after frames have been scaled and before passing them into the encoder: does the signature filter do any frame re-scaling (I know this happens in other perceptual hash algos) or does it do calculations directly off the provided frame? I ask because I'm curious if the sigs calculated for each output ends up being exactly the same

[2021-08-18 13:44] yondonfu commented on #1995
Good point about the size of sigs when considering whether to include them in a protobuf message since protobuf [does not handle large data sets](https://developers.google.com/protocol-buffers/docs/techniques#large-data) very well. While we'll likely still be in the KB range as opposed to the MB range with the sigs, it does feel like it would be more appropriate to keep them out of the protobuf me

[2021-08-18 14:42] yondonfu opened #1997 "Multi GPU support for scene classification"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, the node only supports scene classification on a single GPU even on a multi GPU machine. This is because we only setup detection on GPU 0:

- We [setup detection on GPU 0 on node startup](https://github.com/livepeer/go-livep

[2021-08-18 19:12] iameli opened #1998 "detection webhook should treat HTTP 204 as a success state"
Our logs are full of this:
[code]

204 isn't an error status - the check should be something like `response.status >=200 && response.status < 300` or some such.

[2021-08-19 02:34] jailuthra commented on #1996
Yes it scales down the luminance channel to a [32x32 square](https://github.com/livepeer/FFmpeg/blob/b344789a31a2d806be702239d7614f7a9f51f941/libavfilter/vf_signature.c#L206-L213) before it runs the average/difference operations on this 32x32 B&W representation of the original image.

Good question. Not sure if they end up being bit-by-bit the exact signature - but they did mostly match during com

[2021-08-19 16:17] yondonfu commented on #1997
For reference:

@oscar-davids shared this [comment](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/core/protobuf/config.proto#L147) from the TF docs that indicates virtual device configuration is per process and not per session.

[2021-08-20 08:21] jailuthra commented on #1997
Ah I think I misunderstood why the original TF issue around this was closed earlier. IIUC this means we'd need to spawn separate UNIX processes (i.e. orchestrator nodes) to use different GPUs via the `visible_devices` list.

An alternative is mentioned in this comment, where the user can specify the GPU used while creating the model: https://github.com/tensorflow/tensorflow/issues/18861#issuecomme

[2021-08-20 13:00] #1998 closed, assigned to nobody

[2021-08-20 18:41] yondonfu commented on #1993
Re: step 2 in #1991

WDYT about using a more generic "score" instead of "trustScore" so that the field could be used to convey additional information besides just trust? For example, if the score was calculated using a formula similar to the one for the [leaderboard tests](https://livepeer.org/docs/video-miners/reference/leaderboard#how-is-the-total-score-in-the-performance-leaderboard-calculated)

[2021-08-20 21:28] pglowacky opened #2000 "Public Network OKR work"

[2021-08-20 21:28] #2000 closed, assigned to nobody

[2021-08-23 16:35] jailuthra commented on #1991
To keep boundaries between tasks clear, and minimize the scope of the first-pass implementation, we decided to split-out this stretch-goal from step 6, that would be good to have but not a hard requirement for the first-pass implementation of fast verification:

### 9. [Stretch] Ban orchestrators that frequently fail fast verification

After matching the signatures returned by an untrusted O again

[2021-08-23 16:51] jailuthra commented on #1993
Sounds good to me :+1:

[2021-08-23 17:18] yondonfu opened #2003 "Update protobuf messages for fast verification with mpeg7 signatures"

[2021-08-23 17:41] yondonfu opened #2004 "Determine how to select a trusted orchestrator for fast verification"

[2021-08-23 17:42] yondonfu opened #2005 "Complete first pass prototype of #1994 and #1996 to identify any blockers or design considerations"

[2021-08-23 18:56] yondonfu commented on #1997
I think we should first see if there is a solution that allows a single O to utilize multiple GPUs as running separate Os for each GPU would be a pain from a UX POV.

[2021-08-28 20:26] yondonfu commented on #1972
Apparently, `eth_maxPriorityFeePerGas` is currently not a part of the [Ethereum JSON-RPC spec](https://github.com/ethereum/execution-specs/blob/master/json-rpc/spec.json). So, the RPC method can be relied upon when connected to geth, but cannot be relied upon when connected to another client. See https://github.com/ethereum/go-ethereum/issues/23479 for implications.

There is a PR https://github.c

[2021-08-30 17:07] victorges opened #2009 "Improve react state/hooks handling on multistream target components"
Currently known bug:
 - If stream is active, menus and dialogs close on every refetch

[2021-08-30 17:08] #2004 closed, assigned to jailuthra

[2021-08-30 17:08] #2009 closed, assigned to nobody

[2021-08-30 17:08] victorges commented on #2009
wrong repo

[2021-08-31 10:53] oscar-davids commented on #1997
Given that using different settings in different sessions within same process is not safe,
I think setting deviceID as session config using protobuf will result in unexpected behavior.
Instead, we can do something similar as suggested [here](https://github.com/tensorflow/tensorflow/issues/18861#issuecomment-385610497) and that's what I did before 4.4 upgrade.
The C API that is equivalent to this w

[2021-08-31 11:47] #2003 closed, assigned to jailuthra

[2021-08-31 13:24] jailuthra commented on #2005
Some design considerations:

### Populating `BroadcastSession`s with O scores

`BroadcastSessionManager` uses `GetOrchestrators(int, Suspender, CapabilityComparator) ([]*net.OrchestratorInfo, error)` to fetch a list of available orchestrators from the pool:
https://github.com/livepeer/go-livepeer/blob/67db52b72e8343986fdef0f71c15b8a87a0301ff/server/broadcast.go#L315
The data-type returned for each

[2021-09-01 14:28] jailuthra opened #2010 "livepeer_bench: Configure sleep time between concurrent sessions"
**Describe the bug**
The sleep time between two concurrent sessions launched during our benchmarking used to be `300ms` but was changed to `2300ms` while testing detection.

https://github.com/livepeer/go-livepeer/blob/92d274d3aae43c09f4106ca5f9621e3b80b101b4/cmd/livepeer_bench/livepeer_bench.go#L222

This timeout is quite large for general transcode benchmarking, as the recommended stream for ben

[2021-09-01 23:56] pglowacky opened #2012 "Review Architecture Deck + Diagram"
[Notion doc with background](https://www.notion.so/livepeer/Architecture-Review-Process-d5e3b1868d6d43e7a1ee274f05c7580d)

[Architecture Review Deck](https://docs.google.com/presentation/d/1Nf9A7dpL5lGuXYBzH2qeESaHBAqBHfmGInZSbQoxEho/edit#slide=id.gad7e1912bd_2_328)

[Architecture Diagram](https://miro.com/app/board/o9J_lBN5CWA=/)

Have you:

- [ ] Reviewed both the deck and diagram

- [ ] Made up

[2021-09-02 02:27] yondonfu commented on #2012
Issue moved to [livepeer/livepeer-infra #671](https://github.com/livepeer/livepeer-infra/issues/671) via [**ZenHub**](https://www.zenhub.com/)

[2021-09-02 02:27] #2012 closed, assigned to victorges

[2021-09-02 15:37] #2010 closed, assigned to nobody

[2021-09-04 10:12] Franck-UltimaRatio opened #2015 "Increased Gas cost when calling reward via CLI with Master build 0.5.19-e9b81b25"
**Describe the bug**
When i call reward with CLI, the max gas price is way over the normal transaction

**To Reproduce**
Call reward with CLI with last master build 0.5.19-e9b81b25/livepeer-windows-amd64

4. See error
https://etherscan.io/tx/0x4b3b8530564976fe5a6c20aa916a23648d970a0e3431458e7eb6d0972fbe7851

**Expected behavior**
it seems like the fields for previous and next O were not populated

[2021-09-05 10:27] 0xVires opened #2016 "Winning tickets incorrectly marked as redeemed (txHash 0x0000...)"
**Describe the bug**
When receiving a winning ticket, it gets marked as redeemed and entered into the DB with txHash "0x0000000000000000000000000000000000000000000000000000000000000000"
Also reported by "_ptr | 0x10e" here: https://discord.com/channels/423160867534929930/429350403272998913/883002818234056724

**Additional context**
We both have set a `-maxGasPrice` flag on our O (both 100 gwei). M

[2021-09-06 11:27] darkdarkdragon commented on #2005
Given that `net.OrchestratorInfo` is info that O returns about himself, I don't think it is a good place to keep score. Score is information that B keeps about O, so I've made new structure for that.

Yes, but given that we have hard requirement of getting session with specific score (`where at least one is trusted`) - I think we should keep two separate pools of sessions. I'm thinking about movin

[2021-09-07 11:17] kyriediculous commented on #1935
The session limit can be benchmarked and determined beforehand, it needs to be put at the maximum you want and should not be a dynamic value based on the load you expect. If you have a 100 max sessions and no load you will use the same amount of resources as if you had 1 max sessions. Furthermore this can lead to averse effects whereby you wrongfully change the session limit to below the current l

[2021-09-07 12:51] jailuthra commented on #1935
Another thing to note here is that the concept of a "transcoding session" doesn't actually capture the underlying resource utilization very well, and is more of a stop-gap measure.

Different users of the network and the .com gateway configure streams with different number of renditions, input/output bitrates, resolutions, codec profiles - and soon optional AI tasks - all of which is not captured

[2021-09-07 15:00] #1995 closed, assigned to jailuthra

[2021-09-07 15:00] yondonfu commented on #1995
Closed by #2007

[2021-09-07 17:12] Titan-Node opened #2017 "Titan Node - Start Up Grant – Introductions"
### Hello Livepeer Community

If you are experienced with Github then welcome to Livepeer!

If you are new to Github, then welcome to the platform where all the magic happens!

This post is for the Titan Node - Start Up Grant, where the goal is to introduce new comers to the Livepeer Github repository and demonstrate how easy it is to use.

Anyone can create and issue, contribute in conversation,

[2021-09-08 01:04] pglowacky opened #2019 "Multistream: Allow users to mute audio"
Context: In a recent conversation with PlayDJ, the team let us know that they'd like to move onto Livepeer.com and off of Mist. This is great news! A big blocker for them was being able to remove audio from multistream destinations.

As a user of PlayDJ, I want to notify my audience on Facebook, Twitch, etc. that I am live without being subjected to the platform's licensing policies. As a result,

[2021-09-08 01:04] #2019 closed, assigned to nobody

[2021-09-08 07:52] Franck-UltimaRatio opened #2020 "spikes in number of streams every 27 minutes"
**Describe the bug**
Every 27 minutes there is a spike in number of streams.
This spike is related to the numbers of stream you have (and maybe the kind of streams).
For exemple, if you have 11 streams, spike go up to  20, then back to 11). If your node is capped, or almost capped, the spike exceed the maxsessions and at the end of the spike you loose some jobs (i.e : your have 68 streams, node ca

[2021-09-08 15:11] jailuthra commented on #2005
Sounds good!

Thanks a lot for writing and posting the skeleton code around this https://github.com/livepeer/go-livepeer/commit/3cfb348c7b794fbb9b20acf5904c4470f86aea53#

Overall the idea of keeping two separate pools for untrusted/trusted Os sounds good to me.

I do think it would be nice if we restrict the the assumption that `score` is an enum which can only be `Score_Untrusted` or `Score_Trust

[2021-09-08 20:51] yondonfu commented on #1966
Copying a suggestion from Discord:

So users adjust the pixel price all the way to 0 during spikes just to keep getting work.

[2021-09-08 22:30] darkdarkdragon commented on #2005
Yes, but with current task I need a clear separation of trusted/untrusted orchestrators. I'm trying not to change code much, so I'm just using two sessions pools for trusted/untrusted. I think moving to score as leaderboard is another complex task, so It would be better to do it separately.

[2021-09-08 22:35] darkdarkdragon commented on #2005
Given that we're moving to using multiple orchestrators for same stream, I think we can use same mechanism to do other (not just perceptual verification) tasks - for example, this could replace whole _secondary_ infrastructure - B can send stream to trusted O and to untrusted, and just discard results from untrusted one. Or use untrusted as always-on backup - send stream to trusted and untrusted,

[2021-09-09 01:43] #2016 closed, assigned to yondonfu

[2021-09-09 01:49] yondonfu opened #2021 "ticketQueue table could track wrong tx hash if a replacement tx is mined"
**Describe the bug**
A clear and concise description of what the bug is.

pm.LocalSenderMonitor can send a [ticket result to a ticket queue that contains a tx hash](https://github.com/livepeer/go-livepeer/blob/534e6ce49f4a423e484f8cf6e54f79f41766d2b0/pm/sendermonitor.go#L302) that is different from the tx hash of the mined tx if the mined tx was a replacement tx. This can occur because `eth.client

[2021-09-09 15:20] papabear99 commented on #2020
I'd like to add that these 27 minute spikes only happens when transcoding or have had a session in the prior 27 minute window.  When my O is quiet (waiting for  work) there are no spikes. _Note: the spike @ 17:12 is a test stream and is not the issue referenced._
![27minSpikesGitHub](https://user-images.githubusercontent.com/89408276/132713782-656791f0-923f-453b-8aa5-e50e9346a0a5.jpg)

[2021-09-09 17:03] iameli opened #2023 "Failed to create session: Internal: CUDA runtime implicit initialization on GPU:0 failed. Status: device kernel image is invalid"
Getting this booting up go-livepeer on a 1x Linode RTX 6000 rig:
[code]

[2021-09-09 17:27] papabear99 commented on #2020
Another thing I noticed this morning is that the size of the spike seems to be proportional to the number of concurrent sessions. The first spike goes from 24 to 40 (16 sessions), second 20 to 34 (14 sessions), third 16 to 26 (10 sessions), and the fourth 13 to 22 (9 sessions).  The first spike hit my max sessions so was probably higher than shown because I did have a drop in sessions following th

[2021-09-09 17:31] Franck-UltimaRatio commented on #2020
That true, there is something like a ratio around  X1,66

[2021-09-09 18:17] Franck-UltimaRatio commented on #2020
![spike4](https://user-images.githubusercontent.com/87469831/132740755-24996c86-3e00-43eb-94ee-5b3aa3b7717c.jpg)
 The last ghost spike, not even capped, just kill most of my current job :( including nice 4K --> 1080

[2021-09-09 18:43] yondonfu commented on #2005
Just caught up on the conversation here.

It appears that the main concern being discussed right now is whether the use of orchestrator scores to create separate trusted & untrusted orchestrator pools will be problematic if we want to use scores for other purposes in the future (i.e. use the score in the selection algorithm). I think the answer is no, but I also think it is worthwhile to clearly d

[2021-09-09 19:20] victorges opened #2024 "Update multistream target docs"

[2021-09-09 19:20] victorges commented on #2024
Wrong repo...

[2021-09-09 19:20] #2024 closed, assigned to nobody

[2021-09-10 02:23] jailuthra commented on #2005
Neat! I like the idea of using score 1.0 as a threshold for splitting the two pools for now, using a different threshold for the untrusted pool later, that would incorporate performance + stake in that score value.

Makes sense!

I think this places us in a solid position - design wise speaking - so I'll close this issue and track the actual implementation work around this in #1994 and #1996. Feel

[2021-09-10 02:23] #2005 closed, assigned to jailuthra, darkdarkdragon

[2021-09-10 13:35] #1966 closed, assigned to yondonfu

[2021-09-11 19:07] Franck-UltimaRatio commented on #2015
It's look like the Bug happen only when you call reward via CLI, and when the node create a replacement transaction because the gas price was too low in the first one.
Then , in this replacement transaction, some information are not populated correctly :

Function: rewardWithHint(address _newPosPrev, address _newPosNext) ***
MethodID: 0x81871056
[0]:  0000000000000000000000000000000000000000000000

[2021-09-11 19:14] papabear99 commented on #2015
I had the same issue today calling reward with the CLI running 0.5.18 official release.

Gas Limit  651,913 Gas Used 628,317

Transaction can be seen here https://etherscan.io/tx/0x763ea83d3be881493f2d1e7158fa52a2f280b103b5389ecf89862370595ef15e

I have installed 0.5.20-6e0a8fe6 and will try again next round

Edit:  Transaction commented above by Cianha can be seen in full in link to my transactio

[2021-09-13 14:31] #2015 closed, assigned to yondonfu

[2021-09-13 14:57] yondonfu commented on #2015
This increased gas usage bug was triggered when an orchestrator calls reward after not receiving any stake updates in the previous round. An orchestrator receives stake updates via reward calls or stake delegation. So, if an orchestrator does not receive any delegation in the previous round *and* it did not call reward in the previous round, the bug was triggered when the orchestrator called rewar

[2021-09-14 03:01] jailuthra opened #2030 "broadcaster: Fall back to plain transcoding if no orchestrators available with detection capability"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-09-17 07:55] chrishobcroft opened #2032 "Not clear what units to use for `-maxGasPrice` value"
## Problem Statement

I want to set the `-maxGasPrice` flag, but I don't know whether it is denominated in wei or gwei.

[2021-09-20 17:35] yondonfu opened #2033 "Run fast verification for only certain segments and use verified orchestrator for subsequent segments"

[2021-09-20 17:41] papabear99 opened #2034 "Enable setting Max Sessions on per GPU basis with the addition of a -perGpuMax parameter"
### **Is your feature request related to a problem? Please describe.**
Currently, it is not possible to specify the maximum sessions on a per GPU basis. This presents a problem in that an Orchestrator/Transcoder can't optimize the number of sessions their node can handle when running a node with multiple GPUs of different capacities.

### **Describe the solution you'd like**
I would like to have t

[2021-09-20 18:27] yondonfu opened #2035 "MPEG-7 video signature capability on orchestrators"
Implementation is already complete and the relevant commits just need to be cherry picked into a PR that can be merged into master.

[2021-09-21 12:42] cyberj0g commented on #1997
I have implemented per-graph GPU selection in DNN filter using suggestions above, and it seem to work fine. Do we want to add a separate set of arguments for controlling detection GPU selection to `livepeer.go`?
I see at least 2 possible modes:
* `shared` - run both transcoding and detection on the same GPU (specific GPU is picked for each Transcoder instance). Downside - it will take 2 Gb VRAM pe

[2021-09-21 14:13] yondonfu commented on #2032
@chrishobcroft The value for the `-maxGasPrice` is denominated in wei right now. The help description for the flag can be updated to indicate that the value is denominated in wei.

TODO:

- [ ] Update help description for gas price flags (including `-maxGasPrice`) to indicate denomination in wei

[2021-09-21 16:23] pglowacky opened #2037 "CDN Usage"

[2021-09-21 16:23] #2037 closed, assigned to nobody

[2021-09-21 17:27] jailuthra commented on #1991
### 5.5 Upload the signature from T -> O in split O/T setups

Currently in split O/T setups only the rendition data is returned in the multipart return -
https://github.com/livepeer/go-livepeer/blob/d1fb9eaad2b0e6d0742879303efd121bd3321574/server/ot_rpc.go#L177

If `md.CalcPerceptualHash` is true, we also need to return the perceptual hash binary data `v.PHash` via the multipart return to the O, w

[2021-09-21 17:29] jailuthra commented on #2035
I missed the case of [split O/T setups](https://github.com/livepeer/go-livepeer/issues/1991#issuecomment-924201298) in the original spec.

Extending the scope of this issue to include changes for that, along with rest of the orchestrator side commits, in a single PR.

[2021-09-22 19:22] yondonfu commented on #1997
Hm having different modes could be interesting. But, for now, I suggest implementing the shared mode first as the default without the ability to switch between modes. Since we're also researching the possibility of using different model backends that have less VRAM overhead as a part of https://github.com/livepeer/FFmpeg/issues/15 I think we can wait to consider a dedicated mode until after comple

[2021-09-24 20:43] yondonfu opened #2039 "Update LPMS version to use CUDA signature filter"
https://github.com/livepeer/lpms/pull/263 was recently merged to add a CUDA signature filter to LPMS. The latest LPMS version should be used so that go-livepeer can use the CUDA signature filter.

[2021-09-25 16:25] pschroedl commented on #1610
I just observed this as well, but appeared to also happen for test streams so possibly not a broadcaster issue ( as noted in https://github.com/livepeer/go-livepeer/issues/1777 ).

flags:
```livepeer -network mainnet -orchestrator -ethUrl https://mainnet.infura.io/v3/xxx  -nvidia all -autoAdjustPrice=false -pricePerUnit 800 -serviceAddr 1.2.3.4:8935 -ethAcctAddr 0x*** -monitor -v 6 -reward=false -

[2021-09-25 16:53] kyriediculous commented on #1777
Duplicate or #1610

[2021-09-25 16:53] #1777 closed, assigned to kyriediculous

[2021-09-25 18:32] pschroedl commented on #1610
FWIW, the test streams reported "400 Bad Request" when orchestrator logged these errors.

also, appears to be duplicate of https://github.com/livepeer/go-livepeer/issues/1482 ( which is also tagged 'bounty' )

[2021-09-26 18:12] kyriediculous commented on #1610
Duplicate of #1482

[2021-09-26 18:12] #1610 closed, assigned to nobody

[2021-09-26 20:59] Strykar commented on #2017
Hi, Thanks for creating this opportunity. I'm not a programmer, but I know some shell. I have filled out the Google Form to apply. This was my first contribution to the Livepeer repo - https://github.com/livepeer/wiki/pull/62

- Strykar (0x1a196B031ea1A74a53eCBE6148772648E02f9d51)

[2021-09-27 12:59] yondonfu commented on #1610
Thanks for the report @pschroedl! Will use #1482 to continue track this problem.

[2021-09-27 14:34] darkdarkdragon opened #2040 "remove http and https protocols from compiled ffmpeg"
Need to check if we still passing http/https urls directly to ffmpeg C code
(need to check how data passed between O-T)
This will allow us to remove tls dependencies from cgo and will make build process easier.

[2021-09-27 23:11] Strykar commented on #2034
I second this.
The ability to define which GPU should attempt how many max sessions without having to invoke separate transcode only processes makes management easier.

[2021-09-28 00:13] Strykar commented on #1741
As I understand it, if `-reward=true` the orchestrator will attempt it just once assuming gas prices are under `maxGasPrice`. It would be nice to have it attempt repeatedly, since gas now fluctuates so quick, it changes from the time I see its price to starting the transaction.

It would save orchestrators from being attached at the hip to their daily calls.

@papabear99 suggested a script, but li

[2021-09-28 05:09] #2035 closed, assigned to jailuthra

[2021-09-28 12:00] cyberj0g commented on #1981
Detection model and TF runtime are loaded per-device in the same process with the latest version. Additional "warm up" Transcoder is created before transcoding for each device. The overhead for this warmup is about 150 Mb VRAM. Still, first session on device is ~0.3 sec slower than consequent session. This delay is caused by encoder and present even when detector is disabled. It seems that warm up

[2021-09-28 13:19] #2032 closed, assigned to nobody

[2021-09-28 15:27] yondonfu commented on #1975
#2013 currently continues to use eth_gasPrice in the gas price monitor and interprets the returned gas price as priority fee + base fee which is the default behavior of geth as well for the eth_gasPrice RPC method.

[2021-09-28 15:36] yondonfu commented on #1981
Thanks for the update @cyberj0g

Yeah this is known behavior - we've observed additional overhead for creating an NVENC session for the first time.

Agree that if we end up using an inference server, can look into better ways to load balance specifically for detection purposes.

Since we no longer have additional latency as of #2038 as long as we pre-load the model by creating a session for each G

[2021-09-28 15:37] #1981 closed, assigned to nobody

[2021-09-28 19:11] papabear99 commented on #2020
![BunnyEarSpikes](https://user-images.githubusercontent.com/89408276/135150240-caa0519f-1dab-439d-b8c6-a726fd421c12.jpg)

Today I'm seeing a new bunny ear 27 min spike.  Just adding it for possible clues as to what's causing these 27 min spikes.

[2021-09-29 04:17] #2039 closed, assigned to jailuthra

[2021-09-30 10:26] Strykar opened #2047 "Ability to configure livepeer with a config file instead or cmd options"
**Is your feature request related to a problem? Please describe.**

I currently have 13 switches to configure livepeer when it starts.
This just adds to package maintenance woes (I'm currently [packaging](https://aur.archlinux.org/packages/go-livepeer-bin/) livepeer for Arch Linux) as the `Exec` call is 3 lines long (split up) in the systemd unit instead of just:
`Exec = /usr/bin/livepeer -config

[2021-09-30 14:11] yondonfu commented on #1997
Closed by #2038 livepeer/lpms#264 livepeer/ffmpeg#16

[2021-09-30 14:11] #1997 closed, assigned to cyberj0g

[2021-09-30 17:33] #1147 closed, assigned to nobody

[2021-09-30 17:33] #1973 closed, assigned to yondonfu

[2021-09-30 17:33] #1974 closed, assigned to yondonfu

[2021-09-30 17:33] #1975 closed, assigned to yondonfu

[2021-09-30 19:06] #1972 closed, assigned to nobody

[2021-10-01 00:15] yondonfu opened #2048 "Consider backoff/rate limit for discovery requests on B"
Right now, if many Os return errors to a B resulting in B sending out additional discovery requests, the B could potentially send out a lot of discovery requests that repeatedly result in errors that cause the B to end up sending tons of HTTP requests. In this scenario, if particular Os continue to return errors, it might make sense to add a backoff/rate limit strategy to reduce the work that B ha

[2021-10-01 00:19] yondonfu opened #2049 "Remove tx cost check when calculating ticket face value for O"
Right now, when an O calculates the face value for a ticket, if the face value is less than the estimated tx cost, the O returns an [insufficient sender reserve error](https://github.com/livepeer/go-livepeer/blob/e1518db8fb0350c520c6b304a1fb7046380dc3da/pm/recipient.go#L245). The idea behind this behavior was that if the estimated tx cost can't be covered by the face value then the O can just retu

[2021-10-01 08:14] jailuthra commented on #2047
From my understanding the wallet password is already read from a file passed in via `-ethPassword /path/to/file/with/password`. The file should ideally be protected via OS file permissions.

Not sure why ETH wallet address is sensitive on a public/decentralized network that anybody can query anyway? But maybe an optional file can be passed for that as well - extracting out the common `ReadFileOrSt

[2021-10-02 02:33] Strykar commented on #2047
You're right, I was aware of it being able to read ethpassword from a file and promptly forgot about it.
Sorry about that, I'll update my package to do that instead.

I feel why expose even ETH wallet addresses at all, especially on a machine that may have other personally identifiable information about the orchestrator, nothing could be gained by exposing this via `/proc`.

The systemd way would

[2021-10-04 04:20] pschroedl commented on #2017
Hello Titan-Node and Livepeer contributors - My only contribution so far was to add some tested GPUs (https://github.com/livepeer/wiki/pull/61), but I'm getting familiar with Go at work and hope to be able to contribute in a more meaningful way to go-livepeer.  I would be happy to pick up a task if any of the core contributors can tag some 'good first issues'.

You might also know me as _ptr or In

[2021-10-04 17:40] yondonfu opened #2052 "Add metrics for fast verification"
### Metrics to add

Counters:
- Verifications done
- Verifications failed
In Grafana that will be shown as
- Verifications Success = fail / done

Counters:
- for `segment_transcoded_total` counter add tags trusted/untrusted

- add `verify_enabled_current_sessions_total`. It will be number of current sessions that have verification enabled.
In Grafana it will be
`verify_enabled_current_sessions_tot

[2021-10-04 22:50] yondonfu opened #2053 "Update Dockerfile to pull latest model from livepeer-ml instead of GCP bucket"
Should be able to fetch it like this:

[code]

[2021-10-07 02:45] darkdarkdragon commented on #2052
@yondonfu @jailuthra wdyt?

[2021-10-11 18:16] jailuthra commented on #2052
Overall LGTM!

If I understand correctly, we'll be able to query and visualize the following high level metrics after the proposed changes are implemented:

    Verifications failed
    In Grafana that will be shown as
    Verifications Success = fail / done

**(1)** Verification success rate, everytime a segment is sent to multiple Os for verification, if the perceptual hashes match we increment

[2021-10-12 00:39] yondonfu commented on #2052
Generally LGTM. One minor suggestion I have is to use the `fast_verification_` or `fast_verify_` prefix for metrics for clarity since other types of verification (i.e. full verification from https://forum.livepeer.org/t/transcoding-verification-improvements-fast-full-verification/1499) will be included in the future.

@darkdarkdragon Should this be `success % = (done - fail) / done`?

@jailuthra I

[2021-10-12 02:17] darkdarkdragon commented on #2052
Sure. What I wrote wasn't exact formula, it was just to show that it will be ratio 😄

I think yes - that this will count as two verifications done and one failure.

[2021-10-12 13:36] jailuthra commented on #2052
Sounds good :+1:

[2021-10-12 18:07] yondonfu commented on #2023
Dropping a few notes here to help with understanding the error.

From the Tensorflow hardware requirements [docs](https://www.tensorflow.org/install/gpu#hardware_requirements):

In order for CUDA code to execute on devices with specific compute capabilities, [either binary code or PTX code must be loaded](https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#application-compatibility) t

[2021-10-12 20:54] iameli commented on #2023
Not especially looking forward to building TensorFlow from source but the tradeoff might be worth it if we can just include code for every architecture.

[2021-10-13 21:23] Strykar commented on #2047
Case in point, from #transcoding on Discord -
[code]
Adding all the switches to something like `/etc/livepeer/conf` that can be safely `-HUP`'d or adding all of them to the `livepeer-cli` binary would make managing multiple geographically diverse transcoders a bit easier.

[2021-10-14 12:48] yondonfu commented on #1482
Based on a DB dump of the orchestrators table that an affected user provided in Discord, I suspect an old `updatedAt` timestamp recorded for the orchestrators might be the cause of this issue.

When an orchestrator query is constructed, there is a clause that filters out orchestrator entries that haven't been [updated in the last day](https://github.com/livepeer/go-livepeer/blob/e1518db8fb0350c520

[2021-10-18 16:49] yondonfu commented on #1996
Closed by #2045

[2021-10-18 16:49] #1996 closed, assigned to darkdarkdragon

[2021-10-18 16:49] yondonfu commented on #1993
Closed by #2045

[2021-10-18 16:49] #1993 closed, assigned to darkdarkdragon

[2021-10-18 16:49] yondonfu commented on #1994
Closed by #2045

[2021-10-18 16:49] #1994 closed, assigned to darkdarkdragon

[2021-10-21 13:45] #2033 closed, assigned to jailuthra

[2021-10-21 16:25] yondonfu opened #2060 "Fix race in tests with global pushResetWg var"
See example failure https://github.com/livepeer/go-livepeer/runs/3965616511?check_suite_focus=true

[2021-10-25 14:36] yondonfu commented on #2052
Closed by #2059

[2021-10-25 14:36] #2052 closed, assigned to darkdarkdragon

[2021-10-25 14:52] yondonfu opened #2069 "Return 422 to HTTP push client when max # of retries is hit"
We already return a 422 if the transcoding error is a [non-retryable error](https://github.com/livepeer/go-livepeer/blob/e1518db8fb0350c520c6b304a1fb7046380dc3da/server/mediaserver.go#L931). There are cases where a B cannot currently attribute a transcoding error to the source segment or the O. As a result, B cannot just mark these errors as non-retryable and should retry. However, if the B hits t

[2021-10-25 17:31] yondonfu opened #2070 "Return error to B from O before panic due to unrecoverable LPMS error"
Repost from https://github.com/livepeer/go-livepeer/pull/2057#issuecomment-950984324

[2021-10-26 16:58] iameli opened #2072 "feature: segment slicing wire protocol"
To make clipping work well, we're going to need to make frame-accurate cuts of video clips. When cutting from the end of a video clip (the "from point"), any muxer may simply discard video frames. However, when cutting from the front of a video clip (the "to point"), we need to ensure a keyframe gets created at the appropriate time; we must decode the entire video clip but only start encoding from

[2021-10-26 17:34] iameli commented on #2069
I'd advocate for doing [this](https://github.com/livepeer/go-livepeer/issues/1744) first - I'm more interested in tracking down the root cause of Kryptonite segments rather than mitigating their impact. Both good ideas though! https://github.com/livepeer/go-livepeer/issues/1744

[2021-10-26 18:26] yondonfu commented on #2069
I hear you on tracking down the root cause of untranscodeable segments being more important and I agree with that. However, I think this issue would only require changes to a couple lines of code and if the changes required on the HTTP push client side (i.e. Mist) is also a single line code change then completing this could be a small quick win that wouldn't interfere with https://github.com/livep

[2021-10-27 00:38] #1482 closed, assigned to yondonfu

[2021-10-28 15:55] #2049 closed, assigned to yondonfu

[2021-10-28 23:07] victorges commented on #2072
Instead of `in`/`out`, what do you think of `start`/`end` or `from`/`to`?

I think the in/out terms are not very obvious and I'd generally relate them to input/output, on which case I don't understand directly what they mean on the video transcoding flow (but I can fuzzily understand that in=start and out=end?)

[2021-10-29 01:20] yondonfu commented on #2072
Slight preference for from/to from the above. Another alternative if we want to follow ffmpeg terminology is seek/to - when you cut a video using ffmpeg it seeks to the specified timestamp and then cuts starting from there until the specified to timestamp [1]. I'm cool with either so defer to others on that.

I think this should be ok. We just need to make sure LPMS only reports the # of pixels fr

[2021-10-30 14:20] yondonfu opened #2079 "Split O/T: no transcoders available on O connected to multiple Ts after a single T restart due to CUDA_ERROR_ILLEGAL_ADDRESS"
See https://discord.com/channels/423160867534929930/426114749370204170/903963246749446184 for attached logs.

[2021-11-01 16:52] yondonfu opened #2080 "Fix cyclic CPU usage spikes on broadcasters due to discovery requests"
https://github.com/livepeer/go-livepeer/pull/2022/commits/de71460cc2fc2c4fa33873f8af9f622b7c56be15

[2021-11-01 17:36] iameli commented on #2072
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Video-User-Team-5dd2c75e4ee08500015994d7/issues/livepeer/go-livepeer/2072?planning-poker) with ZenHub @darkdarkdragon @victorges @ya7ya

[2021-11-01 19:26] yondonfu opened #2081 "Implement a solution to account for highly state dependent gas usage fluctuations in transactions"
The gas usage of all smart contract functions are state dependent. But, some functions are more state dependent than others. It is possible that the ones that are more state dependent can consume a non-trivial amount of additional gas if the state of the contract changes in a certain way in between the time that the node runs gas estimation for the transaction and the time that the transaction is

[2021-11-01 21:10] yondonfu commented on #1744
De-prioritizing this feature for now in favor of handling this with Mist [1] which will be able to determine with higher probability vs. a B that a source segment is not transcodeable because Mist has access to multiple Bs each of which can have access to different Os.

[1] In practice, this will involve Mist firing a trigger when it gets a 422 from 2 different Bs for the same segment and a servic

[2021-11-02 09:52] 0xVires opened #2084 "Set -maxGasPrice flag equal to max fee per gas, current implementation makes spending unpredictable"
I really would suggest to implement the `-maxGasPrice` as setting the max fee per gas. The current implementation makes it really unpredictable how much gas you'll end up spending. As an example: I just had a ticket redeemed at 155 gwei despite having set the maxGasPrice to 110: https://etherscan.io/tx/0x3b07dbf395c69fb028a63d69596c50d1b4c268aa5f4f417850089b9f69c5baea
Here's what happened:
- In bl

[2021-11-02 15:11] #2080 closed, assigned to yondonfu

[2021-11-03 15:27] yondonfu opened #2088 "Return error from T to O before panic due to unrecoverable LPMS error"
Related to #2070

If T returns an error to O before a panic in this scenario then O can immediately switch to another T instead of waiting for a timeout.

Relevant areas of codebase:

The transcoding call happens in T https://github.com/livepeer/go-livepeer/blob/fbcdccb6ca545ec68f8a6bd533f3d843ec6ad9b1/server/ot_rpc.go#L149

Logic for writing an error from T to O https://github.com/livepeer/go-liv

[2021-11-03 17:41] #2069 closed, assigned to jailuthra

[2021-11-04 11:56] bjp99 commented on #2084
I called reward and paid gas fee of 136 gwei with `-maxGasPrice` set to 120 gwei.  When the transaction was pending it said max gas price of 202 gwei.  When i call manually on etherscan i can set the max gas price and it will not confirm over the gas price set.

Using livepeer_cli
https://etherscan.io/tx/0x9c9c02ee2ffa0bd7d357bca9a8894f712ea001cf3f1eab89c4d1e9ab28847209

Using etherscan
https://et

[2021-11-05 01:55] yondonfu commented on #2084
Yeah the suggestion makes sense. Working on it.

[2021-11-05 10:32] 0xVires commented on #2084
Thank you!
I'll also add my suggestion from discord here - but I'd totally understand if the implementation is too complicated and not worth the time since we're moving to L2 anyways in a few months:

So for me the ideal implementation would look like this:
- Automatically submit the reward claim tx right at the beginning of the round with the set `-maxGasPrice` - no matter what the current gas pr

[2021-11-05 19:30] yondonfu commented on #2070
Relevant areas of the codebase:

The transcoding call for a combined OT happens here:

https://github.com/livepeer/go-livepeer/blob/d3a869665318cc69126427260e7ac0b4f106bf85/core/orchestrator.go#L557

Note that we use a single `Transcoder` interface that can be implemented by `RemoteTranscoderManager` when running as a standalone O and that can be implemented by `LoadBalancingTranscoder` (which use

[2021-11-08 09:42] leszko opened #2095 "Running `./test.sh` locally fails"
**Describe the bug**
Running `./test.sh` fails locally with the following error.

[code]

At the same time, the GH Action looks green.

**To Reproduce**
Execute `./test.sh`.

**Expected behavior**
All tests pass.

**Screenshots**
N/A

**Desktop (please complete the following information):**
- OS: Ubuntu
- Golang version: 1.17.2

**Smartphone (please complete the following information):**
N/A

**Ad

[2021-11-08 13:28] yondonfu commented on #2095
Initial thoughts on possible reasons for tests passing in CI, but failing locally:

- OS?
- Go version?

[2021-11-08 13:46] yondonfu commented on #1991
Closed by #2086

[2021-11-08 13:46] #1991 closed, assigned to nobody

[2021-11-08 13:50] leszko commented on #2070
I think that B does not wait for any timeout when O crashes. At least I wasn't able to reproduce such a scenario. Here is how the communication looks like.

1. B submits a segment to O ([SubmitSegment()](https://github.com/livepeer/go-livepeer/blob/a856c10c2deedc512862f3af207ca33922f2ea26/server/segment_rpc.go#L382))
2. O responds with HTTP_OK 200 ([ServeSegment()](https://github.com/livepeer/go-l

[2021-11-08 15:12] leszko commented on #2070
Confirmed with @yondonfu that it's not an issue. Closing.

[2021-11-08 15:12] #2070 closed, assigned to leszko

[2021-11-08 16:14] leszko commented on #2095
I checked the Go version and it does not matter. I think it can be related to one of these:
- OS (I use ubuntu 20.04, GH action uses 18.04)
- FFMPEG lib versions

@darkdarkdragon do you maybe have any idea why `TestPush_MultipartReturnMultiSession` may work on some machines and not work on some others?

[2021-11-09 01:14] iameli opened #2096 "0% success rate for ~13 minutes"
So there was a three-minute CoreWeave outage earlier today:

![image](https://user-images.githubusercontent.com/257909/140842755-1943f8f6-c42c-4026-931d-f4a6e9a2e7e0.png)

Fair enough that the US broadcasters didn't have a great time for those three minutes. However, the 0% success rate went on much longer, about 13 minutes:

![image](https://user-images.githubusercontent.com/257909/140842664-4a27

[2021-11-09 02:51] yondonfu opened #2097 "Improve logic for selecting untrusted Os for fast verification"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

During fast verification, B defaults to [selecting 2 sessions](https://github.com/livepeer/go-livepeer/blob/d3a869665318cc69126427260e7ac0b4f106bf85/server/broadcast.go#L428) from the untrusted pool.

**Describe the solution you'd like**
A

[2021-11-09 14:17] leszko commented on #2097
I may be wrong, but I think that changing the default value to 1 has some implications. @jailuthra @yondonfu PTAL, wdyt?

# Problem to consider

Consider the following scenario. We have 4 orchestrators:
- OTR - trusted
- OUN1, OUN2 - untrusted orchestrator doing correct transcoding
- OUNM - untrusted malicious orchestrator, sending garbage instead of transcoding

Now, B selects OTR to the trusted

[2021-11-09 14:22] #2088 closed, assigned to leszko

[2021-11-09 15:02] jailuthra commented on #2097
Ah good catch, I completely missed that we currently don't remove an orchestrator from the selector if it fails verification.

IIRC this was a stretch goal in the [spec](https://github.com/livepeer/go-livepeer/issues/1991#issuecomment-903932647) but for the initial implementation we decided to not call `suspendAndRemove` on Os that fails verification. Primary reason was that we didn't know what fa

[2021-11-09 15:32] leszko commented on #2095
I investigated it deeper and it seems related to LPMS and FFMPEG. I created a related GH Issue in the lpms repo: https://github.com/livepeer/lpms/issues/272

[2021-11-09 15:42] leszko commented on #2097
Thanks for the comment @jailuthra. If the motivation is also to cut down the session load for the segments under the fast verification (so that it's always sent to (1 trusted O and 1 untrusted O) and not to (1 trusted O and 2 untrusted O)), then I think there is no need to implement the switch for now.

In such a case, I think we should at least remove the failing O from the untrusted selector (bl

[2021-11-09 16:03] yondonfu opened #2098 "High frequency of invalid ticket senderNonce errors"
Log sample from Discord:

[code]

The O requires the nonce included for tickets to be strictly increasing and it looks like the B is for some reason sending tickets with a slightly lower nonce. Maybe because it is re-sending an old ticket/segment or send tickets/segments out of order.

[2021-11-09 16:51] Strykar commented on #2098
When I see the same behavior, it is almost always accompanied by latency increasing.

[2021-11-09 19:29] papabear99 opened #2099 "Max gas price resets to 0 after restarting orchestrator when set using cli"
**Describe the bug**
Max gas price resets to 0 after restarting orchestrator when set using cli

**To Reproduce**
Steps to reproduce the behavior:
1. Set maximum Ethereum gas price using option 14 in the cli
2. Restart orchestrator
3. Maximum price is reset to 0

**Expected behavior**
Maximum price should retain set value

**Desktop (please complete the following information):**
 - OS: Windows and

[2021-11-09 21:53] Carlotronics commented on #2099
Min gas price has the same behavior. I am not sure they were designed to persist over restarts but this could be a nice feature.

[2021-11-10 01:41] yondonfu commented on #2097
I think there are two mechanisms to consider here:

- Temporarily suspending an O for a particular stream so that B can try another O for that stream. At the moment, the suspension mechanism in B is on a per stream basis. As a result, the O can still be used for another stream that the B is processing. I see the primary purpose of this mechanism to allow the B to rotate through other Os for a stre

[2021-11-10 04:20] FTKuhnsman commented on #2017
Hi Titan-Node. I am far from being a proficient Go developer, but I am working on a python-based routing solution (similar to yondon's livepeer_router). I hope to have a stable working version to share in the near future. I have also tried to be an active member of the Discord community and help people when I can.

ftkuhnsman: 0x4a43b1d7e6227c8b0512e413f406555647ff7bdb

[2021-11-10 05:43] darkdarkdragon commented on #2097
@yondonfu

I was sure we already suspend failed O, but turned out we don't.
Surely we should do this first thing.

We can implement this and see how it will work on practice.

Sure we should do this.

[2021-11-10 09:18] leszko commented on #2097
Thanks for all the comments. I think that the comment from @yondonfu summarizes the current state of the art.

So I think we suggest the following changes:

1. Implement suspending O when it fails fast verification AND the other untrusted O passes the verification
2. Implement checking verified orchestrator first in `chooseResults()`
3. Keep selecting 2 sessions from the untrusted pool for fast ve

[2021-11-10 09:22] jailuthra commented on #2097
Sounds good to me :+1:

[2021-11-10 12:58] oscar-davids commented on #2097
This problem can be formulated as choosing nodes out of n nodes when there is m dishonest nodes. This probability follows hypergeometric distribution.
Assuming there is m dishonest nodes out of n nodes, the equation below holds:
[code]
In other words, when we choose two nodes, we are likely to choose dishonest node at Pr(x=2) probability, which is apparently smaller than Pr(x=1).

[2021-11-10 13:50] leszko commented on #2097
Thanks @oscar-davids for the comment. So, I think it's worth implementing what @yondonfu suggested: `suspending O when it fails fast verification AND the other untrusted O passes the verification`. I'll work on that.

btw. I've fired a PR to fix this `Implement checking verified orchestrator first in chooseResults()` #2100. PTAL @yondonfu @jailuthra . Note that while I did local testing, I still e

[2021-11-10 15:59] darkdarkdragon commented on #2095
@leszko @yondonfu @oscar-davids this happens because I've put binary `test.phash` file that is used in this test into git-lfs.
So git-lfs should be properly initialised for the repo
[code]

[2021-11-11 13:21] #2095 closed, assigned to nobody

[2021-11-12 04:45] iameli opened #2102 "improve contextual logging"
It's very difficult these days to use go-livepeer logs to ascertain what's going wrong with a particular broadcast, as most logs.

I propose the following for our logs:

1. Any log that occurs within the context of a stream should have a `manifestId` listed. Ditto with `sessionId` for logging that occurs within the context.
2. Make sure all logging uses consistent formatting, e.g. `manifestId=ABC1

[2021-11-12 08:38] leszko commented on #2095
Thanks @darkdarkdragon for the fix. It all works smoothly now!

[2021-11-12 13:48] yondonfu opened #2104 "Add support for some type of error log filtering to make it easier to just sift through errors"
On one hand enabling more verbose logging helps with understanding what is happening on the node, on the other hand it makes it really difficult to sift through actual error logs.

What is a good way to make it easy to *just* access error logs? Maybe have an option to pipe error logs specifically to a file?

[2021-11-12 13:51] leszko commented on #2097
An update from my side:

1. We (me and @jailuthra) checked together and it seems that #2100 should fix the excessive session swapping (I double-checked the local setup and I still sometimes experience session swapping, but it's probably because of the overload of my local machine).

2. I've sent a second PR #2103 . Together with #2100 , they should close this GH issue.

[2021-11-12 17:58] darkdarkdragon commented on #2104
@yondonfu Can you elaborate on that?
What's the context? It is about our infrastructure and logs in Papertrail?
` enabling more verbose logging ` - in terms of `glog` system we're using it's not errors, int's `info`. Output of `glog.Error` is less verbose. So, what part of output do you want to see in log files?

[2021-11-12 18:52] yondonfu commented on #2104
Yep. A number of orchestrator operators on the network have commented that it is difficult for them to sift through error logs that are sandwiched in between tons of verbose info logs (for example, at least one person recalled seeing a "Generic error in external library" error log, but wasn't sure how to get more information as a part of a report). So, I created this issue to track possible soluti

[2021-11-13 03:53] darkdarkdragon commented on #2104
@yondonfu maybe [this](https://github.com/livepeer/go-livepeer/pull/2105) could help. `glog` can log to files, and it also rotates logs file. This PR just exposes existing `glog`'s command line options.

[2021-11-14 19:54] pimboli commented on #1945
Hi,
I have the same problem:

`0|runminer | [h264_cuvid @ 0x7fe47420f600] ctx->cvdl->cuvidParseVideoData(ctx->cuparser, &cupkt) failed -> CUDA_ERROR_UNKNOWN: unknown error
0|runminer | ERROR: decoder.c:64] Error sending packet to decoder : Generic error in an external library
0|runminer | ERROR: transcoder.c:218] Could not decode; stopping : Generic error in an external library
0|runminer | E1114

[2021-11-15 12:57] leszko commented on #2079
Attaching the logs from Discord.
[cuda_error.txt](https://github.com/livepeer/go-livepeer/files/7538780/cuda_error.txt)

[2021-11-15 12:57] leszko commented on #2079
I spent some time on the issue, but I was not able to reproduce it. If the issue repeats, then could someone add the steps to reproduce?

It's possible that we'll not see the issue after the next release, because of this fix #2094, but to be honest I'm not sure about it. There are actually two weird things that happen in the logs.

**1. Orchestrator is not able to recover after transcoder(s) crash

[2021-11-15 14:47] yondonfu commented on #2079
I'm not sure if this could be the cause of the problem here, but it looks like the one scenario where `selectTranscoder()` does return `ErrNoTranscodersAvailable` even when there are transcoders available is [here](https://github.com/livepeer/go-livepeer/blob/master/core/orchestrator.go#L930) - if the transcoder at the head of the transcoder queue is at capacity `selectTranscoder()` assumes that t

[2021-11-15 16:16] leszko commented on #2079
Thanks @yondonfu for the comment.

That may be the case. I spent some time checking it, but cannot find anything obvious.

Ok, I see. Then, the transcoder loop looks ok.

[2021-11-15 23:23] hotuan87 opened #2106 "Transaction Confirmations in 'livepeer_cli'"
'livepeer_cli' would benefit greatly from including transaction confirmations to avoid costly mistakes.

(1) It is too easy to accidentally initiate transactions without confirmations, especially for new users exploring it for the first time. In the case of entering the wrong wallet address by accident, a simple "Are you sure? Y/N" confirmation before initiating a transaction would stop an expensi

[2021-11-19 18:17] dpurhar27 opened #2112 "Add `minGasLimit` flag or a buffer to the dynamic gas estimation"
**Is your feature request related to a problem? Please describe.**
The gas estimation logic used by the client is faulty - sometimes it under-estimates the gas required for a txn which leads to txn failure with `out of gas`. This leads to losses to the client operator in the form of wasted txn fees, and potentially missing their periodic rewards claim which means losing rewards.

**Example**

- `r

[2021-11-20 15:20] yondonfu commented on #1744
Closing for the reason mentioned in the previous comment.

[2021-11-20 15:20] #1744 closed, assigned to nobody

[2021-11-20 15:45] yondonfu opened #2113 "B should cancel segment processing if the HTTP push client request ends"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

A HTTP push client may close its connection or cancel a request before B finishes processing a segment. At the moment, we [check if the request context is cancelled](https://github.com/livepeer/go-livepeer/blob/b96a0f5fc690740b8e2b8cc79d67

[2021-11-21 11:06] 0xVires commented on #2079
Not sure if it's related, but I just had the following situation :

- T1 (on the same machine as the O) failed with `Fatal error with remote transcoder=T1:59014 taskId=14531293 fname=https://T1:8935/stream/2c3da27f/5.tempfile err=Remote transcoder took too long` and got removed from the transcoder map.
 - This somehow triggered the `no transcoders available` error and T2 & T3 being stuck with the

[2021-11-22 08:57] leszko commented on #2079
@0xVires Thanks for the comment and the logs. Were you able to repeat the same scenario or it just happened once? I'm looking for some steps to reproduce.

[2021-11-22 09:31] leszko commented on #2097
Fixed by #2100 and #2103

[2021-11-22 09:31] #2097 closed, assigned to leszko

[2021-11-22 11:01] 0xVires commented on #2079
No, I'm not able to reproduce since I don't know what triggered the fatal error in the first place... My setup has been running without any issues for the past two weeks.

I have the following setup:
Machine 1: O and T
Machine 2: T
Machine 3: T

So maybe you can try setting up something similar and crash one of the Ts to see if the other Ts and/or O is affected?

[2021-11-22 11:29] leszko commented on #2079
I already tried it, but cannot reproduce the issue. I kill one trascoder, but the others work correctly...

[2021-11-22 21:13] yondonfu opened #2116 "Testnet V1 Ready Node"

[2021-11-22 22:02] yondonfu opened #2117 "Testnet V2 Ready Node"

[2021-11-23 08:14] Pegasus-starry commented on #1858
I meet the same issue on Rinkeby Testnet now. Is this issue solved? Or is there any solution now? Thanks.

[2021-11-23 10:09] 0xVires commented on #2084
I'm not sure if this should be a separate issue, but I feel like this is kind of on topic since it only concerns those who set the `-maxFeePerGas` flag:
Would it be possible to also add a retry mechanism like the one for the ticket redemption? Currently, if the new round starts and the gas price is higher than the `maxFeePerGas`, the O does not call the reward tx. It's then up to the user to manua

[2021-11-23 15:52] leszko commented on #2084
Let me summarize what we currently have and we can think how to approach it.

## Current implementation

### when -maxGasPrice is not set

1. Send transaction with parameters:
   - `max priority fee per gas` => value suggested by the network
   - `max fee per gas` => `2 * base fee + max priority fee per gas`
2. Wait 5 min for the transaction to get processed, if not then
3. Send the replacement tr

[2021-11-25 13:45] 0xVires commented on #2084
So as soon as the new round starts, the reward call would be submitted with the set `-maxGasPrice`? That would be nice and in that case we don't need the retry mechanism that I've suggested.
Only issue I see is that sometimes the user might need to manually increase the gas price (if the `-maxGasPrice` is set too low) or they're ending up with stuck txs.
Since this quite a change from the current

[2021-11-25 15:36] leszko opened #2118 "Retry transactions unsent because of too low `maxGasPrice`"
**Is your feature request related to a problem? Please describe.**

Currently, if the value of `-maxGasPrice` is too low, the transactions are not sent and never retried.

The issue was initially mentioned by @0xVires in the [comment](https://github.com/livepeer/go-livepeer/issues/2084#issuecomment-976363323).

**Describe the solution you'd like**
Livepeer can keep track of unsent transactions and

[2021-11-25 15:36] leszko commented on #2084
Thanks for the comment @0xVires . I also had a similar discussion with @yondonfu.

As you noted, if we change the logic to always send the transaction, it's a big shift for the user, because then users would need to do manual interactions. So, we decided that it may not be such a good idea and maybe it's better to not send transactions that are highly probably to end up pending until some user int

[2021-11-26 10:55] leszko commented on #2113
I tried to reproduce this issue by pushing segments with the following command.

[code]

What I notice is that every segment times out [here](https://github.com/livepeer/go-livepeer/blob/b96a0f5fc690740b8e2b8cc79d67992c7d90d8f3/server/mediaserver.go#L967). I'm not sure about the reason, maybe ffmpeg just has a too short timeout for the HTTP connection. But in any case, I have two questions:

1. Ho

[2021-11-26 12:51] kyriediculous opened #2119 "RoundInitializer superfluous retries when round is already initialized"
**Describe the bug**
The `RoundInitializer` creates a bunch of superfluous requests in quick succession when a round is already initialized and the `ErrRoundInitialized` is returned.

This also results in a high number of `eth_getBlockByNumber`, `eth_call` and `eth_getLogs`.

[code]

**To Reproduce**
1.Deploy the protocol to rinkeby
2. Connect a node that initialised the round to the rinkeby deplo

[2021-11-29 13:02] payton commented on #2079
I've also experienced a similar issue. In this case, I had 3/4 Ts actively running maybe 9 sessions. The intent was to downscale and check how Livepeer handled these cutover situations.

1. I killed the LP process on T1, which wasn't transcoding at the time. O successfully deregistered so there were no issues.
2. I killed the LP process on T2, which **was** transcoding at the time. The O states th

[2021-11-29 15:45] leszko commented on #2079
Thanks for the input @payton. I think this is an important issue to address, however, I tried a few times with the load (like you did, 3/4T and 9 sessions), but I still never encountered the issue.

Is it something you were able to reproduce or it just happened only once?

[2021-11-29 15:57] leszko commented on #2113
Discussed offline with @yondonfu . What we agreed on is that the most important use case is the MistServer and that a client pushing HTTP segments to the broadcasters should always wait for the HTTP response.

Therefore what we plan to do is to:
- Implement the logic as originally described in this GH Issue
- Try to find a solution for `ffmpeg` still work (maybe add an additional parameter or mayb

[2021-11-29 16:21] yondonfu commented on #2113
Some more context:

- At the moment, a client can push a segment and synchronously wait for the multi-part response *or* it could also just query the playlist from the B which is updated as segments are transcoded
- The former is the main way that the HTTP push API is used today by Mist
- But, the latter is how you can easily test the HTTP push API using ffmpeg
- The main upside of cancelling proc

[2021-11-29 16:33] iameli commented on #2113
Seems like perhaps the `rw_timeout` option might be pertinent here? https://ffmpeg.org/ffmpeg-protocols.html#Protocols

[2021-11-29 17:07] Thulinma commented on #2113
It would make sense to me to always make a "reasonable attempt" to complete the transcode if a segment was (fully?) received, regardless of client connection status. It's a common pattern in HTTP services to be "idempotent" in the sense that requesting the same segment to be transcoded "again" does not start a new transcode, but immediately returns the result of the previous transcode attempt (if

[2021-11-29 17:31] iameli commented on #2113
Right - I'd be nervous about introducing any assumptions about statefulness in the current workflow. In production there's no guarantee that any kind of POST is going to hit the same actual node behind the scenes. A fully-streaming workflow could make different assumptions, of course.

[2021-11-29 18:58] hthillman opened #2120 "Clear warning on CLI Address List"
**Motivation**
Users are regularly sending LPT to the contract address. We don't know if this is due to confusion on the CEX side or if people are getting confused in the CLI

**Proposed solutions**
- Add a clear warning "FOR REFERENCE ONLY - DO NOT SEND TOKENS" below any address where users should never send funds
- Update verbiage for "ETH account" -> "Your account"

e.g.,
[code]

![image.png](h

[2021-11-29 20:12] Thulinma commented on #2113
Idempotent does not mean stateful, though! The work has already started and is likely tricky to cancel in most cases; so it makes sense to complete it and keep it around for a while if possible/practical. If the next request hits another node, well, everything still works. And if it hits the same one; you gain quite a bit of efficiency. ¯\\\_(ツ)\_/¯

[2021-11-30 00:11] payton commented on #2079
@leszko It only happened one time that I have observed. I'll try to setup some contained tests and reproduce this week.

[2021-11-30 09:19] leszko commented on #2079
Thanks @payton, some steps to reproduce will be great!

[2021-11-30 12:07] leszko commented on #2113
Thanks for the comments. I see we have more options to consider :)

@iameli what you mentioned about the statelessness, so you mean we should treat the broadcaster like a stateless service that can run behind a (round-robin) load-balancer? It sounds somehow counter-intuitive to me since that means that the stream can bounce between different broadcasters.

@Thulinma You mentioned that `If we have

[2021-11-30 13:45] victorges commented on #2113
Chiming in as well...

Yes, passing the context down to the function that actually does the work (e.g. spawns ffmpeg, calls some other service) is crucial, otherwise we will make a "shallow" cancellation in the end but the core work will continue to be performed the same way in background. The (or a child) `ctx` must be propagated down to the lowest level of I/O performed so the cancellation actua

[2021-11-30 16:17] yondonfu commented on #2113
We could follow the same flow as the [B <> O protocol](https://github.com/livepeer/go-livepeer/blob/master/doc/networking.md#post-segment) in which O [returns a 200 OK header](https://github.com/livepeer/go-livepeer/blob/master/server/segment_rpc.go#L167) when it finishes downloading the segment data. An additional benefit of this is that the push client (i.e. Mist) would then have the ability to

[2021-11-30 21:56] Thulinma commented on #2113
Yes, but (as Victor already mentioned) it's not good practice to rely on the other side to report errors; as an endpoint that is malfunctioning is likely not able to relay that information. If it _can_ relay it, yeah, definitely do so. We just can't _depend_ on that mechanism working.

That works too, yes. 👍

In principle, yeah, I agree with you. But in this case Mist also has a higher purpose for

[2021-12-01 12:50] leszko commented on #2113
Thanks for all the comments. I really like what @yondonfu and @victorges wrote about using the same strategy as we do in the B<>O protocol and "check if the context is canceled before proceeding with Orchestrator transcode retries". I think It solves all the issues.

Then, it would work as follows:
1. Send a segment: Mist -> O
2. When the segment is uploaded, suddenly return HTTP 200 OK
3. Start T

[2021-12-01 16:10] victorges commented on #2113
I actually like that approach! Is there any possibility to fill a placeholder after some specified timeout, but still keep the transcode attempt running (and maybe even retries) so that if it eventually succeeds we can go back and patch the stream with the transcoded segments? Also any possibility to fallback to source-only when transcoding is not working, even for players/clients that had already

[2021-12-01 17:20] yondonfu commented on #2113
Fair point. For the B <> O protocol, the expectation right now is that O will return an early 200 OK once the segment is uploaded and then B should parse the response later on for any errors that might've occurred during transcoding. This does introduce the inconvenience of potential incompatibility with tools like proxies that rely exclusively on headers for error management. Since the use of suc

[2021-12-01 18:43] victorges commented on #2113
Oh, I see! I was not aware that this was the protocol between B <> O. In that case, I think it's very fair to implement a consistent protocol for all go-livepeer HTTP pushes. It would be nice to have a more HTTP "compliant" protocol, but maybe all this discussion will make less sense when we move to streaming architecture anyway since we won't be relying on individual request/responses (tho we wil

[2021-12-01 21:50] Thulinma commented on #2113
We can't retroactively insert any data after putting placeholders in; Mist's internals have a hard requirement on data being permanent once added to the track timeline. (At least until one "buffer duration" - the DVR window - has passed and the data is wiped from memory again.)
We _can_ fall back to source-only, and in fact that setup has been running on Picarto for months already. 😎

[2021-12-02 09:42] leszko commented on #2113
Ok, I think we've come to some consensus :)

So, let's stick to these two points you mentioned. Make Mist<>B protocol the same as the B<>O protocol (`upload -> return HTTP 200 OK -> processing`) and do not retry if HTTP connection is closed/canceled.

Yes, let's move it aside for now.

[2021-12-02 10:19] cyberj0g opened #2123 "Support H265/HEVC, VP8, VP9"
## Abstract
Currently, we support only H.264 codec in the transcoding pipeline, while H.265 (HEVC) and VP8/VP9 are very popular and widely supported alternatives.

## Proposed Solution

As Livepeer focuses on using Nvidia GPUs capabilities, it makes sense to first add support for codecs which has hardware implementations on these devices. As per [support matrix](https://developer.nvidia.com/video-

[2021-12-02 15:47] leszko commented on #2113
I've fired a PR on it: #2124, PTAL

I've started the implementation and then had some more doubts. There is a subtle difference between the B<>O protocol and Mist<>B protocol. B<>O is a kind-of internal Livepeer protocol, so it's probably ok to suddenly return HTTP 200 OK and then stream errors in the response body. However Mist<>B protocol is more like a public API, so sticking to some HTTP stand

[2021-12-02 17:36] yondonfu commented on #2113
My suggestion is to keep this issue (and the PR that closes it) focused on solving the problem of a B continuing with additional transcode attempts for a segment even after the HTTP client stops caring about the results. I believe the changes in https://github.com/livepeer/go-livepeer/pull/2124 should help address this. However, those changes would also mean that when using an HTTP client that pus

[2021-12-02 22:52] hthillman commented on #2047
Here's a proposed solution that I've discussed with @yondonfu and @Strykar - crossposting here so info is not lost in the Forum:

- Add support for using a config file (#101) so that it is easier to start livepeer with systemd / non-bash setups
- Provide a guide for restarting livepeer if you need to change your configuration without losing any streams that are currently coming in by spinning up a

[2021-12-03 06:11] AuthorityNull commented on #2017
Hi Titan-Node!

 I'm not a developer (I can work my way around Ubuntu, kinda) so I'll just throw in a basic introduction...

I'm Ben, the owner and operator of the Authority_Null Orchestrator. In a few day's my node will be transcoding for a full month and I'm hoping I can hit 100,000 minutes before then. The ultimate goal, however is to partner up with some trusted collogues of mine and scale acr

[2021-12-03 08:23] leszko opened #2125 "Improve broadcaster's HTTP push api protocol"
**Is your feature request related to a problem? Please describe.**

Currently, B returns HTTP 200 OK only after the transcoding process is completed. This results in the need for having a high timeout on the client-side.

**Describe the solution you'd like**

Two ideas for improvements:
1. B can return HTTP 200 OK header as soon as the segment is uploaded, then return the transcoded data in the re

[2021-12-03 08:23] leszko commented on #2113
Goog idea @yondonfu , I created a GH Issue: https://github.com/livepeer/go-livepeer/issues/2125. We can move the discussion there. Also feel free to update the GH Issue name and description if needed.

[2021-12-03 11:07] cyberj0g commented on #2123
## Additional note on VP8/9
The most widely used implementation of these codecs is [libvpx](https://github.com/webmproject/libvpx/) from Google. However, it does not seem to support any kind of hardware acceleration, neither CPU nor GPU. There is a [project](https://github.com/Italtel-Unimi/libvpx) which aims to add CUDA support to libvpx, but it's not maintained. In case of Ffmpeg and x86-64 plat

[2021-12-03 21:52] papabear99 commented on #2120
I think the first 3 are great ideas and make it very clear to not send anything to those addresses.

Suggestion for the ETH Account update is to still reference ETH Account in the description for users that are aware that ERC20 Tokens should be sent to their ETH account **and** for newer users to know that their "Account" _is_ an ETH account.

**Your Orchestrator / ETH Account**

Another idea is t

[2021-12-06 09:10] #2113 closed, assigned to leszko

[2021-12-06 10:16] #1656 closed, assigned to leszko

[2021-12-06 10:41] leszko commented on #2112
Thanks, @dpurhar27 for creating the GH Issue.

Could you check if maybe the flag [`-gasLimit`](https://github.com/livepeer/go-livepeer/blob/master/cmd/livepeer/livepeer.go#L120) help with the issue you described?

IIUC the current logic works as follows:
- If the flag `-gasLimit` is specified, then it's used for every transaction
- If the flag `-gasLimit` is not specified, then the gas limit is es

[2021-12-06 12:05] jailuthra commented on #2123
Thanks @cyberj0g, the spec mostly looks good to me!

I think rather than creating an additional field in `TranscodeOptions` for the actual codec names, we can create a lookup table in `video_profile.go`, or maybe re-use [`configAccel`](https://github.com/livepeer/lpms/blob/91b94f852f02525e491a3d2c2918ec3879107199/ffmpeg/ffmpeg.go#L214) which can find the correct decoder/encoder name from `VideoPro

[2021-12-06 14:58] leszko commented on #2112
There is also a related GH Issue to improve the Gas Limit estimation. Please check: https://github.com/livepeer/go-livepeer/issues/2081

[2021-12-06 22:31] hthillman commented on #2120
@papabear99

How about just
[code]

I want to make it very clear that LPT should go to that account as well

[2021-12-07 01:20] yondonfu commented on #2053
Closed by #2093

[2021-12-07 01:20] #2053 closed, assigned to cyberj0g

[2021-12-07 01:26] yondonfu commented on #2123
Agreed that it makes sense to focus on H265 decoding and encoding first. Ideally, implementing H265 support will establish an implementation path for new codecs for encoding/decoding that can be used later on when we look into VP8/VP9 support as well. I've updated the issue title to reflect this.

A few additional thoughts:

Will we also H265 decoding and encoding on CPU? This would follow the exa

[2021-12-07 01:43] Thulinma commented on #2123
A pretty relevant example of such a case is that several models of cellphones support VP8 encoding over WebRTC but not H264. Transcoding the VP8 received from these devices to H264 makes sense for compatibility purposes.

[2021-12-07 11:39] cyberj0g commented on #940
+1 for refactoring the `main` function by adding proper data structures and moving away inline functions. It's 959 lines  currently, not easy to work on. There are no good reasons to have any function this long.

[2021-12-07 13:44] cyberj0g commented on #2123
While working on this, I found that we will also need to refactor and improve capability detection logic to support H.265 and other potential capabilities, which might not be available or desirable on every T. Currently, there is no way for a standalone T to communicate the capabilities it supports to O. Scene classification capability check is hard-coded for  O+T case. After discussing with @jail

[2021-12-07 13:57] leszko commented on #2120
I've sent a PR with the update https://github.com/livepeer/go-livepeer/pull/2127

Note that we use also CLI for the Broadcaster, so in case of Brocaster, it prints `Broadcaster Account` instead of `Orchestartor Account`.

[2021-12-07 15:00] yondonfu commented on #2123
Yeah at the moment only B <> O capability discovery is implemented, but O <> T capability discovery is not yet implemented. We initially implemented B <> O capability discovery because that at the very least covered the case where a B is interacting with a combined OT (i.e. an O that is also running as a T) which was the most common setup at the time (although we're now seeing an increasing number

[2021-12-07 19:28] papabear99 commented on #2120
All sounds good to me

[2021-12-08 08:05] Shawak opened #2128 "Bug: cannot process payments"
**Describe the bug**

Getting the following error message besides having enough stake to be in the active orchestrator set:
[code]

**To Reproduce**

I increased my stake from 10.75 by 12.3 to 23.03. At times writing this ticket, the initial value of 10.75 and ofcourse the 23.03 should be enough to be in the active set of orchestrators. But my orchestrator didn't receive any work a minute after in

[2021-12-08 15:40] leszko commented on #101
related issue #2047

[2021-12-08 18:53] Shawak commented on #2128
Looks like waiting for the next round solved the issue.

[2021-12-08 18:53] #2128 closed, assigned to nobody

[2021-12-08 21:22] yondonfu commented on #2128
Hey @Shawak glad this was resolved for you. FYI when an orchestrator has enough stake to join the active set (i.e. the top 100 orchestrators with the most stake), it will join the active set in the next round which is why you observed this behavior.

[2021-12-08 22:38] #2040 closed, assigned to darkdarkdragon

[2021-12-09 09:03] #2120 closed, assigned to leszko

[2021-12-09 09:12] leszko opened #2129 "Livepeer Zero-Downtime Deployment"
**Is your feature request related to a problem? Please describe.**
We need to prepare a guide on how to deploy Livepeer (Orchestrator) which supports upgrade or config change without losing the streams.

Related GH Issues:
- https://github.com/livepeer/go-livepeer/issues/2047
- https://github.com/livepeer/go-livepeer/issues/2058

**Describe the solution you'd like**
There should be a possibility o

[2021-12-09 09:12] leszko commented on #2047
I think what @hthillman described is exactly right. This issue is a duplicate of #101, so I think we can close this one and continue all the discussion in #101.

Guide for restarting Livepeer, basically Livepeer Deployment Guide is a completely separate issue, so I created this https://github.com/livepeer/go-livepeer/issues/2129

[2021-12-09 09:12] #2047 closed, assigned to leszko

[2021-12-09 15:26] adamsoffer opened #2130 "Orchestrator Journey"

[2021-12-09 15:27] adamsoffer opened #2131 "Orchestrator journey"

[2021-12-09 15:27] #2131 closed, assigned to nobody

[2021-12-09 15:27] #2130 closed, assigned to nobody

[2021-12-09 22:16] Shawak commented on #2128
Hey @yondonfu, I know. But as mentioned in the ticket, I should've never left the active set because I always had enough stake to be in the top 100.

[2021-12-10 10:47] leszko commented on #2129
@yondonfu @hthillman I've spent some thinking about how we should organize and here are my thoughts. Let me know what you think.

**1. Documentation**

I think we should create a new section in [Livepeer Org, Video Miners, How-to Guides](https://livepeer.org/docs/video-miners/how-to-guides) called "Zero Downtime Deployment". It will be complementary to [Getting Started: Activation](https://livepee

[2021-12-10 15:55] hthillman commented on #2129
A few thoughts/questions:

1. Would building the redirect mechanism directly into Livepeer solve the loss of any sessions that are currently being transcoded? Or will that need to be addressed separately no matter what?
2. It sounds like no matter what this has to be set up with a proxy, correct? and the alternate solution just makes it easier / ports the work into the node itself

I am generally

[2021-12-10 16:47] leszko commented on #2129
Thanks for the comments Hunter!

I actually think the redirection is problematic on its own because I'm not sure what will be the address we redirect to. I can think of two cases:
- Other on-chain registered orchestrator => This could work fine, we could ask an orchestrator to gracefully shutdown (finish its work and then send redirection), but:
  - then the requirement is to have another on-chain

[2021-12-10 18:39] dpurhar27 commented on #2112
HI @leszko , thanks for the response.

Great, it sounds like the `-gasLimit` flag will be a good workaround as a stop-gap for now, until #2081, etc. are fully addressed.

Naturally, it's sub-optimal to be setting a really high gas limit where it's not necessary. Generally this makes it slower to get included into blocks IIRC because the default ETH client forms full blocks based on gas limits set,

[2021-12-10 21:53] yondonfu opened #2133 "Investigate likely mem leak on B"
At one point a B has only ~17 streams (max) with 13GB of RAM usage which seems pretty fishy.

[2021-12-11 08:48] cyberj0g opened #2134 "Support additional container formats for VP8/9"
As LPMS support for VP8 and VP9 is added by [this PR](https://github.com/livepeer/lpms/pull/279), we need to support containers compatible with these codecs. I propose enabling WEBM and MKV support in production `libavcodec` bulid. It will require adding something like that to ffmpeg build arguments:
[code]
We support hardware accelerated VP8/9 decoding, but not encoding, therefore, only viable ro

[2021-12-13 00:57] darkdarkdragon commented on #2134
Shouldn't we also enable `opus` codec? I suspect main use case for VP8 will be to take in WebRTC stream (with VP8/opus) and transcode it into h264/aac.

It is not the job of go-livepeer node to split files (.web, .mkv) into segments.

[2021-12-13 18:06] Thulinma commented on #2134
Isn't the Opus demuxer only for `.opus` files? As far as I know, the matroska demuxer can handle Opus inside `.mkv` just fine without further requirements (but I could be wrong about this...).
Oh, perhaps good to know: webm is a strict subset of matroska. So the matroska demuxer _can_ handle that by itself, too.

Not supporting DASH seems reasonable (and sensible) to me. 👍
If you're doing MP4/TS o

[2021-12-13 19:19] darkdarkdragon commented on #2123
@yondonfu

If we're not implementing O <> T discovery, that means that in separate O setup user should specify manually what codec it wants to be advertised?

[2021-12-13 22:25] darkdarkdragon commented on #2134
Didn't know that webm is a subset of matroska. Then it makes sense to enable them both for input and output.

[2021-12-14 03:50] #2102 closed, assigned to darkdarkdragon

[2021-12-14 08:39] cyberj0g commented on #2134
Thanks for the input. I like the idea of including MKV (and WEBM) support. WEBM demuxer and muxer still needs to be explicitly enabled. Currently, relevant Ffmpeg options for production build look like this (HW codecs are included separately):
[code]
https://github.com/livepeer/go-livepeer/blob/ip/hevc/install_ffmpeg.sh

[2021-12-14 11:17] cyberj0g commented on #2123
Can O collect capabilities from Ts upon `RegisterTranscoder` calls and then advertise them?

[2021-12-14 13:35] leszko commented on #2129
# TL;DR

There are two alternative solutions to the problem of updating/upgrading Livepeer without losing streams. Here's a comparison with Pros and Cons. Both solutions require some additional implementation.

|  | Pros | Cons |
|--|-------------------|-------------------------|
|Solution 1: Proxy | <ul><li> Consistent with how everything works nowadays<ul><li>work out of the box in Kubernetes, E

[2021-12-14 14:22] yondonfu commented on #2123
Ah good point! Working through this for myself below...

At the moment, the caps in the node are all hardcoded so an O will advertise whatever caps are hardcoded for the version of go-livepeer that it is running. As a result, without O <> T cap discovery, O just advertises the caps hardcoded for its version of go-livepeer.

If we're planning on dynamically determining the codecs for a combined OT

[2021-12-14 17:14] darkdarkdragon commented on #2123
@yondonfu @cyberj0g @iameli

This H264 cap advertises codec without distinguishing software/hardware and encoding/decoding.
I imagine, given that Nvidia hardware only allows to decode VP8/VP9 - most people would like to only advertise decoding of VPX and not encoding.

Also, Nvidia's GPU Support Matrix mentions different level of support of decoding VP9/h265 for 8/10/12bit. Should we advertise VP9

[2021-12-14 17:23] darkdarkdragon commented on #101
To support reading from config file and from env vars we could use this lib github.com/peterbourgon/ff
It requires just couple of lines of code to use it, like this:
https://github.com/livepeer/stream-tester/blob/59ae0b396c367b8c602a117e18d90a75f574a44d/cmd/recordtester/recordtester.go#L64-L68

[2021-12-14 17:43] cyberj0g commented on #2123
If we are not hard coding the matrix, we'll need to include a test video segment for each codec settings combination, so I'd start with base profile of H.265 and 8 bit mode of VP9.

For representing the capability, it will probably take two bit strings, one for base capability, and another one for its options: codec settings, and e.g. specific scene classification model. Potentially, we might even

[2021-12-14 18:02] darkdarkdragon commented on #2123
And now we're talking about changing capability detection protocol...

Also, now broadcaster should inspect incoming video segment (or require for relevant information to be presented along with the segment) - because if B is given VP9 segment to transcode - it should know if it is 8 or 12 bit - to find correct orchestrator to send to - or just try every orchestrator that support VP9 blindly knowi

[2021-12-14 18:13] cyberj0g commented on #2123
Right, exact requested capability should be known to perform the task. Regarding extending the off-chain part of the protocol - why not?

[2021-12-14 18:38] darkdarkdragon commented on #2123
Just wanted to point out that the task is getting bigger and bigger...

I'm not against this - but this is a big task - we need to be extremely careful making changes to protocols - it is very hard to fix them after they was publicly released 😄

[2021-12-14 19:35] hthillman commented on #2112
@leszko can this be closed in favor of #2081?

[2021-12-14 20:44] hthillman commented on #2129
re: HTTP proxy, what is the relative difficulty of these tasks?
- Make transcoding always in one HTTP request
- Implement/Use an ObjectStore which is shared between different orchestrators (i.e. filesystem, distributed cache)

[2021-12-15 07:55] leszko commented on #2112
Yes, I think. Closing.

@dpurhar27 Feel free to reopen if needed.

[2021-12-15 07:55] #2112 closed, assigned to nobody

[2021-12-15 08:54] leszko commented on #2129
I think that these tasks are similar in size, I'd estimate each of them for 1-2 weeks of work. Probably 2 weeks, since everything takes more time than expected. To choose which one to implement I'd rather think about which change is more needed for the Livepeer roadmap. Maybe we should even implement both...

The change looks very simple, but we change the B<>O protocol here, so need to be careful

[2021-12-15 14:50] leszko commented on #101
Thanks @darkdarkdragon for sharing the library, I checked it and it allows to add a config file with just a few lines of code. Exactly what you mentioned!

Nevertheless, using this library has some limitations and let me write them down here as well as document other alternative solutions we can implement. All depends on how much time we want to invest into the UX of Livepeer configuration. The so

[2021-12-15 15:25] hthillman commented on #101
If we did Solution 1 now, does that preclude us from doing Solution 3 in the future?

[2021-12-15 15:35] leszko commented on #101
No, we can proceed with Solution 1 right now and put Solution 3 on the roadmap, and implement it in the future.

[2021-12-15 16:34] darkdarkdragon commented on #101
I don't think solution 3 is the scope of that ticket - we can do it any time when we're ready.
I don't see any advantages of YAML/TOML - so that leaves us with solution 1.

[2021-12-15 19:23] leszko commented on #101
Yeah, agree.

I'm fine to proceed with this simplest approach. @yondonfu @hthillman wdyt?

[2021-12-15 20:56] hthillman commented on #101
Let's do option 1, agree that #3 is out of scope and yaml doesn't add much value.

[2021-12-16 09:54] leszko commented on #2129
I had a very good conversation with @victorges and it's probably worth trying to make our HTTP protocol completely synchronous because now it's neither sync nor async.

So, I leaning toward trying to change the HTTP protocol and trying if it plays well with the nginx https reverse proxy.

[2021-12-16 15:17] yondonfu commented on #2123
Interesting thought. So, as an example, let's say we define the VP9 decoding capability. If we follow this suggestion a node could advertise support for each bit level in tandem with advertising support for VP9 decoding i.e. node 1 and 2 both advertise VP9 decoding, but node 1 advertises 8 bit as an option and node 2 advertises 8 bit and 10 bit as options.

Distinguishing between encoding and deco

[2021-12-16 15:27] yondonfu commented on #101
Agreed with everyone else on implementing solution 1 right now and looking into the flag/config UX improvements separately.

[2021-12-16 15:57] cyberj0g commented on #2123
@yondonfu this makes sense. I'm already taking a gradual approach in a sense of just expanding [Capabilities](https://github.com/livepeer/go-livepeer/blob/970d0aa7892cd9c30aaf069a7ee8e72d8fa64111/core/capabilities.go#L21) enum with new values:
[code]
Assuming that we only care about hardware support of these codecs, so if Nvidia transcoding test fails, T will not report this capability at all. I t

[2021-12-16 16:05] yondonfu commented on #2129
Still digesting everything, but leaving some initial comments:

At the moment, I think focusing on making it easy for an operator run one or many Os behind a proxy makes sense as that builds off lots of existing best practices and knowledge around HA and we can make doing this more accessible via guides, ensuring that go-livepeer is easy to integrate in these setups and later on there could be add

[2021-12-16 20:02] Strykar opened #2138 "Add documentation for all error messages"
**Is your feature request related to a problem? Please describe.**
All the errors logged by the livepeer binary should be documented.

**Describe the solution you'd like**
Add documentation for each error the livepeer binary may log.

**Additional context**
https://github.com/livepeer/go-livepeer/issues/2104

[2021-12-16 20:07] Strykar opened #2139 "Add documentation for all Prometheus metrics emitted by livepeer"
**Is your feature request related to a problem? Please describe.**
All metrics emitted by livepeer are not documented.

**Describe the solution you'd like**
Document, in brief, every metric emitted by the livepeer binary.

**Additional context**
https://github.com/livepeer/docker-livepeer/tree/master/monitoring and https://forum.livepeer.org/t/guide-transcoder-monitoring-with-prometheus-grafana/12

[2021-12-16 20:11] Thulinma commented on #2123
For reference: most hardware-accelerated encoders do not support my favorite mode, CRF (Constant Rate Factor) - otherwise known as "constant quality" (as opposed to constant bit rate).
There are tons of other small differences between all the various implementations, but generally advertising these differences is probably going a bit too far.
It makes more sense, practically, to give a "quality ra

[2021-12-16 20:23] AuthorityNull commented on #2138
Any documentation that can be provided for the currently vague error messages would help Orchestrators better understand the day to day operation of their node(s) and will help eliminate a lot of the guesswork that exists currently. This would be greatly appreciated.

[2021-12-17 10:28] leszko commented on #2129
Thanks for the comment @yondonfu

Yes, let me dig into this. I think your initial thought that maybe the auth secret can be shared across different Os may be the solution. Let me check it.

Ok, let me check it. Maybe we'll also need some PoC to check the latency in case of the filesystem storage. Another option is a distributed cache, like Redis.

This would need to be configured at the proxy leve

[2021-12-17 16:07] #101 closed, assigned to leszko

[2021-12-20 13:56] yondonfu opened #2140 "Allow Os to receive tickets when they are pending activation"
Allow Os to receive tickets if they are pending activation as opposed the current requirement where they need to be active to receive tickets. The reason for this change is to allow Os that are scheduled to be active in the next round after they migrate to L2 to immediately be able to accept work on L2 in order to minimize the period where an O cannot receive work at all. Since the O is pending ac

[2021-12-20 13:56] yondonfu opened #2141 "Support EIP-712 signing"
The current Confluence L1Migrator contract supports authorization via a EIP-712 signature.

At the moment, the `livepeer_cli` does not support EIP-712 signing. However, there is logic in clef

There should be a "Sign typed message" option in `livepeer_cli`. When this option is selected:

- The user can paste in the typed data to sign in JSON form. The typed data should follow the format described

[2021-12-20 14:28] cyberj0g opened #2142 "Implement anonymous usage statistics and hardware specs collection"
## Abstract
We need more info on how and on what hardware Livepeer is used. Currently, we only can make assumptions using discord and network statistics.

## Implementation Tasks and Considerations

1. Implement data collection in go-livepeer, add a command line argument to opt out of it. As a minimum, we need to collect following info:
      - go-livepeer version
      - OS
      - number and mod

[2021-12-20 16:34] leszko commented on #2129
I dug a little deeper and did some testing/reading. Here's what we can do to address the issues around Auth Token and Download segments. Note that I didn't manage to set up the HTTPS proxy yet, so we may see some additional issues.

### Issue 1: Auth Token

One option is to make orchestrators share the same `orch.secret` (which is used to create the auth token). Currently, this secret is always [r

[2021-12-20 19:50] yondonfu opened #2145 "Fix flaky tests (compilation)"
This is a thread compiling all known flaky tests that should be fixed.

[2021-12-20 19:50] yondonfu commented on #2145
Data race in HandlePush()

[code]

https://github.com/livepeer/go-livepeer/runs/4586888375?check_suite_focus=true

[2021-12-20 19:59] yondonfu commented on #2145
[code]

https://github.com/livepeer/go-livepeer/runs/4586963983?check_suite_focus=true

[2021-12-20 20:11] yondonfu commented on #2145
[code]

https://github.com/livepeer/go-livepeer/runs/4587090305?check_suite_focus=true

[2021-12-20 20:37] yondonfu commented on #2145
[code]

https://github.com/livepeer/go-livepeer/runs/4587359191?check_suite_focus=true

[2021-12-20 21:00] yondonfu commented on #2145
[code]

https://github.com/livepeer/go-livepeer/runs/4587531174?check_suite_focus=true

[2021-12-20 21:28] yondonfu commented on #2145
`go test -run TestSubmitSegment_Timeout` consistently fails when run off of `master` locally with:

[code]

I am running go1.15.5. This error happens in the same `TestSubmitSegment_Timeout` test function as a few of the other reports listed above.

This particularly test failure is consistently reproducible so I would not classify this is a just a flaky test.

[2021-12-21 00:56] darkdarkdragon commented on #2129
@leszko @yondonfu
1. Right now we have segmented workflow - but we want to move to fully streamed one. It yet to be determined how it will look, but probably TCP or UDP connection will be constantly open between B and O. That means that proxy solution doesn't reall work for that case.

2. We also have another problem - slow session initialisation (on Nvidia cards). So, if O has some level of load

[2021-12-21 05:12] darkdarkdragon commented on #2145
@yondonfu
1. data race is around test variables - there is synchronisation between tests incorrectly done, just needs to be fixed
2. TestMinLSSelector_SelectUnknownSession_RandFreq - it is by definition flaky because it relies on random number not hit certain choice - this test fails in 10% of cases
3. TestSubmitSegment_Timeout: I created new virtual machine, installed go1.15.5 - test passes. I wa

[2021-12-21 09:12] leszko commented on #2129
Thanks for the comment @darkdarkdragon Both are valid points!

Yes, that's true. However, since we still don't know how this "fully streaming pipeline" will work, I'd focus on what we have right now and short-term goals. Especially that e.g. implementing retries + guide is not a lot of work and may scratch the itch for most orchestrator operators.

Saying that I 100% agree that while designing the

[2021-12-21 14:30] leszko commented on #2140
I've sent a PR https://github.com/livepeer/go-livepeer/pull/2146

One comment is that this change applies only to Orchestrator, but we actually use the same query for the discovery in the broadcaster. Should we update it as well or it'll be done together with the L2-related changes? CC: @yondonfu

[2021-12-22 02:05] yondonfu commented on #2140
@leszko

Ah good point.

I think we should adjust the `DBOrchFilter` instances used in https://github.com/livepeer/go-livepeer/blob/master/discovery/db_discovery.go for DB based discovery to also use the next round instead of the current round so Os pending activation can be returned there as well. Feel free to address this in a follow up PR.

EDIT: Tracking in https://github.com/livepeer/go-livep

[2021-12-22 09:52] Strykar opened #2147 "Add a checksums.txt file or equivalent with binary releases"
**Is your feature request related to a problem? Please describe.**
Currently, the checksum needs to be copy pasted by hand to verify it in a terminal.
Adding a checksum file enables packagers to script the download and verification and integrate it with common distro packaging tools.

**Describe the solution you'd like**
Create a checksums.txt file with every release that places the SHA256 checksu

[2021-12-22 11:31] darkdarkdragon commented on #2129
@leszko

No recorded data. I think, nowadays, we have GPU dedicated for development somewhere, but I haven't used it (when I needed GPU for development I've just used VM in GCP).

Yes

Slowdown is significant (when I was doing benchmarks, if I've tried to create too many sessions at once, session creation slowed down to 30s and more) - but I don't know how much it will affect our real public Os wi

[2021-12-22 13:57] yondonfu commented on #2147
I like this suggestion. Looks like the [lnd (a client implementation of Bitcoin's Lightning Network protocol)](https://github.com/lightningnetwork/lnd/blob/master/docs/release.md) project does something similar for releases so perhaps we can use that as a reference.

[2021-12-22 18:35] yondonfu opened #2148 "Allow Bs to discovery Os that are pending activation when using DB discovery"
See https://github.com/livepeer/go-livepeer/issues/2140#issuecomment-999225632

[2021-12-22 18:53] yondonfu opened #2149 "Support -network=arbitrum-one-rinkeby"
Add support for connecting to Arbitrum rinkeby via `-network=arbitrum-one-rinkeby`.

Add "arbitrum-one-rinkeby` to the config options described [here](https://github.com/livepeer/go-livepeer/blob/885079883fb86adffc6fabc8f8d1b1395a2c2856/cmd/livepeer/livepeer.go#L198) so that

The Controller address will be hardcoded once there is a stable contract deployment on Arbitrum Rinkeby. Until then, the Co

[2021-12-27 00:47] 0xVires opened #2152 "Session crashes (without errors in log) right after the O sends a tx"
Seeing some strange behavior with the latest livepeer version:
All my sessions crash without anything showing up in the logs. All the transcoding just seems to stop:
[code]
Only in the T logs I see a few `Transcode loop timed out for key=ebf7dc72_0`  and `Deleted transcode session for key=ebf7dc72_0`, but also no errors. Some more info here: https://discord.com/channels/423160867534929930/42611474

[2021-12-27 02:25] Strykar commented on #2152
I see similar behavior approximately 6 minutes after a winning ticket was claimed.
`Dec 26 16:32:21 i5 livepeer[3604]: Invoking transaction: "redeemWinningTicket". Inputs: "_ticket: { Recipient: 0x1a...`
![Screenshot from 2021-12-27 07-51-17](https://user-images.githubusercontent.com/2946372/147427950-082a1092-1fd9-4582-bf1f-b25023ce8f63.png)

[2021-12-27 15:28] ChuckChain commented on #2152
Just to add that we're seeing the same behavior. O/T "crashed" just after redeeming a winning ticket, but no errors in the log. Restarted the O/T this morning (about 2 hours ago), and it's having trouble keeping sessions since.
![Screenshot 2021-12-27 102332](https://user-images.githubusercontent.com/36555842/147485503-bbc3e367-29df-42e0-b012-2d2ca9aad374.png)

[2021-12-27 16:55] leszko commented on #2129
Thanks @darkdarkdragon for the next comments.

This task gets more and more nuanced and I think we should eat it one bite at a time. I suggest we do as follows:
1. Implement retries (seems like a low hanging fruit that scratches the itch for CPUs and GPUs with not many concurrent sessions)
2. Write a guide on how to set up an orchestrator behind a proxy and how to proceed with the orchestrator upd

[2021-12-27 17:00] victorges opened #2153 "Simpler AMQP delayed events"

[2021-12-27 17:00] #2153 closed, assigned to nobody

[2021-12-27 17:07] victorges opened #2154 "Fix ugly thing on API /users API"

[2021-12-27 17:07] #2154 closed, assigned to nobody

[2021-12-27 19:56] yondonfu opened #2156 "Cross-compile Go amd64 binaries for macOS, Windows and Linux from a single CI environment"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, we have a CI environment for each platform we support. This has a number of negative effects including:

- Requires us to maintain CI pipelines for each of these platforms which is already a chore, but also becomes even more

[2021-12-27 21:17] darkdarkdragon commented on #2129
@leszko

I don't think we should implement retries. If you want, create separate issue for it where we can discuss it.

There is possibly that this is not a problem for a real O setups. I think it would be good to measure it first.

[2021-12-27 22:10] #2141 closed, assigned to yondonfu

[2021-12-27 22:18] 0xVires commented on #2152
Happened for the third time - again right after redeeming a winning ticket
![image](https://user-images.githubusercontent.com/25792899/147510620-4f18dcd6-af3a-4ebd-ba44-999ea96a354a.png)
 @ChuckChain the sessions will eventually come back, but it might take a few hours to recover

[2021-12-27 22:23] ChuckChain commented on #2152
@0xVires You're right, it took a couple of hours, but it went back to normal.

[2021-12-28 02:57] yondonfu commented on #2152
Just a heads up that this issue will be investigated this week, but progress may be a bit slow given that we're in a holiday period.

[2021-12-29 09:47] cyberj0g opened #2159 "Receive segment metadata from Mist Server"
## Abstract
At the moment a go-livepeer B is not aware of the codec of a source segment. This information is required:
- for B, to select correct O which (has a T which) supports this decoder
- for O, to send segments to correct Ts

Other capabilities or more advanced session-level scheduling might potentially require more segment stream metadata, such as video stream resolution, audio stream code

[2021-12-29 19:38] interptr opened #2160 "Orchestrator not recording fields in ticketQueue"
**Describe the bug**
redeemedAt and txHash fields are blank in the ticketQueue table in lpdb.sqlite3 after redeeming a winning ticket.

**To Reproduce**
• Redeem winning ticket
• Check ticketQueue table
• Note missing fields redeemedAt and txHash

**Expected behavior**
All fields should be populated after redemption

**Actual behavior**
[code]
( ticket was redeemed in round 2413 )

**Desktop (plea

[2021-12-30 07:11] JJassonn69 commented on #2138
It would be really great if you could search for the common errors and find out the general issue associated with it.

[2021-12-30 09:29] cyberj0g commented on #2145
1. @darkdarkdragon could you elaborate on that a bit?
2. fixed
3. fixed

[2021-12-30 10:43] darkdarkdragon commented on #2145
@cyberj0g
There is `httpPushResetTimer` variable that is used in tests. It is used in `HandlePush` in goroutine
[code]
So when tests end, this goroutine still runs and reads that variable. In the same time new test starts and writes to this variable - hence the data race.
There is `pushResetWg` variable in tests that tries to fix this issue (using `wgWait` function in tests) - but it is by itself

[2021-12-30 15:09] #114 closed, assigned to nobody

[2021-12-30 15:09] #170 closed, assigned to nobody

[2021-12-30 15:10] #172 closed, assigned to nobody

[2021-12-30 15:10] #216 closed, assigned to nobody

[2021-12-30 15:13] yondonfu commented on #270
This is currently supported by https://github.com/livepeer/livepeer-com so closing for now and if there is interest in something more tightly integrated into the node a separate issue can be created.

[2021-12-30 15:13] #270 closed, assigned to nobody

[2021-12-30 15:15] yondonfu commented on #339
This should largely be addressed by pixel based accounting. That feature will need some more improvements including considering other factors such as the codec used which can be tracked separately.

[2021-12-30 15:15] #339 closed, assigned to nobody

[2021-12-30 15:15] #367 closed, assigned to nobody

[2021-12-30 15:18] yondonfu commented on #424
Haven't seen this issue in practice and the codebase has changed a bunch since this point so closing for now. Can re-open issue if this shows up.

[2021-12-30 15:18] #424 closed, assigned to nobody

[2021-12-30 15:22] #782 closed, assigned to nobody

[2021-12-30 15:22] #787 closed, assigned to nobody

[2021-12-30 15:23] #785 closed, assigned to nobody

[2021-12-30 15:23] #784 closed, assigned to nobody

[2021-12-30 15:25] #913 closed, assigned to nobody

[2021-12-30 15:25] #914 closed, assigned to nobody

[2021-12-30 15:26] #969 closed, assigned to yondonfu

[2021-12-30 15:26] #1020 closed, assigned to nobody

[2021-12-30 15:26] #1051 closed, assigned to nobody

[2021-12-30 15:30] #1440 closed, assigned to nobody

[2021-12-30 15:30] #1459 closed, assigned to nobody

[2021-12-30 15:33] #1718 closed, assigned to nobody

[2021-12-30 15:34] #1725 closed, assigned to jailuthra, yondonfu

[2021-12-30 15:34] yondonfu commented on #1793
Duplicate of #2145

[2021-12-30 15:34] #1793 closed, assigned to nobody

[2021-12-30 15:35] yondonfu commented on #1794
Done!

[2021-12-30 15:35] #1794 closed, assigned to nobody

[2021-12-30 15:36] yondonfu commented on #1824
Seems to be fixed by livepeer/lpms#268

[2021-12-30 15:36] #1824 closed, assigned to nobody

[2021-12-30 15:37] yondonfu commented on #1831
The issues mentioned in the above comment have all been addressed + closed so closing this issue.

[2021-12-30 15:37] #1831 closed, assigned to nobody

[2021-12-30 15:38] yondonfu commented on #1832
Closing this issue because it is stale and without a response. Please re-open if more assistance is needed.

[2021-12-30 15:38] #1832 closed, assigned to nobody

[2021-12-30 15:39] yondonfu commented on #1909
Neither of the logs in the OP should impact the operation of the node as the node should gracefully automatically handle those conditions. So, closing this issue, but feel free to re-open if actual problems are observed.

[2021-12-30 15:39] #1909 closed, assigned to nobody

[2021-12-30 15:46] #1853 closed, assigned to kyriediculous

[2021-12-30 15:49] yondonfu commented on #2060
Dup of #2145

[2021-12-30 15:49] #2060 closed, assigned to nobody

[2021-12-30 15:53] #2140 closed, assigned to leszko

[2022-01-02 09:25] Franck-UltimaRatio commented on #2152
I can confirm that, our 0 crashed just after  sending  a TX for redeem our last ticket (T  / O split, ubuntu)

[2022-01-03 16:35] 0xVires commented on #2152
adding to all the cases where it happens after redeeming a winning ticket: It also seems to happen in some cases when a new round starts and the O is supposed to send the reward claim tx.

I've already described this in my first post and it just happened again in round 2419. All my sessions were gone approx. a minute after the new round started (so when the O was supposed to send the reward claim

[2022-01-03 17:09] darkdarkdragon commented on #2159
@cyberj0g
Problem with that solution is that Mist is not the client to the broadcaster, and that solution will demand more from them. Also, what if client sends wrong information about codecs? It'll make error handling harder.

Broadcaster already [uses](https://github.com/livepeer/go-livepeer/blob/e3cec5a7dc0e341300b77693228ce63c7b28e615/server/broadcast.go#L710) LPMS to check every segment - tha

[2022-01-03 22:07] criticaltv commented on #2152
I experienced a complete loss of traffic today, which coincided with the start of the new round.

I also recently had problems restarting my O, only to find that the nvidia drivers had somehow uninstalled themselves. It also proceeded the first time my node did _not_ automatically call `reward` in a long while. I reinstalled latest drivers, then re-keylase and everything is fine again now (aside f

[2022-01-04 15:54] leszko commented on #2152
I started working on the issue. The good news is that I managed to reproduce it locally with the following steps:
- Set up local [Livepeer Geth](https://github.com/livepeer/docker-livepeer/tree/master/geth-with-protocol)
- Start Orchestrator
- Update max gas price to `1000000010`
- After a few minutes there is deadlock in [TimeWatcher](https://github.com/livepeer/go-livepeer/blob/c2c73fa6f24473311

[2022-01-05 19:43] yondonfu commented on #2152
This should be fixed in the [v0.5.24](https://github.com/livepeer/go-livepeer/releases/tag/v0.5.24) release. If anyone continues to encounter this issue please re-open the issue and provide a report.

[2022-01-05 21:15] yondonfu opened #2165 "Include chainID in response from /status endpoint"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

At the moment, there is not an easy way for an operator to determine what chain the node is connected to. Today, the node can be connected to a local chain, Rinkeby or mainnet depending on the value passed to the `-network flag`. https://g

[2022-01-05 21:21] yondonfu opened #2166 "Update hardcoded Controller address for Rinkeby for new testnet"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

There will be a new set of testnet contracts deployed on Rinkeby soon. In order for the node to connect to those contracts the node will need to be aware of the new Controller address since the node queries the Controller for the addresses

[2022-01-05 22:32] #1530 closed, assigned to nobody

[2022-01-06 01:10] yondonfu commented on #2159
@darkdarkdragon Good points.

One of the reasons I suggested to @cyberj0g to have Mist send the source segment codec to B is because I am concerned about the B re-doing work that Mist has already done. At the moment, the work that is repeated is parsing the source segment codec, but as indicated in the OP, in the future this could include parsing other source segment metadata as well. I see two po

[2022-01-06 01:25] yondonfu commented on #2159
@cyberj0g

Assuming that B has access to the source segment codec...

The capabilities logic is in [this file](https://github.com/livepeer/go-livepeer/blob/master/core/capabilities.go).

At the moment, the capabilities requested for a stream (also referred to as a "job") are set when a stream is first received by B i.e. when the first segment with an unknown manifestID (identifies the stream) is r

[2022-01-06 03:28] darkdarkdragon commented on #2159
@yondonfu
1. Want to point out that only reason we do parse segment inside B - is because Mist sends us invalid segments. So I would prefer not to rely on information that Mist sends us.
2. We still have HTTP push as public API. Even if we think we can rely on information that Mist sends us - we can't rely as much on the information sent by other clients to public API.
3. `HasZeroVideoFrame` funct

[2022-01-06 08:00] cyberj0g commented on #2159
I agree with @darkdarkdragon that it's more straightforward to implement this with lpms. The added computational cost is close to zero, at least for codec, because `av_find_best_stream` already reads codec_id internally.

[2022-01-06 11:39] JJassonn69 opened #2167 "Broadcaster misconfiguration."
The following error can be seen often in the orchestrator logs.

I1228 13:42:51.105610    7188 lb.go:131] LB: Created transcode session for 574c7729_0
I1228 13:42:51.105928    7188 lb.go:207] LB: Transcode submitted for 574c7729_0
ERROR: decoder.c:238] Non 4:2:0 pixel format detected in input : Error number -1481657929 occurred
ERROR: decoder.c:285] Unable to open video decoder : Error number -148

[2022-01-06 11:47] Strykar commented on #2167
You should chime in with these logs in https://github.com/livepeer/go-livepeer/issues/2138
We need a description of logs from all stakeholders who interact with the B/O/T.

[2022-01-06 11:52] JJassonn69 commented on #2138
The reason for this error is not well known yet. I believe it could be the misconfiguration on the broadcaster side but I could be wrong.

The errors are in the #2167 issue I started.

[2022-01-06 22:46] Thulinma commented on #2159
I agree that trusting _any_ data that is separate from the actual stream contents is not necessarily a good idea.
Going even further beyond that, it's certainly possible (and easy, if you know how) to craft a segment that would make ffmpeg's checks say one thing, while the actual decoder would say another. So, even when using data gathered through that method, it can still be incorrect.

While I'm

[2022-01-07 02:06] yondonfu commented on #2159
Thanks for all the feedback everyone! Sounds like using a LPMS function to parse the source segment codec on B is the way to go right now then.

This is a great point. In this case, if the codec is parsed from metadata happens to be different from what the decoder says because someone crafted such a segment then I believe that would only hurt the sender of the segment since the the only thing the

[2022-01-07 02:28] yondonfu commented on #2166
Blocked by new Rinkeby testnet deployment.

[2022-01-07 09:56] leszko commented on #2084
Reopening, because we had to revert the related PR https://github.com/livepeer/go-livepeer/pull/2111 in the revert PR https://github.com/livepeer/go-livepeer/pull/2163. This was caused by the bug https://github.com/livepeer/go-livepeer/issues/2152.

The problem was that the initial implementation was based on modifying the transaction in [transactionManager:SendTranscation()](https://github.com/li

[2022-01-07 10:32] leszko opened #2168 "Improve TimeWatcher PubSub mechanism"
**Is your feature request related to a problem? Please describe.**
Currently, blocking any of the [watchers](https://github.com/livepeer/go-livepeer/tree/master/eth/watchers) may result in completely blocking the whole orchestrator. E.g. not processing a transaction may result in the orchestrator's inability to transcode streams.

Here is the scenario:
1. Any of watchers blocks
    - e.g. [roundin

[2022-01-07 10:56] leszko opened #2169 "Orchestrator Zero-Downtime Deployment"
## Abstract

Operators would like to restart Livepeer Orchestrator **without losing streams** and **without downtime for new streams**.

This feature is not trivial to implement and depends on the B<>O protocol. Therefore we plan to implement it **together with the [fully streaming protocol](https://www.notion.so/livepeer/Low-Latency-Livepeer-24493978b98f435bbb6c892027f8aeb3#d93ceb98449a4bc6820685

[2022-01-07 11:02] leszko commented on #2129
After many discussions here and also during the Technical Office Hours, we decided that we'll implement the Zero-Downtime Deployment feature during (or after) the work related to the fully streaming pipeline. I've created the related feature spec describing all the points we discussed https://github.com/livepeer/go-livepeer/issues/2169

Here are the points why we don't implement it right now:
- HT